{% extends "intra/index.html" %}

{% block content %}

<a href="{{url}}/u/pessoas" class="button">Pesquisa de Pessoas</a>
<br/>
<br/>

<form action="" method="post" class="hazo-form">
    
    {% if Pessoa.getID() %}
    <div class="span50">
        <div class="label">Código de {{Pessoa.getRazao()}}</div>
        <div class="field"><input type="text" readonly="true" value="{{Pessoa.getID()}}"/></div>
    </div>
    <div style="clear: both;"></div>
    {% endif %}
    <div class="span100">
        <div class="label">Razão Social</div>
        <div class="field"><input type="text" name="razao" value="{{Pessoa.getRazao()}}"/></div>
    </div>
    <div class="span50">
        <div class="label">Fantasia</div>
        <div class="field"><input type="text" name="fantasia" value="{{Pessoa.getFantasia()}}"/></div>
    </div>
    <div class="span20">
        <div class="label">CPF</div>
        <div class="field" id="cpf"><input type="text" name="cpf" value="{{Pessoa.getCpf()}}"/></div>
    </div>
    <div class="span30">
        <div class="label">CNPJ</div>
        <div class="field" id="cnpj"><input type="text" name="cnpj" value="{{Pessoa.getCnpj()}}"/></div>
    </div>
    <div class="span30">
        <input type="submit" name="salvar" value="Salvar" class="button"/>
        &nbsp;&nbsp;&nbsp;&nbsp;
        {% set url_voltar = Pessoa.getID() ? url~"/u/pessoas/visualizacao/$/"~Pessoa.getID() : url~"/u/pessoas" %}
        <a href="{{url_voltar}}" class="button">Voltar</a>
    </div>
    
</form>
<div style="clear: both;"></div>

{% endblock %}