{% extends "intra/index.html" %}

{% block content %}

{% if _isGranted('/u/pessoas/cadastro') %}
<a href="{{url}}/u/pessoas/cadastro" class="button">Cadastrar Pessoa</a>
{% endif %}

<style>
    #tb-res{
        width: 100%;
    }
    #tb-res * td{
        padding: 3px 6px;
        border-bottom: 1px solid #bbb;
    }
    #tb-res tbody tr:hover td{
        background-color: #eee;
    }
    #tb-res thead tr td{
        font-weight: bold;
    }
</style>

<br/>
<br/>
<form method="post" action="{{url}}/u/pessoas/$/pesquisa" class="hazo-form" style="min-width: 100%">
    <div class="span100">
        <div class="field">
            <input type="text" name="term" value="{{post['term']}}" placeholder="Pesquise por: Razão Social, Nome Fantasia, CPF e CNPJ"/>
        </div>
    </div>
    <div style="clear: both;"></div>
    <div class="span20">
        <div class="field">
            <input type="submit" value="Pesquisar" class="button"/>
        </div>
    </div>
</form>
<div style="clear: both;"></div>

{% if pessoas %}

<table id="tb-res">
    <thead>
        <tr>
            <td style="width: 170px;">#</td>
            <td>Razão Social</td>
            <td>Nome Fantasia</td>
            <td>CPF/CNPJ</td>
        </tr>
    </thead>
        {% for Pessoa in pessoas %}
        <tr style="cursor: pointer;" onclick="window.location = '{{url}}/u/pessoas/visualizacao/$/{{Pessoa.getID()}}'">
            <td>{{Pessoa.getID()}}</td>
            <td>{{Pessoa.getRazao()}}</td>
            <td>{{Pessoa.getFantasia()}}</td>
            <td>{{ Pessoa.getCpf() ? Pessoa.getCpf() : Pessoa.getCnpj() }}</td>
        </tr>
        {% endfor %}
    <tbody>
    </tbody>
</table>

{% else %}
<center>Nenhum resultado encontrado</center>
<br/>
{% endif %}

{% endblock %}