{% extends "intra/ajax.html" %}

{% block content %}

<div class="hazo-form">
    
    <div class="span50">
        <div class="label">Código de {{Pessoa.getRazao()}}</div>
        <div class="field"><input type="text" readonly="true" value="{{Pessoa.getID()}}"/></div>
    </div>
    <div style="clear: both;"></div>
    
    <div class="span100">
        <div class="label">Razão Social</div>
        <div class="field"><input type="text" readonly="true" value="{{Pessoa.getRazao()}}"/></div>
    </div>
    <div class="span50">
        <div class="label">Fantasia</div>
        <div class="field"><input type="text" readonly="true" value="{{Pessoa.getFantasia()}}"/></div>
    </div>
    <div class="span20">
        <div class="label">CPF</div>
        <div class="field" id="cpf"><input type="text" readonly="true" value="{{Pessoa.getCpf()}}"/></div>
    </div>
    <div class="span30">
        <div class="label">CNPJ</div>
        <div class="field" id="cnpj"><input type="text" readonly="true" value="{{Pessoa.getCnpj()}}"/></div>
    </div>
    
</div>
<div style="clear: both;"></div>

{% endblock %}