{% extends ajax ? "intra/ajax.html" : "intra/index.html" %}

{% block content %}

<style>
    .shw-sub{
        background-color: #DDD;
        border: 2px solid #888;
        padding: 6px 12px;
    }
    .tab .ui-widget-header{
        border: none !important;
    }
</style>

<div class="hazo-form">
    <div class="span80">
        <a href="{{url}}/u/pessoas" class="button">Voltar para Pesquisa de Pessoas</a>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="{{url}}/u/pessoas/cadastro/$/{{Pessoa.getID()}}" class="button">Editar Cadastro</a>
    </div>
    <div style="clear: both;"></div>
    
    <div class="span50">
        <div class="label">Código de {{Pessoa.getRazao()}}</div>
        <div class="field"><input type="text" readonly="true" value="{{Pessoa.getID()}}"/></div>
    </div>
    <div style="clear: both;"></div>
    
    <div class="span100">
        <div class="label">Razão Social</div>
        <div class="field"><input type="text" readonly="true" value="{{Pessoa.getRazao()}}"/></div>
    </div>
    <div class="span50">
        <div class="label">Fantasia</div>
        <div class="field"><input type="text" readonly="true" value="{{Pessoa.getFantasia()}}"/></div>
    </div>
    <div class="span20">
        <div class="label">CPF</div>
        <div class="field" id="cpf"><input type="text" readonly="true" value="{{Pessoa.getCpf()}}"/></div>
    </div>
    <div class="span30">
        <div class="label">CNPJ</div>
        <div class="field" id="cnpj"><input type="text" readonly="true" value="{{Pessoa.getCnpj()}}"/></div>
    </div>
    
</div>
<div style="clear: both;"></div>

<hr/>

<div class="tab">
    <ul>
        <li><a href="{{url}}/u/clientes/visualizacao/$/{{Pessoa.getID()}}">Dados de Cliente</a></li>
    </ul>
</div>

<script>
    $(function(){
        $(".tab").tabs();
    });
</script>

{% endblock %}