<!DOCTYPE html>

<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->

<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
{% set url_designa = url~'/media/container/Designa2.01' %}
    <head>
        <meta charset="UTF-8">

        <!-- Remove this line if you use the .htaccess -->
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

        <meta name="viewport" content="width=device-width">

        <meta name="description" content="Designa Studio, a HTML5 / CSS3 template.">
        <meta name="author" content="Sylvain Lafitte, Web Designer, sylvainlafitte.com">

        <title>BLOG POST // Designa Studio</title>

        <link rel="shortcut icon" type="image/x-icon" href="favicon.ico">
        <link rel="shortcut icon" type="image/png" href="favicon.png">

        <link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,700' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{{url_designa}}/css/style.css">
        
        {# jQuery #}
        <link type="text/css" rel="stylesheet" href="{{url}}/core/pages/template/jquery/css/custom-theme/jquery-ui-1.8.22.custom.css" />
        <script type="text/javascript" src="{{url}}/media/libs/jquery/jquery-1.9.1.min.js"></script>
        <script type="text/javascript" src="{{url}}/media/libs/jquery/jquery-ui-1.10.3.custom.min.js"></script>

        <!--[if lt IE 9]>
        <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
        
        {# Form #}
        <script src="{{url}}/media/libs/jquery.hazo-form-ajax.js"></script>
        
        {# Tooltipster:: http://calebjacob.com/tooltipster #}
        <script type="text/javascript" src="{{url}}/media/libs/tooltipster/js/jquery.tooltipster.js"></script>
        <link rel="stylesheet" type="text/css" href="{{url}}/media/libs/tooltipster/css/tooltipster.css" />
        
        {# Fancybox
        <link type="text/css" rel="stylesheet" href="{{url}}/media/libs/fancybox/jquery.fancybox-1.3.4.css" />
        <script type="text/javascript" src="{{url}}/media/libs/fancybox/jquery.fancybox-1.3.4.js"></script>
        #}
        
        {# Fancybox (apps)
        #}
        <link type="text/css" rel="stylesheet" href="{{url}}/media/libs/fancyapps/source/jquery.fancybox.css" />
        <script type="text/javascript" src="{{url}}/media/libs/fancyapps/source/jquery.fancybox.js"></script>
        
        {# Magnific Popup
        <link rel="stylesheet" href="{{url}}//media/libs/Magnific-Popup/dist/magnific-popup.css">
        <script src="{{url}}//media/libs/Magnific-Popup/dist/jquery.magnific-popup.min.js"></script> 
         #}
        
        {# Simplemodal 
        <link href="{{url}}/media/libs/simplemodal/Source/assets/css/simplemodal.css" rel="stylesheet" type="text/css" media="screen" />
        <script type="text/javascript" src="{{url}}/media/libs/simplemodal/Source/assets/js/mootools-more-1.3.1.1.js"></script>
        <script type="text/javascript" src="{{url}}/media/libs/simplemodal/Source/simple-modal.js"></script>
        #}
        
        {# lightbox
        <script type="text/javascript" src="{{url}}/media/libs/lightbox/jquery.lightbox_me.js"></script>
        #}
        
        {# leanModal
        <script type="text/javascript" src="{{url}}/media/libs/leanModal.v1.1/jquery.leanModal.min.js"></script>
        #}
        
        {# nyroModal
        <link href="{{url}}/media/libs/nyroModal/styles/nyroModal.css" rel="stylesheet" type="text/css" media="screen" />
        <script type="text/javascript" src="{{url}}/media/libs/nyroModal/js/jquery.nyroModal.custom.js"></script>
        <!--[if IE 6]>
            <script type="text/javascript" src="{{url}}/media/libs/nyroModal/js/jquery.nyroModal-ie6.js"></script>
        <![endif]-->
        #}
        
        <link rel="stylesheet" href="{{url_designa}}/css/hazo-style.css" type="text/css">
        <script type="text/javascript" src="{{url_designa}}/js/hazo-js-api.js"></script>
        
        <script>
            var hazoUrlPath = "{{url}}";
        </script>
        
    </head>

    <body>
        
        <div class="toolbar toolbar-online">
            <div class="container">
                <div class="li nome"></div>
                <div class="li link painel"><a href="" class="usuario-painel-href" target="_blank">Painel</a></div>
                <div class="li link toolbar-li-criar-artigo"><a href="" class="toolbar-btn-criar-artigo" target="_blank" onclick="return modalArtigoSelecionaEditoriaCadastro()">Cadastrar Artigo</a></div>
                <div class="li link sair">Sair</div>
            </div>
        </div>
        <div class="toolbar toolbar-offline"></div>
        
        <!-- Prompt IE 7 users to install Chrome Frame -->
        <!--[if lt IE 8]><p class=chromeframe>Your browser is <em>ancient!</em> <a href="http://browsehappy.com/">Upgrade to a different browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to experience this site.</p><![endif]-->

        <div class="container">

            <header id="navtop">
                <a href="{{url}}" class="logo fleft">
                    <img src="{{url_designa}}/img/logo.png" alt="Designa Studio">
                </a>
                <nav class="fright">
                    <ul>
                        <li><a href="{{url}}/blog">Home</a></li>
                    </ul>
                    <ul>
                        <li class="botao-login"><a onclick="modalLogin()" class="botao-login-link">Login</a></li>
                {#
                        <li><a href="#">About</a></li>
                    </ul>
                    <ul>
                        <li><a href="#">Works</a></li>
                        <li><a href="#">Services</a></li>
                    </ul>
                    <ul>
                        <li><a href="{{url}}/blog" class="navactive">Blog</a></li>
                        <li><a href="#">Contact</a></li>
                #}
                    </ul>
                </nav>
            </header>
            
    <!--main-->
    {% set url_designa = url~'/media/container/Designa2.01' %}

    {% block content %}{% endblock %}
    
    <div class="divide-top">
        <footer class="grid-wrap">
            <ul class="grid col-one-third social">
                <li><a href="#">RSS</a></li>
                <li><a href="#">Facebook</a></li>
                <li><a href="#">Twitter</a></li>
                <li><a href="#">Google+</a></li>
                <li><a href="#">Flickr</a></li>
            </ul>

            <div class="up grid col-one-third ">
                <a href="#navtop" title="Go back up">&uarr;</a>
            </div>

            <nav class="grid col-one-third ">
                <ul>
                    <li><a href="index.html">Home</a></li>
                    <li><a href="about.html">About</a></li>
                    <li><a href="works.html">Works</a></li>
                    <li><a href="services.html">Services</a></li>
                    <li><a href="blog.html">Blog</a></li>
                    <li><a href="contact.html">Contact</a></li>
                </ul>
            </nav>
        </footer>
    </div>

</div>

<!--[if (gte IE 6)&(lte IE 8)]>
<script src="{{url_designa}}/js/selectivizr.js"></script>
<![endif]-->

<script src="{{url_designa}}/js/scripts.js"></script>

<!-- Asynchronous Google Analytics snippet. Change UA-XXXXX-X to be your site's ID. -->
<script>
    var _gaq = [['_setAccount', 'UA-XXXXX-X'], ['_trackPageview']];
    (function(d, t) {
        var g = d.createElement(t), s = d.getElementsByTagName(t)[0];
        g.src = ('https:' == location.protocol ? '//ssl' : '//www') + '.google-analytics.com/ga.js';
        s.parentNode.insertBefore(g, s)
    }(document, 'script'));
    </script>
</body>
</html>