<!DOCTYPE html>

<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->

<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
{% set url_designa = url~'/media/container/Designa2.01' %}
<head>
    <meta charset="UTF-8">

    <!-- Remove this line if you use the .htaccess -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <meta name="viewport" content="width=device-width">

    <meta name="description" content="Designa Studio, a HTML5 / CSS3 template.">
    <meta name="author" content="Sylvain Lafitte, Web Designer, sylvainlafitte.com">

    <title>BLOG POST // Designa Studio</title>

    <link rel="shortcut icon" type="image/x-icon" href="favicon.ico">
    <link rel="shortcut icon" type="image/png" href="favicon.png">

    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{{url_designa}}/css/style.css">

{# jQuery #}
    <link type="text/css" rel="stylesheet" href="{{url}}/core/pages/template/jquery/css/custom-theme/jquery-ui-1.8.22.custom.css" />
    <script type="text/javascript" src="{{url}}/media/libs/jquery/jquery-1.9.1.min.js"></script>
    <script type="text/javascript" src="{{url}}/media/libs/jquery/jquery-ui-1.10.3.custom.min.js"></script>

    <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

{# Form #}
    <script src="{{url}}/media/libs/jquery.hazo-form-ajax.js"></script>

{# Tooltipster:: http://calebjacob.com/tooltipster #}
    <script type="text/javascript" src="{{url}}/media/libs/tooltipster/js/jquery.tooltipster.js"></script>
    <link rel="stylesheet" type="text/css" href="{{url}}/media/libs/tooltipster/css/tooltipster.css" />

    <link rel="stylesheet" href="{{url_designa}}/css/hazo-style.css">
    <script type="text/javascript" src="{{url_designa}}/js/hazo-js-api.js"></script>

    {#
    <link type="text/css" rel="stylesheet" href="{{url}}/media/libs/fancybox/jquery.fancybox-1.3.4.css" />
    <script type="text/javascript" src="{{url}}/media/libs/fancybox/jquery.fancybox-1.3.4.js"></script>
    #}

    {# Magnific Popup #}
    <link rel="stylesheet" href="{{url}}//media/libs/Magnific-Popup/dist/magnific-popup.css">
    <script src="{{url}}//media/libs/Magnific-Popup/dist/jquery.magnific-popup.min.js"></script> 
        
    <script>
        var hazoUrlPath = "{{url}}";
    </script>

    </head>

    <body>
        {% block content %}{% endblock %}
    </body>
</html>