{% extends globals['template-cadastro-default'] %}

{% block content %}

<p class="infos" style="text-align: center; font-size: 13px;">
    O cadastro da sua sala de RPG foi efetuado com sucesso.
    <br/><br/>
    Para acessar sua sala e convidar seus amigos, acesse o link enviado para o seu e-mail e divirta-se.
</p>
{% endblock %}