{% extends globals['template-cadastro-default'] %}

{% block content %}
<script src="{{url}}/media/public/desenvolvimento/rpg/cadastro/criar-sala.js"></script>

<p class="infos">
    Para criar sua sala de RPG, informe os dados a seguir:
</p>

<div class="error"></div>

<form method="post" action="{{url_mode}}/cadastro/criar" class="form-horizontal">

    <div class="sala">
        <label>Nome da Sala / Sessão</label>
        <br/>
        <input type="text" class="form-control" name="sala"/>
    </div>

    <div class="resumo">
        <label>Resumo</label>
        <br/>
        <textarea name="resumo"></textarea>
    </div>

    <div class="mail">
        <label>E-mail</label>
        <br/>
        <input type="text" class="form-control" name="mail"/>
    </div>

    <div class="nome">
        <label>Seu nome completo</label>
        <br/>
        <input type="text" class="form-control" name="nome"/>
    </div>

    <input type="submit" value="Criar sessão" class="btnsub"/>

</form>
{% endblock %}