*{
    margin: 0;
    padding: 0;
    border: none;
    font-family: sans-serif;
}

.logo img{
    width: 100%;
    max-width: 200px;
    height: auto;
    margin: auto;
    display: block;
}
.logo span{
    /*width: 300px;*/
    text-align: center;
    line-height: 20px;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 20px;
    display: block;
    color: #000;
    font-weight: bold;
}

#frmlg{
    background-color: #FFF;
    margin: 20px auto;
    padding: 40px;
    /*width: 300px;*/
    /*width: 600px;*/
    /*height: 300px;*/
    /*height: 600px;*/
/*    -webkit-border-radius: 300px;
       -moz-border-radius: 300px;
            border-radius: 300px;*/
    max-width: 600px;
    -webkit-border-radius: 40px;
       -moz-border-radius: 40px;
            border-radius: 40px;
}

.sala, .resumo, .mail, .nome{
    display: block;
    /*width: 300px;*/
    line-height: 20px;
    margin: 0;
    padding-top: 15px;
}

.sala label, .resumo label, .mail label, .nome label{
    display: inline;
    /*width: 38px;*/
    float: left;
    text-align: right;
    padding-right: 10px;
    font-size: 12px;
    color: #000;
    vertical-align: middle;
    line-height: 25px;
    font-weight: bold;
}

.sala input, .resumo textarea, .mail input, .nome input{
    width: 210px;
    width: 95%;
    border: 1px solid #666;
    padding: 5px 15px;
    -webkit-border-radius: 10px;
       -moz-border-radius: 10px;
            border-radius: 10px;
    color: #777;
    resize: none;
}
.resumo textarea{
    height: 200px;
}

.btnsub{
    display: block;
    -webkit-border-radius: 130px;
       -moz-border-radius: 130px;
            border-radius: 130px;
    width: 100%;
    max-width: 130px;
    height: 130px;
    background-color: #000;
    color: #FFF;
    margin: 35px auto;
    font-size: 14px;
    text-transform: uppercase;
    cursor: pointer;
}
.btnsub:hover{
    background-color: #333;
}

.error{
    font-size: 12px;
    text-transform: uppercase;
    margin: auto;
    margin-top: 15px;
    /*width: 300px;*/
    color: red;
    text-align: center;
    font-weight: bold;
    display: none;
}

p.infos{
    font-size: 12px;
    color: #444;
    margin: 0;
}