{% macro gera( id_formulario, id_input_pagina, atual, quantidade) %}
{% spaceless %}

<style>
    .btn-selected{  background-color: #EEE; font-weight: bolder; }
</style>

    {% if id_formulario and quantidade != 1%}

        {% set maxLinks = 9 %}
        {% set minPos = 0 %}
        {% set maxPos = quantidade %}

        {% for cont in quantidade..0 %}
            {% if cont > atual - (maxLinks/2) %}
                {% set minPos = cont %}
            {% endif %}
        {% endfor %}
        {% for cont in 0..quantidade %}
            {% if cont < atual + (maxLinks/2) %}
                {% set maxPos = cont %}
            {% endif %}
        {% endfor %}
            
        {% if atual < (maxLinks/2) %}
            {% set minPos = 0 %}
            {% set maxPos = maxLinks+1 %}
        {% elseif atual > quantidade-(maxLinks/2) %}
            {% set minPos = quantidade-maxLinks %}
            {% set maxPos = quantidade+1 %}
        {% else %}
            {% set minPos = atual-(maxLinks/2) %}
            {% set maxPos = atual+(maxLinks/2)+1 %}
        {% endif %}

        {% if quantidade > maxLinks %}
            <a href='#' onclick="jQuery('#{{id_input_pagina}}').val('1'); jQuery('#{{id_formulario}}').submit(); return false;" class='btn btn-small btn-black'>Primeira</a> &nbsp;&nbsp;
        {% endif %}
        
        {% for i in 0..quantidade %}
            {% if ( i > minPos ) and ( i < maxPos ) %}
                <a href='#' onclick="jQuery('#{{id_input_pagina}}').val('{{i}}'); jQuery('#{{id_formulario}}').submit(); return false;" class='btn btn-small btn-{{atual==i ? 'selected' : ''}}'>{{i}}</a> &nbsp;&nbsp;
            {% endif %}
        {% endfor %}
            
        {% if quantidade > maxLinks %}
            <a href='#' onclick="jQuery('#{{id_input_pagina}}').val('{{quantidade}}'); jQuery('#{{id_formulario}}').submit(); return false;" class='btn btn-small btn-black'>Última</a>
        {% endif %}

    {% endif %}

{% endspaceless %}
{% endmacro %}