*{
    margin: 0;
    padding: 0;
    border: none;
    font-family: sans-serif;
}
.tools{
    background-color: #999;
    width: 100%;
    height: 120px;
    border-bottom: 2px solid #555;
    display: table;
}
.tools img.profile{
    height: 60px;
    height: 95px;
    width: auto;
    margin: 5px;
    border: 2px solid #e4dcdc;
    padding: 5px;
    float: left;
}
.tools ul.detail{
    display: inline-block;
    vertical-align: top;
    margin: 10px;
    max-width: 300px;
}
.tools ul.detail li{
    padding: 2px;
    line-height: 20px;
    vertical-align: middle;
    display: block;
    color: #FFF;
}
.tools ul.detail li.name{
    font-size: 20px;
    font-weight: bold;
}
.tools ul.detail li.prof{
    font-size: 14px;
    font-weight: bold;
    /*text-align: right;*/
}
.tools ul.detail li.text{
    font-size: 11px;
    display: inline;
}

.ex{
    float: left;
    width: 40%;
    background-color: #FFF;
    border-right: 2px solid #555;
}

.ex h2, .new h2{
    margin: auto;
    font-size: 14px;
    text-align: center;
    line-height: 40px;
    text-transform: uppercase;
    background-color: #555;
    color: #FFF
}
.ex ul{
    margin: 5px;
}
.ex ul li{
    border-bottom: 1px dotted #BBB;
    line-height: 30px;
    font-size: 12px;
    color: #777;
    cursor: pointer;
}
.ex ul li:hover{
    background-color: #EEE;
}


.new{
    float: right;
    width: 58%;
    background-color: #FFF;
    border-left: 2px solid #555;
    border-bottom: 2px solid #555;
}
.new .tbl-frm{
    border: none;
}
.new .tbl-frm td{
    padding: 5px;
    font-size: 12px;
    line-height: 15px;
    vertical-align: top;
}
.new .tbl-frm td.label{
    text-align: right;
    width: 100px;
    color: #333;
    font-weight: bold;
    padding-top: 10px;
}
.new .tbl-frm td.input input, .new .tbl-frm td.input textarea{
    resize: none;
    border: 1px solid #AAA;
    -webkit-border-radius: 4px;
       -moz-border-radius: 4px;
            border-radius: 4px;
    padding: 4px 8px;
    width: 400px;
    color: #777;
    font-size: 12px;
}
.new .tbl-frm td.input textarea{
    height: 180px;
}
.new .tbl-frm td.input input[type='submit']{
    width: 100%;
    background-color: #888;
    border-color: #555;
    color: #FFF;
    cursor: pointer;
    text-transform: uppercase;
}
.new .tbl-frm td.input input[type='submit']:hover{
    background-color: #777;
}

.error{
    font-size: 12px;
    text-transform: uppercase;
    margin: auto;
    width: 300px;
    color: red;
    text-align: center;
    font-weight: bold;
    display: none;
    padding: 4px;
}

.sess-op:hover > div.ops{
    display: block;
}
.ops{
    display: none;
    float: right;
}
.ops button{
    padding: 5px 10px;
    font-size: 10px;
    color: #FFF;
    background-color: #555;
    cursor: pointer;
    -webkit-border-radius: 15px;
       -moz-border-radius: 15px;
            border-radius: 15px;
}
.ops button *{
    color: #FFF;
}