{% extends "intra/index.html" %}

{% block content %}
        <style>
            *{
                font-family: sans-serif;
            }
            .centralize{
{#                width: 800px;#}
{#                max-width: 800px;#}
            }
            .row{
                display: table;
                text-align: left;
                width: 100%;
                padding: 0px;
                margin: 0px;
                border: none;
            }
            
            textarea.op-descricao{
                width: calc(100% - 20px);
                resize: vertical;
                height: 100px;
                padding: 10px;
                border: none;
                background-color: #fafafa;
                border: 1px solid #CCC;
            }
            
            .btn-change{
                width: 200px;
                height: 70px;
                text-wrap: avoid;
                color: #FFF;
                cursor: pointer;
            }
            .btn-iniciar{ }
            .btn-pausar{ background-color: #fd0101; border: 1px solid #fd0101; }
            .btn-pausar:hover{ background-color: #6e0000; border: 1px solid #6e0000; }
            .btn-iniciar, .btn-salvar{ background-color: #23931b; border: 1px solid #23931b; }
            .btn-iniciar:hover, .btn-salvar:hover{ background-color: #022400; border: 1px solid #022400; }
            
            .anexos, .descricao{
                width: calc(100% - 65px);
                margin: 0; 
                margin-top: 10px; 
                border: 1px solid #AAA; 
                padding: 10px; 
                margin-bottom: 15px;
            }
            .anexos .label, .row .label{ font-size: 12px; font-weight: bold; margin: 0 0 6px 3px; }
{#            .anexos .field input{#}
            .anexos .field .dv-anx{
                width: calc(100% - 16px);
                background-color: #EEE;
                padding: 4px 8px;
                font-size: 12px;
                margin: 5px 0;
                height: 25px;
                vertical-align: middle;
                line-height: 25px;
                background-color: #fafafa;
                border: 1px solid #CCC;
            }
            .anexos .field .dv-anx img{
                max-height: 23px;
                float: left;
                margin-right: 10px;
            }
            .anexos .field .dv-anx .btn-excluir-anx{
                color: red;
                font-weight: bold;
            }
            .anexos .btn-add-anx{ background-color: #CCC; border: 1px solid #AAA; color: #333; height: 25px; width: 35px; cursor: pointer; }
            .anexos .btn-add-anx:hover{ background-color: #666; color: #FFF; }
            
            #historico-data{
                width: calc(100% - 45px);
                font-size: 12px;
            }
            #historico-data table{
                padding: 0px;
                margin: 0px;
            }
            #historico-data table tbody tr td{
                vertical-align: text-top;
                background-color: #EEE;
                padding: 10px;
                max-width: 350px;
                min-width: 80px;
                height: 100px;
            }
            #historico-data .descr{
                max-height: 100px;
                display: block;
                overflow-y: auto;
            }
            #historico-data table tbody tr td img{
                width: 40px;
            }
            #historico-data .dv-anx{
                display: block;
            }
            
            .det-demanda{
                width: calc(100% - 45px);
                display: table;
            }
            .det-demanda, .det-demanda *{
                border: none;
                font-size: 12px;
            }
            .det-demanda .label{ font-weight: bold; }
            .det-demanda .field *{ width: calc(100% - 10px); padding: 5px; height: 20px; }
            .det-demanda .row{ padding: 5px; background-color: green; }
            .det-demanda .titulo{ width: calc(100% - 10px); float: left; background-color: #EEE; }
            .det-demanda .duracao-estimada,
            .det-demanda .etapa-atual{ width: calc(50% - 10px); float: left; background-color: #EEE; }
            .det-demanda .descricao{ width: calc(100% - 10px); float: left; background-color: #EEE; }
            .det-demanda .descricao .field textarea{ height: 150px; resize: vertical; }
        </style>
        
            <div class="centralize">
                <div class="row">
                    <div class="block">
                        {% if Atividade.getEtapaID() == "D" %}
                            <h6>Atividade em execução</h6>
                        {% else %}
                            <h6>Atividade aguardando execução</h6>
                        {% endif %}

                        {# Se a atividade está parada #}
                        {% if Operacao.getDataFinal() or Operacao is empty %}
                            <form method="post" action="" class="hazo-form" enctype="multipart/form-data">
                                <input type="hidden" name="acao" value="alterar_operacao"/>
                                <input type="submit" value="Iniciar Atividade" class="btn btn-change btn-iniciar"/>
                            </form>
                            <div style="clear: both;"></div>
                            <br/>
                            <form method="post" action="" class="hazo-form" enctype="multipart/form-data">
                                <input type="hidden" name="acao" value="finalizar_atividade"/>
                                <input type="submit" onclick="return confirm('Deseja realmente concluir a Atividade?')" value="Concluir Atividade" class="btn btn-maroon"/>
                            </form>
                        {# Se a atividade está sendo executada #}
                        {% else %}
                            <form method="post" action="" class="hazo-form" enctype="multipart/form-data">
                                <input type="hidden" name="acao" id="acao_ab" value="alterar_operacao"/>

                                <div class="descricao">
                                    <div class="label">Parecer sobre a Atividade</div>
                                    <textarea name="descricao" class="op-descricao" placeholder="">{{Operacao.getDescricao()}}</textarea>
                                </div>

                                <div class="anexos">
                                    <div class="label">Anexos</div>
                                    <div class="field" id="dvrwanx"></div>
                                    <button class="btn btn-add-anx" onclick="addRowAnexo(); return false;">+</button>
                                </div>

                                <div style="clear: both;"></div>

                                <input type="submit" value="Salvar Texto e Anexos" class="btn btn-change btn-salvar" onclick="$('#acao_ab').val('somente_salvar')"/>
                                &nbsp;&nbsp;&nbsp;
                                <input type="submit" value="Interromper Atividade" class="btn btn-change btn-pausar"/>
                            </form>
                        {% endif %}

                        
                        <h5>Histórico de Execuções</h5>
                        <div id="historico-data"></div>
                        <script>
                            $("#historico-data").load("{{url}}/projetos/atividades/lista-historico/$/{{Demanda.getSlug() ?: 0}}/{{Atividade.getID()}}");
                        </script>
                        <br/>

                        <h6>Detalhes da Atividade</h6>
                        <hr/>
                        <div class="det-demanda">
                            <div class="row titulo">
                                <div class="label">Título</div>
                                <div class="field"><input type="text" readonly="true" value="{{Atividade.getTitulo()}}"/></div>
                            </div>
                            <div class="row duracao-estimada">
                                <div class="label">Duração Estimada</div>
                                <div class="field"><input type="text" readonly="true" value="{{Atividade.getDuracaoEstimadaHoras()}}:00"/></div>
                            </div>
                            <div class="row etapa-atual">
                                <div class="label">Etapa Atual</div>
                                <div class="field"><input type="text" readonly="true" value="{{Atividade.getEtapaObj().getDescricao()}}"/></div>
                            </div>
                            <div class="row descricao">
                                <div class="label">Descrição</div>
                                <div class="field"><textarea readonly="true">{{Atividade.getDescricao()}}</textarea></div>
                            </div>
                        </div>
                        <div style="clear: both;"></div>

                        {% if Demanda %}
                            <br/>
                            <h6>Detalhes da Demanda</h6>
                            <hr/>
                            <div id="demanda-data"></div>
                            <div style="clear: both;"></div>
                        {% endif %}

                        <script>
                            function addRowAnexo(url, id, slug, extension) {
                                if (url) {
                                    div = $("<div/>").addClass("dv-anx");
                                    if (jQuery.inArray(extension, ['jpg', 'jpeg', 'png', 'gif']) !== -1) {
                                        f = $("<a/>").attr('href', url)
                                                .html($("<img/>").attr('src', url))
                                                .fancybox()
                                                .appendTo(div);
                                    }
                                    a = $("<a/>").attr('href', url)
                                            .attr('name', 'anexo_upd[' + id + ']')
                                            .attr('target', '_blank')
                                            .text(slug ? slug : url)
                                            .appendTo(div);
                                    ex = $("<buton/>").addClass("btn btn-excluir-anx")
                                            .css("float", "right")
                                            .css("height", "20px")
                                            .text("Excluir Anexo")
                                            .appendTo(div)
                                            .click(function() {
                                                if (confirm('Deseja realmente excluir este anexo?')) {
                                                    $(this).parent().parent().append($("<input/>").attr("type", "hidden").attr("name", "anx_excl[]").val(id));
                                                    $(this).parent().remove();
                                                }
                                            });
                                    $(div).appendTo("#dvrwanx")
                                } else {
                                    $("<input/>").attr('type', 'file')
                                            .attr('name', 'anexo_add[]')
                                            .appendTo($("<div/>").addClass("dv-anx").appendTo("#dvrwanx"));
                                }
                            }

                            $(function() {
                                /* {% if anexos %} */
                                /* {% for Anexo in anexos %} */
                                addRowAnexo('{{url}}/projetos/anexos/visualizacao/{{Anexo.getSlug()}}?.{{Anexo.getFileExtension()}}', '{{Anexo.getID()}}', '{{Anexo.getTitulo() ?: Anexo.getFileName()}}', '{{Anexo.getFileExtension()}}');
                                /* {% endfor %} */
                                /* {% endif %} */

                                addRowAnexo();
                                /* {% if Demanda %} */
                                $('#demanda-data').load("{{url}}/projetos/demandas/visualizacao/$/{{Demanda.getSlug()}}");
                                /* {% endif %} */
                            });
                        </script>
                    </div>
                </div>
        {% include "html-bottom-messages.html" %}
{% endblock %}