{% extends "intra/index.html" %}

{% block content %}

<style>
    .dv-anx{ background-color: #eee; border: 2px solid #ddd; margin-bottom: 4px; line-height: 30px; padding-left: 10px; }
    .dv-anx a img{ height: 20px; line-height: 30px; vertical-align: middle; border: 1px solid #ccc; margin-right: 5px; }
</style>

<h5>{{ Atividade.getEtapaID() == "I" ? "Executando" : "Executar" }} Atividade &nbsp;-&nbsp; Aberta em {{ Operacao.getDataInicio()|date('d/m/Y H:i:s') }}</h5>
<hr/>

<form method="post" action="" class="hazo-form" enctype="multipart/form-data">
    <input type="hidden" name="acao" id="acao_ab" value="alterar_operacao"/>
    
    {% if _isGranted('/projetos/atividades/search-demanda') %}
    <div class="span40">
        <div class="label">Demanda</div>
        <div class="field"><input type="text" name="demanda" class="demanda" value="{{Atividade.getDemandaID()}}"/></div>
    </div>
    {% endif %}
    
    {% if _isGranted('/projetos/demandas/search-cliente') %}
    <div class="span40">
        <div class="label">Cliente</div>
        <div class="field"><input type="text" name="cliente" class="cliente" value="{{Atividade.getClienteID()}}"/></div>
    </div>
    {% endif %}
    
    <div class="span100">
        <div class="label">Título da Atividade</div>
        <div class="field"><input type="text" name="titulo" value="{{Atividade.getTitulo()}}"/></div>
    </div>
    
    <div class="span100">
        <div class="label">Parecer sobre a Atividade</div>
        <div class="field">
            <textarea name="descricao" style="height: 120px">{{Atividade.getDescricao()}}</textarea>
        </div>
    </div>

    <div style="clear: both;"></div>
    <div class="span100">
        <div class="label">Anexos</div>
        <div class="field" id="dvrwanx">
        </div>
        <div style="clear: both;"></div>
        <button class="btn btn-small btn-navy" onclick="addRowAnexo(); return false;">+</button>
    </div>
    
    <div style="clear: both;"></div>
    
    <div class="span100">
    <input type="submit" value="Salvar Texto e Anexos" class="btn btn-black" onclick="$('#acao_ab').val('somente_salvar')"/>
    &nbsp;&nbsp;&nbsp;
    <input type="submit" value="Concluir Atividade" class="btn btn-maroon" onclick="$('#acao_ab').val('finalizar_atividade')"/>
    </div>
</form>
<div style="clear: both;"></div>

<script>
    function addRowAnexo( url, id, slug, extension ){
        if( url ){
            div = $("<div/>").addClass("dv-anx");
            if( jQuery.inArray(extension, ['jpg','jpeg','png','gif']) !== -1 ){
                f =  $("<a/>").attr('href', url)
                              .html( $("<img/>").attr('src', url) )
                              .fancybox()
                              .appendTo( div );
            }
            a =  $("<a/>").attr('href', url)
                          .attr('name','anexo_upd['+id+']')
                          .attr('target','_blank')
                          .text(slug ? slug : url)
                          .appendTo( div );
            ex = $("<buton/>").addClass("btn btn-small btn-black")
                          .css("float", "right")
                          .css("height", "20px")
                          .text("Excluir Anexo")
                          .appendTo( div )
                          .click(function(){
                              if( confirm('Deseja realmente excluir este anexo?') ){
                                  $(this).parent().parent().append( $("<input/>").attr("type","hidden").attr("name", "anx_excl[]").val(id) );
                                  $(this).parent().remove();
                              }
                          });
            $(div).appendTo("#dvrwanx")
        }else{
            $("<input/>").attr('type','file')
                         .attr('name','anexo_add[]')
                         .appendTo( $("<div/>").addClass("dv-anx").appendTo("#dvrwanx") );
        }
    }
    
    $(function(){
        /* {% if anexos %} */
            /* {% for Anexo in anexos %} */
            addRowAnexo('{{url}}/projetos/anexos/visualizacao/{{Anexo.getSlug()}}?.{{Anexo.getFileExtension()}}', '{{Anexo.getID()}}', '{{Anexo.getTitulo() ?: Anexo.getFileName()}}', '{{Anexo.getFileExtension()}}');
            /* {% endfor %} */
        /* {% endif %} */
    
        addRowAnexo();
        /* {% if _isGranted('/projetos/atividades/search-demanda') %} */
        $(".demanda").hazoSearch({ url: "{{url}}/projetos/atividades/search-demanda", end: 10 });
        /* {% endif %} */
        
        /* {% if _isGranted('/projetos/demandas/search-cliente') %} */
        $("input[name='cliente']").hazoSearch({ url: "{{url}}/projetos/demandas/search-cliente", end: 10 });
        /* {% endif %} */
        
        $(".demanda").on('blur', function(){
            if( $(this).val() ){
                $(".cliente").val(null);
                $("input[name='cliente']").val(null);
            }
        });

        $(".cliente").on('blur', function(){
            if( $(this).val() ){
                $(".demanda").val(null);
                $("input[name='demanda']").val(null);
            }
        });
        
    });
</script>


{% endblock %}