{% extends "intra/index.html" %}

{% block content %}

<style>
    .duracao{ width: 100px; text-align: right; }
    .situacao{ max-width: 180px; }
    .change-etapa{ display: inline; }
    .prioridade{ width: 55px; }
    .dv-options-change{
        position: absolute;
        background-color: #DDD;
        border-width: 1px;
        border-color: red;
        border-style: none;
        display: none;
        padding: 7px 14px;
    }
    .dv-options-change hr{
        line-height: 1px;
        margin: 4px 0;
        border-color: #999;
    }
    #exec-atv-lst.ui-widget-content { border: none;}
    #exec-atv-lst .ui-widget-header { border: none;}
    #exec-atv-lst a:focus { outline: none; }
    .img-req{
         height: 15px; 
         margin: 0px;
         cursor: pointer;
    }
    .dv-det{
        position: absolute;
        background-color: #DDD;
        border-width: 1px;
        border-color: #444;
        border-style: solid;
        display: none;
        padding: 7px 14px;
        font-size: 10px;
    }
    .dv-det hr{
        line-height: 1px;
        margin: 4px 0;
        border-color: #999;
    }
</style>
{% if atividades_desenvolvimento or atividades_homologacao %}

<div id='exec-atv-lst'>
    <ul>
    {% if atividades_desenvolvimento or atividades_av_desenvolvimento %}
        <li><a href="#des">Aguardando Desenvolvimento</a></li>
    {% endif %}
    {% if atividades_homologacao or atividades_av_homologacao %}
        <li><a href="#hom">Aguardando Homologação</a></li>
    {% endif %}
    </ul>
    
    {% import "execucao-atividade/minhas-atividades-macro-row.html" as macro %}
    
    <div id="des">
        {% if atividades_desenvolvimento %}
            {% for row in atividades_desenvolvimento %}
                <b><i><u> {{row['Demanda'].getTitulo()}} </u></i></b>
                <br/>
                {{ macro.table(row) }}
            {% endfor %}
        {% endif %}
        {% if atividades_av_desenvolvimento %}
            {% for row in atividades_av_desenvolvimento %}
                <b><i><u>Atividades Avulsas</u></i></b>
                <br/>
                {{ macro.table(row) }}
            {% endfor %}
        {% endif %}
    </div>
    
    <div id="hom">
        {% if atividades_homologacao %}
            {% for row in atividades_homologacao %}
                <b><u><i>{{row['Demanda'].getTitulo()}}</i></u></b>
                <br/>
                {{ macro.table(row) }}
            {% endfor %}
        {% endif %}
        {% if atividades_av_homologacao %}
            {% for row in atividades_av_homologacao %}
                <b><u><i>{{row['Demanda'].getTitulo()}}</i></u></b>
                <br/>
                {{ macro.table(row) }}
            {% endfor %}
        {% endif %}
    </div>
</div>
<script>
    $("#exec-atv-lst").tabs()
    $(".detalhes").fancybox()
    $(".img-req").click(function(){
        $(this).parent().find(".dv-det")
               .css("display", "inline")
               .mouseleave(function(){
                   $(this).hide();
               });
    });
</script>
    
{% else %}
    <br/>
    <center>
        <p>
            Nenhuma atividade aguardando execução
        </p>
    </center>
    <br/>
{% endif %}

{% endblock %}