{% extends globals['template-cadastro-default'] %}

{% set url_imagem = url_mode~"/personagem/imagem-personagem/"~Personagem.getToken()~"/200" %}
{% set url_sala   = url_mode~"/sessao/sala" %}

{% block content %}
    
{#
<script src="{{url}}/media/libs/jcrop/js/jquery.Jcrop.min.js"></script>
<link rel="stylesheet" href="{{url}}/media/libs/jcrop/css/jquery.Jcrop.min.css" type="text/css" />
#}

<p class="infos">
    Para criar sua sala de RPG, informe os dados a seguir:
</p>

<div class="error"></div>

<style>
    .link-change{
        display: inline-block; 
        display: inline; 
        position: absolute;
        text-align: center;
        float: left;
        font-size: 14px;
        line-height: 30px;
        height: 30px;
        font-weight: bold;
        width: 152px;
        background-color: #000;
        color: #FFF;
    }
    .img-pers{
        display: block;
    }
    .img-pers img{
        border: 1px solid #000;
        max-width: 150px;
        padding: 0;
    }
</style>

<form method="post" action="{{url_mode}}/personagem/atualizar-dados" id="formdata">

    <div class="sala">
        <label>Seu nome completo</label><br/>
        <input type="text" class="form-control" name="nome" value="{{Personagem.getUsuarioNome()}}"/>
    </div>

    <div class="sala">
        <label>Nome do seu personagem</label><br/>
        <input type="text" class="form-control" name="nome_pers" value="{{Personagem.getPersonagemNome()}}"/>
    </div>

    <div class="nome">
        <label>Imagem do personagem:</label>
        
        <div class="img-pers">
            <a href="#" class="link-change" onclick="changeImg();return false;">ALTERAR</a>

            {% if Personagem.getAnexoImagemObj() %}
                <img src="{{url_imagem}}" id="cropbox"/>
            {% else %}
                <img src="{{url}}/media/public/desenvolvimento/rpg/images/no-image.jpg" id="cropbox"/>
            {% endif %}
            
        </div>
        
    </div>

    <input type="submit" value="Ir para sala" class="btnsub"/>

</form>

<form method="post" action="{{url_mode}}/personagem/atualiza-imagem" enctype="multipart/form-data" style="display:none;" id="formfile">
    <input type="file" name="arquivo" style="display:none;" id="file"/>
</form>

<script>
    
    function changeImg(){
        $('#file').trigger('click');
    }
    
    $('#file').on('change', function(){
        $('#formfile').submit();
    });
    
    function lgLoad(status, msg){
        if( status ){
            $('.btnsub').val("Aguarde...");
        }else{
            $('.error').text(msg).show();
            $('.btnsub').val("Criar sessão");
        }
    }
    
    $().ready(function(){
        {#
        $('#cropbox').Jcrop({
            aspectRatio: 1,
            onSelect: function(){
                alert('teste');
            }
        });
        #}
        
        $('#formdata').ajaxForm({
            dataType: 'json',
            beforeSend: function(){
                lgLoad(true);
            },
            success: function( data ){

                if( data.status ){
                    window.location = "{{url_sala}}";
                }

                if( data.msg ){
                    lgLoad(false, data.msg);
                }else{
                    lgLoad(false);
                }

            },
            error: function(){
                lgLoad(false, "Falha ao cadastrar sala. Por favor, tente mais tarde.");
            }
        });
        
        $('#formfile').ajaxForm({
            beforeSend: function(){
                $(".link-change").text("Aguarde..");
            },
            success: function(){
                $('.img-pers').find('img').attr('src', "{{url_imagem}}");
                $(".link-change").text("ALTERAR");
            }
        });
        
        
    });
    
    
</script>


{% endblock %}