<div class="receive">
    <ul class="chat">
        {% for Chat in chats %}
        <li data-id="{{Chat.getID()}}">
            <img src="{{Chat.getPersonagemObj().getAnexoImagemObj().getImagemUrl('crop_50')}}?{{time}}.{{Chat.getPersonagemObj().getAnexoImagemObj().getExtensao()}}" class="profile"/>
            <span class="chat-name">{{Chat.getPersonagemObj().getPersonagemNome()}}:</span>
            {{Chat.getMessage()|raw}}
        </li>
        {% endfor %}
    </ul>
    <span id='mark'></span>
</div>
<div class="call">
    <form method="post" action="">
        <textarea name="text" id="send-chat" placeholder="Digite a sua mensagem:"></textarea>
    </form>
</div>