<!doctype html>
<html class="no-js">
    <head>
        {% set url_files = url~"/media/public/desenvolvimento/rpg/sessao" %}
        <link rel="stylesheet" media="all" href="{{url}}/media/templates/mds/css/style.css"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        
        <link rel="stylesheet" media="all" href="{{url}}/media/libs/jquery/jquery-ui-1.8.13.custom.css"/>
        <script src="{{url}}/media/libs/jquery/jquery-2.0.0.min.js"></script>
        <script src="{{url}}/media/libs/jquery/jquery-ui-1.10.3.custom.min.js"></script>
        <script src="{{url}}/media/libs/jquery/jquery.form.js"></script>
        

        <link type="text/css" rel="stylesheet" href="{{url}}/media/libs/fancyapps/source/jquery.fancybox.css" />
        <script type="text/javascript" src="{{url}}/media/libs/fancyapps/source/jquery.fancybox.js"></script>
        
        
        <script src="{{url}}/library/CKEditor/ckeditor.js"></script>
        <script src="{{url}}/library/CKEditor/adapters/jquery.js"></script>
        

        <script>
            var hazoParam = {
                url: "{{url}}",
                url_mode: "{{url_mode}}",
                sessao_token: "{{Sessao.getToken()}}"
            }
        </script>
        
        <link rel="stylesheet" media="all" href="{{url_files}}/sala.css"/>
        <script src="{{url_files}}/sala.js"></script>
    </head>

    <body lang="pt-br">

        <div class="tools">{% include "sessao/tools.twig" %}</div>
        
        <div class="master-role">
            <div class="title">O mestre mandou</div>
            <div class="body">
                <ul class="master-anx">
                    {% for Anexo in anexos_mestre %}
                    <li data-id="{{Anexo.getID()}}">
                        {% if Anexo.getRef() == 'I' %}
                            <a href="{{Anexo.getImagemUrl(600)}}" rel="gallery1" class="fancybox"><img src="{{Anexo.getImagemUrl(450)}}" class="anx"/></a>
                        {% elseif Anexo.getRef() == 'T' %}
                            <div class='text'>{{Anexo.getContent()|raw}}</div>
                        {% endif %}
                    </li>
                    {% endfor %}
                </ul>
            </div>
            {% if Personagem.getTipo() == 'M' %}
            <div class="inside">
                <button onclick="$.fancybox('#m_add_img')">+ Imagem</button>
                <button onclick="fancyTxt();">+ Texto</button>
                
                <div id="m_add_img" style="display: none;">
                    <form method='post' action='{{url_module}}/mestre-add-content/file/I' class='fmrm-mst'>
                        <input type='file' name='arquivo'/>
                        <br/>
                        <input type='submit' value='Enviar'/>
                    </form>
                </div>
                
                <div id="m_add_txt" style="display: none;">
                    <form method='post' action='{{url_module}}/mestre-add-content/text/T' class='fmrm-mst'>
                        <div class='textarea'>
                            <textarea id="txt-n-ck" name="content"></textarea>
                        </div>
                        <br/>
                        <input type='submit' value='Enviar'/>
                    </form>
                </div>
                
            </div>
            {% endif %}
        </div>
        
        <div class="rol">
            <div>
                <div class="btn" onclick="rol(4)"><img src="{{url_files}}/img/d4.png"/>d4</div>
                <div class="btn" onclick="rol(6)"><img src="{{url_files}}/img/d6_2.png"/>d6</div>
                <div class="btn" onclick="rol(8)"><img src="{{url_files}}/img/d8.png"/>d8</div>
                <div class="btn" onclick="rol(10)"><img src="{{url_files}}/img/d10.png"/>d10</div>
                <div class="btn" onclick="rol(12)"><img src="{{url_files}}/img/d12.png"/>d12</div>
                <div class="btn" onclick="rol(20)"><img src="{{url_files}}/img/d20.png"/>d20</div>
                <div class="btn" onclick="rol(100)"><img src="{{url_files}}/img/d100.png"/>d100</div>
            </div>
            
            <div>
                <div class="field">0</div>
            </div>
            
        </div>
        
        <div class="char-chat">{% include "sessao/chat.twig" %}</div>
        
    </body>

</html>