<div style="display: table; float: left;" class="meu-p">
    
    {% set tipoPersonagem = {"P":"Personagem","N":"NPC","M":"Mestre"} %}
    
    {#<a href="{{Personagem.getAnexoImagemObj().getImagemUrl(450)}}?{{time}}.{{Personagem.getAnexoImagemObj().getExtensao()}}" rel="gallery2" class="fancybox">#}
    <a href="#full_{{Personagem.getToken()}}" rel="gallery2" class="fancybox">
        <img src="{{Personagem.getAnexoImagemObj().getImagemUrl('crop_150')}}?{{time}}.{{Personagem.getAnexoImagemObj().getExtensao()}}" class="profile"/>
    </a>
    <ul class="detail">
        <li class="name">{{Personagem.getPersonagemNome()}}</li>
        <li class="prof">{{Personagem.getUsuarioNome()}}</li>
        {#<li class="text">{{Personagem.getTipo() == 'M' ? "MESTRE" : ""}}&nbsp;</li>#}
    </ul>
            
    <div class="tpl-prof-full" style="display:none;" id="full_{{Personagem.getToken()}}">

        <img src="{{Personagem.getAnexoImagemObj().getImagemUrl('300')}}?{{time}}.{{Personagem.getAnexoImagemObj().getExtensao()}}" class="img-princ"/>

        <ul class="data">
            <li class="nome-usu"><span class='nome'>{{Personagem.getUsuarioNome()}}</span><span class='email'>{{Personagem.getEmail()}}</span></li>
            <li class="nome-per"><span class='tipo'>{{tipoPersonagem[Personagem.getTipo()]}}</span>: <span class='nome'>{{Personagem.getPersonagemNome()}}</span></li>
            <li class="text"></li>
        </ul>

    </div>
        
    {% if Personagem.getTipo() == 'M' %}
        
    <div id="box_novo_participante" style="display:none;">
        <form method="post" action="{{url_mode}}/sessao/convidar-participante" id="frmCovidaParti">

            <div class="fieldconv">
                <label>E-mail</label><br/>
                <input type="text" class="form-control" name="mail" value=""/>
            </div>

            <input type="submit" value="Convidar" class="btnsub"/>

        </form>
    </div>
        
    <script>
        $().ready(function(){
            $("#frmCovidaParti").ajaxForm({
                dataType: 'json',
                success: function(data) {
                    if( data.status ){
                        $("#frmCovidaParti").find(".form-control").val("");
                        $.fancybox.close();
                    }else{
                        alert(data.msg);
                    }
                },
                error: function(){
                    alert("Erro ao convidar participante");
                }
            });
        });
    </script>
        
    {% endif %}
        
    {#
    <a href="" rel="gallery2" class="fancybox">
        <img src="" class="profile"/>
    </a>
    <ul class="detail">
        <li class="name">Carregando...</li>
        <li class="prof">Carregando...</li>
        <li class="text">Carregando...&nbsp;</li>
    </ul>
    #}
</div>
<div class="outros-p" id="block_personagens">

    <div id="tpl_profile" style="display:none;" class="profile out-pers">
        <a href="" class="fancybox">
            <img src="" class="profile"/>
        </a>
        <ul class="detail">
            <li class="name">{{Personagem.getPersonagemNome()}}</li>
            <li class="prof">{{Personagem.getUsuarioNome()}}</li>
            <li class="text">&nbsp;</li>
        </ul>
            
        <div class="tpl-prof-full" style="display:none;">
            
            <img src="" class="img-princ"/>
            
            <ul class="data">
                <li class="nome-usu"><span class='nome'></span><span class='email'></span></li>
                <li class="nome-per"><span class='tipo'></span>: <span class='nome'></span></li>
                <li class="text"></li>
            </ul>
            
        </div>
            
    </div>
    
</div>


<span onclick="" class="link-ops">
    Opções
    <div class="menu-expand">
        <ul>
            <li><a href="{{url_mode}}/personagem/complemento-cadastro">Alterar Dados</a></li>
            {% if Personagem.getTipo() == 'M' %}
            <li><a href="#" onclick="boxNovoParticipante();return false;">Convidar Participante</a></li>
            {% endif %}
        </ul>
    </div>
</span>

<style>
    #block_personagem{ display: table; float: left; }
    
    .link-ops{
        font-size: 11px;
        position: fixed;
        height: 12px;
        right: 5px;
        top: 5px;
    }
    .link-ops{
        background-color: #4a4a71;
        -webkit-border-radius: 4px;
           -moz-border-radius: 4px;
                border-radius: 4px;
        color: #FFF;
        padding: 8px 10px;
        cursor: pointer;
    }
    .link-ops:hover{
        background-color: #7373cb;
    }
    .link-ops:hover > .menu-expand{
        display: block;
    }
    
    
    .menu-expand{
        background-color: #FFF;
        -webkit-border-radius: 4px;
           -moz-border-radius: 4px;
                border-radius: 4px;
        position: fixed;
        display: none;
        right: 5px;
        top: 33px;
        width: 150px !important;
        text-align: right;
        border: 2px solid #4a4a71;
    }
    .menu-expand ul li{
        line-height: 24px;
        border-bottom: 1px dotted #4a4a71;
        padding: 2px 14px;
    }
    .menu-expand ul li:last-child{
        border-bottom: 0px;
    }
    .menu-expand ul li:hover{
        background-color: #4a4a71 !important;
    }
    .menu-expand ul li:hover a{
        color: #FFF !important;
    }
    .menu-expand ul li a{
        line-height: 25px;
        background: none !important;
        color: #4a4a71 !important;
    }
    
    {#
tpl-prof-full" style="display:none;">
            
            <img src="" class="img-princ"/>
            
            <div class="data">
                <div class="nome-usu"></div>
                <div class="nome-per"></div>
                <div class="text"></div>
            </div>
#}
    .tpl-prof-full{
        display: table;
    }
    .tpl-prof-full > .img-princ{
        width: 300px;
        height: auto;
        float: left !important;
        -webkit-border-radius: 6px;
           -moz-border-radius: 6px;
                border-radius: 6px;
    }
    .tpl-prof-full .data{
        padding: 0 0 0 20px;
        width: 300px;
        float: left;
    }
    .tpl-prof-full .data .nome-usu{
        font-size: 17px;
        font-weight: bold;
        line-height: 20px;
        margin-bottom: 10px;
    }
    .tpl-prof-full .data .nome-usu .email{
        display: block;
        background: none;
        font-weight: normal;
        font-size: 12px;
    }
    .tpl-prof-full .data .nome-per{
        font-weight: normal;
        font-size: 10px;
    }
    .tpl-prof-full .data .nome-per .nome{
        font-weight: bold;
        font-size: 14px;
    }
    
    
</style>

<script>
    {% if Personagem.getTipo() == 'M' %}
        
    function boxNovoParticipante()
    {
        $.fancybox("#box_novo_participante");
    }
        
    {% endif %}
    
    function loadParticipantes()
    {
        $.ajax({
            dataType: "json",
            type: "post",
            data: {},
            url: hazoParam.url_mode+"/sessao/lista-participantes",
            success: function( data ){
                
                if( data.cont_total > 0 ){
                        
                    tipoPersonagem = {
                        'P': 'Personagem',
                        'M': 'Mestre',
                        'N': 'NPC'
                    };
                    
                    for( i = 0; i < data.cont_total; i++ ){
                    
                        var personagem = data['personagens'][i];
                    
                        personagem_tipo = tipoPersonagem[personagem.tipo];
                            
                        if( $("#"+personagem.token)[0] ){
                            var boxProfile = $("#"+personagem.token);
                        }else{
                            var boxProfile = $("#tpl_profile").clone().attr('id', personagem.token).show();
                        }

                        $(boxProfile).find(".loading").hide();

                        //$(boxProfile).find('.fancybox').attr('href', personagem.imagem450).attr('rel', 'gallery2');
                        $(boxProfile).find('.fancybox').attr('href', "#full"+personagem.token).attr('rel', 'gallery2');

                        if( personagem.contChange !== $(boxProfile).find('.profile').attr('data-cont-change') ){
                            $(boxProfile).find('.profile').attr('src', personagem.imagem150+'?'+personagem.contChange+'.'+personagem.imgExtensao);
                            $(boxProfile).find('.profile').attr('data-cont-change', personagem.contChange);
                        }

                        $(boxProfile).find('.detail').find('.name').html(personagem.personagemNome);
                        $(boxProfile).find('.detail').find('.prof').html(personagem.usuarioNome);
                        $(boxProfile).find('.detail').find('.text').html( personagem_tipo );

                        $(boxProfile).find(".data-show").show();
                        
                        
                        {# Begin:: BOX FULL #}
                        
                        boxFull = $(boxProfile).find('.tpl-prof-full')[0];
                        
                        $(boxFull).find('.nome-usu').find('.nome').html(personagem.usuarioNome);
                        $(boxFull).find('.nome-usu').find('.email').html(personagem.email);
                        $(boxFull).find('.nome-per').find('.tipo').html(personagem_tipo);
                        $(boxFull).find('.nome-per').find('.nome').html(personagem.personagemNome);
                        
                        $(boxFull).find('.img-princ').attr('src', personagem.imagem300+'?'+personagem.contChange+'.'+personagem.imgExtensao);
                        $(boxFull).attr('id', "full"+personagem.token);
                        
                        {#% if get['teste'] %}
                            $.fancybox(boxFull);
                        {% endif %#}
                        
                        {# End:: BOX FULL #}

                        $("#block_personagens").append( $(boxProfile) );
                        
                    }
                    
                }
                
            }
        });

        setTimeout(function(){
            loadParticipantes();
        }, 1000);
    }
    
    $().ready(function(){
        loadParticipantes();
    });
    
</script>