{% extends "hazo/intra/index.twig" %}

{% block content %}

{% set Cliente = Demanda.getClienteObj() %}

<div class="row well form-inline">
    
    <div class="form-group col-xs-12 col-sm-8">
        <label>Cliente</label>
        <input type="text" class="form-control" value="{{Cliente.getPessoaObj().getRazao()}}" readonly/>
    </div>
    
    <div class="form-group col-xs-12 col-sm-4">
        <label>Tipo da demanda</label>
        <input type="text" class="form-control" value="{{Demanda.getTipoDemandaObj().getTitulo()}}" readonly/>
    </div>
    
    <div class="form-group col-xs-12 col-sm-12">
        <label>Título</label>
        <input type="text" class="form-control" value="{{Demanda.getTitulo()}}" readonly/>
    </div>
    
    <div class="form-group col-xs-12 col-sm-12">
        <label>Descrição</label>
        <textarea class="form-control" readonly style="resize: none;" rows="6">{{Demanda.getDescricao()}}</textarea>
    </div>
    
    <div class="form-group col-xs-12 col-sm-12">
        <label id="tganx">Anexos <span class="glyphicon glyphicon-chevron-right"></span></label>

        <div id="tganx_dv">
        {% if anexos %}
            {% for Anexo in anexos %}
        
            <div class="dv-anx" style="line-height: 30px;">
                {% set x = Anexo.getFileExtension() %}
                {% if x == 'jpg' or x == 'jpeg' or x == 'png' %}
                <a href="{{url_module}}/anexo-visualizacao/{{Anexo.getSlug()}}?.{{Anexo.getFileExtension()}}" class="fancybox">
                    <img src="{{url_module}}/anexo-visualizacao/{{Anexo.getSlug()}}?sz=30&.{{Anexo.getFileExtension()}}" style="border:1px solid gray;"/>
                </a>
                {% endif %}
                <a href="{{url_module}}/anexo-download/{{Anexo.getSlug()}}?.{{Anexo.getFileExtension()}}">
                    {{Anexo.getTitulo() ?: Anexo.getFileName()}}
                </a>
            </div>
        
            {% endfor %}
        {% else %}
            <br/>
            <span style="font-weight: normal;">Nenhum anexo cadastrado</span>
        {% endif %}

        <script>
            jQuery().ready(function(){
                jQuery(".fancybox").fancybox();
            });
        </script>
        </div>
    </div>
    
</div>

<b>Atividades</b>
<div class="row well form-inline">
    
    {% if atividades %}
    
        <table class="table table-condensed table-responsive">
            <thead>
                <tr>
                    <th>Seq.</th>
                    <th>Título</th>
                    <th>Descrição</th>
                    <th>Dur. Estimada</th>
                    <th>Etapa Atual</th>
                    <th>Cadastrado por</th>
                    <th>&nbsp;</th>
                </tr>
            </thead>
    
            <tbody>
            {% set cont = 0 %}
            {% for Atividade in atividades %}
                {% set cont = cont+1 %}
                <tr class="tr-pri">
                    <td>{{cont}}</td>
                    <td>{{Atividade.getTitulo()}}</td>
                    <td>{{Atividade.getDescricao()}}</td>
                    <td>{{Atividade.getDuracaoEstimada()}}</td>
                    <td>{{Atividade.getEtapaObj().getDescricao()}}</td>
                    <td>{{Atividade.getCadastroUserObj().getName()}}</td>
                    <td><label class="dts" data-seq="{{cont}}">Detalhes <span class="glyphicon glyphicon-chevron-right"></span></label></td>
                </tr>

                <tr style="display:none;" class="dts-row-{{cont}}">
                    <td colspan="1">&nbsp;</td>
                    <td colspan="6">
                        {% set operacoes = Atividade.listaOperacoes() %}
                            
                        {% if operacoes %}
                            
                            <table class="table table-condensed table-responsive tbl-oper">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Técnico</th>
                                        <th>Data Início</th>
                                        <th>Data Término</th>
                                        <th>Descrição</th>
                                        <th>Etapa</th>
                                        <th>Anexos</th>
                                    </tr>
                                </thead>
                                <tbody>
                                {% for Operacao in operacoes %}
                             
                                    <tr>
                                        <td>{{Operacao.getID()}}</td>
                                        <td>{{Operacao.getUserObj().getName()}}</td>
                                        <td>{{Operacao.getDataInicio()|date('d/m/Y H:i:s')}}</td>
                                        {% if Operacao.getDataFinal() %}
                                        <td>{{Operacao.getDataFinal()|date('d/m/Y H:i:s')}}</td>
                                        {% else %}
                                        <td style='color:red;'>Em execução</td>
                                        {% endif %}
                                        <td>{{Operacao.getDescricao()}}</td>
                                        <td>{{Operacao.getAtividadeEtapaObj().getDescricao()}}</td>
                                        <td>
                                        
                                            {% set anexos = Operacao.listaAnexos() %}
                                            
                                            {% for Anexo in anexos %}
                                            
                                            <div style="line-height: 20px;">
                                                {% set x = Anexo.getFileExtension() %}
                                                {% if x == 'jpg' or x == 'jpeg' or x == 'png' %}
                                                <a href="{{url_module}}/anexo-visualizacao/{{Anexo.getSlug()}}?.{{Anexo.getFileExtension()}}" class="fancybox">
                                                    <img src="{{url_module}}/anexo-visualizacao/{{Anexo.getSlug()}}?sz=30&.{{Anexo.getFileExtension()}}" style="border:1px solid gray;"/>
                                                </a>
                                                {% endif %}
                                                <a href="{{url_module}}/anexo-download/{{Anexo.getSlug()}}?.{{Anexo.getFileExtension()}}">
                                                    {{Anexo.getTitulo() ?: Anexo.getFileName()}}
                                                </a>
                                            </div>

                                            {% endfor %}
                                        
                                        </td>
                                    </tr>
                                
                                {% endfor %}
                                </tbody>
                            </table>
                        {% else %}
                            <center>Nenhuma operação realizada para esta atividade até o momento</center>
                        {% endif %}
                        
                    </td>
                </tr>
                
            {% endfor %}
            </tbody>
            
        </table>
    {% else %}
        <br/>
        <span style="font-weight: normal;">Nenhuma atividade cadastrada para esta demanda</span>
    {% endif %}
    
    
</div>

<style>
#tganx_dv{ display: none; }
.tbl-oper{ font-size: 11px; }
.tbl-oper, .tbl-oper tr, .tbl-oper td{ background: transparent !important; }
.tr-pri{ background-color: #e3e3e3 }
</style>

<script>
    
    jQuery('.dts').on('click', function(){
        jQuery(this).find("span").toggleClass('glyphicon-chevron-down');
        jQuery(".dts-row-"+jQuery(this).attr('data-seq')).toggle(1);
    });
    
    jQuery('#tganx').on('click', function(){
        jQuery("#tganx span").toggleClass('glyphicon-chevron-down');
        jQuery("#tganx_dv").toggle(500);
    });
    
</script>

{% endblock %}