<!DOCTYPE html>
<html>
    <head>
        <title>Hazo</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

        {# jQuery #}
        <link  href="{{url}}/media/libs/jquery/css/custom-theme/jquery-ui-1.8.22.custom.css" type="text/css" rel="stylesheet"/>
        <script src="{{url}}/media/libs/jquery/jquery-1.9.1.min.js" type="text/javascript"></script>
        <script src="{{url}}/media/libs/jquery/js/jquery-ui-1.10.3.custom.min.js" type="text/javascript"></script>

        {# Hazo #}
        <link  href="{{url}}/media/container/css/form.css" rel="stylesheet" type="text/css" media="screen" />
        <script src="{{url}}/media/libs/jquery/hazoSearch/jquery.hazo-search-1.0.0.js" type="text/javascript"></script>
        <link  href="{{url}}/media/libs/jquery/hazoSearch/jquery.hazo-search-1.0.0.css" type="text/css" rel="stylesheet" />
        <script src="{{url}}/media/libs/jquery/jquery.cookie.js" type="text/javascript"></script>

        {# Portal #}
        <link  href="{{url}}/media/container/css/portal.css" rel="stylesheet" type="text/css" media="screen" />
        
        <link type="text/css" rel="stylesheet" href="{{url}}/media/libs/fancybox/jquery.fancybox-1.3.4.css" />
        <script type="text/javascript" src="{{url}}/media/libs/fancybox/jquery.fancybox-1.3.4.js"></script>
        
        {% if bootstrap %}
        <link  href="{{url}}/media/libs/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" media="screen" />
        <script src="{{url}}/media/libs/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
        {% endif %}
        
    </head>
    <body style="">
        <div style="padding: 10px;">
            {% block content %}
            <br/><br/><br/>
            Welcome do Sample 01 (HazoFramework)
            
            {% endblock %}
        </div>
    </body>
</html>
