<div class="dv-comment dv-comment-cadastro" style="width: 400px; height: 350px;">
    <center>
        <br/><br/><br/>
        Seu cadastro foi efetuado com sucesso.
        <br/>
        Para continuar o processo, clique no link enviado no seu e-mail
    </center>
</div>