<div class="modal-login white-popup">
    <form method="post" action="{{url}}/blog/api/usuario-login" id="form-comment-login">
        <div>
            <label for="name">Informe seus dados:</label>
            <input type="text" name="log_login" id="log_email" required class="required" placeholder="Login ou E-mail" autocomplete="off"/>
            <input type="password" name="log_senha" id="log_senha" required class="required" placeholder="Senha" autocomplete="off"/>
            <div style="clear: both;"></div>
            <button type="submit">Entrar</button>
            <div class="error"></div>
        </div>
    </form>
</div>

<script>
    jQuery().ready(function() {
        jQuery("#form-comment-login").hazoFormAjax({
            success: function(data) {
                jQuery('.error').html("");
                if( data.status ){
                    loadToolbarUsuarioStatus();
                    jQuery.fancybox.close( true );
                }else{
                    loadToolbarOffline();
                    jQuery('.error').html(data.msg);
                }

            }
        });
    });
</script>