<div class="dv-comment dv-comment-cadastro" style="width: 400px; height: 350px;">
    <form method="post" action="{{url}}/blog/usuario/cadastro/{{paginaID}}" id="form-comment-cadastro">
        <div>
            <ul>
                <li>
                    <label for="name">Desejo me cadastrar:</label>
                    <input type="text" name="cad_nome" id="cad_nome" required class="required" placeholder="Nome completo" autocomplete="off"/>
                </li>
                <li>
                    <input type="text" name="cad_email" id="cad_email" required class="required" placeholder="E-mail" autocomplete="off"/>
                </li>
                <li>
                    <input type="password" name="cad_senha" id="cad_senha" required class="required" placeholder="Senha" autocomplete="off"/>
                </li>
                <li>
                    <input type="password" name="cad_rsenha" id="cad_rsenha" required class="required" placeholder="Repita a Senha" autocomplete="off"/>
                </li>
                <li>
                </li>	
            </ul>
        </div>
        <button type="submit" id="cad_submit" class="button">Cadastrar e Entrar</button>
    </form>
</div>

<script>

    jQuery("#form-comment-cadastro").hazoFormAjax({
        success: function(data) {
            console.log(data);
            jQuery('#cad_submit').tooltipster('destroy');

            if( data.status ){
                modalUsuarioCadastro('sucesso', data.redirect);
            }else{
                jQuery('#cad_submit').tooltipster({
                    theme: '.tip-custom-error',
                    content: data.msg,
                    trigger: 'custom',
                    timer: 7000
                });
                jQuery(".tip-custom-error").css('background-color', 'red');
            }

            jQuery('#cad_submit').tooltipster('show');
        },
        error: function(data) {
           
        }
    });
</script>