{% extends "intra/index.html" %}

{% block content %}

<style>
    .dv-anx{ background-color: #eee; border: 2px solid #ddd; margin-bottom: 4px; line-height: 30px; padding-left: 10px; }
    .dv-anx a img{ height: 20px; line-height: 30px; vertical-align: middle; border: 1px solid #ccc; margin-right: 5px; }
</style>

<h6>{{ Atividade.getEtapaID() == "D" ? "Executando" : "Executar" }} Atividade</h6>
<hr/>

{% if Operacao.getDataFinal() or Operacao is empty %}
<form method="post" action="" class="hazo-form" enctype="multipart/form-data">
    <input type="hidden" name="acao" value="alterar_operacao"/>
    <input type="submit" value="Iniciar Desenvolvimento da Atividade" class="btn btn-navy"/>
</form>
<div style="clear: both;"></div>
<br/>
<form method="post" action="" class="hazo-form" enctype="multipart/form-data">
    <input type="hidden" name="acao" value="finalizar_atividade"/>
    <input type="submit" onclick="return confirm('Deseja realmente concluir a Atividade?')" value="Concluir Atividade" class="btn btn-maroon"/>
</form>
{% else %}
<form method="post" action="" class="hazo-form" enctype="multipart/form-data">
    <input type="hidden" name="acao" id="acao_ab" value="alterar_operacao"/>
    
    <div class="span100">
        <div class="label">Parecer sobre a Atividade</div>
        <div class="field">
            <textarea name="descricao" style="height: 120px">{{Operacao.getDescricao()}}</textarea>
        </div>
    </div>

    <div style="clear: both;"></div>
    <div class="span100">
        <div class="label">Anexos</div>
        <div class="field" id="dvrwanx">
        </div>
        <div style="clear: both;"></div>
        <button class="btn btn-small btn-navy" onclick="addRowAnexo(); return false;">+</button>
    </div>
    
    <div style="clear: both;"></div>
    
    <input type="submit" value="Salvar Texto e Anexos" class="btn btn-black" onclick="$('#acao_ab').val('somente_salvar')"/>
    &nbsp;&nbsp;&nbsp;
    <input type="submit" value="Pausar o Desenvolvimento da Atividade" class="btn btn-maroon"/>
</form>
{% endif %}

<br/>
<h6>Histórico de Execuções da Atividade</h6>
<hr/>
<div id="historico-data"></div>
<script>
    $("#historico-data").load("{{url}}/projetos/atividades/lista-historico/$/{{Demanda.getSlug() ?: 0}}/{{Atividade.getID()}}");
</script>
<div style="clear: both;"></div>
<br/>

<h6>Detalhes da Atividade</h6>
<hr/>
<div class="hazo-form" style="max-width: 800px;">
    <div class="span50">
        <div class="label">Título</div>
        <div class="field"><input type="text" readonly="true" value="{{Atividade.getTitulo()}}"/></div>
    </div>
    <div class="span20">
        <div class="label">Duração Estimada</div>
        <div class="field"><input type="text" readonly="true" value="{{Atividade.getDuracaoEstimadaHoras()}}:00"/></div>
    </div>
    <div class="span30">
        <div class="label">Etapa Atual</div>
        <div class="field"><input type="text" readonly="true" value="{{Atividade.getEtapaObj().getDescricao()}}"/></div>
    </div>
    <div class="span100">
        <div class="label">Descrição</div>
        <div class="field"><textarea readonly="true" style="height: 80px">{{Atividade.getDescricao()}}</textarea></div>
    </div>
</div>
<div style="clear: both;"></div>

{% if Demanda %}
<br/>
<h6>Detalhes da Demanda</h6>
<hr/>
<div id="demanda-data"></div>
<div style="clear: both;"></div>
{% endif %}

<script>
    function addRowAnexo( url, id, slug, extension ){
        if( url ){
            div = $("<div/>").addClass("dv-anx");
            if( jQuery.inArray(extension, ['jpg','jpeg','png','gif']) !== -1 ){
                f =  $("<a/>").attr('href', url)
                              .html( $("<img/>").attr('src', url) )
                              .fancybox()
                              .appendTo( div );
            }
            a =  $("<a/>").attr('href', url)
                          .attr('name','anexo_upd['+id+']')
                          .attr('target','_blank')
                          .text(slug ? slug : url)
                          .appendTo( div );
            ex = $("<buton/>").addClass("btn btn-small btn-black")
                          .css("float", "right")
                          .css("height", "20px")
                          .text("Excluir Anexo")
                          .appendTo( div )
                          .click(function(){
                              if( confirm('Deseja realmente excluir este anexo?') ){
                                  $(this).parent().parent().append( $("<input/>").attr("type","hidden").attr("name", "anx_excl[]").val(id) );
                                  $(this).parent().remove();
                              }
                          });
            $(div).appendTo("#dvrwanx")
        }else{
            $("<input/>").attr('type','file')
                         .attr('name','anexo_add[]')
                         .appendTo( $("<div/>").addClass("dv-anx").appendTo("#dvrwanx") );
        }
    }
    
    $(function(){
        /* {% if anexos %} */
            /* {% for Anexo in anexos %} */
            addRowAnexo('{{url}}/projetos/anexos/visualizacao/{{Anexo.getSlug()}}?.{{Anexo.getFileExtension()}}', '{{Anexo.getID()}}', '{{Anexo.getTitulo() ?: Anexo.getFileName()}}', '{{Anexo.getFileExtension()}}');
            /* {% endfor %} */
        /* {% endif %} */
    
        addRowAnexo();
        /* {% if Demanda %} */
        $('#demanda-data').load("{{url}}/projetos/demandas/visualizacao/$/{{Demanda.getSlug()}}");
        /* {% endif %} */
    });
</script>


{% endblock %}