{% extends "intra/index.html" %}

{% block content %}

<h5>Criação/Execução de Atividade</h5>
<hr/>

<form method="post" action="" class="hazo-form" enctype="multipart/form-data">
    <input type="hidden" name="acao" id="acao_ab" value="criar_atividade"/>
    
    {% if _isGranted('/projetos/atividades/search-demanda') %}
    <div class="span40">
        <div class="label">Demanda</div>
        <div class="field"><input type="text" name="demanda" class="demanda" value="{{Atividade.getDemandaID()}}"/></div>
    </div>
    {% endif %}
    
    {% if _isGranted('/projetos/demandas/search-cliente') %}
    <div class="span40">
        <div class="label">Cliente</div>
        <div class="field"><input type="text" name="cliente" class="cliente" value="{{Atividade.getClienteID()}}"/></div>
    </div>
    {% endif %}
    
    <div class="span100">
        <div class="label">Título da Atividade</div>
        <div class="field"><input type="text" name="titulo" value="{{Atividade.getTitulo()}}"/></div>
    </div>
    
    <div class="span100">
        <input type="submit" value="Próximo" class="btn btn-maroon"/>
    </div>
</form>
<div style="clear: both;"></div>

<script>
    $().ready(function(){
        /* {% if _isGranted('/projetos/atividades/search-demanda') %} */
        $(".demanda").hazoSearch({ url: "{{url}}/projetos/atividades/search-demanda", end: 10 });
        /* {% endif %} */
        /* {% if _isGranted('/projetos/demandas/search-cliente') %} */
        $("input[name='cliente']").hazoSearch({ url: "{{url}}/projetos/demandas/search-cliente", end: 10 });
        /* {% endif %} */
        
        $(".demanda").on('blur', function(){
            if( $(this).val() ){
                $(".cliente").val(null);
                $("input[name='cliente']").val(null);
            }
        });

        $(".cliente").on('blur', function(){
            if( $(this).val() ){
                $(".demanda").val(null);
                $("input[name='demanda']").val(null);
            }
        });
        
    });
</script>

{% endblock %}