{% macro table(row) %}

<table class="hazo-simple-table" id="hazo-simple-table">
    <thead>
        <tr>
            <td class="prioridade">Prioridade</td>
            <td class="titulo">Título</td>
            <td class="duracao">Duração (min)</td>
            <td class="situacao">Etapa Atual</td>
            <td>&nbsp;</td>
        </tr>
    </thead>
    <tbody>
        {% set cont = 0 %}
        {% for Atividade in row['atividades'] %}
        {% set cont = cont+1 %}
        <tr data-atividade-id="{{Atividade.getID()}}">
            <td class="prioridade">{{cont}}</td>
            <td class="titulo">{{Atividade.getTitulo()}}</td>
            <td class="duracao">{{Atividade.getDuracaoEstimada()}}</td>
            <td class="situacao">
                {{Atividade.getEtapaObj().getDescricao()}}
                {% if Atividade.getOperacaoEmExecucao() %}
                &nbsp;
                <span style='color:red;font-weight:bold;white-space:nowrap;'>Em Execução</span>
                {% endif %}
            </td>
            <td data-atividade-id="{{Atividade.getID()}}">
                {% set requeridas = Atividade.getAtividadesRequeridas() %}
                {% set req_html = "" %}
                {% if requeridas %}
                    {% for Requerida in requeridas %}
                        {% if Requerida.getAtividadeRequeridaObj().getEtapaID() != 'U' %}
                            {% set req_html = req_html~"<hr/>"~Requerida.getAtividadeRequeridaObj().getTitulo() %}
                        {% endif %}
                    {% endfor %}
                    <div class="dv-det">
                        <b>Atividades Necessárias </b>
                        {{req_html|raw}}
                    </div>
                {% endif %}

                {% if _isGranted('/projetos/atividades/detalhes') %}
                    <a href="{{url}}/projetos/atividades/detalhes/$/{{Atividade.getDemandaObj().getSlug() ?: 0}}/{{Atividade.getID()}}" class="detalhes">Detalhes</a>
                    &nbsp;&nbsp; | &nbsp;&nbsp;
                {% endif %}

                {% if req_html%}
                <img src="{{url}}/media/images/alert.png" class="img-req"/>
                {% else %}
                    {% if Atividade.getEtapaID() == 'I' %}
                        <a href="{{url}}/projetos/execucao-atividade/iniciar-avulsa">Executar Atividade</a>
                    {% else %}
                        <a href="{{url}}/projetos/execucao-atividade/executar/$/{{Atividade.getDemandaObj().getSlug() ?: 0}}/{{Atividade.getID()}}">Executar Atividade</a>
                    {% endif %}
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endmacro %}