{% extends "main.html" %}


{% block content %}

<style>
    #selected div{
        margin: 3px;
        padding: 4px;
        background-color: #DDD;
        border: 1px solid #444;
    }
</style>

<div class="ui-widget">
    <label for="birds">Birds: </label>
    <input id="birds" />
</div>

<div id="selected"></div>

<script>
    
    function addSelectedBox(id, value){
        input = jQuery("<input/>").attr('type', 'hidden').attr('name', 'produto_id[]').val(id);
        div = jQuery("<div/>").append(input).text(value);
        jQuery("#selected").append( div );
    }
    
    console.log("#def 01");
    jQuery("#birds").autocomplete({
        source: "{{url}}/blog/pessoa/pesquisa-json",
        minLength: 1,
        select: function(event, ui) {
            addSelectedBox(ui.item.id, ui.item.value);
    
    
            console.log(ui.item ? "Selected: " + ui.item.value + " aka " + ui.item.id : "Nothing selected, input was " + this.value);
        },
        error: function(){
            console.log('error');
        }
    });
    console.log("#def 02");
</script>


{% endblock %}