{% extends "intra/index.html" %}

{% block content %}

{% if Demanda.getID() %}
<div>
    <a href="{{url}}/projetos/demandas/visualizacao/$/{{Demanda.getSlug()}}" class="button">Voltar para Visualização</a>
</div>
<hr/>
<div style="clear: both;"></div>
{% endif %}

<style>
    .grp{ margin-bottom: 4px; display: block; }
    .dv-anx{ background-color: #eee; border: 2px solid #ddd; margin-bottom: 4px; line-height: 30px; padding-left: 10px; }
    .dv-anx a img{ height: 20px; line-height: 30px; vertical-align: middle; border: 1px solid #ccc; margin-right: 5px; }
</style>

<form action="" method="post" class="hazo-form" style="max-width: 800px" enctype="multipart/form-data">
    
    {% if Demanda.getID() %}
    <div class="span20">
        <div class="label">Código da Demanda</div>
        <div class="field"><input type="text" readonly="true" value="{{Demanda.getID()}}"/></div>
    </div>
    <div style="clear: both;"></div>
    {% endif %}
    
    <div class="span60">
        <div class="label">Título</div>
        <div class="field"><input type="text" name="titulo" value="{{Demanda.getTitulo()}}"/></div>
    </div>
    <div class="span40">
        <div class="label">Cliente</div>
        <div class="field"><input type="text" name="cliente" value="{{Demanda.getClienteID()}}"/></div>
    </div>
    
    <div class="span100">
        <div class="label">Descrição</div>
        <div class="field">
            <textarea name="descricao" style="height: 90px;">{{Demanda.getDescricao()}}</textarea>
        </div>
    </div>
    
    <div class="span40">
        <div class="label">Tipo da Demanda</div>
        <div class="field"><input type="text" name="tipo" value="{{Demanda.getTipoDemandaID()}}"/></div>
    </div>

    <div class="span60">
        <div class="label">Gerentes Responsáveis pela Demanda</div>
        <div class="field">
            <input type="text" class="grp" value="{{Online.getName()}}" readonly="true"/>
            {% if gerentes %}
                {% for AtividadeGerente in gerentes %}
                    {% if AtividadeGerente.getUserID() != Online.getID() %}
                        <input value="{{AtividadeGerente.getUserID()}}" type="text" name="gerentes[]" class="grp search-gerente"/>
                    {% endif %}
                {% endfor %}
            {% endif %}
            <input type="text" name="gerentes[]" class="grp search-gerente" value=""/>
            <input type="text" name="gerentes[]" class="grp search-gerente" value=""/>
            <input type="text" name="gerentes[]" class="grp search-gerente" value=""/>
            <input type="text" name="gerentes[]" class="grp search-gerente" value=""/>
        </div>
    </div>
    <div style="clear: both;"></div>

    <div class="span100">
        <div class="label">Anexos</div>
        <div class="field" id="dvrwanx">
        </div>
        <div style="clear: both;"></div>
        <button class="btn btn-small btn-navy" onclick="addRowAnexo(); return false;">+</button>
    </div>
    
    <div style="clear: both;"></div>
    <div class="span100">
        <br/>
        <div class="label">
            <input type="submit" class="button" value="Salvar" name="ALTERACAO"/>
            {% if Demanda.getID() %}
            {% set texto = "Tem certeza que deseja excluir a demanda? (Todos os registros serão apagados)" %}
            &nbsp;&nbsp;&nbsp;
            <input type="submit" value="Excluir Demanda" name="EXCLUSAO" onclick="if( !confirm('{{texto}}') ){ return false; }"  class="btn btn-small btn-maroon" value="Excluir Demanda">
            {% endif %}
        </div>
        <br/>
    </div>
    
</form>
<div style="clear: both;"></div>

<script>
    function addRowAnexo( url, id, slug, extension ){
        if( url ){
            div = $("<div/>").addClass("dv-anx");
            if( jQuery.inArray(extension, ['jpg','jpeg','png','gif']) !== -1 ){
                f =  $("<a/>").attr('href', url)
                              .html( $("<img/>").attr('src', url) )
                              .fancybox()
                              .appendTo( div );
            }
            a =  $("<a/>").attr('href', url)
                          .attr('name','anexo_upd['+id+']')
                          .attr('target','_blank')
                          .text(slug ? slug : url)
                          .appendTo( div );
            ex = $("<buton/>").addClass("btn btn-small btn-black")
                          .css("float", "right")
                          .css("height", "20px")
                          .text("Excluir Anexo")
                          .appendTo( div )
                          .click(function(){
                              if( confirm('Deseja realmente excluir este anexo?') ){
                                  $(this).parent().parent().append( $("<input/>").attr("type","hidden").attr("name", "anx_excl[]").val(id) );
                                  $(this).parent().remove();
                              }
                          });
            $(div).appendTo("#dvrwanx")
        }else{
            $("<input/>").attr('type','file')
                         .attr('name','anexo_add[]')
                         .appendTo( $("<div/>").addClass("dv-anx").appendTo("#dvrwanx") );
        }
    }
    
    /* {% if anexos %} */
        /* {% for Anexo in anexos %} */
        addRowAnexo('{{url}}/projetos/anexos/visualizacao/{{Anexo.getSlug()}}?.{{Anexo.getFileExtension()}}', '{{Anexo.getID()}}', '{{Anexo.getTitulo() ?: Anexo.getFileName()}}', '{{Anexo.getFileExtension()}}');
        /* {% endfor %} */
    /* {% endif %} */
    
    addRowAnexo();
    
    $("input[name='cliente']").hazoSearch({
        url: "{{url}}/projetos/demandas/search-cliente",
        end: 10
    });
    $("input[name='tipo']").hazoSearch({
        url: "{{url}}/projetos/demandas/search-tipo-demanda",
        end: 10
    });
    $(".search-gerente").hazoSearch({
        url: "{{url}}/projetos/demandas/search-gerente",
        end: 10
    });
</script>

{% endblock %}