{% extends "intra/index.html" %}

{% block content %}

<style>
    .tbl{
        width: 100%;
    }
    .tbl tr{
        border-bottom: 1px solid #BBB;
    }
    .tbl tr td{
        padding: 3px;
    }
    .tbl tr td input[type='text']{
        width: 100%;
    }
    .tbl thead tr td{
        font-weight: bold;
    }
</style>

<script>//setTimeout("window.location = window.location", 2000)</script>

{% if tipos_demanda %}
<table class="tbl">
    <thead>
        <tr>
            <td style="width: 40px;">#</td>
            <td>Titulo</td>
            <td>Descrição</td>
            <td>&nbsp;</td>
        </tr>
    </thead>
    <tbody>
            {% for Tipo in tipos_demanda %}
            <tr>
                <td>{{Tipo.getID()}}</td>
                <td>{{Tipo.getTitulo()}}</td>
                <td>{{Tipo.getDescricao()}}</td>
                <td>
                    <a href="{{url}}/projetos/demandas/cadastro-tipos-demanda/$/{{Tipo.getID()}}">Editar</a>
                    &nbsp;&nbsp;&nbsp;
                    <a href="{{url}}/projetos/demandas/cadastro-tipos-demanda/$/{{Tipo.getID()}}/E">Excluir</a>
                </td>
            </tr>
            {% endfor %}
    </tbody>
</table>
<br/><br/>
{% endif %}

<b>Adicionar</b>
<hr/>
<form method="post" action="" class="hazo-form">
    <div class="span10">
        <div class="label">Código</div>
        <div class="field"><input type="text" name="id" value="{{TipoDemanda.getID()}}"/></div>
    </div>
    <div class="span30">
        <div class="label">Título</div>
        <div class="field"><input type="text" name="titulo" value="{{TipoDemanda.getTitulo()}}"/></div>
    </div>
    <div class="span60">
        <div class="label">Descrição</div>
        <div class="field">
            <textarea name="descricao" style='height: 80px;'>{{TipoDemanda.getDescricao()}}</textarea>
        </div>
    </div>
    <div class="span30">
        <div class="label"><input type='submit' value="Salvar" class="button"/></div>
    </div>
</form>
<div style="clear: both;"></div>

{% endblock %}