{% extends "intra/index.html" %}

{% block content %}

{% if Demanda.getID() %}
<div>
    <a href="{{url}}/projetos/demandas/visualizacao/$/{{Demanda.getSlug()}}" class="button">Voltar para Visualização</a>
</div>
<hr/>
<div style="clear: both;"></div>
{% endif %}

<form action="" method="post" class="hazo-form" style="max-width: 800px">
    
    {% if Demanda.getID() %}
    <div class="span20">
        <div class="label">Código da Demanda</div>
        <div class="field"><input type="text" readonly="true" value="{{Demanda.getID()}}"/></div>
    </div>
    <div style="clear: both;"></div>
    {% endif %}
    
    <div class="span60">
        <div class="label">Título</div>
        <div class="field"><input type="text" name="titulo" value="{{Demanda.getTitulo()}}"/></div>
    </div>
    <div class="span40">
        <div class="label">Cliente</div>
        <div class="field"><input type="text" name="cliente" value="{{Demanda.getClienteID()}}"/></div>
    </div>
    
    <div class="span100">
        <div class="label">Descrição</div>
        <div class="field">
            <textarea name="descricao" style="height: 90px;">{{Demanda.getDescricao()}}</textarea>
        </div>
    </div>
    
    <div class="span40">
        <div class="label">Tipo da Demanda</div>
        <div class="field"><input type="text" name="tipo" value="{{Demanda.getTipoDemandaID()}}"/></div>
    </div>
    
    {% if demandas_anteriores %}
    <div class="span60">
        <div class="label">Prioridade acima de</div>
        <div class="field">
            <select>
                <option>&nbsp;</option>
                {% for Demanda in demandas_anteriores %}
                <option>&nbsp;</option>
                {% endfor %}
            </select>
        </div>
    </div>
    {% endif %}
    
    <div style="clear: both;"></div>
    <div class="span100">
        <br/>
        <div class="label">
            <input type="submit" class="button" value="Salvar"/>
        </div>
    </div>
    
</form>
<div style="clear: both;"></div>

<script>
    $("input[name='cliente']").hazoSearch({
        url: "{{url}}/projetos/demandas/search-cliente",
        end: 10
    });
    $("input[name='tipo']").hazoSearch({
        url: "{{url}}/projetos/demandas/search-tipo-demanda",
        end: 10
    });
</script>

{% endblock %}