{% macro table(status, demandas) %}

<br/><br/>
{% if status == "A" %}
<h6>Demandas Ativas</h6>
<hr/>
{% elseif status == "C" %}
<h6>Demandas Concluídas</h6>
<hr/>
{% elseif status == "N" %}
<h6>Demandas Canceladas</h6>
<hr/>
{% elseif status == "S" %}
<h6>Demandas Standby</h6>
<hr/>
{% endif %}

<form method="post" action="" class="hazo-form">
    <table class="hazo-simple-table" id="hazo-simple-table" data-demanda-status="{{status}}">
        <thead>
            <tr>
                <td class="prioridade">Prioridade</td>
                <td>Cliente</td>
                <td>Título</td>
                <td>Status</td>
                <td>Data de Cadastro</td>
                <td>&nbsp;</td>
            </tr>
        </thead>
        <tbody>
            {% set cont = 0 %}
            {% for Demanda in demandas %}
            {% set cont = cont + 1 %}
            <tr data-demanda-id="{{Demanda.getID()}}" class="{{Demanda.getStatus() != 'A' ? 'disabled' : ''}}">
                <td class="prioridade">{{cont}}</td>
                <td>{{Demanda.getClienteObj().getPessoaObj().getRazao()}}</td>
                <td>{{Demanda.getTitulo()}}</td>
                <td>{{Demanda.getStatusDescricao()}}</td>
                <td>{{Demanda.getCadastroData()|date('d/m/Y H:i:s')}}</td>
                <td>
                    <a href="{{url}}/projetos/demandas/visualizacao/$/{{Demanda.getSlug()}}">Visualizar</a>
                    {% if gerenteValido(Demanda) %}
                    &nbsp;|&nbsp;
                    <a href="{{url}}/projetos/demandas/cadastro/$/{{Demanda.getSlug()}}">Editar</a>
                    {% endif %}
                    {#
                    &nbsp;|&nbsp;
                    <a href="">Excluir</a>
                    #}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</form>


{% endmacro %}