{% extends "intra/index.html" %}

{% block content %}

<form method="post" action="" class="hazo-form">
    <div class="span100">
        <a href="{{url}}/projetos/demandas">
            <input type="button" class="btn btn-small btn-black" value="Listar Todas Abertas"/>
        </a>
    </div>

    <div class="span30">
        <div class="label">Cliente</div>
        <div class="field"><input type="text" name="cliente" value="{{post['cliente']}}"/></div>
    </div>
    <div style="clear: both;"></div>
    
    <div class="span60">
        <div class="label">Pesquisa</div>
        <div class="field"><input type="text" name="texto" value="{{post['texto']}}" placeholder="Cliente, Titulo, Descrição etc..."/></div>
    </div>
    <div style="clear: both;"></div>
    
    <div class="span10">
        <div class="label">Status</div>
        <div class="field">
            <label>
                <input type="checkbox" name="status_a" value="A" {{post['status_a'] ? "checked='checked'" : ""}}/> Abertas
            </label>
            &nbsp;&nbsp;
            <label>
                <input type="checkbox" name="status_c" value="C" {{post['status_c'] ? "checked='checked'" : ""}}/> Concluídas
            </label>
            &nbsp;&nbsp;
            <label>
                <input type="checkbox" name="status_n" value="N" {{post['status_n'] ? "checked='checked'" : ""}}/> Canceladas
            </label>
            &nbsp;&nbsp;
            <label>
                <input type="checkbox" name="status_s" value="S" {{post['status_s'] ? "checked='checked'" : ""}}/> StandBy
            </label>
        </div>
    </div>
    <div style="clear: both;"></div>

    <div class="span100">
        <input type="submit" class="button" value="Pesquisar"/>
    </div>
    
</form>
<div style="clear: both;"></div>

{% if demandas %}
    
    {% import "demandas/index-macro-row.html" as macro %}

    {% if demandas['A'] %}
        {{ macro.table('A', demandas['A']) }}
        <i>
        {% if _isGranted('/projetos/demandas/alterar-ordenacao') and post is empty %}
            * Arraste as linhas para alterar a prioridade das demandas.
        {% else %}
            * Para alterar a prioridade, todas as demandas abertas devem estar listadas.
        {% endif %}
        </i>
        <br/>
    {% endif %}
    
    {% if demandas['C'] %}
        {{ macro.table('C', demandas['C']) }}
    {% endif %}
    
    {% if demandas['N'] %}
        {{ macro.table('N', demandas['N']) }}
    {% endif %}
    
    {% if demandas['S'] %}
        {{ macro.table('S', demandas['S']) }}
    {% endif %}
    
{% endif %}

<script>
/* {% if _isGranted('/projetos/demandas/alterar-ordenacao') and post is empty %} */
$(".hazo-simple-table tbody").sortable({
    tolerance: 'pointer',
    cursor: 'move',
    delay: 200,
    cancel: ".disabled",
    stop: function(){
        elem = $(this);
        var json = {};
        var demandas = {};
        $(elem).parent().find("tbody").find("tr").each(function(){
            index = $(this).attr("data-demanda-id");
            demandas[index] = $(this).index();
            $(this).find(".prioridade").html( $(this).index()+1 );
        });
        json['demandas'] = demandas;
        json['status'] = $(this).parent().attr("data-demanda-status");
        console.log(json);

        jQuery.ajax({
            url: "{{url}}/projetos/demandas/alterar-ordenacao",
            data: json,
            type: "POST",
            dataType: 'json',
            success: function(data){
                if( !data.status ){
                    $(elem).sortable('cancel');
                }
                if( data.mensagem ){
                    noty({text: data.mensagem, type: 'alert', timeout: 8000});
                }else if( !data.status ){
                    noty({text: "Não foi possível alterar a prioridade da demanda", type: 'error', timeout: 2000});
                }else{
                    noty({text: "Prioridade alterada com sucesso", type: 'success', timeout: 2000});
                }
                if( data.log ){
                    console.log(data.log);
                }
                if( data.eval ){
                    eval(data.eval);
                }
            },
            error: function(){
                $(elem).sortable('cancel');
                noty({text: "Não foi possível aletar a prioridade da demanda", type: 'error', timeout: 8000});
                return false;
            }
        });
 
    }
});
/* {% endif %} */
$("input[name='cliente']").hazoSearch({
    url: "{{url}}/projetos/demandas/search-cliente",
    end: 10
});
$("input[name='tipo']").hazoSearch({
    url: "{{url}}/projetos/demandas/search-tipo-demanda",
    end: 10
});
</script>
{% endblock %}