<style>
    *{
        font-size: 13px;
        {% if pdf is empty %}font-family: sans-serif;{% endif %}
        vertical-align: top;
        vertical-align: text-top;
    }
</style>
{% block content %}

<div style="border: 3px dotted black; width: 750px !important; max-width: 750px !important; margin: 2px auto; display: table;">
    <h3 style="text-align: center; font-size: 16px;">{{Demanda.getTitulo()}}</h3>
    <table style="width: 650px;">
    {% for Atividade in atividades %}
        <tr>
            <td style="padding: 10px">
                <table style="border-top: 3px dotted black; width: 650px;">
                    <tr>
                        <td style="padding: 10px; font-size: 14px; width: 85px; vertical-align: top;"><b>Atividade: </b></td>
                        <td style="padding: 10px; font-size: 14px;" colspan="50"><i><b>{{Atividade.getTitulo()}}</b></i></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td style="text-align: left; width: 150px;">Duração Estimada:</td>
                        <td style=""><b>{{Atividade.getDuracaoEstimadaHoras()}}:00</b></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td style="text-align: left;">Duração Executada:</td>
                        <td style="color: {{Atividade.getPercTempoOperacao() <= 100 ? "green" : "red"}}"><b>{{Atividade.getTempoOperacao()}}</b></td>
                    </tr>
                    <tr>
                        <td style="margin-bottom: 20px;">&nbsp;</td>
                        <td></td>
                        <td></td>
                    </tr>

                    {% for Operacao in Atividade.listaOperacoes() %}
                    <tr>
                        <td></td>
                        <td style="padding: 10px 0px; border-top: 3px dotted black;" colspan="2">
                            <table style="background-color: #efefef; width: 650px;">
                                <tr>
                                    <td style="padding: 7px 5px;" colspan="2">
                                        <b>{{Operacao.getDataInicio()|date('d/m/Y H:i:s')}}</b> - <b>{{Operacao.getDataFinal()|date('d/m/Y H:i:s')}}</b>
                                        - ({{Operacao.getTempoOperacao()}})
                                    </td>
                                </tr>
                                <tr>
                                    <td style="padding: 3px 3px; padding: 7px 5px;"><b>Descrição</b></td>
                                    <td style="padding: 3px; overflow: hidden; word-break: break-all; padding: 7px 5px;">
                                        {% if Operacao.getDescricao() %}
                                            {% for Row in Operacao.getDescricao()|split("\n") %}
                                                {{Row}}<br/>
                                            {% endfor %}
                                        {% else %}
                                            <i>Sem descrição</i>
                                        {% endif %}
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    {% endfor %}
                    <tr>
                        <td style="margin-bottom: 20px;">&nbsp;</td>
                        <td></td>
                        <td></td>
                    </tr>
                    
                </table>
            </td>
        </tr>

    {% endfor %}
    </table>
</div>

{% endblock %}