<style>
    .container{
        width: 745px;
        margin: 2px auto;
        display: table;
        padding: 0 0 10px 0;
    }
    .container *{
        font-size: 12px;
    }
    .titulo-demanda{
        text-align: center;
        font-size: 16px;
        font-weight: bold;
        height: 10px;
        color: #444;
    }
    .data-relatorio{
        color: #999;
        text-align: center;
        font-size: 10px;
        height: 10px;
        line-height: 10px;
        margin-top: -10px;
    }
    div.atividade{
        border-top: 2px dotted #666;
        width: 730px;
        margin: 0 0 0 10px;
        padding: 5px 0 5px 0;
    }
    div.atividade div.detalhe-tit{
        padding-left: 10px;
        width: 80px;
        display: inline;
        font-size: 16px;
        padding-top: 8px;
    }
    div.atividade div.detalhe-desc{
        font-size: 14px;
        width: 635px;
        display: inline;
        padding-top: 8px;
    }
    div.atividade div.detalhe-desc div.duracao-tit{
        width: 150px;
        display: inline;
        font-size: 16px;
        padding-top: 8px;
    }
    div.atividade div.detalhe-desc div.duracao-desc{
        width: 480px;
        display: inline;
        font-size: 16px;
        padding-top: 8px;
    }
    div.atividade div.detalhe-desc div.row-operacao{
        width: 630px;
        display: inline;
        border-top: 2px dotted #666;
        font-size: 14px;
        padding: 10px 0;
    }
    div.atividade div.detalhe-desc div.row-operacao .row-descr{
        padding-top: 2px;
        color: #444;
        font-style: italic;
    }
    div.footer-right{
        text-align: right;
        color: #444;
        width: 350px;
        float: right;
        display: inline;
        font-size: 10px;
    }
    div.footer-left{
        float: left;
        display: inline;
        width: 395px;
        text-align: left;
        font-size: 10px;
        color: #444;
    }
</style>

<page backtop="30px" pageset="new">
    <page_header> 
        <div class="titulo-demanda">
            {{Demanda.getTitulo()}} - {{Demanda.getClienteObj().getPessoaObj().getRazao()}}
        </div>
        <br/>
    </page_header> 
    <page_footer>
        <div class="footer-left">Hazo System</div>
        <div class="footer-right">Página [[page_cu]] de [[page_nb]]</div>
    </page_footer>

    <div class="container">
        <div class="data-relatorio">
            (Relatório extraído em: {{data_atual}})
        </div>
        <br/>

            {% for Atividade in atividades %}
            <div class="atividade">

                <div class="detalhe-tit">
                    <b>Atividade: </b>
                </div>
                <div class="detalhe-desc">
                    <i><b>{{Atividade.getTitulo()}}</b></i>
                </div>
                <br/>

                <div class="detalhe-tit"></div>
                <div class="detalhe-desc">
                    <div class="duracao-tit">
                        <b>Duração Estimada: </b>
                    </div>
                    <div class="duracao-desc">
                        <b>{{Atividade.getDuracaoEstimadaHoras()}}:00</b>
                    </div>
                    <br/>
                    <div class="duracao-tit">
                        <b>Duração Executada: </b>
                    </div>
                    <div class="duracao-desc" style="color: {{Atividade.getPercTempoOperacao() <= 100 ? "green" : "red"}}">
                        <b>{{Atividade.getTempoOperacao()}}</b>
                    </div>
                </div>

                <br/>

                <div class="detalhe-tit"></div>
                <div class="detalhe-desc">
                    {% for Operacao in Atividade.listaOperacoes() %}
                    <div class="row-operacao" colspan="2">
                        <div class="row" colspan="2">
                            <b>{{Operacao.getDataInicio()|date('d/m/Y H:i:s')}}</b>
                            - <b>{{Operacao.getDataFinal()|date('d/m/Y H:i:s')}}</b>
                            - ({{Operacao.getTempoOperacao()}})
                        </div>
                        <div class="row row-descr" colspan="2">
                            {% if Operacao.getDescricao() %}
                                {% for Row in Operacao.getDescricao()|split("\n") %}
                                    {{Row}}<br/>
                                {% endfor %}
                            {% else %}
                                <i>Sem descrição</i>
                            {% endif %}
                        </div>
                    </div>
                    {% endfor %}
                </div>


            </div>
            {% endfor %}
    </div>

</page>