{% extends "intra/ajax.html" %}

{% block content %}

<div class="hazo-form" style="max-width: 800px">
    
    <div class="span20">
        <div class="label">Código da Demanda</div>
        <div class="field"><input type="text" readonly="true" value="{{Demanda.getID()}}"/></div>
    </div>
    
    <div class="span40">
        <div class="label">Tipo da Demanda</div>
        <div class="field"><input type="text" readonly="true" value="{{Demanda.getTipoDemandaObj().getTitulo()}}"/></div>
    </div>
    <div style="clear: both;"></div>
    
    <div class="span60">
        <div class="label">Título</div>
        <div class="field"><input type="text" readonly="true" value="{{Demanda.getTitulo()}}"/></div>
    </div>
    <div class="span40">
        <div class="label">Cliente</div>
        <div class="field"><input type="text" readonly="true" value="{{Demanda.getClienteObj().getPessoaObj().getRazao()}}"/></div>
    </div>
    
</div>
<div style="clear: both;"></div>

{% endblock %}