{% extends "intra/index.html" %}

{% block content %}

<a href="{{url}}/projetos/demandas/cadastro">
    <button class="btn btn-small btn-bgreen">Cadastrar Nova Demanda</button>
</a>
&nbsp;&nbsp;
<a href="{{url}}/projetos/demandas">
    <button class="btn btn-small btn-black">Procurar outra Demanda</button>
</a>
&nbsp;&nbsp;
<a href="{{url}}/projetos/demandas/cadastro/$/{{Demanda.getSlug()}}">
    <button class="btn btn-small btn-maroon">Alterar esta Demanda</button>
</a>
&nbsp;&nbsp;
<a href="{{url}}/projetos/demandas/relatorio/$/{{Demanda.getSlug()}}" target="_blank">
    <button class="btn btn-small btn-orange">Relatório</button>
</a>

<hr/>

<style>
    #progressbar{
        width: 790px;
        height: 18px;
        margin-bottom: 10px;
        text-align: center;
        color: #FFF;
        background-color: #CCC;
        -moz-border-radius: 4px; /* Para Firefox */
        -webkit-border-radius: 4px; /*Para Safari e Chrome */
        border-radius: 4px; /* Para Opera 10.5+*/
    }
    #progressbar, #progressbar div{
        -moz-border-radius: 4px; /* Para Firefox */
        -webkit-border-radius: 4px; /*Para Safari e Chrome */
        border-radius: 4px; /* Para Opera 10.5+*/
    }
    #progressbar .label{
        height: 18px;
        position: absolute;
        width: 790px;
        background-color: transparent;
        vertical-align: middle;
        line-height: 18px;
    }
    #progressbar .perc{
        height: 18px;
        /* {% if Demanda.getPercAtividadesConcluidas() <= 100 %} */
        background-color: #003605;
        /* {% else %} */
        background-color: #6f0102;
        /* {% endif %} */
        width: {{Demanda.getPercAtividadesConcluidas() * 8}}px;
        position: absolute;
    }
</style>

<div style="clear: both;"></div>
<div id="progressbar"><div class="perc"></div><div class='label'>{{Demanda.getPercAtividadesConcluidas()}} %</div></div>
<div style="clear: both;"></div>

<form action="" method="post" class="hazo-form" style="max-width: 800px">
    
    <div class="span60">
        <div class="label">Título</div>
        <div class="field"><input type="text" readonly="true" value="{{Demanda.getTitulo()}}"/></div>
    </div>
    <div class="span40">
        <div class="label">Cliente</div>
        <div class="field"><input type="text" readonly="true" value="{{Demanda.getClienteObj().getPessoaObj().getRazao()}}"/></div>
    </div>
    
    <div class="span100">
        <div class="label">Descrição</div>
        <div class="field">
            <textarea readonly="true" style="height: 90px;">{{Demanda.getDescricao()}}</textarea>
        </div>
    </div>
    
    <div class="span60">
        <div class="label">Tipo da Demanda</div>
        <div class="field"><input type="text" readonly="true" value="{{Demanda.getTipoDemandaObj().getTitulo()}}"/></div>
    </div>
    
    <div class="span40">
        <div class="label">Status da Demanda</div>
        <div class="field"><input type="text" readonly="true" value="{{Demanda.getStatusDescricao()}}"/></div>
    </div>
    
    <div style="clear: both;"></div>
    
    {% if _isGranted('/projetos/anexos/lista') %}
    <hr/>
    <div class="span100">
        <div class="label">Anexos</div>
        <div class="field" id="shwdvanx"><h3>Carregando Anexos. Aguarde...</h3></div>
    </div>
    {% endif %}
    
</form>

<div style="clear: both;"></div>
<hr/>
<br/>

<div id="lst-atv">
    <div id="dv-carregando-atv"><h3>Carregando Atividades. Aguarde . . .</h3></div>
</div>

<script>
    
    function loadAtividades()
    {
        $("#lst-atv").load("{{url}}/projetos/atividades/$/{{Demanda.getSlug()}}", function(){
            setTimeout(function(){
                loadAtividades();
            }, 4000);
        });
    }
    
    $().ready(function(){
        /* {% if _isGranted('/projetos/anexos/lista') %} */
        $("#shwdvanx").load("{{url}}/projetos/anexos/lista/demanda/{{Demanda.getSlug()}}");
        /* {% endif %} */
        loadAtividades();
    });
</script>

{% endblock %}