{% extends "hazo/intra/index.twig" %}

{% block content %}

{% set Aluno  = Diploma.getAlunoObj() %}
{% set Pessoa = Aluno.getPessoaObj() %}
{% set Curso  = Diploma.getCursoObj() %}

<div id="loader"></div>

<style>
    .btn-mais{
        color: #005580;
        font-weight: bolder;
        cursor: pointer;
        padding: 10px 0;
        display: block;
    }
    .anexos input{
        display: block;
        margin: 5px 0;
    }
</style>

<b>Criar demanda</b><hr/>

{% set action = Diploma.getID() ? url_module~"/alterar/"~Diploma.getID() : url_module~"/criar" %}

<form method="post" action="{{action}}" id="form">
    
<div class="row well form-inline">
    
    <div class="form-group col-xs-12 col-sm-8">
        <label>Cliente</label>
        <select class="form-control" name="cliente">
            {% for Cliente in clientes %}
            <option value="{{Cliente.getPessoaObj().getSlug()}}">{{Cliente.getPessoaObj().getRazao()}}</option>
            {% endfor %}
        </select>
    </div>
    
    <div class="form-group col-xs-12 col-sm-4">
        <label>Tipo da demanda</label>
        <select class="form-control" name="tipo_demanda">
            {% for Tipo in tipos %}
            <option value="{{Tipo.getID()}}">{{Tipo.getTitulo()}}</option>
            {% endfor %}
        </select>
    </div>
    
    <div class="form-group col-xs-12 col-sm-12">
        <label>Título</label>
        <input type="text" class="form-control" name="titulo"/>
    </div>
    
    <div class="form-group col-xs-12 col-sm-12">
        <label>Descrição</label>
        <textarea class="form-control" name="descricao" style="resize: none;" rows="6"></textarea>
    </div>
    
    <div class="form-group col-xs-12 col-sm-12">
        <label>Anexos</label>
        <div class="anexos"></div>
        <p><span class="btn-mais" onclick="addAnexo()">+ Adicionar anexo</span></p>
    </div>
    
    
</div>

<input type="submit" value="Salvar Alterações" class="btn btn-primary loader-hide"/>


</form>

<div id="porcentagem"></div>

<script type="text/javascript" >
    function addAnexo(){
        jQuery('.anexos').append('<input type="file" name="arquivo[]"/>');
    }
    
    $(document).ready(function(){
        $('#form').ajaxForm({
            dataType: 'json',
            uploadProgress: function(event, position, total, percentComplete) {
                //$('progress').attr('value',percentComplete);
                //$('#porcentagem').html(percentComplete+'%');
            },
            success: function(data) {
                if( data.status ){
                    window.location = data.redirect;
                }else{
                    message(data.msg, 'error');
                }
            }	
        });
        addAnexo();
    });
</script>

{% endblock %}