{% extends "intra/ajax.html" %}

{% block content %}

<style>
    .dv-anx{ background-color: #ddd; border: 1px solid #999; margin-bottom: 4px; line-height: 30px; padding-left: 10px; }
    .dv-anx{
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
    }
    .dv-anx a img{ height: 20px; line-height: 30px; vertical-align: middle; border: 1px solid #ccc; margin-right: 5px; }
</style>

<div id="dvrwanx">
    {% if anexos %}
        {% for Anexo in anexos %}
        <div class="dv-anx">
            {% set x = Anexo.getFileExtension() %}
            {% if x == 'jpg' or x == 'jpeg' or x == 'png' or x == 'gif' %}
            <a href="{{url}}/projetos/anexos/visualizacao/{{Anexo.getSlug()}}?.{{Anexo.getFileExtension()}}" class="fancybox">
                <img src="{{url}}/projetos/anexos/visualizacao/{{Anexo.getSlug()}}?.{{Anexo.getFileExtension()}}"/>
            </a>
            {% endif %}
            <a href="{{url}}/projetos/anexos/visualizacao/{{Anexo.getSlug()}}?.{{Anexo.getFileExtension()}}">
                {{Anexo.getTitulo() ?: Anexo.getFileName()}}
            </a>
        </div>
        {% endfor %}
    {% else %}
    <center style="font-weight: normal;">Nenhum anexo cadastrado</center>
    {% endif %}
</div>

<script>
    $().ready(function(){
        $(".fancybox").fancybox();
    });
</script>

{% endblock %}