<!doctype html>
<html class="no-js">
<head>
{% set url_d = url~"/modules/"~globals['request']['mode']|lower~"/View/"~globals['request']['module'] %}
    <link rel="stylesheet" media="all" href="{{url}}/media/templates/mds/css/style.css"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <link rel="stylesheet" media="all" href="{{url}}/media/libs/jquery/jquery-ui-1.8.13.custom.css"/>
    <script src="{{url}}/media/libs/jquery/jquery-2.0.0.min.js"></script>
    <script src="{{url}}/media/libs/jquery/jquery-ui-1.10.3.custom.min.js"></script>
    <script src="{{url}}/media/libs/jquery/jquery.form.js"></script>
    <script src="{{url}}/media/libs/jquery/jquery.maskedinput.min.js"></script>
    
    <script>
        var hazoParam = {
            url: "{{url}}"
        }
    </script>

    <link rel="stylesheet" media="all" href="{{url_d}}/{{globals['request']['submodule']}}.css"/>
    <script src="{{url_d}}/{{globals['request']['submodule']}}.js"></script>
</head>

<body lang="pt-br">
    
    <div class="tools">
        <img src="http://www.google.com/landing/2step/images/why-need-img-2.png" class="profile"/>
        <ul class="detail">
            <li class="name">Nome do Personagem</li>
            <li class="prof">Classe Personagem</li>
            <li class="text">Druida, Bêbado, Forte, Lento, Invisibilidade, Assassino, Fidelidade.</li>
        </ul>
    </div>

    <div class="ex">
        <h2>Suas Sessões</h2>
        <ul>
            {% for Sessao in sessoes %}
            <li class="sess-op">
                {{Sessao.getTitulo()}} ({{Sessao.getData()|date('d/m/Y H:i')}})
                <div class="ops">
                    <button><a href="{{url_mode}}/sessao/cadastro/{{Sessao.getID()}}">Editar</a></button>
                    &nbsp;&nbsp;
                    <button><a href="{{url_mode}}/sessao/sala/{{Sessao.getID()}}">Entrar na Sessão</a></button>
                </div>
            </li>
            {% endfor %}
        </ul>
    </div>

    <div class='new'>
        <h2>Criar sessão</h2>

        <form method='post' action='{{url}}/rpg/sessao/criar' class='criar'>
            <table class='tbl-frm'>
                <tr>
                    <td class='label'>Data da Sessão</td>
                    <td class='input'><input type='text' name='data' value='' class='data'/></td>
                </tr>
                <tr>
                    <td class='label'>Hora da Sessão</td>
                    <td class='input'><input type='text' name='hora' value='' class='hora'/></td>
                </tr>
                <tr>
                    <td class='label'>Titulo</td>
                    <td class='input'><input type='text' name='titulo' value=''/></td>
                </tr>
                <tr>
                    <td class='label'>Resumo</td>
                    <td class='input'><textarea name='resumo'></textarea></td>
                </tr>
                <tr>
                    <td class='input' colspan="2">
                        <div class='error'></div>
                        <input type='submit' value='Criar' class='submit'/>
                    </td>
                </tr>
            </table>
        </form>
        
    </div>
    
</body>

</html>