{% extends "core/pages/template/main.html" %}

{% block content %}

<style>
    .branch{ width: 240px; height: 400px; }
    .renameBrach{ display: none; }
    select.branch{ font-size: 10px; }
    .dvUpDown{ width: 20px; float: left; }
    .dvUpDown .up{ margin-top: 130px; }
    .dvUpDown .down{ margin-top: 20px; }
    .clickUp, .clickDown{ cursor: pointer; }
    .addEmpty, label.renameBrach, .addToBranch{ width: 300px; }
    .addEmpty input[type='text'],
    .renameBrach input[type='text'],
    .addToBranch input[type='text']{ width: 300px; }
    .tblls td:first-child{ text-align: right; }
    .tblls td{ padding: 1px 8px; }
    .form legend{ font-size: 13px !important; color: #AAA !important; }
</style>

<table class='tblls'>
    {% if Group %}
    <tr>
        <td><b>Group Name</b></td>
        <td>{{Group.getName()}}</td>
    </tr>
    {% endif %}
    {% if ModeDescription %}
    <tr>
        <td><b>Mode</b></td>
        <td>{{ModeDescription}}</td>
    </tr>
    {% endif %}
    {% if Module %}
    <tr>
        <td><b>Module</b></td>
        <td>{{Module.getDescription()}}</td>
    </tr>
    {% endif %}
    {% if Submodule %}
    <tr>
        <td><b>Submodule</b></td>
        <td>{{Submodule.getDescription()}}</td>
    </tr>
    {% endif %}
</table>


<form action="" method="post" class="form">
    <input type="hidden" name="group_id"   value="{{Group.getID()}}"/>
    <input type="hidden" name="mode"       value="{{Mode}}"/>
    <input type="hidden" name="module"     value="{{Module.getModule()}}"/>
    <input type="hidden" name="submodule"  value="{{Submodule.getSubmodule()}}"/>
    
    <div class="dvUpDown">
        &nbsp;
        <div class="up renameBrach">
            <img class="clickUp" title="Move selected branch to UP" src="{{url}}/core/pages/template/arrow_up.png"/>
        </div>
        <div class="down renameBrach">
            <img class="clickDown" title="Move selected branch to DOWN" src="{{url}}/core/pages/template/arrow_down.png"/>
        </div>
        <input type="hidden" name="moveBranch" id="hidMoveBranch"/>
        <script>
            $(".clickUp").click(function(){
                $("#hidMoveBranch").val("UP");
                $(".form").submit();
            });
            $(".clickDown").click(function(){
                $("#hidMoveBranch").val("DOWN");
                $(".form").submit();
            });
        </script>
    </div>
    <div style="float: left; width: 250px; " class="branch">
        <legend>Branch</legend>
        <select class="branch" name="branch" id="branch" size="20">
            {% set nbsp = "&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;" %}
            <option value="" id="optionDefault">.........NEW MENU.........</option>
            
            {% if menuList %}
                {% for Menu in menuList %}
                {% set checked = post['branch'] == Menu.getID() ? "selected='selected'" : "" %}
                <option value="{{Menu.getID()}}" {{checked}}>
                    {% if Menu.getLevel() != '1' %}
                        {% for i in range(0,Menu.getLevel()-2) %}
                            {{nbsp|raw}}
                        {% endfor %}
                    {% endif %}
                    {{Menu.getDescription()}}
                </option>
                {% endfor %}
            {% endif %}
        </select>
        <script>
            $('#branch').change(function(){
                value = $(this).val();
                $(".selectedbranch").html( $.trim($("#branch option[value='"+value+"']").text()));
                $(".selectedbranchinput").val(value == '' ? '' : $.trim($("#branch option[value='"+value+"']").text()));
                if( value == '' ){
                    $(".renameBrach").hide();
                }else{
                    $(".renameBrach").show();
                }
            });
            $().ready(function(){
                $('#branch').change();
            });
        </script>
    </div>
    <fieldset>
        <legend>Add empty content in branch "<span class="selectedbranch"></span>"</legend>
        <label class="addEmpty">
            <input type="text" name="add_empty"/>
            <input name="addEmpty" type="submit" class="button" value="Add"/>
        </label>
    </fieldset>
    <fieldset class="renameBrach" style="display: none;">
        <legend>Rename branch "<span class="selectedbranch"></span>"</legend>
        <label class="renameBrach">
            <input type="text" name="rename_branch" class="selectedbranchinput"/>
            <input name="resumoEmpty" type="submit" class="button" value="Rename"/>
            <br/>
        </label>
    </fieldset>
    <fieldset>
        <legend>Add{{' '~Module.getDescription()~' > '~Submodule.getDescription()}} to "<span class="selectedbranch"></span>"</legend>
        <label class="addToBranch">
            <input type="text" name="description"/>
            <input name="addToBranch" type="submit" class="button" value="Add"/>
            <br/>
        </label>
    </fieldset>
    <fieldset class="renameBrach" style="display: none;">
        <legend>Delete branch "<span class="selectedbranch"></span>"</legend>
        <label>
            <input name="deleteBranch" type="submit" class="button" value="Delete selected branch"/>
            <br/>
        </label>
    </fieldset>
</form>

{% endblock %}