{% extends "intra/index.html" %}

{% block content %}

<style>
    input[name='email[]'],
    input[name='telefone[]']{
        margin-bottom: 3px;
    }
</style>

{% if usuario_id %}
<a href="{{url}}/cadastros/usuario/visualizacao/{{usuario_id}}">
    <input type="button" class="btn btn-navy btn-small" value="Voltar para Visualização"/>
</a>
{% else %}
<a href="{{url}}/cadastros/usuario">
    <input type="button" class="btn btn-navy btn-small" value="Voltar para Usuários"/>
</a>
{% endif %}
<hr/>
<br/>

{% import 'container/private/macros/formulario.twig' as form %}
<form method="post" action="">
    
    <div class="hazo-form">
        <div class="span50">
            <div class="label">Grupo do Usuário</div>
            <div class="field"><input type="text" name="grupo" value="{{Usuario.getGroupID()}}" autocomplete="off"/></div>
        </div>
    </div>
    <div style='clear: both;'></div>
    <br/><br/>
    
    <div class="hazo-form">
        <div class="span50">
            <div class="label">Nome do Usuário</div>
            <div class="field"><input type="text" name="nome" value="{{Usuario.getName()}}" autocomplete="off"/></div>
        </div>
    </div>
    <div style='clear: both;'></div>
    <br/><br/><br/>
    
    <div class="hazo-form">
        <div class="span30">
            <div class="label">Login do Usuário</div>
            <div class="field"><input type="text" name="login" value="{{Usuario.getLogin()}}" autocomplete="off"/></div>
        </div>
    </div>
    <div style='clear: both;'></div>
    <div class="hazo-form">
        {% set place = usuario_id ? "Se a senha não for informada ela não será alterada" : "" %}
        <div class="span40">
            <div class="label">Senha do Usuário</div>
            <div class="field"><input type="password" name="senha" value="" placeholder="{{place}}" autocomplete="off"/></div>
        </div>
        <div class="span40">
            <div class="label">Repita a Senha</div>
            <div class="field"><input type="password" name="r_senha" value="" placeholder="{{place}}" autocomplete="off"/></div>
        </div>
        <div class="span80">
            <div class="label">E-mail do Usuário</div>
            <div class="field"><input type="text" name="email" value="{{Usuario.getEmail()}}" autocomplete="off"/></div>
        </div>
    </div>
    <div style='clear: both;'></div>
    <div class="hazo-form">
        <div class="span60">
            <div class="label">Status do Usuário</div>
            <div class="field">
                {{ form.radio({ A: "Ativo", I: "Inativo" }, 'status', post['status'] ?: Usuario.getStatus() ?: 'A') }}
            </div>
        </div>
    </div>
    <div style='clear: both;'></div>
    
    <div class="span100">
        <br/><br/>
        <input type="submit" class="btn btn-bgreen btn-small" value="Salvar Alterações"/>
        
    </div>
    
</form>
<div style='clear: both;'></div>

<script>
    $("input[name='grupo']").hazoSearch({
        url: "{{url}}/cadastros/usuario/search-grupo"
    });
</script>

{% endblock %}