{% extends "intra/index.html" %}

{% block content %}


<a href="{{url}}/cadastros/usuario/cadastro">
    <input type="button" class="btn btn-small btn-bgreen" value="Cadastrar novo Usuário"/>
</a>
<hr/><br/><br/>

<form method="get" action="">
    <div class="hazo-form">
        <div class="span80">
            <div class="label">Nome, Login ou E-mail do Usuário</div>
            <div class="field"><input type="text" name="texto" value="{{get['texto']}}"/></div>
        </div>
    </div>

    <div class="hazo-form">
        <div class="span100">
            <input type="submit" class="btn btn-bgreen btn-small" value="Pesquisar Usuário"/>
        </div>
    </div>
    
    <input type="hidden" name="pg" value="1"/>
</form>
<div style="clear: both;"></div>

{% if get %}
    {% if usuarios %}
    <br/><br/>

    <table class="hazo-simple-table">
        <thead>
            <tr>
                <td>Nome</td>
                <td>Login</td>
                <td>E-mail</td>
                <td>Status</td>
            </tr>
        </thead>
        <tbody>
            {% for Usuario in usuarios %}
            <tr class="tr-usu" data-usu-id="{{Usuario.getID()}}">
                <td>{{Usuario.getName()}}</td>
                <td>{{Usuario.getLogin()}}</td>
                <td>{{Usuario.getEmail()}}</td>
                <td>
                    {% if Usuario.getStatus() == 'A' %}
                    <span style='color: green;'>Ativo</span>
                    {% else %}
                    <span style='color: red;'>Inativo</span>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <script>
        $().ready(function(){
            $(".tr-usu").find("td").each(function(){
                $(this).css('cursor', 'pointer');
                $(this).on('click', function(){
                    window.location = "{{url}}/cadastros/usuario/visualizacao/"+$(this).parent().attr("data-usu-id");
                });
            });
        });
    </script>

    {% else %}

    <center>Nenhum Usuário Cadastrado</center>

    {% endif %}
{% endif %}

<br/><br/><br/>

{% endblock %}