{% extends "intra/index.html" %}

{% block content %}

<a href="{{url}}/cadastros/usuario">
    <input type="button" class="btn btn-navy btn-small" value="Voltar para Usuários"/>
</a>
&nbsp;&nbsp;&nbsp;&nbsp;
<a href="{{url}}/cadastros/usuario/cadastro/{{Usuario.getID()}}">
    <input type="button" class="btn btn-maroon btn-small" value="Editar este Usuário"/>
</a>
<hr/>
<br/>

{% import 'container/private/macros/formulario.twig' as form %}

<div class="hazo-form">
    <div class="span50">
        <div class="label">Grupo do Usuário</div>
        <div class="field"><input type="text" readonly="true" value="{{Usuario.getGroupObj().getName()}}" autocomplete="off"/></div>
    </div>
</div>
<div style='clear: both;'></div>
<br/><br/>

<div class="hazo-form">
    <div class="span50">
        <div class="label">Nome do Usuário</div>
        <div class="field"><input type="text" readonly="true" value="{{Usuario.getName()}}" autocomplete="off"/></div>
    </div>
</div>
<div style='clear: both;'></div>
<br/>

<div class="hazo-form">
    <div class="span30">
        <div class="label">Login do Usuário</div>
        <div class="field"><input type="text" readonly="true" value="{{Usuario.getLogin()}}" autocomplete="off"/></div>
    </div>
</div>
<div style='clear: both;'></div>
<div class="hazo-form">
    <div class="span80">
        <div class="label">E-mail do Usuário</div>
        <div class="field"><input type="text" readonly="true" value="{{Usuario.getEmail()}}" autocomplete="off"/></div>
    </div>
</div>
<div style='clear: both;'></div>
<div class="hazo-form">
    <div class="span20">
        <div class="label">Status do Usuário</div>
        <div class="field">
            <div class="field"><input type="text" readonly="true" value="{{Usuario.getStatus() == 'A' ? 'Ativo' : 'Inativo'}}" autocomplete="off"/></div>
        </div>
    </div>
</div>
<div style='clear: both;'></div>

{% endblock %}