{% extends "intra/index.html" %}

{% block content %}

{% if _isGranted('/u/workgen/criar-solicitacao') %}
<a href="{{url}}/u/workgen/criar-demanda" class="button">Criar Solicitação</a>
{% endif %}

<center>Bem vindo</center>

{#{ debug(get_defined_vars(),1) }#}
{% endblock %}
