<div class="grid_12 header-repeat">
    <div id="branding">
        <div class="floatleft">
            <img src="{{base}}img/logo.png" alt="Logo" /></div>
        <div class="floatright">
            <div class="floatleft">
                <img src="{{base}}img/img-profile.jpg" alt="Profile Pic" />
            </div>
            <div class="floatleft marginleft10">
                <ul class="inline-ul floatleft">
                    <li>Olá <b>{{Online.getName()}}</b></li>
                    {#
                    <li><a href="#">Configurações</a></li>
                    #}
                    <li><a href="{{url}}/logout">Sair</a></li>
                </ul>
                <br />
                <span class="small grey">
                    Você está logado como <b>{{Online.getGroupObj().getName()}}</b>
                </span>
                {#
                <br />
                <span class="small grey">Last Login: 3 hours ago</span>
                #}
            </div>
        </div>
        <div class="clear">
        </div>
    </div>
</div>