<div class="grid_12 header-repeat">
    <div id="branding">
        <div class="floatleft">
            <img src="{{url}}/media/images/hazo_logo.png" alt="Logo" style="height: 27px; padding: 0; margin: 0 20px 0 0;"/>
        </div>
        <div class="floatleft data-nav">
            <div id='dvsuplk' style="white-space: nowrap;">

                <a href='{{url}}/{{Online.getGroupObj().getMode()|lower}}'>Início</a>
                &nbsp;|&nbsp;
                <a href="{{url}}/{{globals['request']['mode']|lower}}"><b>{{globals['page']['Mode']}}</b></a>
                {% if globals['page']['Module'].getDescription() %}
                >
                <a href="{{url}}/{{globals['request']['mode']|lower}}/{{globals['page']['Module'].getModule()}}"><b>{{globals['page']['Module'].getDescription()}}</b></a>
                {% endif %}
                {% if globals['page']['Submodule'].getDescription() %}
                >
                <b>{{globals['page']['Submodule'].getDescription()}}</b>
                {% endif %}

                {% if globals['page']['Submodule'].getHelpers() %}
                &nbsp;|&nbsp;
                <div id="" class="toggleHelp" style='cursor: pointer;'>
                    Ajuda <img src='{{url}}/media/images/icons/help.png'/>
                </div>
                {% endif %}

                {#% if _isGranted("/u/auth/debug_page") %}
                &nbsp;|&nbsp;
                <div id="" class="toggleDebug" style='cursor: pointer;'>
                    Debug
                </div>
                {% endif %#}

            </div>

        </div>
        <div class="floatright">
            <div class="floatleft">
                {% if Online.getImageFilename() %}
                <img src="{{url}}/{{Online.getImageFilename()}}" style="max-height: 29px;" alt="Profile Pic" />
                {% else %}
                <img src="{{base}}img/img-profile.jpg" alt="Profile Pic" />
                {% endif %}
            </div>
            <div class="floatleft marginleft10">
                <ul class="inline-ul floatleft">
                    <li>Olá <b>{{Online.getName()}}</b></li>
                    <li id="login">
                        <a id="login-trigger" href="#" class="toggleConfig">Configurações</a>
                    </li>
                    <li><a href="{{url}}/logout">Sair</a></li>
                </ul>
                <br />
                <span class="small grey">
                    Você está logado como <b>{{Online.getGroupObj().getName()}}</b>
                </span>
            </div>
        </div>
        <div class="clear">
        </div>
    </div>
</div>
<div class="clear"></div>

<div class="grid_12 header-repeat" id="dv-content-toggle">
    <div class="help-dv intra">
        {% if globals['page']['Module'].getHelpers() %}
            {% for helper in globals['page']['Module'].getHelpers() %}
            <div class="txt" style="text-align: justify;">
                <h2>{{helper['title']}}</h2>
                {#{helper['description']}#}
                <p>{{ helper['description']|replace({'\n':'</p><p>'})|raw }}</p>

            </div>
            {% endfor %}
        {% endif %}
        {% if globals['page']['Submodule'].getHelpers() %}
            {% for helper in globals['page']['Submodule'].getHelpers() %}
            <div class="txt" style="text-align: justify;">
                <h2>{{helper['title']}}</h2>
                {#{helper['description']}#}
                <p>{{ helper['description']|replace({'\n':'</p><p>'})|raw }}</p>

            </div>
            {% endfor %}
        {% endif %}
    </div>
    
    <div class="configs-dv intra">
        {% if Online.getDateLastAccess() %}
        Último login em <b>{{Online.getDateLastAccess()|date('d/m/Y H:i')}}</b>
        <br/><br/><br/><br/>
        {% endif %}
    </div>
    
    {#% if _isGranted("/u/auth/debug_page") %}
    <div class="debug-dv intra">
        {{ _formatTwigDebugTabs(get_defined_vars(),1)|raw }}
    </div>
    <script>$(".debug-dv .tabsdebgsup").tabs();</script>
    {% endif %#}
    
    <div class="header-repeat grid_12" onclick="$('#dv-content-toggle').slideUp();" style="color: #FFF; cursor: pointer; padding: 5px">
        <center>
            <img src="{{url}}/media/images/icons/scrollup.png" style="width: 20px; vertical-align: middle;"/>
            &nbsp; Esconder
        </center>
    </div>
</div>
<div class="clear"></div>

<script>
    $(document).ready(function() {
        $(".toggleHelp").click(function() {
            toggleContent('.help-dv');
        });
        $(".toggleConfig").click(function() {
            toggleContent('.configs-dv');
        });
        $(".toggleDebug").click(function() {
            toggleContent('.debug-dv');
        });
    });
    function toggleContent(content) {
        elem = $('#dv-content-toggle');
        $(elem).slideUp(null, function(){
            $(elem).find('.intra').hide();
            $(elem).find(content).show();
        });
        if (!$(elem).is(":hidden") && $(elem).data("selected-elem") == content) {
            return;
        }
        $(elem).data("selected-elem", content);
        $(elem).slideDown();
    }
</script>