{# jQuery #}
<link type="text/css" rel="stylesheet" href="{{url}}/core/pages/template/jquery/css/custom-theme/jquery-ui-1.8.22.custom.css" />
<!--<script type="text/javascript" src="{{url}}/core/pages/template/jquery/js/jquery-1.7.2.min.js"></script>
<script type="text/javascript" src="{{url}}/core/pages/template/jquery/js/jquery-ui-1.8.22.custom.min.js"></script>
<script type="text/javascript" src="{{url}}/core/pages/template/jquery/jquery.cookie.js"></script>-->


<script type="text/javascript" src="{{url}}/media/libs/jquery/jquery-1.9.1.min.js"></script>
<script type="text/javascript" src="{{url}}/media/libs/jquery/jquery-ui-1.10.3.custom.min.js"></script>
<script type="text/javascript" src="{{url}}/core/pages/template/jquery/jquery.cookie.js"></script>
<!--
<script src="http://code.jquery.com/jquery-1.9.1.js" type="text/javascript"></script>
<script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js" type="text/javascript"></script>
<script type="text/javascript" src="{{url}}/core/pages/template/jquery/jquery.cookie.js"></script>-->


{# Bootstrap #}
{#
<link rel="stylesheet" type="text/css" href="{{url}}/media/bootstrap/css/bootstrap.min.css" media="screen" />
<script type="text/javascript" src="{{url}}/media/bootstrap/js/bootstrap.min.js"></script>
#}

<link rel="shortcut icon" href="{{url}}/favicon.ico" type="image/x-icon" />
<link rel="stylesheet" type="text/css" href="{{base}}css/reset.css" media="screen" />
<link rel="stylesheet" type="text/css" href="{{base}}css/text.css" media="screen" />
<link rel="stylesheet" type="text/css" href="{{base}}css/grid.css" media="screen" />
<link rel="stylesheet" type="text/css" href="{{base}}css/layout.css" media="screen" />
<link rel="stylesheet" type="text/css" href="{{base}}css/nav.css" media="screen" />
<!--[if IE 6]><link rel="stylesheet" type="text/css" href="{{base}}css/ie6.css" media="screen" /><![endif]-->
<!--[if IE 7]><link rel="stylesheet" type="text/css" href="{{base}}css/ie.css" media="screen" /><![endif]-->

<!--<script src="{{base}}js/table/table.js" type="text/javascript"></script>-->
<script src="{{base}}js/setup.js" type="text/javascript"></script>

<link type="text/css" rel="stylesheet" href="{{url}}/media/container/intra/style.css" />
<link type="text/css" rel="stylesheet" href="{{url}}/media/container/css/form.css" />
<link type="text/css" rel="stylesheet" href="{{url}}/media/container/css/hazo-form.css" />

{# jQuery NOTY # http://needim.github.io/noty/ #}
<script type="text/javascript" src="{{url}}/media/noty-master/js/noty/jquery.noty.js"></script>
<script type="text/javascript" src="{{url}}/media/noty-master/js/noty/layouts/top.js"></script>
<script type="text/javascript" src="{{url}}/media/noty-master/js/noty/themes/default.js"></script>

{# Hazo Search #}
<script type="text/javascript" src="{{url}}/media/libs/hazoSearch/jquery.hazo-search-1.0.0.js"></script>
<link type="text/css" rel="stylesheet" href="{{url}}/media/libs/hazoSearch/jquery.hazo-search-1.0.0.css" />

<link type="text/css" rel="stylesheet" href="{{url}}/media/libs/fancybox/jquery.fancybox-1.3.4.css" />
<script type="text/javascript" src="{{url}}/media/libs/fancybox/jquery.fancybox-1.3.4.js"></script>

{# Masked Input http://digitalbush.com/projects/masked-input-plugin/ #}
<script type="text/javascript" src="{{url}}/media/libs/jquery/jquery.maskedinput.min.js"></script>

{# Timepicker  #}
<script type="text/javascript" src="{{url}}/media/libs/jquery/jquery-ui-timepicker-addon.js"></script>
        
{# CKEditor  #}
<script src="{{url}}/library/CKEditor/ckeditor.js"></script>
<script src="{{url}}/library/CKEditor/adapters/jquery.js"></script>
<script src="{{url}}/media/libs/hazo-template-editor.js"></script>

{# Form #}
<script src="{{url}}/media/libs/jquery.hazo-form-ajax.js"></script>