﻿<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd"/>
<html xmlns="http://www.w3.org/1999/xhtml">
    {% set base = url~"/media/bluewhale-admin/" %}
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        {% include "html-header-includes.html" %}
        <style>
            .centralize{ text-align: left; width: 1000px; }
        </style>
    </head>
    <body style="background-color: #2E5E79;">
        <center>
            <div class="centralize">
                <div class="container_12">
                    {% include "html-header-top.html" %}
                    {% include "html-menu-sup.html" %}
                    <div class="grid_12">
                        <div class="box round first fullpage">
                            {% if blocktitle %}
                            <h2>
                                {{blocktitle}}
                            </h2>
                            {% endif %}
                            <div class="block">
                                {% block content %}{% endblock %}
                            </div>
                        </div>
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="clear"></div>

                <div id="site_info" class="container_12 grid_12" style="margin: 0; padding: 0 ;">
                    <p style="padding: 0 10px;">
                        Copyright <a href="#">Hazo</a>. Todos os direitos reservados.
                    </p>
                </div>
            </div>
        </center>
        {% include "html-bottom-messages.html" %}
    </body>
</html>
