{% macro showMenu(parent) %}
{% set array = parent is empty ? _dashboardMenuArray() : parent %}

{% if array %}

{% if parent is empty %}
<div class="grid_12">
{% endif %}

<ul class="nav main">
{% for Menu in array %}
    {% if Menu.getSubmodule() and Menu.getSubmodule()|lower != "index" %}
        {% set href = url~'/'~Menu.getMode()|lower~'/'~Menu.getModule()~'/'~Menu.getSubmodule() %}
    {% elseif Menu.getModule() and Menu.getModule()|lower != "index" %}
        {% set href = url~'/'~Menu.getMode()|lower~'/'~Menu.getModule() %}
    {% elseif Menu.getMode() and Menu.getMode()|lower != "f" %}
        {% set href = url~'/'~Menu.getMode()|lower %}
    {% else %}
        {% set href = '#' %}
    {% endif %}
    {% set chields = Menu.getChields() %}
    <li>
        <a href="{{href}}">
            <div>{{Menu.getDescription()}}
            {% if chields and parent %}
                &nbsp;&nbsp;
                <img class='menu-chield' src="{{url}}/media/images/icons/right_arrow_menu.png"/>
            {% endif %}
            </div>
        </a>
        {% if chields %}
            {% import "macro-menu-sup.html" as function %}
            {{ function.showMenu(chields) }}
        {% endif %}
    </li>
{% endfor %}
</ul>

{% if parent is empty %}
</div>
<div class="clear" style="height: 10px;"></div>
{% endif %}

{% else %}

<div class="clear" style="height: 10px;"></div>

{% endif %}

{% endmacro %}


{% macro row(content) %}
    {{ content|raw }}
{% endmacro %}