﻿<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd"/>
<html xmlns="http://www.w3.org/1999/xhtml">
    {% set base = url~"/media/bluewhale-admin/" %}
    <head>
        {% include "html-header-includes.html" %}
    </head>
    <body>
        {% block content %}{% endblock %}
        {% include "html-bottom-messages.html" %}
    </body>
</html>
