#login-content {
    display: none;
    position: absolute;
    top: 40px;
    right: 47px;
    width: 230px;
    z-index: 9999;    
    background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#eee));
    background-image: -webkit-linear-gradient(top, #fff, #eee);
    background-image: -moz-linear-gradient(top, #fff, #eee);
    background-image: -ms-linear-gradient(top, #fff, #eee);
    background-image: -o-linear-gradient(top, #fff, #eee);
    background-image: linear-gradient(top, #fff, #eee);  
    background: #4b647e;
    padding: 15px;
    -moz-box-shadow: 0 2px 2px -1px rgba(0,0,0,.9);
    -webkit-box-shadow: 0 2px 2px -1px rgba(0,0,0,.9);
    box-shadow: 0 2px 2px -1px rgba(0,0,0,.9);
    -moz-border-radius: 3px 3px 3px 3px;
    -webkit-border-radius: 3px 3px 3px 3px;
    border-radius: 3px 3px 3px 3px;
}

#branding{
    /*padding: 2em 1em 1.6em 1em;*/
    padding: 0.9em 1em 0.9em 1em;
}
.data-nav{
    color: #FFF;
    vertical-align: middle;
}
.data-nav img{
    vertical-align: middle;
    height: auto;
}
#dvsuplk{
    text-align: right;
}
#dvsuplk > div{
    display: inline-block;
}
#dvsuplk a:before{
    content: '';
}
#dvsuplk a{
    color: #FFF;
}
#dv-content-toggle{
    display: none;
    color: #FFF;
    margin-right: 2px;
    background: #204562;
    border-top: 1px solid #1d3b53;
    color: #ddd;
}
#dv-content-toggle > div{
    padding: 0px 20px 20px 20px;
}
#dv-content-toggle .txt > h2{
    color: #fff;
    font-size: 13px;
    padding: 0;
    padding-bottom: 5px;
    border-bottom: 1px solid #2E5E79;
}
#dv-content-toggle .txt p{
    line-height: 8px;
}
#dv-content-toggle .txt{
    margin-bottom: 30px !important;
}
.block{
    padding: 0;
}
.box.first {
    margin: 0;
}
.box.round{
    -moz-border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
    background-color: #fff;
    margin-bottom: 10px;
}
.box.round > h2{
/*    background: #204562;
    border-color: #204562;
    color: #FFF;*/
    padding-top: 5px;
    padding-bottom: 5px;
}
