{% extends "intra/index.html" %}

{% block content %}

<style>
    .hazo-simple-table tbody tr td{ cursor: pointer; }
</style>

{% if template_id %}
<a href="{{url}}/editor/template/visualizacao/{{template_id}}">
    <button class='btn btn-small btn-black'>Voltar para visualização</button>
</a>
{% else %}
<a href="{{url}}/editor/template">
    <button class='btn btn-small btn-black'>Voltar para templates</button>
</a>
{% endif %}
<hr/>

<style>
</style>

<form method="post" action="" class="hazo-form">

    {% if Template.getID() %}
    <div class="span20">
        <div class="label">ID do Template</div>
        <div class="field"><input type="text" readonly="true" value="{{Template.getID()}}"/></div>
    </div>
    <div style="clear: both;"></div>
    {% endif %}

    <div class="span70">
        <div class="label">Título</div>
        <div class="field"><input type="text" name="titulo" value="{{Template.getTitulo()}}"/></div>
    </div>
    
    <div class="span70">
        <div class="label">Caminho do Arquivo</div>
        <div class="field">
            <div style="float:left; line-height: 23px;">{{template_path}}&nbsp;</div>
            <div><input type="text" style="float:left;width: 200px;" name="path" value="{{Template.getFileName()}}"/></div>
        </div>
    </div>

    <div class="span100">
        <div class="label">Descrição</div>
        <div class="field">
            <textarea name="descricao" style="height: 260px">{{Template.getDescricao()}}</textarea>
        </div>
    </div>

    <div class="span100">
        <div class="label">&nbsp;</div>
        <div class="field">
            <input type="submit" value="Salvar Alterações" class="btn btn-small btn-navy"/>
        </div>
    </div>
    
</form>
<div style="clear: both;"></div>

<script>
    $().ready(function(){
        $("textarea[name='descricao']").ckeditor({
            toolbar: 'page_small',
            height: '200px',
            enterMode : CKEDITOR.ENTER_P
        });
    });
</script>

{% endblock %}