{% extends "intra/index.html" %}

{% block content %}

<style>
    .hazo-simple-table tbody tr td{ cursor: pointer; }
</style>

<a href="{{url}}/editor/template/cadastro">
    <button class='btn btn-small btn-black'>Cadastrar Template</button>
</a>
<hr/>
<br/>

{% if templates %}
    <table class='hazo-simple-table' style='width: 800px;'>
        <thead>
            <tr>
                <td>Titulo</td>
                <td>Arquivo</td>
            </tr>
        </thead>
        <tbody>
            {% for Template in templates %}
            {% set link = url~"/editor/template/visualizacao/"~Template.getID() %}
            <tr>
                <td data-link="{{link}}">{{Template.getTitulo()}}</td>
                <td data-link="{{link}}">{{Template.getFileName()}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <br/><br/><br/>
    
{% else %}

    <center>Nenhuma Editoria Cadastrada</center>
    <br/><br/><br/>

{% endif %}

<script>
    $().ready(function(){
        $('.hazo-simple-table').find('td').on('click', function(){
            window.location = $(this).attr('data-link');
        });
    });
</script>

{% endblock %}