{% extends "intra/index.html" %}

{% block content %}

<style>
    .hazo-simple-table tbody tr td{ cursor: pointer; }
</style>

<a href="#">
    <button class='btn btn-small btn-black'>Botão Genérico</button>
</a>
<hr/>

<script>
    $().ready(function(){});
</script>

{% endblock %}