{% extends "intra/index.html" %}

{% block content %}

<style>
    .hazo-simple-table tbody tr td{ cursor: pointer; }
</style>

<a href="{{url}}/editor/template">
    <button class='btn btn-small btn-black'>Voltar para templates</button>
</a>
&nbsp;&nbsp;&nbsp;
<a href="{{url}}/editor/template/cadastro/{{Template.getID()}}">
    <button class='btn btn-small btn-maroon'>Alterar este template</button>
</a>
<hr/>

<style>
</style>


<div class="hazo-form">
    <div class="span20">
        <div class="label">ID do Template</div>
        <div class="field"><input type="text" readonly="true" value="{{Template.getID()}}"/></div>
    </div>
    <div style="clear: both;"></div>

    <div class="span70">
        <div class="label">Título</div>
        <div class="field"><input type="text" readonly="true" value="{{Template.getTitulo()}}"/></div>
    </div>

    <div class="span70">
        <div class="label">Caminho do Arquivo</div>
        <div class="field"><input type="text" readonly="true" value="{{template_path}}{{Template.getFileName()}}"/></div>
    </div>
</div>
<div style="clear: both;"></div>
<br/>
<div class="hazo-form">
    <div class="span100">
        <div class="label">Descrição</div>
    </div>
</div>
<div class="" style="border: 1px solid #666; padding: 8px; height: 150px; overflow: scroll;">
    {{Template.getDescricao()|raw}}
</div>

<div style="clear: both;"></div>

{% endblock %}