{% extends "hazo/intra/index.twig" %}

{% set nome_modulo = "Demandas" %}

{% block content %}

<div>
    <a href="{{url_module}}/novo" class="btn btn-primary">Cadastrar nova Demanda</a>
</div>
<br/>

{% if demandas['cont_total'] > 0 %}

{% set status = { 'A': 'Ativo', 'I': 'Inativo', 'C': 'Concluído', 'S': 'Standby' } %}

    <table class="table-diplomas table table-form">
        <thead>
            <tr>
                <th>Demanda</th>
                <th style="white-space: nowrap">Cliente</th>
                <th>Status</th>
                <th style="white-space: nowrap">Cadastrado por</th>
            </tr>
        </thead>
        <tbody>
            {% for Demanda in demandas['rows'] %}
            <tr title="{{Demanda.getDescricao()}}">
                {% set url_visualizacao = url_module~"/visualizacao/"~Demanda.getSlug() %}
                <td><a href="{{url_visualizacao}}">{{Demanda.getTitulo()}}</a></td>
                <td>{{Demanda.getClienteObj().getPessoaObj().getRazao()}}</td>
                <td>{{status[Demanda.getStatus()]}}</td>
                <td>{{Demanda.getCadastroUserObj().getName()}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

{% else %}
    <center>
        <i>Nenhuma demanda encontrada</i>
    </center>
{% endif %}

{% endblock %}