{% extends "media/container/Designa2.01/inc-base-full.twig" %}

{% block content %}

<div class="blog-page main grid-wrap">

    {#
    <header class="grid col-full">
        <hr>
        <p class="fleft">Blog</p>
    </header>
    #}
    
    <section class="grid col-three-quarters mq2-col-two-thirds mq3-col-full">
        
        {% if paginas %}
            {% for Pagina in paginas %}

            {% set editorias = Pagina.getArrayEditorias() %}
            {% set link = url~'/artigo' %}
            {% for Editoria in editorias %}
                {% set link = link~'/'~Editoria.getSlug() %}
            {% endfor %}
            {% set link = link~'/'~Pagina.getSlug() %}
        
            <article class="post">
                <h2><a href="{{link}}" class="post-title">{{Pagina.getTitulo()}}</a></h2>
                <div class="meta">
                    <p>Postado em <span class="time">{{Pagina.getCadastroData('dia')}} de {{Pagina.getCadastroData('mes_descr')}} de {{Pagina.getCadastroData('ano')}}</span> 
                        <!--por <a href="#" class="fn">{{pag_autor_nome}}</a> em <a href="#"class="cat">Outros</a> com <a href="#" class="comments-link">42 comentários</a>.-->
                        por <b class="fn">{{Pagina.getCadastroUserObj().getName()}}</b> em <b class="cat">{{Pagina.getEditoriaObj().getNome()}}</b>
                        {#
                        com <b class="comments-link">42 comentários</b>.
                        #}
                </div>
                <div class="entry">{{Pagina.getConteudo('resumo')|raw}}</div>
                <footer>
                    
                    <a href="{{link}}" class="more-link">Continue lendo…</a>
                </footer>
            </article>
        
            {% endfor %}
        {% else %}	
        
        <center>Nenhum artigo cadastrado nesta categoria</center>
        <br/><br/>
        
        {% endif %}	

        {% import 'container/Designa2.01/paginate.twig' as paginate %}
        {{ paginate.gera(url~link_paginas, get['pag'] ?: 1, qtde_paginas) }}
        
        {#
        {{paginate.gera(link_next, link_atual, max_links)}}
        
        <ul class="page-numbers">
            <li><a href="#">Anterior</a></li>
            <li><a href="#" class="current">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">Próxima</a></li>
        </ul>
        
        #}
        
    </section>

    {% include "paginas/post_right_pannel.twig" %}

</div>

{% endblock %}