{% extends "mds/base-home.twig" %}

{% block content %}

<script src="{{mds}}/js/md/blog/comments.js"></script>
{#
<link type="text/css" rel="stylesheet" href="{{mds}}/css/md/blog/comments.css" />
#}

<!-- masthead -->
<div id="masthead">
    {#
    <span class="head">Blog</span><span class="subhead">Ideias, práticas, ideias, notícias e ideias</span>
    #}
    <span class="head">Blog</span><span class="subhead">{{Pagina.getEditoriaObj().getNome()}}</span>
    <ul class="breadcrumbs">
        <li><a href="{{url}}">Início</a></li>
        <li>/ Blog</li>
    </ul>
</div>
<!-- ENDS masthead -->



<!-- posts content -->
<div id="post-content">

    {#
    <div class="feature-image">
        <a href="img/slides/01.jpg" data-rel="prettyPhoto"><img src="img/slides/01.jpg" alt="Alt text" /></a>
    </div>
    #}
    
    {% set editorias = Pagina.getArrayEditorias() %}
    {% set link = url~'/artigo' %}
    {% for Editoria in editorias %}
        {% set link = link~'/'~Editoria.getSlug() %}
    {% endfor %}
    {% set link = link~'/'~Pagina.getSlug() %}
    
            

    <h1 class="post-heading">{{Pagina.getTitulo()}}</h1>
    <div class="meta">
        <span class="entry-date">{{Pagina.getCadastroData('dia')}} de {{Pagina.getCadastroData('mes_descr')}} de {{Pagina.getCadastroData('ano')}}</span>
        por <b class="fn">{{Pagina.getCadastroUserObj().getName()}}</b>
        em <span class="categories"><a href="#">{{Pagina.getEditoriaObj().getNome()}}</a></span>
    </div>

    <div class="content-area">
        {{Pagina.getConteudo('conteudo')|raw}}
    </div>


    {# Begin::Comments #}
    <div id="comments-wrap comments">
        <h3 class="heading qtde-comentarios">5 COMMENTS</h3>
        <ol class="commentlist"></ol>
        
        <div class="no-comments"></div>
        
    </div>
    
    <button class="btn btn-primary comments-mais-comentarios">MAIS COMENTÁRIOS</button>
    
    {# End::Comments #}
    
    
    <!-- Respond -->				
    <div id="respond">
        <h3 class="heading">Deixe um comentário</h3>

        <div class="cancel-comment-reply"><a rel="nofollow" id="cancel-comment-reply-link" href="#respond" style="display:none;">Cancel reply</a></div>
        
        <div class="usuario-offline">

            Para postar um comentário, você precisa estar cadastrado e logado no sistema.
            <br/>
            <br/>
            <p><button type="button" id="log_submit" class="button btn-login">Efetuar login</button></p>

        </div>
        
        <form action="{{url}}/blog/paginas/enviar-comentario/{{Pagina.getID()}}" method="post" id="commentform" class="usuario-online">

            <textarea name="msg_texto" id="comment"  tabindex="4"></textarea>

            <div class="error"></div>
            
            <p><input name="submit" type="submit" id="submit" tabindex="5" value="Postar Comentário" /></p>

        </form>
    </div>
    
    <div class="clearfix"></div>
    <!-- ENDS Respond -->
    <style>
        .comments-mais-comentarios{ width: 100%; display: none; }
        #comment{ resize: vertical; width: 100% !important; }
    </style>
    
    <script>
        hazoParam.paginaID = "{{Pagina.getID()}}";
        hazoParam.online = "{{Online.getID()}}";
    </script>


</div>
<!-- ENDS posts content -->

{{ this.viewCategorias(null, Pagina.getEditoriaID())|raw }}
        
<script>
    jQuery.ajax({ url: "{{url}}/blog/api/contador/{{Pagina.getID()}}" });
</script>

{% endblock %}