{% extends "media/container/Designa2.01/inc-base-full.twig" %}

{% block content %}

<div class="ck" style=""> 

    
    {% set texto_editorias = '' %}
    {% for Editoria in parent_editorias %}
        {% set texto_editorias = (texto_editorias ? texto_editorias~' > ' : '' )~Editoria.getNome() %}
    {% endfor %}

    {{(texto_editorias ? texto_editorias~' > ' : '' )~Pagina.getEditoriaObj().getNome()}}
    
    
    <p></p>
</div>

<style>
    .tip-custom-success, .tip-custom-error{
            border-radius: 5px; 
            border: 2px solid #000;
            color: #fff;
    }
    .tip-custom-success{
            background-color: green;
    }
    .tip-custom-error{
            background-color: red;
    }
    .tip-custom-success .tooltipster-content,
    .tip-custom-error .tooltipster-content{
            font-family: Arial, sans-serif;
            font-size: 14px;
            line-height: 16px;
            padding: 12px 15px;
    }
</style>

<div class="blogpost-page main grid-wrap">
    
    
    {#
    <header class="grid col-full">
        <hr>
        <p class="fleft">{{Pagina.getConteudo('resumo')|raw}}</p>
    </header>
    #}

    <section class="grid col-three-quarters mq2-col-two-thirds mq3-col-full">

        <article class="post post-single">
            
            {% set editorias = Pagina.getArrayEditorias() %}
            {% set link = url~'/artigo' %}
            {% for Editoria in editorias %}
                {% set link = link~'/'~Editoria.getSlug() %}
            {% endfor %}
            {% set link = link~'/'~Pagina.getSlug() %}
            
            <h2><a href="{{link}}" class="post-title">{{Pagina.getTitulo()}}</a></h2>
            <div class="meta">
                <p>
                    Postado em <span class="time">{{Pagina.getCadastroData('dia')}} de {{Pagina.getCadastroData('mes_descr')}} de {{Pagina.getCadastroData('ano')}}</span>
                    <!--por <a href="#" class="fn">{{pag_autor_nome}}</a> em <a href="#"class="cat">Outros</a> com <a href="#" class="comments-link">42 comentários</a>.-->
                    por <b class="fn">{{Pagina.getCadastroUserObj().getName()}}</b> em <b class="cat">{{Pagina.getEditoriaObj().getNome()}}</b> com <b class="comments-link"><span class="qtde-comentarios"></span></b>.
                </p>
            </div>
            <div class="entry">{{Pagina.getConteudo('conteudo')|raw}}</div>

        </article>
        
        <script>
            jQuery.ajax({ url: "{{url}}/blog/api/contador/{{Pagina.getID()}}" });
        </script>

        <section class="section-comment">

            <header>
                <hr>
                <h5 class="fleft qtde-comentarios"></h5> <p class="fright"><a href="#leavecomment" class="arrow">Deixe seu comentário</a></p>
            </header>
            
            <div class="no-comments">Nenhum comentário até agora. Seja o primeiro a comentar.</div>
            
            <ol class="comments">
                {#
                <li class="comment">
                    <h6>John Doe <span class="meta"> on 18/02/12</span></h6>
                    <p>Morbi commodo, ipsum sed pharetra gravida, orci magna rhoncus neque, id pulvinar odio lorem non turpis. Nullam sit amet enim. Suspendisse id velit vitae ligula volutpat condimentum. Aliquam erat volutpat. Sed quis velit.</p>
                </li>
                #}
            </ol>
            <center>
                <button class="comments-mais-comentarios">Mais comentários</button>
            </center>

            <div class="leavecomment" id="leavecomment">
                <h3>Deixe o seu comentário</h3>
                
                {# Begin: Usuário para comentário #}

                <header>
                    {% if Online %}

                        Olá <b>{{Online.getName()}}</b>, escreva a sua mensagem abaixo e aguarde a aprovação.
                
                        <form method="post" action="{{url}}/blog/paginas/enviar-comentario/{{Pagina.getID()}}" id="form-comment-mensagem">
                            <ul>
                                <li>
                                    <label for="msg_texto">Escreva sua mensagem:</label>
                                    <textarea name="msg_texto" id="msg_texto" cols="100" rows="6" required  class="required" ></textarea>
                                </li>
                                <li>
                                    <button type="submit" id="submit" class="button fright">Enviar Mensagem</button>
                                </li>	
                            </ul>			
                        </form>
                        
                        <script>
                            jQuery().ready(function(){
                                jQuery("#form-comment-mensagem").hazoFormAjax({
                                    success: function( data ){
                                        jQuery('#submit').tooltipster('destroy');
                                        
                                        console.log('STATUUS', data);
                                        
                                        if( data.status ){
                                            jQuery("#form-comment-mensagem").each(function(){
                                                this.reset();
                                            });
                                            jQuery('#submit').tooltipster({
                                                theme: '.tip-custom-success',
                                                content: data.msg,
                                                trigger: 'custom',
                                                timer: 7000
                                            });
                                            jQuery(".tip-custom-error").css('background-color', 'green');
                                        }else{
                                            jQuery('#submit').tooltipster({
                                                theme: '.tip-custom-error',
                                                content: data.msg,
                                                trigger: 'custom',
                                                timer: 7000
                                            });
                                            jQuery(".tip-custom-error").css('background-color', 'red');
                                        }
                                        
                                        jQuery('#submit').tooltipster('show');
                                        
                                        if( data.log ){
                                            console.log(data.log);
                                        }
                                        carregaComentarios();
                                    }
                                });
                            });
                        </script>

                    {% else %}

                        Para postar o seu comentário, você precisa estar cadastrado e logado no sistema.
                        <br/>
                        <br/>
                        <button type="button" id="log_submit" class="button fright">Efetuar Login</button>
                        {#
                        <div class="dv-comment dv-comment-login">
                            <form method="post" action="{{url}}/blog/usuario/login/{{Pagina.getID()}}" id="form-comment-login">
                                <div>
                                    <ul>
                                        <li>
                                            <label for="name">Já sou usuário:</label>
                                            <input type="text" name="log_login" id="log_email" required class="required" placeholder="Login ou E-mail" autocomplete="off"/>
                                        </li>
                                        <li>
                                            <input type="password" name="log_senha" id="log_senha" required class="required" placeholder="Senha" autocomplete="off"/>
                                        </li>
                                        <li>
                                            <button type="submit" id="log_submit" class="button fright">Entrar</button>
                                        </li>	
                                    </ul>
                                </div>
                            </form>
                        </div>
                        #}
                        <div class="dv-comment dv-comment-sep"></div>
                        {% if cad_usuario %}
                        <div class="dv-comment dv-comment-cadastro">
                            <form method="post" action="{{url}}/blog/usuario/cadastro/{{Pagina.getID()}}" id="form-comment-cadastro">
                                <div>
                                    <ul>
                                        <li>
                                            <label for="name">Desejo me cadastrar:</label>
                                            <input type="text" name="cad_nome" id="cad_nome" required class="required" placeholder="Nome completo" autocomplete="off"/>
                                        </li>
                                        <li>
                                            <input type="text" name="cad_email" id="cad_email" required class="required" placeholder="E-mail" autocomplete="off"/>
                                        </li>
                                        <li>
                                            <input type="password" name="cad_senha" id="cad_senha" required class="required" placeholder="Senha" autocomplete="off"/>
                                        </li>
                                        <li>
                                            <input type="password" name="cad_rsenha" id="cad_rsenha" required class="required" placeholder="Repita a Senha" autocomplete="off"/>
                                        </li>
                                        <li>
                                            <button type="submit" id="cad_submit" class="button fright">Cadastrar e Entrar</button>
                                        </li>	
                                    </ul>
                                </div>
                            </form>
                        </div>
                        {% endif %}
                        <div style="clear: both"></div>
                        
                </header>
                
                <style>
                    .dv-comment{
                        float: left;
                        /*margin: 2px;*/
                        /*padding: 2px;*/
                        width: 100%;
                        max-width: 370px;
                    }
                    .dv-comment-cadastro,
                    .dv-comment-login{
                        /*padding: 10px;*/
                        background-color: #eee;
                        display: table;
                    }
                    .dv-comment form{
                        /*width: 270px;*/
                        margin: 0px;
                        width: 100%;
                        display: table;
                    }
                    .dv-comment-sep{
                        /*border-left: 1px solid #ccc;*/
                        width: 5px;
                        height: 20px;
                    }
                    .dv-comment form input{
                        height: 28px;
                        /*width: 280px;*/
                        padding: 0;
                        line-height: 28px;
                        padding-left: 5px;
                        width: 100%;
                    }
                    .dv-comment-login div, .dv-comment-cadastro div{
                        /*width: 250px;*/
                        width: 96%;
                        margin: 2%;
                        /*margin: 10px;*/
                        /*max-width: 250px;*/
                        /*max-width: 100%;*/
                        /*min-width: 200px;*/
                        display: table;
                    }
                </style>

                <script>
                    jQuery().ready(function(){
                        jQuery("#form-comment-login").hazoFormAjax({
                            success: function( data ){
                                
                                if( data.status && data.redirect ){
                                    window.location = data.redirect;
                                    document.location.reload(true);
                                    return false;
                                }else{
                                    alert( data.msg );
                                }
                                
                            }
                        });
                        jQuery("#form-comment-cadastro").hazoFormAjax({
                            success: function( data ){
                                
                                jQuery('#cad_submit').tooltipster('destroy');
                                
                                if( data.status ){
                                    console.log("SSSCC");
                                    jQuery("#form-comment-cadastro").each(function(){
                                        this.reset();
                                    });
                                    jQuery('#cad_submit').tooltipster({
                                        theme: '.tip-custom-error',
                                        content: data.msg,
                                        trigger: 'custom',
                                        timer: 7000
                                    });
                                    jQuery(".tip-custom-error").css('background-color', 'green');
                                }else{
                                    console.log("ERRRRr");
                                    jQuery('#cad_submit').tooltipster({
                                        theme: '.tip-custom-error',
                                        content: data.msg,
                                        trigger: 'custom',
                                        timer: 7000
                                    });
                                    jQuery(".tip-custom-error").css('background-color', 'red');
                                }
                                
                                jQuery('#cad_submit').tooltipster('show');
                                
                                console.log("Success -> ", data);
                            },
                            error: function( data ){
                                console.log("Error -> ", data);
                            }
                        });
                    });
                </script>
                
                {% endif %}
                {# End: Usuário para comentário #}
                
                <script>
                    
                    function carregaComentarios( last_comment ){
                        jQuery.ajax({
                            url: "{{url}}/blog/paginas/carrega-comentarios/{{Pagina.getID()}}",
                            dataType: 'json',
                            type: 'post',
                            data: {'last_comment': last_comment },
                            success: function( data ){
                                
                                jQuery(".comments").data('qtde-rows', data.qtde );
                                
                                if( data.qtde > 0 ){
                                    jQuery(".no-comments").hide();
                                    jQuery(".qtde-comentarios").html( data.qtde+" comentário"+( data.qtde > 1 ? 's' : '' ) );
                                    
                                        
                                    jQuery.each(data.rows, function(i, item) {
                                        if( !jQuery(".comment-text-"+item.id).length && !item.remove ){
                                            li = jQuery("<li/>").addClass('comment').addClass("comment-li-"+item.id).attr('data-id', item.id);
                                            h6 = jQuery("<h6/>").html(item.autor_nome)
                                            span = jQuery("<span/>").addClass('meta').html(" em "+item.data);
                                            
                                            h6.append(span);
                                            li.append(h6);
                                            
                                            p = jQuery("<p/>").html(item.msg).addClass("comment-text-"+item.id);
                                            li.append(p).hide().fadeIn();
                                            
                                            jQuery(".comments").prepend(li);
                                        }else if( item.remove ){
                                            jQuery(".comment-li-"+item.id).remove();
                                        }else if( item.msg ){
                                            jQuery(".comment-text-"+item.id).html(item.msg);
                                        }
                                        
                                        if( !jQuery(".comments").data('first-id') ){
                                            jQuery(".comments").data('first-id', item.id);
                                        }
                                        
                                    });
                                }else{
                                    jQuery(".no-comments").show();
                                    jQuery(".qtde-comentarios").html( "nenhum comentário" );
                                }
                                
                                if( jQuery(".comments").data('qtde-rows') > 5 ){
                                    for( i = 0; i < jQuery(".comments").data('qtde-rows'); i++ ){
                                        li = jQuery('.comments').find('li')[i];
                                        if( i < 5 ){
                                            jQuery(li).addClass('exploded');
                                        }
                                        if( li && !jQuery(li).hasClass('exploded') && i >= 5 ){
                                            jQuery(li).hide();
                                        }
                                    }
                                }
                                
//                                console.log(data.qtde);
                                
                                if( data.qtde > 5 && jQuery(".exploded").length <= 5 ){
                                    jQuery(".comments-mais-comentarios").show();
                                }
                                
                                setTimeout(function(){
                                    carregaComentarios();
                                }, 30000);
                            }
                        });
                    }
                    
                    jQuery().ready(function(){
                        carregaComentarios();
                    });
                    
                    jQuery(".comments-mais-comentarios").on('click', function(){
                        cont = 0;
                        for( i = 5; i < jQuery(".comments").data('qtde-rows'); i++ ){
                            li = jQuery('.comments').find('li')[i];
                            if( li && !jQuery(li).hasClass('exploded') ){
                                
                                if( cont > 4 ){
                                    break;
                                }
                                
                                if( jQuery(li).attr('data-id') === jQuery(".comments").data('first-id') ){
                                    jQuery(".comments-mais-comentarios").hide();
                                }
                                
                                jQuery(li).fadeIn().addClass('exploded');
                                jQuery(".comments").data('last-exploded', jQuery(li).attr('data-id') );
                                cont++;
                            }
                        }
                    });
                    
                </script>
                
                <style>
                    .comment{ background-color: #EEE; padding: 4px; }
                    .comments-mais-comentarios{ width: 80%; display: none; }
                    .no-comments{ display: none; text-align: center; font-style: italic; }
                </style>
                
            </div>

        </section>


    </section>

    {% include "paginas/post_right_pannel.twig" %}

</div> 

{% endblock %}