{% extends "mds/base-home.twig" %}

{% block content %}

{% set tit_texto = editoria_atual_Obj ? editoria_atual_Obj.getNome() : "Ideias, práticas, ideias, notícias e ideias" %}

<!-- masthead -->
<div id="masthead">
    <span class="head">Blog</span><span class="subhead">{{tit_texto}}</span>
    <ul class="breadcrumbs">
        <li><a href="{{url}}">Início</a></li>
        <li>/ Blog</li>
    </ul>
</div>
<!-- ENDS masthead -->



<!-- posts list -->
<div id="posts-list">

    {% if paginas %}
        {% for Pagina in paginas %}

        {% set editorias = Pagina.getArrayEditorias() %}
        {% set link = url~'/artigo' %}
        {% for Editoria in editorias %}
            {% set link = link~'/'~Editoria.getSlug() %}
        {% endfor %}
        {% set link = link~'/'~Pagina.getSlug() %}

        <article class="format-standard">

            {#
            <div class="feature-image">
                <a href="img/slides/01.jpg" data-rel="prettyPhoto"><img src="img/slides/01.jpg" alt="Alt text" /></a>
            </div>
            #}

            <h1><a href="{{link}}" class="post-heading">{{Pagina.getTitulo()}}</a></h1>
            <div class="meta">
                <span class="entry-date">{{Pagina.getCadastroData('dia')}} de {{Pagina.getCadastroData('mes_descr')}} de {{Pagina.getCadastroData('ano')}}</span>
                por <b class="fn">{{Pagina.getCadastroUserObj().getName()}}</b>
                em <span class="categories"><a href="#">{{Pagina.getEditoriaObj().getNome()}}</a></span>
            </div>


            <div class="excerpt">{{Pagina.getConteudo('resumo')|raw}}</div>

            <a href="{{link}}" class="read-more">Leia Mais</a>

        </article>
    
        {% endfor %}
    {% else %}	

    <center>Nenhum artigo cadastrado nesta categoria</center>
    <br/><br/>

    {% endif %}

</div>
<!-- ENDS posts list -->

{{ this.viewCategorias(null, editoria_atual_Obj.getID())|raw }}

{% import 'templates/mds/inc/paginate.twig' as paginate %}
{{ paginate.gera(url~link_paginas, get['pag'] ? get['pag'] : 1, qtde_paginas) }}
<div class="clearfix"></div>

{#
<!-- pager -->
<ul class="pager">
    <li class="paged">Page 1 of 2</li>
    <li class="active"><a href="#">1</a></li>
    <li><a href="#">2</a></li>
    <li><a href="#">3</a></li>
</ul>
<div class="clearfix"></div>
<!-- ENDS pager -->
#}

{% endblock %}