<aside class="grid col-one-quarter mq2-col-one-third mq3-col-full blog-sidebar">
    {#
    <div class="widget">
        <input id="search" type="search" name="search" value="" placeholder="Pesquise artigos pelo texto" />
    </div>
    #}

    {# Begin ###################################################}
    <div class="widget">
        <h2>+ Categorias</h2>
        
        <div style="" id="dvcat"></div>
        
        <style>
            a.brdcrm{
                font-size: 10px;
                margin: 2px;
                text-decoration: underline;
            }
            ul.slide_old li a:before{
                content: "" !important;
                padding-right: 0;
                margin-right: 0;
            }
        </style>
        
        <script>
            {% set url_load = url~"/blog/paginas/load-categorias" %}
            function loadCategorias( jQueryArgument, jsonParam, categoriaAtual ){
                jQuery(jQueryArgument).each(function(){

                    ul = jQuery("<ul/>");

                    if( jsonParam ){
                        
                        if( jsonParam.categoriasAnteriores ){

                            divCat = jQuery("<div/>");
                            
                            jQuery.each(jsonParam.categoriasAnteriores, function(indice, data) {
                                
                                if( jQuery(divCat).html() ){
                                    jQuery(divCat).append( jQuery("<span/>").text(" > ") );
                                }
                                
                                aCat = jQuery("<a/>")
                                        .html(data.nome)
                                        .addClass("brdcrm")
                                        .on( 'click', function( e ){
                                            e.preventDefault();
                                            jQuery.ajax({
                                                url: "{{url_load}}/"+data.id,
                                                type: 'post',
                                                dataType: 'json',
                                                success: function( data ){
                                                    loadCategorias('#dvcat', data);
                                                }
                                            });
                                        });

                                divCat.append( aCat );
                            });
                            
                            jQuery(this).find(".slide_broadcrumb").remove();
                            jQuery(this).append( jQuery(divCat).addClass('slide_broadcrumb').append('<br/><br/>') );
                            
                        }
                        
                        if( jsonParam.rows ){
                            jQuery.each(jsonParam.rows, function(i, item) {

                                if( item.subs ){
                                    
                                    a = jQuery("<a/>")
                                        .attr("href", item.url)
                                        .html('+ &nbsp;&nbsp;&nbsp;')
                                        .on( 'click', function( e ){
                                            e.preventDefault();
                                            url = jQuery(this).attr('href');

                                            jQuery.ajax({
                                                url: "{{url_load}}/"+item.id,
                                                type: 'post',
                                                dataType: 'json',
                                                success: function( data ){
                                                    loadCategorias('#dvcat', data);
                                                }
                                            });
                                        })
                                        .css("width","20px");
                                }else{
                                    a = jQuery("<div/>").css("float","left").css("width","20px").css("height","20px");
                                }
                                
                                a2 = jQuery("<a/>")
                                        .attr("href", item.url_redirect)
                                        .html(i+"&nbsp; ("+item.qtde+")");

                                li = jQuery("<li/>").append( jQuery('<span/>').append( a ).append( a2 ) );
                                
                                ul.append( li );

                            });
                        }else if(jsonParam.url_redirect){
                            window.location = jsonParam.url_redirect;
                        }
                    }else{
                        jQuery.ajax({
                            url: "{{url_load}}"+( categoriaAtual ? "/"+categoriaAtual : "" ),
                            type: 'post',
                            dataType: 'json',
                            success: function( data ){
                                loadCategorias('#dvcat', data);
                            }
                        });
                    }

                    jQuery(".slide_old").remove();
                    jQuery(this).append( jQuery(ul).addClass('slide_old') );

                });
            }

            jQuery().ready(function(){
                loadCategorias('#dvcat', null, "{{editoria_atual_id}}");
            });
        </script>
        
    </div>
    {# End ###################################################}

    <div class="widget">
        <p>
            Desenvolvimento de CMS para geração e visualização de artigos e páginas para blogs e websites
        </p>
    </div>
    
    {% if top5 %}
    <div class="widget">
        <h2>Mais lidos</h2>
        <ul>
            {% for Pagina in top5 %}
                {% set editorias = Pagina.getArrayEditorias() %}
                {% set link = url~'/artigo' %}
                {% for Editoria in editorias %}
                    {% set link = link~'/'~Editoria.getSlug() %}
                {% endfor %}
                {% set link = link~'/'~Pagina.getSlug() %}
                
                <li><a href="{{link}}" title="{{Pagina.getTitulo()}}">{{Pagina.getTitulo()}}</a></li>
            {% endfor %}
        </ul>
    </div>
    {% endif %}

    {#
    <div class="widget">
        <h2>Categories</h2>
        <ul>
            <li><a href="http://">Design (99+)</a></li>
            <li><a href="http://">Web (53)</a></li>
            <li><a href="http://">Other (12)</a></li>
            <li><a href="http://">Weird (4)</a></li>
        </ul>
    </div>
    
    <div class="widget">
        <h2>Meta</h2>
        <ul>
            <li><a href="">Entries (RSS)</a></li>
            <li><a href="">Comments (RSS)</a></li>
        </ul>
    </div>
    #}
</aside>