
<!-- sidebar -->
<aside id="sidebar">

    {#
        [ID:protected] => 1
        [nome:protected] => Editoria 01
        [slug:protected] => editoria-01
        [status:protected] => A
        [parentEditoriaID:protected] => 
        [parentEditoriaObj:protected] => 
        [_parse:MVC\Model:private] => 
        [_pk:MVC\Model:private] => 
        [_action:MVC\Model:private] => 
        [filhos] => 
    #}
    <div class="block categorias">
        <h4>Categorias</h4>
        {% import 'paginas/sidebar-macro.twig' as side %}
        {{ side.lista(editorias, 0, Pagina.getEditoriaID()) }}
        
        
        <script>

            function showParentLi(elem){
                if( $(elem).prop("tagName").toLowerCase() === 'li' ){
                    $(elem).show();
                    id = $(elem).attr('data-id');
                    
                    $(".parent-"+id).show();
                    showParentLi( $(elem).parent().parent() );
                }
            }

            jQuery().ready(function(){

                elem = $('.editoria-{{editoriaID}}');

                elem.find('.name:first').addClass('active');
                showParentLi( elem );

            });

        </script>
        
    </div>

    
    {% if top5 %}
    <div class="block">
        <h4>Mais lidos</h4>
        <ul>
            {% for Pagina in top5 %}
                {% set editorias = Pagina.getArrayEditorias() %}
                {% set link = url~'/artigo' %}
                {% for Editoria in editorias %}
                    {% set link = link~'/'~Editoria.getSlug() %}
                {% endfor %}
                {% set link = link~'/'~Pagina.getSlug() %}
                
                <li class="cat-item"><p style="margin-bottom: 10px;"><a href="{{link}}" title="{{Pagina.getTitulo()}}">{{Pagina.getTitulo()}}</a></p></li>
            {% endfor %}
        </ul>
    </div>
    {% endif %}
    
    
    {#
    <div class="block">
        <h4>Categorias</h4>
        <ul>
            <li class="cat-item"><a href="#" title="View all posts">Film and video</a></li>
            <li class="cat-item"><a href="#" title="View all posts">Print</a></li>
            <li class="cat-item"><a href="#" title="View all posts">Photo and lomo</a></li>
            <li class="cat-item"><a href="#" title="View all posts">Habitant morbi</a></li>
            <li class="cat-item"><a href="#" title="View all posts">Film and video</a></li>
            <li class="cat-item"><a href="#" title="View all posts">Print</a></li>
            <li class="cat-item"><a href="#" title="View all posts">Photo and lomo</a></li>
            <li class="cat-item"><a href="#" title="View all posts">Habitant morbi</a></li>
        </ul>
    </div>

    <div class="block">
        <h4>Arquivos</h4>
        <ul>
            <li class="cat-item"><a href="#" title="View all posts">January</a></li>
            <li class="cat-item"><a href="#" title="View all posts">February</a></li>
            <li class="cat-item"><a href="#" title="View all posts">March</a></li>
        </ul>
    </div>
    #}

</aside>
<div class="clearfix"></div>
<!-- ENDS sidebar -->