{% macro lista( editorias, nivel, editoriaID ) %}

    {% set nivel = nivel ? nivel : 1 %}

    <ul>

    {% for Editoria in editorias %}

        {% if Editoria.getParentEditoriaID() %}
            <li class="cat-item parent-{{Editoria.getParentEditoriaID()}} editoria-{{Editoria.getID()}}" style="display:none;" data-id="{{Editoria.getID()}}">
            {% for i in 2..nivel %}&nbsp;&nbsp;&nbsp;&nbsp;{% endfor %}
        {% else %}
            <li class="cat-item editoria-{{Editoria.getID()}}" data-id="{{Editoria.getID()}}">
        {% endif %}

            {% if Editoria.filhos %}
                <div style="width:8px;display:inline-block;">
                    <a href='#' onclick="$('.parent-{{Editoria.getID()}}').toggle(100);return false;">+</a>
                </div>
            {% else %}
                <div style="width:8px;display:inline-block">&nbsp;</div>
            {% endif %}

            <a href="{{url}}/artigos/{{Editoria.getParentsLink()}}" class='name'>{{Editoria.getNome()}}</a>

            {% if Editoria.filhos %}
                {% import 'paginas/sidebar-macro.twig' as side %}
                {{ side.lista(Editoria.filhos, nivel+1) }}
            {% endif %}
        </li>
    {% endfor %}

    </ul>

{% endmacro %}