
<style>
    .a1 center{
        font-size: 20px;
        color: #000;
        margin-bottom: 10px;
        padding: 4px;
    }
    .a2{
        padding: 5px;
        min-height: 100px;
        color: #222;
        text-align: left;
    }/*
    .a4{
        text-align: left;
        padding: 5px;
        min-height: 100px;
        color: #222;
        font-family: cursive;
        font-size: 13px;
        text-align: justify;
    }
    .a4 p{
        line-height: 20px;
    }*/
    .a3{
        width: 10px;
        float: left;
    }
    fieldset{
        padding: 5px 10px;
        border: 2px solid #ccc;
    }
    fieldset legend{
        padding: 3px 8px;
    }
</style>

<center>

    <div style="width: 800px; text-align: left; background-color: transparent;">
        {#
        <fieldset>
            <legend>Resumo do Artigo</legend>
            <div class="a2 simple" data-editor-name="resumo" data-editor-placeholder="<p>Clique para editar o conteúdo do artigo Esquerdo</p>">{{resumo|raw}}</div>
        </fieldset>
        #}
        <fieldset>
            <legend>Conteúdo do Artigo</legend>
            <div class="a4 editor" data-editor-name="conteudo" data-editor-placeholder="<p>Clique para editar o conteúdo do artigo Direito</p>">{{conteudo|raw}}</div>
        </fieldset>
        <div style="clear: both;"></div>

    </div>

</center>