
<style>
    .a1{
        font-size: 20px;
        color: #000;
        margin-bottom: 10px;
        padding: 4px;
    }
    .a2{
        padding: 5px;
        width: 185px;
        min-height: 100px;
        color: #222;
        text-align: left;
    }
    .a4{
        text-align: left;
        padding: 5px;
        width: 585px;
        min-height: 100px;
        float: right;
        color: #222;
        font-family: cursive;
        font-size: 13px;
    }
    .a4 p{
        line-height: 20px;
    }
    .a3{
        width: 10px;
        float: left;
    }
</style>

<center>
<div style="width: 800px; border: 2px solid #ccc; padding: 10px;">
    <div class="a1" style="">
        <center data-editor-name="titulo" data-editor-placeholder="Clique para editar o título do Artigo" class="no-html-line">{{titulo|raw}}</center>
    </div>
    <div style="clear: both;"></div>
    <div style="float:left">
        <div class="a2 simple" data-editor-name="data_left" data-editor-placeholder="<p>Clique para editar o conteúdo do artigo Esquerdo</p>">{{data_left|raw}}</div>
        <div style="clear: both;"><br/><br/></div>
        <div class="a2 simple" data-editor-name="data_left2" data-editor-placeholder="<p>Clique para editar o conteúdo do artigo Esquerdo</p>">{{data_left2|raw}}</div>
    </div>
    <div class="a4 simple" data-editor-name="data_right" data-editor-placeholder="<p>Clique para editar o conteúdo do artigo Direito</p>">{{data_right|raw}}</div>
    <div style="clear: both;"></div>
</div>
</center>