<script src="{{url}}/media/libs/jquery/jquery-1.9.1.min.js" type="text/javascript"></script>
<script src="{{url}}/media/libs/jquery/js/jquery-ui-1.10.3.custom.min.js" type="text/javascript"></script>

<script src="{{url}}/library/CKEditor/ckeditor.js"></script>
<script src="{{url}}/library/CKEditor/adapters/jquery.js"></script>


<textarea name="descricao"></textarea>


{#

CODEMIRROR DOC
http://ckeditor.com/addon/codemirror

#}

<script>
$("textarea[name='descricao']").ckeditor({
    //toolbar: 'page_small',
    height: '200px',
    enterMode : CKEDITOR.ENTER_P
});
</script>