{% extends "hazo/intra/index.twig" %}

{#% set nome_modulo = "Cadastro de Cliente" %#}

{% block content %}

{% set action = User.getID() ? url_module~'/alterar/'~Cliente.getID() : url_module~'/criar' %}

{% if User.getID() is empty %}

<form class="row well form-data" method="post" action="{{action}}">
    <input type='hidden' name='cli_id' value="{{Cliente.getID()}}"/>
    
    <center><b>Usuário já cadastrado</b></center>
    
    <div class="row form-inline">

        <div class="form-group col-xs-12 col-sm-12">
            <label>Usuário (cliente) cadastrado</label>
            <input type="text" class="form-control" value="" name="user_id" id="search_user"/>
        </div>
    </div>

    <div class="row">
        <div class="form-group col-xs-12 col-sm-12">
            <input type="submit" class="btn btn-primary" value="Adicionar usuário para o cliente"/>
        </div>
    </div>
    
</form>

{% endif %}

<form class="row well form-data" method="post" action="{{action}}">
    <input type='hidden' name='cli_id' value="{{Cliente.getID()}}"/>
    
    {% if User.getID() is empty %}
        <center><b>Cadastrar Usuário</b></center>
    {% endif %}
    
    <div class="row form-inline">

        <div class="form-group col-xs-12 col-sm-8">
            <label>Nome</label>
            <input type="text" class="form-control" value="{{User.getName()}}" name="user_name"/>
        </div>

        <div class="form-group col-xs-12 col-sm-4">
            <label>Login</label>
            <input type="text" class="form-control" value="{{User.getLogin()}}" name="user_login"/>
        </div>

        <div class="form-group col-xs-12 col-sm-12">
            <label>E-mail</label>
            <input type="text" class="form-control" value="{{User.getEmail()}}" name="user_email"/>
        </div>

        <div class="form-group col-xs-12 col-sm-4">
            <label>Senha</label>
            <input type="password" class="form-control" value="" placeholder="" name="user_senha"/>
        </div>

        <div class="form-group col-xs-12 col-sm-4">
            <label>Repita a Senha</label>
            <input type="password" class="form-control" value="" placeholder="" name="user_rsenha"/>
        </div>

        <div class="form-group col-xs-12 col-sm-4">
            <label>Status</label><br/>
            {% import "hazo/intra/formulario.twig" as form %}
            {{ form.radio({A: 'Ativo', I: 'Inativo'}, 'user_status', User.getStatus() ? User.getStatus() : 'A' ) }}
        </div>
        
    </div>

    <div class="row">
        <div class="form-group col-xs-12 col-sm-12">
            <input type="submit" class="btn btn-primary" value="Criar usuário"/>
        </div>
    </div>
    
</form>



<script>

    jQuery('#search_user').hazoSearch({
        url: "{{url_module}}/search-usuario"
    });
    
    jQuery('.form-data').formAjax({
        success: function( data ){
            if( data.status ){
                window.location = data.redirect;
            }else{
                message(data.msg, 'error');
            }
        }
    });

</script>

{% endblock %}