{% extends "hazo/intra/index.twig" %}

{% set nome_modulo = "Pesquisa de Clientes" %}

{% block content %}

<div>
    <a href="{{url_module}}/novo" class="btn btn-primary">Cadastrar novo cliente</a>
</div>
<br/>

<form class="row well" id="form_pesquisa" method="get" action="{{url_module}}">
    <input type="hidden" name="pagina" id="pagina" value="{{get.pagina}}"/>
    <input type="hidden" name="old-text" value="{{get.text}}"/>
    <input type="hidden" name="old-limite" value="{{get.limite}}"/>
    
    <div class="form-group col-xs-12 col-sm-4">
        <label>Resultados por página</label>
        <select name="limite" class="form-control" onchange="jQuery('#form_pesquisa').submit();">
            <option value="10" {{get.limite == 10 ? 'selected' : ''}}>10</option>
            <option value="25" {{get.limite == 25 ? 'selected' : ''}}>25</option>
            <option value="50" {{get.limite == 50 ? 'selected' : ''}}>50</option>
            <option value="100" {{get.limite == 100 ? 'selected' : ''}}>100</option>
        </select>
    </div>
    
    <div class="form-group col-xs-12 col-sm-6">
        <label>Pesquise por texto</label>
        <input type="text" placeholder="Ex: nome, cpf" class="form-control" name="text" value="{{get.text}}" />
    </div>
    
    <div class="form-group col-xs-12 col-sm-2">
        <label>&nbsp;&nbsp;</label>
        <input type="submit" class="btn btn-primary form-control" value="Pesquisar" />
    </div>
    
</form>


{% if clientes['cont_total'] > 0 %}

{% set status = { 'A': 'Ativo', 'I': 'Inativo' } %}

    <table class="table-diplomas table table-form">
        <thead>
            <tr>
                <th>#</th>
                <th>Nome</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            {% for Cliente in clientes['rows'] %}
            {% set Pessoa = Cliente.getPessoaObj() %}
                
            <tr data-show="tr-detalhe-{{Diploma.getID()}}" class="visible">
                <td>{{Cliente.getID()}}</td>
                <td><a href="{{url_module}}/visualizacao/{{Cliente.getID()}}">{{Pessoa.getRazao()}}</a></td>
                <td>{{Cliente.getStatus() == 'A' ? 'Ativo' : 'Inativo'}}</td>
            </tr>
            
            {% endfor %}
        </tbody>
    </table>

{% import "hazo/macros/paginate.twig" as paginate %}

{{ paginate.gera( "form_pesquisa", "pagina", get.pagina ?: 1, pag_qtde_paginas) }}

<style>
    .display-hide td{ border-top: none !important; }
</style>

<script>
    
    jQuery('.table-diplomas tbody tr.visible').on('mouseover', function(){
        jQuery('.tr-over').removeClass('tr-over');
        classTr = jQuery(this).attr('data-show');
        jQuery('.display-hide').hide();
        jQuery('.'+classTr).addClass('tr-over').show();
        jQuery(this).addClass('tr-over');
    });
    jQuery('.table-diplomas').on('mouseleave', function(){
        jQuery('.tr-over').removeClass('tr-over');
        jQuery('.display-hide').hide();
    });
    
</script>

{% else %}
    <center>
        <i>Nenhum registro encontrado</i>
    </center>
{% endif %}
    
<script>
    {% if get['old-text'] != get['text'] and get['pagina'] != '1' %}
    jQuery().ready(function(){
        jQuery('#pagina').val('1');
        jQuery('#form_pesquisa').submit();
    });
    {% endif %}
</script>

{% endblock %}