{% extends "hazo/intra/index.twig" %}

{% set nome_modulo = "Visualização de Cliente" %}

{% block content %}

<div class="well row">

    <div class="form-group col-xs-12 col-sm-12">
        <label>Nome / Razão Social</label>
        <input type="text" class="form-control" value="{{Pessoa.getRazao()}}" readonly/>
    </div>

    <div class="form-group col-xs-12 col-sm-8">
        <label>Fantasia / Apelido</label>
        <input type="text" class="form-control" value="{{Pessoa.getFantasia()}}" readonly/>
    </div>

    <div class="form-group col-xs-12 col-sm-4">
        <label>CPF/CNPJ</label>
        <input type="text" class="form-control" value="{{Pessoa.getCpf() ? Pessoa.getCpf() : Pessoa.getCnpj()}}" readonly/>
    </div>
</div>

<h4>Cliente</h4>
<hr/>
<div class="well">
    <div class="row">

        <div class="form-group col-xs-12 col-sm-4">
            <label>Status de Cliente</label>
            <input type="text" class="form-control" value="{{Cliente.getStatus() == 'A' ? 'Ativo' : 'Inativo'}}" readonly/>
        </div>

    </div>
    <div class="row">

        <div class="col-xs-12 col-sm-12">
            <h5>Usuários do cliente</h5>
        </div>
        
        {% if Cliente.listaUsuarios() %}
        Exite
        {% else %}
        Não Exite
        {% endif %}
        
        <div class="row">
            <a href="{{url_mode}}/cliente-usuario/novo/{{Cliente.getID()}}" class="">Adicionar novo usuário</a>
        </div>

    </div>
</div>

<div class="row">
    <div class="row form-inline col-xs-12 col-sm-12">
        <a href="{{url}}/u/clientes/edicao/{{Cliente.getID()}}" class="btn btn-primary">Alterar cadastro do cliente</a>
    </div>
</div>
    
{% endblock %}