{% extends "intra/index.html" %}

{% block content %}

<style>
    .hazo-simple-table tbody tr td{ cursor: pointer; }
</style>

<a href="{{url}}/editor/editoria">
    <button class='btn btn-small btn-black'>Voltar para Editorias</button>
</a>
<hr/>
<br/>

{% import 'container/private/macros/formulario.twig' as form %}
<form method="post" action="" class="hazo-form">

    <div class="span40">
        <div class="label">Nome da Editoria</div>
        <div class="field"><input type="text" name="nome" value="{{Editoria.getNome()}}"/></div>
    </div>
    <div style="clear: both;"></div>
    <br/>
    <div style="clear: both;"></div>

    <div class="span60">
        <div class="label">Slug da Editoria</div>
        <div class="field"><input type="text" name="slug" value="{{Editoria.getSlug()}}"/></div>
    </div>
    <div style="clear: both;"></div>
    <br/>
    <div style="clear: both;"></div>

    <div class="span100">
        <div class="label">Status da Editoria</div>
        {%
            set status = {
                'R': 'Rascunho',
                'S': 'StandBy',
                'A': 'Ativa',
                'I': 'Inativa'
            } 
        %}
        <div class="field">
            {{ form.radio(status, 'status', Editoria.getStatus() ?: 'R' ) }}
        </div>
    </div>
    <div style="clear: both;"></div>
    <br/>
    <div style="clear: both;"></div>

    <div class="span60">
        <div class="label">Selecione a Editoria Pai</div>
        <div class="field">
            <select name='parent' style="height: 200px;" size="20">
                <option value="">[Nenhuma Editoria] </option>
                {% import 'editoria/macro-option-editorias.twig' as mcop %}
                {{ mcop.getOptions(editorias, Editoria.getParentEditoriaID(), 0, null) }}
            </select>
        </div>
    </div>
    <div style="clear: both;"></div>
    <br/>
    <div style="clear: both;"></div>

    <div class="span100">
        <hr/>
        <input type="submit" value="Salvar Alterações" class="btn btn-small btn-bgreen"/>
        {% if slug and _isGranted('/editor/editoria/excluir') %}
        &nbsp;&nbsp;&nbsp;
        <a href="{{url}}/editor/editoria/excluir/{{editoria_id}}">
            <input type="button" class="btn btn-small btn-maroon" value="Excluir Editoria"/>
        </a>
        {% endif %}
    </div>
    <div style="clear: both;"></div>

</form>
<div style="clear: both;"></div>

{% endblock %}