{% extends "intra/ajax.html" %}

{% block content %}

<br/>
<br/>

{% import 'container/private/macros/formulario.twig' as form %}
<div style="border: 2px solid #AAA;padding: 5px 10px;">
    <form method="post" action="{{url}}/editor/editoria/cadastro-autor/{{Editoria.getID()}}" class="hazo-form" id="frmcadautorsb">

        <div class="span80">
            <div class="label">Selecione o Autor</div>
            {% if editoria_autor_id %}
                <div class="field"><input type="text" readonly="true" value="{{EditoriaAutor.getAutorObj().getPessoaObj().getRazao()}}"/></div>
            {% else %}
                <div class="field"><input type="text" name="autor" value="{{EditoriaAutor.getAutorID()}}"/></div>
            {% endif %}
        </div>
        <div style="clear: both;"></div>

        <div class="span100">
            {% if editoria_autor_id is empty %}
            <input type="submit" value="Salvar Alterações" class="btn btn-small btn-bgreen"/>
            {% else %}
            &nbsp;&nbsp;&nbsp;
            <input type="button" class="btn btn-small btn-maroon" value="Excluir Autor" id="excautor"/>
            {% endif %}
        </div>
        <div style="clear: both;"></div>

    </form>
    <div style="clear: both;"></div>
</div>

<script>
    $("input[name='autor']").hazoSearch({ url: "{{url}}/editor/editoria/search-autor" });
    
    $("#excautor").on('click', function(e){
        if( confirm('Deseja realmente excluir esse autor desta editoria?') ){
            e.preventDefault();
            jQuery.ajax({
                dataType: 'JSON',
                type : 'post',
                url: "{{url}}/editor/editoria/excluir-autor/{{editoria_id}}/{{editoria_autor_id}}",
                success: function(data){
                    if( data.status ){
                        $("#dvfrm-cad-autor").html("");
                        noty({text: data.message, type: 'success', timeout: 5000});
                    }else{
                        noty({text: data.message, type: 'error', timeout: 5000});
                    }
                    loadAutores();
                }
            });
        }
    });
    
    $().ready(function(){
        $("#frmcadautorsb").hazoFormAjax({
            dataType: "",
            success: function(data){
                if( data.status ){
                    $("#dvfrm-cad-autor").html("");
                    noty({text: data.message, type: 'success', timeout: 5000});
                }else{
                    noty({text: data.message, type: 'error', timeout: 5000});
                }
                loadAutores();
            }
        });
    });
</script>

{% endblock %}