{% extends "intra/index.html" %}

{% block content %}

<form method="post" action="">

    <center>
        <br/>
        <br/>
        <span style="font-size: 18px;">Deseja realmente excluir a editoria <b>{{Editoria.getNome()}}</b></span>

        <br/>
        <br/>
        <br/>
        <hr/>
        <br/>
        <br/>
        
        <input type="submit" value="Confirmo a Exclusão" name="confirma" class="btn btn-small btn-maroon"/>
        &nbsp;&nbsp;&nbsp;
        <a href="{{url}}/editor/editoria/visualizacao/{{editoria_id}}">
            <input type="button" class="btn btn-small btn-navy" value="Não desejo excluir"/>
        </a>
    </center>

</form>
<div style="clear: both;"></div>


<pre>
    {% import 'editoria/macro-option-editorias.twig' as mcop %}
    {{ mcop.getOptions(editorias, null, 0, null) }}
</pre>

{% endblock %}