{% extends "intra/index.html" %}

{% block content %}

<style>
    .hazo-simple-table tbody tr td{ cursor: pointer; }
</style>

<a href="{{url}}/editor/editoria/cadastro">
    <button class='btn btn-small btn-black'>Cadastrar Nova Editoria</button>
</a>
<hr/>
<br/>

{% if editorias %}
    <table class='hazo-simple-table' style='width: 800px;'>
        <thead>
            <tr>
                <td>Nome</td>
                <td>Slug</td>
                <td>Status</td>
            </tr>
        </thead>
        <tbody>
            
            {%
                set status = {
                    'R': 'Rascunho',
                    'S': 'StandBy',
                    'A': 'Ativa',
                    'I': 'Inativa'
                } 
            %}
            
            {% import 'editoria/macro-option-editorias.twig' as mcop %}
            {{ mcop.getTr(editorias, Editoria.getParentEditoriaID(), 0, null) }}
        </tbody>
    </table>
    <br/><br/><br/>
    {% import 'container/private/macros/paginate.twig' as paginate %}
    {{paginate.gera(link_next, link_atual, max_links)}}
{% else %}

    <center>Nenhuma Editoria Cadastrada</center>
    <br/><br/><br/>

{% endif %}

<script>
    $().ready(function(){
        $('.hazo-simple-table').find('td').on('click', function(){
            window.location = $(this).attr('data-link');
        });
    });
</script>

{% endblock %}