{% extends "intra/ajax.html" %}

{% block content %}

<br/>
<br/>
{% if autores %}
    <table class='hazo-simple-table' style='width: 800px;'>
        <thead>
            <tr>
                <td>Autor</td>
                <td>Status</td>
            </tr>
        </thead>
        <tbody>
            {% for EditoriaAutor in autores %}
            {% set title = 'Visualizar Autor' %}
            {% set link = url~'/cadastros/autor/cadastro/'~EditoriaAutor.getID() %}
            <tr>
                <td title="{{title}}"><span onclick="changeAutor('{{EditoriaAutor.getID()}}')"><b><u>{{EditoriaAutor.getAutorObj().getPessoaObj().getRazao()}}</u></b></span></td>
                <td title="{{title}}">{{EditoriaAutor.getAutorObj().getStatus() == 'I' ? 'Inativo' : 'Ativo'}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <br/><br/><br/>
{% else %}

    <center>Nenhum Autor Cadastrado</center>
    <br/><br/><br/>

{% endif %}

{% endblock %}