{% macro getOptions(editorias, valueDefault = null, nivel = 0, parent = null) %}
{#% spaceless %#}

    {% set nbsp = '' %}
    
    {% if nivel != 0 %}
        {% for i in 1..nivel %}
            {% set nbsp = nbsp~'&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;' %}
        {% endfor %}
    {% endif %}

    {% for Editoria in editorias %}

        {% if (parent == null and Editoria.getParentEditoriaID() is empty) or (parent and Editoria.getParentEditoriaID() == parent ) %}
            
            <option value="{{Editoria.getID()}}" {{valueDefault == Editoria.getID() ? "selected='selected'" : ""}}>{{nbsp|raw}}{{Editoria.getNome()}}</option>
            
            {% import 'editoria/macro-option-editorias.twig' as mcop %}
            {{ mcop.getOptions(Editoria.getSubEditorias(), valueDefault, nivel+1, Editoria.getID()) }}

        {% endif %}

    {% endfor %}

{#% endspaceless %#}
{% endmacro %}
            
{% macro getTr(editorias, valueDefault = null, nivel = 0, parent = null) %}
{#% spaceless %#}

    {% set nbsp = '' %}
    
    {% if nivel != 0 %}
        {% for i in 1..nivel %}
            {% set nbsp = nbsp~'&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;' %}
        {% endfor %}
    {% endif %}

    {% for Editoria in editorias %}

        {% if (parent == null and Editoria.getParentEditoriaID() is empty) or (parent and Editoria.getParentEditoriaID() == parent ) %}
            
            {% set title = 'Visualizar Editoria' %}
            {% set link = url~'/editor/editoria/visualizacao/'~Editoria.getID() %}
            <tr>
                <td data-link="{{link}}" title="{{title}}">{{nbsp|raw}}{{Editoria.getNome()}}</td>
                <td data-link="{{link}}" title="{{title}}">{{Editoria.getSlug()}}</td>
                <td data-link="{{link}}" title="{{title}}">{{status[Editoria.getStatus()]}}</td>
            </tr>
            
            
            {% import 'editoria/macro-option-editorias.twig' as mcop %}
            {{ mcop.getTr(Editoria.getSubEditorias(), valueDefault, nivel+1, Editoria.getID()) }}

        {% endif %}

    {% endfor %}

{#% endspaceless %#}
{% endmacro %}