{% extends "intra/index.html" %}

{% block content %}

<style>
    .hazo-simple-table tbody tr td{ cursor: pointer; }
</style>

<a href="{{url}}/editor/editoria">
    <button class='btn btn-small btn-black'>Voltar para Editorias</button>
</a>
&nbsp;&nbsp;
<a href="{{url}}/editor/editoria/cadastro/{{editoria_id}}">
    <button class='btn btn-small btn-maroon'>Alterar Editoria</button>
</a>
&nbsp;&nbsp;
<a href="{{url}}/editor/editoria/excluir/{{editoria_id}}">
    <button class='btn btn-small btn-red'>Excluir Editoria</button>
</a>
<hr/>
<br/>

{% import 'container/private/macros/formulario.twig' as form %}
<div class="hazo-form">

    <div class="span40">
        <div class="label">Nome da Editoria</div>
        <div class="field"><input type="text" readonly="true" value="{{Editoria.getNome()}}"/></div>
    </div>
    <div style="clear: both;"></div>
    <br/>
    <div style="clear: both;"></div>

    <div class="span60">
        <div class="label">Slug da Editoria</div>
        <div class="field"><input type="text" readonly="true" value="{{Editoria.getSlug()}}"/></div>
    </div>
    <div style="clear: both;"></div>
    <br/>
    <div style="clear: both;"></div>

    <div class="span40">
        <div class="label">Status da Editoria</div>
        {%
            set status = {
                'R': 'Rascunho',
                'S': 'StandBy',
                'A': 'Ativa',
                'I': 'Inativa'
            } 
        %}
        <div class="field"><input type="text" readonly="true" value="{{ status[Editoria.getStatus()] }}"/></div>
    </div>
    <div style="clear: both;"></div>
    <br/>
    <div style="clear: both;"></div>

    <div class="span60">
        <div class="label">Editoria Pai</div>
        <div class="field"><input type="text" readonly="true" value="{{Editoria.getParentEditoriaObj().getNome()}}"/></div>
    </div>
    <div style="clear: both;"></div>

</div>
<div style="clear: both;"></div>
<b>Autores</b>
<hr/>
<br/>

<div id="autores">
    
    <button class="btn btn-small btn-bgreen" id="add-autor">Cadastrar novo Autor</button>
    <div id="dvfrm-cad-autor"></div>

    <div id="lista_autores"><center>Carregando autores. Aguarde...</center></div>
    
    <hr/>
    <br/>
    <br/>

    <div style="clear: both;"></div>
    
</div>

<script>
    function loadAutores(){
        jQuery("#lista_autores").load("{{url}}/editor/editoria/lista-autores/{{Editoria.getID()}}");
    }
    loadAutores();
    
    function changeAutor( editoria_autor_id ){
        jQuery("#dvfrm-cad-autor").load("{{url}}/editor/editoria/cadastro-autor/{{Editoria.getID()}}"+( editoria_autor_id ? "/"+editoria_autor_id : "" ));
    }
    
    jQuery("#add-autor").on("click", function(){
        changeAutor();
    });
</script>

{% endblock %}