{% extends "intra/index.html" %}

{% block content %}

<form method="post" action="" class="form">
    <label class="cliente">
        Cliente <br/>
        <input type="text" name="cliente">
    </label>
    <br/>
    <label class="titulo">
        Título <br/>
        <input type="text" name="titulo">
    </label>
    <br/>
    <label class="descricao">
        Descrição <br/>
        <textarea name="descricao"></textarea>
    </label>
    <br/>
    <label class="prioridade">
        Prioridade <br/>
        <select name="prioridade">
            <option value="4">Baixa</option>
            <option value="3">Média</option>
            <option value="2">Alta</option>
            <option value="1">Urgente</option>
        </select>
    </label>
    <br/>
    <label class="tipo">
        Tipo da Demanda <br/>
        <select name="tipo">
            <option value="C">Manutenção Corretiva</option>
            <option value="V">Manutenção Evolutiva Opcional</option>
            <option value="O">Manutenção Evolutiva Obrigatória</option>
            <option value="D">Novo Desenvolvimento</option>
        </select>
    </label>
    <br/><br/>
    <input type="submit" value="Continuar" class="button"/>
</form>

{% endblock %}