{% extends "container/private/index.html" %}

{% block content %}

<style>
    .hazo-simple-table tbody tr td{ cursor: pointer; }
    
</style>

<a href="{{url}}/editor/bloco/lista/{{pagina_slug}}">
    <button class='btn btn-small btn-black'>Voltar para lista</button>
</a>
<hr/>

{% import 'container/private/macros/formulario.twig' as form %}
<form method="post" action="" enctype="multipart/form-data" class="hazo-form">
        
    <div class="span50">
        <div class="label">Imagem</div>
        <div class="field" id='inc-img-chg'>

            {% if post is empty and Bloco.getConteudo('imagem_url') %}
                <div>
                    {% set img_url = url~Bloco.getConteudo('imagem_url') %}
                    <a href="{{img_url}}" class="img_dip"><img src="{{img_url}}" style="height: 200px; float: left;"/></a>

                    &nbsp;&nbsp;

                    <input type="button" value="Alterar Imagem" class="btn btn-small btn-maroon alt-img"/>
                </div>

            {% else %}
                <input type="file" name="arquivo"/>
            {% endif %}
        </div>
    </div>
    <div style="clear: both;"></div>

    <div class="span80">
        <div class="label">Título</div>
        <div class="field"><input type="text" name="titulo" value="{{Bloco.getTitulo()}}"/></div>
    </div>

    <div class="span80">
        <div class="label">Descrição</div>
        <div class="field"><textarea name="descricao" style="height: 250px;color:#000;">{{Bloco.getConteudo('descricao')}}</textarea></div>
    </div>

    {% if pagina_slug == 'depoimentos' %}
    <div class="span80">
        <div class="label">Descrição Autor</div>
        <div class="field"><input type="text" name="descricao_autor" value="{{Bloco.getConteudo('descricao_autor')}}"/></div>
    </div>
    {% elseif pagina_slug == 'noticias' %}
    <div class="span80">
        <div class="label">Link da matéria</div>
        <div class="field"><input type="text" name="link_materia" value="{{Bloco.getConteudo('link_materia')}}"/></div>
    </div>
    {% endif %}
    
    
    <div style="clear: both;"></div>

    <div class="span80">
        <input type="submit" value="Salvar Alterações" class="btn btn-small btn-bgreen"/>
    </div>
    
</form>
<div style="clear: both;"></div>

<script>
    $().ready(function() {
        $(".img_dip").fancybox();
        $(".alt-img").on('click', function(){
            $(this).parent().remove();
            input = $("<input/>").attr('name', 'arquivo').attr('type', 'file');
            $("#inc-img-chg").append(input).fadeIn();
        });
    });
</script>

{% endblock %}