{% extends "container/private/index.html" %}

{% block content %}

<style>
    .hazo-simple-table tbody tr td{ cursor: pointer; }
</style>

<a href="{{url}}/editor/bloco/lista/depoimentos">
    <button class='btn btn-small btn-black'>Depoimentos</button>
</a>
<br/>
<br/>
<br/>
<a href="{{url}}/editor/bloco/lista/noticias">
    <button class='btn btn-small btn-black'>Notícias</button>
</a>

{% endblock %}