{% extends "container/private/index.html" %}

{% block content %}

<style>
    .hazo-simple-table tbody tr td{ cursor: pointer; line-height: 40px; vertical-align: middle; }
    .hazo-simple-table tbody tr td img{ height: 40px; float: left; }
</style>

<a href="{{url}}/editor/bloco/cadastro/{{pagina_slug}}">
    <button class='btn btn-small btn-black'>Cadastrar {{pagina_descr}}</button>
</a>
<hr/>
<br/>

{% if blocos %}
    <table class='hazo-simple-table' style='width: 800px;'>
        <thead>
            <tr>
                <td colspan="2">Selecione o item para editar</td>
            </tr>
        </thead>
        <tbody>
            {% for Bloco in blocos %}
            {% set link = url~'/editor/bloco/cadastro/'~pagina_slug~'/'~Bloco.getID() %}
            <tr>
                <td data-link="{{link}}" title="{{title}}">
                    <img src="{{url}}{{Bloco.getConteudo('imagem_url')}}"/>
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    {{Bloco.getTitulo()}}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <br/><br/><br/>
    {% import 'container/private/macros/paginate.twig' as paginate %}
    {{paginate.gera(link_next, link_atual, max_links)}}

{% else %}

    <center>Nenhuma página cadastrada</center>
    <br/><br/><br/>

{% endif %}

<script>
    $().ready(function(){
        $('.hazo-simple-table').find('td').on('click', function(){
            window.location = $(this).attr('data-link');
        });
    });
</script>

{% endblock %}