*{
    margin: 0;
    padding: 0;
    border: none;
    font-family: sans-serif;
}
.tools{
    background-color: #999;
    width: 100%;
    height: 120px;
    border-bottom: 2px solid #555;
    display: table;
}
.tools img.profile{
    height: 60px;
    height: 95px;
    width: auto;
    margin: 5px;
    border: 2px solid #e4dcdc;
    padding: 5px;
    float: left;
}
.tools ul.detail{
    display: inline-block;
    vertical-align: top;
    margin: 10px;
    max-width: 300px;
}
.tools ul.detail li{
    padding: 2px;
    line-height: 20px;
    vertical-align: middle;
    display: block;
    color: #FFF;
}
.tools ul.detail li.name{
    font-size: 20px;
    font-weight: bold;
}
.tools ul.detail li.prof{
    font-size: 14px;
    font-weight: bold;
    /*text-align: right;*/
}
.tools ul.detail li.text{
    font-size: 11px;
    display: inline;
}

.pannel{
    background: none;
    margin: 0;
    padding: 0;
    width: 50%;
    float: left;
    border: none;
    width: 100%;
    vertical-align: top;
}

.block{
    border: 2px solid #555;
    display: inline-block;
    margin: 10px;
    -webkit-border-radius: 4px;
       -moz-border-radius: 4px;
            border-radius: 4px;
    background-color: #555;
    float: left;
}
.block h2{
    line-height: 25px;
    color: #FFF;
    font-size: 16px;
    padding: 4px;
    text-align: center;
}
.block > button{
    float: right;
    margin: 4px;
    padding: 3px 9px;
    -webkit-border-radius: 4px;
       -moz-border-radius: 4px;
            border-radius: 4px;
    cursor: pointer;
}
.block > button:hover{
    background-color: #BBB;
}
.block ul{
    background-color: #FFF;
    -webkit-border-radius: 4px;
       -moz-border-radius: 4px;
            border-radius: 4px;
    margin: 4px;
    min-height: 100px;
    max-height: 500px;
    min-width: 300px;
    max-width: 500px;
    overflow: auto;
}
.block ul li{
    border-bottom: 1px dotted #888;
    line-height: 25px;
    padding: 3px 8px;
    cursor: pointer;
    font-size: 12px;
}
.block ul li:hover{
    background-color: #EEE;
}



.search-usuario{
    z-index: 999;
}