<!doctype html>
<html class="no-js">
<head>
    {% set url_d = url~"/modules/"~globals['request']['mode']|lower~"/View/"~globals['request']['module'] %}
    <link rel="stylesheet" media="all" href="{{url}}/media/templates/mds/css/style.css"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <link rel="stylesheet" media="all" href="{{url}}/media/libs/jquery/jquery-ui-1.8.13.custom.css"/>
    <script src="{{url}}/media/libs/jquery/jquery-2.0.0.min.js"></script>
    <script src="{{url}}/media/libs/jquery/jquery-ui-1.10.3.custom.min.js"></script>

    <link type="text/css" rel="stylesheet" href="{{url}}/media/libs/fancyapps/source/jquery.fancybox.css" />
    <script type="text/javascript" src="{{url}}/media/libs/fancyapps/source/jquery.fancybox.js"></script>

    <link type="text/css" rel="stylesheet" href="{{url}}/media/libs/hazoSearch_n/jquery.hazo-search-1.0.0.css" />
    <script type="text/javascript" src="{{url}}/media/libs/hazoSearch_n/jquery.hazo-search-1.0.0.js"></script>

    <script>
        var hazoParam = {
            url: "{{url}}"
        }
    </script>

    <link rel="stylesheet" media="all" href="{{url_d}}/{{globals['request']['submodule']}}.css"/>
    <script src="{{url_d}}/{{globals['request']['submodule']}}.js"></script>
</head>

<body lang="pt-br">

    <div class="tools">
        <img src="http://www.google.com/landing/2step/images/why-need-img-2.png" class="profile"/>
        <ul class="detail">
            <li class="name">Nome do Personagem</li>
            <li class="prof">Classe Personagem</li>
            <li class="text">Druida, Bêbado, Forte, Lento, Invisibilidade, Assassino, Fidelidade.</li>
        </ul>
    </div>

    <div class="pannel">

        <div class="block">
            <h2>Personagens</h2>
            <ul>
                {% for i in 0..8 %}
                <li>Mater Content</li>
                {% endfor %}
            </ul>
            <button onclick="frmAddPers()">+</button>
        </div>

        <div id="frm-add-personagem">
            <form method="post" action="">
                <input type='text' name='usuario' class='search-usuario' value=''/>
            </form>
        </div>

        <div class="block">
            <h2>Mestre</h2>
            <ul>
                {% for i in 0..0 %}
                <li>Mater Content</li>
                {% endfor %}
            </ul>
        </div>

    </div>

</body>

</html>