<!doctype html>
<html class="no-js">
    <head>
        {% set url_d = url~"/modules/"~globals['request']['mode']|lower~"/View/"~globals['request']['module'] %}
        <link rel="stylesheet" media="all" href="{{url}}/media/templates/mds/css/style.css"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        
        <link rel="stylesheet" media="all" href="{{url}}/media/libs/jquery/jquery-ui-1.8.13.custom.css"/>
        <script src="{{url}}/media/libs/jquery/jquery-2.0.0.min.js"></script>
        <script src="{{url}}/media/libs/jquery/jquery-ui-1.10.3.custom.min.js"></script>
        <script src="{{url}}/media/libs/jquery/jquery.form.js"></script>
        

        <link type="text/css" rel="stylesheet" href="{{url}}/media/libs/fancyapps/source/jquery.fancybox.css" />
        <script type="text/javascript" src="{{url}}/media/libs/fancyapps/source/jquery.fancybox.js"></script>
        
        
        <script src="{{url}}/library/CKEditor/ckeditor.js"></script>
        <script src="{{url}}/library/CKEditor/adapters/jquery.js"></script>
        

        <script>
            var hazoParam = {
                url: "{{url}}",
                sessao_id: "{{Sessao.getID()}}"
            }
        </script>
        
        <link rel="stylesheet" media="all" href="{{url_d}}/{{globals['request']['submodule']}}.css"/>
        <script src="{{url_d}}/{{globals['request']['submodule']}}.js"></script>
    </head>

    <body lang="pt-br">

        <div class="tools">
            <div style="display: table; float: left;">
                <a href="{{url_module}}/anexo/{{PersOnline.getAnexoImagemID()}}?.png" rel="gallery2" class="fancybox">
                    <img src="{{url_module}}/anexo/{{PersOnline.getAnexoImagemID()}}" class="profile"/>
                </a>
                <ul class="detail">
                    <li class="name">{{PersOnline.getNome()}}</li>
                    <li class="prof">{{PersOnline.getUserObj().getName()}}</li>
                    <li class="text">&nbsp;</li>
                </ul>
            </div>
            <div class="outros-p">
                
                {% for Personagem in outros_pers %}
                <div class='profile'>
                    <a href="{{url_module}}/anexo/{{Personagem.getAnexoImagemID()}}?.png" rel="gallery2" class="fancybox">
                        <img src="{{url_module}}/anexo/{{Personagem.getAnexoImagemID()}}" class="profile"/>
                    </a>
                    <ul class="detail">
                        <li class="name">{{Personagem.getNome()}}</li>
                        <li class="prof">{{Personagem.getUserObj().getName()}}</li>
                        <li class="text">&nbsp;</li>
                    </ul>
                </div>
                {% endfor %}
                
            </div>
            
        </div>
        
        <div class="master-role">
            <div class="title">O mestre mandou</div>
            <div class="body">
                <ul class="master-anx">
                    {% for Anexo in anexos_mestre %}
                    <li data-id="{{Anexo.getID()}}">
                        {% if Anexo.getRef() == 'I' %}
                        <a href="{{url_module}}/anexo/{{Anexo.getID()}}?.png" rel="gallery1" class="fancybox"><img src="{{url_module}}/anexo/{{Anexo.getID()}}" class="anx"/></a>
                        {% elseif Anexo.getRef() == 'T' %}
                        <div class='text'>{{Anexo.getContent()|raw}}</div>
                        {% endif %}
                    </li>
                    {% endfor %}
                    
                </ul>
            </div>
            {% if PersOnline.getTipo() == 'M' %}
            <div class="inside">
                <button onclick="$.fancybox('#m_add_img')">+ Imagem</button>
                <button onclick="fancyTxt();">+ Texto</button>
                
                <div id="m_add_img" style="display: none;">
                    <form method='post' action='{{url_module}}/mestre-add-content/{{Sessao.getID()}}/file/I' class='fmrm-mst'>
                        <input type='file' name='arquivo'/>
                        <br/>
                        <input type='submit' value='Enviar'/>
                    </form>
                </div>
                
                <div id="m_add_txt" style="display: none;">
                    <form method='post' action='{{url_module}}/mestre-add-content/{{Sessao.getID()}}/text/T' class='fmrm-mst'>
                        <div class='textarea'>
                            <textarea id="txt-n-ck" name="content"></textarea>
                        </div>
                        <br/>
                        <input type='submit' value='Enviar'/>
                    </form>
                </div>
                
            </div>
            {% endif %}
        </div>
        
        <div class="rol">
            <div>
                <div class="btn" onclick="rol(4)"><img src="{{url_d}}/img/d4.png"/>d4</div>
                <div class="btn" onclick="rol(6)"><img src="{{url_d}}/img/d6_2.png"/>d6</div>
                <div class="btn" onclick="rol(8)"><img src="{{url_d}}/img/d8.png"/>d8</div>
                <div class="btn" onclick="rol(10)"><img src="{{url_d}}/img/d10.png"/>d10</div>
                <div class="btn" onclick="rol(12)"><img src="{{url_d}}/img/d12.png"/>d12</div>
                <div class="btn" onclick="rol(20)"><img src="{{url_d}}/img/d20.png"/>d20</div>
                <div class="btn" onclick="rol(100)"><img src="{{url_d}}/img/d100.png"/>d100</div>
            </div>
            
            <div>
                <div class="field">0</div>
            </div>
            
        </div>
        
        <div class="char-chat">
            <div class="receive">
                <ul class="chat">
                    {% for Chat in chats %}
                    <li data-id="{{Chat.getID()}}">
                        <img src="{{url_module}}/anexo/{{Chat.getSessaoPersonagemObj().getAnexoImagemID()}}" class="profile"/>
                        {{Chat.getMessage()|raw}}
                    </li>
                    {% endfor %}
                </ul>
                <span id='mark'></span>
            </div>
            <div class="call">
                <form method="post" action="">
                    <textarea name="text" id="send-chat"></textarea>
                </form>
            </div>
        </div>
        
    </body>

</html>