<div style="margin:20px auto;padding:40px;max-width:600px;border:3px solid #BBB;-webkit-border-radius:40px;-moz-border-radius:40px;border-radius:40px;font-family:sans-serif;background-color:#FFF;">

    <div class='logo'>
        <img src="{{url}}/media/images/rpg-free-logo.gif" style="width: 100%;max-width: 200px;height: auto;margin: auto;display: block;"/>
        <span style="text-align: center;line-height: 20px;margin: auto;margin-top: 10px;margin-bottom: 20px;display: block;color: #000;font-weight: bold;">Free</span>
    </div>

    <p style="font-size: 12px;color: #444;margin: 0;text-align: center; font-size: 13px;">
        Bem vindo ao sistema RPG Free,
        <br/>
        {% if tipo == 'M' %}
            Para acessar sua sala e convidar seus amigos, acesse o link abaixo e divirta-se.
        {% else %}
            Para acessar sua sala, acesse o link abaixo e divirta-se.
        {% endif %}
            
        <br/>
        <br/>
        <a href="{{url_acesso}}" style="text-decoration:none;font-size:18px;color:#333;font-weight:bold;font-family:sans-serif;">ACESSAR {{sala_nome|upper}}</a>
    </p>

</div>