{#% extends "intra/index.html" %#}

{% set base = url~"/media/bluewhale-admin/" %}

{# jQuery #}
<!--<link type="text/css" rel="stylesheet" href="{{url}}/core/pages/template/jquery/css/custom-theme/jquery-ui-1.8.22.custom.css" />-->
<!--<script type="text/javascript" src="{{url}}/core/pages/template/jquery/js/jquery-1.7.2.min.js"></script>-->
<!--<script type="text/javascript" src="{{url}}/core/pages/template/jquery/js/jquery-ui-1.8.22.custom.min.js"></script>-->
<!--<script type="text/javascript" src="{{url}}/core/pages/template/jquery/jquery.cookie.js"></script>-->

{# Bootstrap #}
{#
<!--<link rel="stylesheet" type="text/css" href="{{url}}/media/bootstrap/css/bootstrap.min.css" media="screen" />-->
<!--<script type="text/javascript" src="{{url}}/media/bootstrap/js/bootstrap.min.js"></script>-->
#}

<!--<link rel="shortcut icon" href="{{url}}/favicon.ico" type="image/x-icon" />-->
<!--<link rel="stylesheet" type="text/css" href="{{base}}css/reset.css" media="screen" />-->
<!--<link rel="stylesheet" type="text/css" href="{{base}}css/text.css" media="screen" />-->
<!--<link rel="stylesheet" type="text/css" href="{{base}}css/grid.css" media="screen" />-->
<!--<link rel="stylesheet" type="text/css" href="{{base}}css/layout.css" media="screen" />-->
<!--<link rel="stylesheet" type="text/css" href="{{base}}css/nav.css" media="screen" />-->
<!--[if IE 6]><link rel="stylesheet" type="text/css" href="{{base}}css/ie6.css" media="screen" /><![endif]-->
<!--[if IE 7]><link rel="stylesheet" type="text/css" href="{{base}}css/ie.css" media="screen" /><![endif]-->

<!--<script src="{{base}}js/table/table.js" type="text/javascript"></script>-->
<!--<script src="{{base}}js/setup.js" type="text/javascript"></script>-->
<!--
<link type="text/css" rel="stylesheet" href="{{url}}/media/container/intra/style.css" />-->
<!--<link type="text/css" rel="stylesheet" href="{{url}}/media/container/css/form.css" />-->





{% block content %}

{% if _isGranted('/u/workgen/criar-solicitacao') %}
<a href="{{url}}/u/workgen/criar-demanda" class="button">Criar Solicitação</a>
{% endif %}

<div class="con">
    <div class="span50">
        <div class="label">Nome</div>
        <div class="field"><input type="text"/></div>
    </div>
    <div class="span50">
        <div class="label">Nome</div>
        <div class="field"><input type="text"/></div>
    </div>
    <div class="span20">
        <div class="label">Nome</div>
        <div class="field"><input type="text"/></div>
    </div>
    <div class="span30">
        <div class="label">Nome</div>
        <div class="field"><input type="text"/></div>
    </div>
    <div class="span40">
        <div class="label">Nome</div>
        <div class="field"><input type="text"/></div>
    </div>
    <div class="span10">
        <div class="label">Nome</div>
        <div class="field"><input type="text"/></div>
    </div>
</div>

<style>
    body, htm, *{
        padding: 0;
        margin: 0;
        list-style: none;
        font-weight: normal;
        text-decoration: none;
    }
    .con{
        width: 100%;
        padding: 0 !important;
        margin: 0 !important;
    }
    .con > div .field input[type='text']{
        width: 100%;
        border: 1px solid #999;
        -moz-border-radius: 4px; /* Para Firefox */
        -webkit-border-radius: 4px; /*Para Safari e Chrome */
        border-radius: 4px; /* Para Opera 10.5+*/
    }
    .con > div .field input[type='text']:focus{
        outline: 0;
        border: 1px solid #6d8df2 !important;
        background-color: #eef2fe;
    }
    .con .field, 
    .con .label{
        margin-left: 10px;
    }
    .con .label{
        font-weight: bold;
    }
    .con > div{
        font-weight: bold;
        font-family: sans-serif;
        font-size: 11px;
        color: #333;
        margin: 0;
        margin-bottom: 10px;
        display: block !important;
        float: left;
    }
    .clear{
        clear: both;
    }
    .span80{
        min-width: 400px;
        width: 80% !important;
    }
    .span50{
        min-width: 250px;
        width: 50% !important;
    }
    .span40{
        min-width: 200px;
        width: 40% !important;
    }
    .span30{
        min-width: 150px;
        width: 30% !important;
    }
    .span20{
        min-width: 100px;
        width: 20% !important;
    }
    .span10{
        min-width: 50px;
        width: 10% !important;
    }
</style>

<script>
</script>

{#{ debug(get_defined_vars(),1) }#}

{% endblock %}