{% extends "intra/index.html" %}

{% block content %}

{% if _isGranted('/u/workgen/criar-solicitacao') %}
<a href="{{url}}/u/workgen/criar-demanda" class="button">Criar Solicitação</a>
{% endif %}

<center style='font-size: 40px;'>First page to WorkGen</center>

<script src="{{url}}/media/libs/jquery.masonry.min.js"></script>
{#
<script src="{{url}}/media/Nested-master/jquery.nested.js"></script>
<link href="{{url}}/media/Nested-master/style.css"/>

http://masonry.desandro.com/docs/options.html

#}
<div class="container" style="width: 900px;">
    
        <div class="box size1 col4">
            <span class="label">111</span> <br/>
            <input type="text"/>
        </div>
        <div class="box size1 col2">
            <span class="label">222</span> <br/>
            <input type="text"/>
        </div>
        <div class="box size1 col2">
            <span class="label">333</span> <br/>
            <input type="text"/>
        </div>
</div>
<div class="container" style="width: 900px;">
    <div class="box size1 col3">
        <span class="label">444</span> <br/>
        <input type="text"/>
    </div>
    <div class="box size1 col1">
        <span class="label">555</span> <br/>
        <input type="text"/>
    </div>
    <div class="box size1 col1">
        <span class="label">666</span> <br/>
        <input type="text"/>
    </div>
    <div class="box size1 col3">
        <span class="label">777</span> <br/>
        <input type="text"/>
    </div>
</div>
{#
<div id="container">
    <div class="box size11"></div>
    <div class="box size12"></div>
    <div class="box size21"></div>
    <div class="box size22"></div>
</div>
#}

<style>
    .form2 > div{ background-color: red; }
    .box{ border: 1px solid #888; }
    .box input{ width: 100%; }
    .col1 { width: 100px; }
    .col2 { width: 200px; }
    .col3 { width: 300px; }
    .col4 { width: 400px; }
    .col5 { width: 500px; }
</style>

<script>
    $().ready(function() {
        $('.container').masonry({
            itemSelector: '.box',
            isFitWidth: true,
            isResizable: true,
            columnWidth: 20,
            gutterWidth: 5
        });
    });
</script>

{#{ debug(get_defined_vars(),1) }#}

{% endblock %}