.hazo-form{
    /*max-width: 600px;*/
    width: 100%;
    padding: 0;
    margin: 0;
    display: block;
}
.hazo-form div .field{ white-space: nowrap !important; }
.hazo-form div .field input[type='text'],
.hazo-form div .field input[type='password'],
.hazo-form div .field input[type='checkbox'],
.hazo-form div .field input[type='radio'],
.hazo-form div .field select,
.hazo-form div .field textarea{
}
.hazo-form div .field input[type='radio'],
.hazo-form div .field input[type='checkbox']{
    height: 13px;
}
.hazo-form div .field input[type='text'],
.hazo-form div .field input[type='password'],
.hazo-form div .field select,
.hazo-form div .field textarea{
    height: 22px;
    font-size: 12px;
    width: 100%;
    border: 1px solid #999;
    -moz-border-radius: 4px; /* Para Firefox */
    -webkit-border-radius: 4px; /*Para Safari e Chrome */
    border-radius: 4px; /* Para Opera 10.5+*/
    background-color: #FFE;
    resize: none;
    display: block;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 1px 4px;
}
.hazo-form div .field input[type='text']:focus,
.hazo-form div .field input[type='password']:focus,
.hazo-form div .field select:focus,
.hazo-form div .field textarea:focus{
    outline: 0;
    border: 1px solid #6d8df2;
    background-color: #ebf7fe;
}
.hazo-form div .field input[readonly],
.hazo-form div .field input[readonly],
.hazo-form div .field select[readonly],
.hazo-form div .field textarea[readonly]{
    background-color: #dddddd;
    font-family: sans-serif;
}
.hazo-form .field, 
.hazo-form .label{
    margin-right: 10px;
    vertical-align: middle;
}
.hazo-form .label{
    font-weight: bold;
}
.hazo-form > div{
    font-weight: bold;
    font-family: sans-serif;
    font-size: 11px;
    color: #333;
    margin: 0;
    margin-bottom: 10px;
    display: block;
    float: left;
}
.span100{
    min-width: 160px;
    width: 100%;
}
.span90{
    min-width: 160px;
    width: 90%;
}
.span80{
    min-width: 160px;
    width: 80%;
}
.span70{
    min-width: 160px;
    width: 70%;
}
.span60{
    min-width: 160px;
    width: 60%;
}
.span50{
    min-width: 160px;
    width: 50%;
}
.span40{
    min-width: 144px;
    width: 40%;
}
.span30{
    min-width: 108px;
    width: 30%;
}
.span20{
    min-width: 72px;
    width: 20%;
}
.span10{
    min-width: 50px;
    width: 10%;
}