*{
    margin: 0;
    padding: 0;
    border: none;
    font-family: sans-serif;
}
.tools{
    background-color: #999;
    width: 100%;
    height: 120px;
    border-bottom: 2px solid #555;
    display: table;
}
.tools img.profile{
    height: 95px;
    width: auto;
    margin: 5px;
    border: 2px solid #e4dcdc;
    padding: 5px;
    float: left;
}
.tools ul.detail{
    display: inline-block;
    vertical-align: top;
    margin: 10px;
    max-width: 300px;
}
.tools ul.detail li{
    padding: 2px;
    line-height: 20px;
    vertical-align: middle;
    display: block;
    color: #FFF;
}
.tools ul.detail li.name{
    font-size: 20px;
    font-weight: bold;
}
.tools ul.detail li.prof{
    font-size: 14px;
    font-weight: bold;
    /*text-align: right;*/
}
.tools ul.detail li.text{
    font-size: 11px;
    display: inline;
}

.outros-p{
    display: inline-block;
    margin: 10px;
    border-left: 2px dotted #777;
}
.outros-p .profile{
    margin: 0 20px 10px 20px;
    display: inline-block;
    float: left;
}
.outros-p .profile .detail{
    margin: 4px;
}
.outros-p .profile img{
    height: 30px;
    width: auto;
    border: none;
    padding: 0;
    margin: 0;
    float: left;
}
.outros-p .profile .name{
    font-size: 14px !important;
    line-height: 0px;
}
.outros-p .profile .prof{
    font-size: 10px !important;
    line-height: 25px;
    font-weight: normal;
}





.master-role{
    background: none;
    margin: 0;
    padding: 0;
    width: 50%;
    float: left;
    border-right: 2px solid #555;
}
.master-role .title{
    width: 100%;
    border: none;
    background-color: #555;
    color: #FFF;
    text-align: center;
    padding: 0;
    margin: 0;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 14px;
    vertical-align: middle;
    height: 30px;
    line-height: 30px;
}
.master-role .body{
    background-color: #FFF;
/*    
    -webkit-border-radius: 4px;
       -moz-border-radius: 4px;
            border-radius: 4px;*/
    /*width: 100%;*/
    padding: 0px;
    margin: 0;
    overflow: auto;
}
.master-role .inside{
    background-color: #BBB;
    height: 90px;
    padding: 0px;
    margin: 0;
    border: none;
    overflow: auto;
    padding: 5px;
}
.master-role .inside button{
    -webkit-border-radius: 4px;
       -moz-border-radius: 4px;
            border-radius: 4px;
    border: 2px solid #555;
    padding: 5px;
    font-size: 12px;
    color: #333;
    font-weight: bold;
    cursor: pointer;
}

.master-role ul{
    width: 100%;
}
.master-role ul li{
    border-bottom: 1px dotted red;
    border-bottom: 1px dotted #DDD;
    padding: 2px 3px;
    line-height: 30px;
    vertical-align: middle;
    font-weight: normal;
    font-size: 12px;
}
.master-role ul li img.anx{
    max-width: 98%;
    height: auto;
}


.char-chat{
    float: right;
    background-color: #FFF;
    width: 30%;
    border-left: 2px solid #555;
}
.char-chat .receive ul li img.profile{
    height: 35px;
    line-height: 35px;
    display: block;
    width: auto;
    border: none;
    float: left;
    margin: 2px 6px 2px 0;
}

.char-chat .receive{
    padding: 5px;
    display: block;
    overflow: auto;
    border-bottom: 2px solid #7b7171;
}
.char-chat .receive ul{
    width: 100%;
}
.char-chat .receive ul li{
    border-bottom: 1px dotted red;
    border-bottom: 1px dotted #DDD;
    padding: 2px 3px;
    line-height: 18px;
    min-height: 39px;
    vertical-align: middle;
    font-weight: normal;
    font-size: 12px;
}

.char-chat .call{
    /*background-color: #7b7171;*/
    display: block;
}
.char-chat .call textarea{
    resize: none;
    border: none;
    margin: 0px;
    overflow: hidden;
/*    -webkit-border-radius: 4px; Para Safari e Chrome 
       -moz-border-radius: 4px;  Para Firefox 
            border-radius: 4px;  Para Opera 10.5+*/
    height: 30px;
    padding: 4px;
    font-size: 12px;
    color: #555;
}

.rol{
    float: left;
    background-color: #999;
    /*line-height: 300px;*/
    text-align: center;
    border-bottom: 2px solid #555;
}
.rol input[type='button'], .rol .btn{
    display: inline-block;
    /*float: left;*/
    font-size: 16px;
    padding: 10px;
    -webkit-border-radius: 4px;
       -moz-border-radius: 4px;
            border-radius: 4px;
    background-color: #555;
    color: #FFF;
    font-weight: bold;
    text-transform: uppercase;
    margin: 2px;
    width: 75px;
    cursor: pointer;
    line-height: 25px;
}
.rol img{
    height: 25px;
    width: auto;
    float: left;
    margin-right: 7px;
}
.rol .field{
    line-height: 200px;
    color: #555;
    font-size: 72px;
    font-weight: bold;
}


#m_add_img{
    display:none;
}
#m_add_img input[type='submit'],
#m_add_txt input[type='submit']{
    right: 10px;
    bottom: 10px;
    position: absolute;
    -webkit-border-radius: 4px;
       -moz-border-radius: 4px;
            border-radius: 4px;
    border: 2px solid #555;
    padding: 5px;
    font-size: 12px;
    color: #333;
    font-weight: bold;
    cursor: pointer;
}
.ckeditor{
    margin-bottom: 50px;
}