{% extends "hazo/intra/index.twig" %}

{% block content %}

{% set action = Cliente.getID() ? url_module~"/alterar/"~Cliente.getID() : url_module~"/criar" %}

<form class="row form-data" method="post" action="{{action}}">

<h4>Dados Pessoais</h4>
<hr/>
<div class="well row form-inline">

    <div class="form-group col-xs-12 col-sm-12">
        <label>Nome / Razão Social</label>
        <input type="text" class="form-control" value="{{Pessoa.getRazao()}}" name="pes_razao"/>
    </div>

    <div class="form-group col-xs-12 col-sm-8">
        <label>Fantasia / Apelido</label>
        <input type="text" class="form-control" value="{{Pessoa.getFantasia()}}" name="pes_fantasia"/>
    </div>

    <div class="form-group col-xs-12 col-sm-4">
        <label>CPF/CNPJ</label>
        <input type="text" class="form-control" value="{{Pessoa.getCpf() ? Pessoa.getCpf() : Pessoa.getCnpj()}}" name="pes_cpf_cnpj"/>
    </div>
</div>

<h4>Cliente</h4>
<hr/>
<div class="row well form-inline">

    <div class="form-group col-xs-12 col-sm-3">
        <label>Status de Cliente</label><br/>
        {% import "hazo/intra/formulario.twig" as form %}
        {{ form.radio({A: 'Ativo', I: 'Inativo'}, 'cli_status', Cliente.getStatus() ? Cliente.getStatus() : 'A' ) }}
    </div>

    <div class="form-group col-xs-12 col-sm-5">
        <label>Gerente padrão do cliente</label><br/>
        <input type="text" class="form-control gerente" value="{{Cliente.getGerenteUserID()}}" name="cli_gerente"/>
    </div>
    
</div>

<div class="row form-inline ">
    <input type="submit" class="btn btn-primary" value="Salvar Alterações"/>
</div>
</form>

<script>

    jQuery('.gerente').hazoSearch({
        url: "{{url_module}}/search-gerente",
        end: 10
    });
    
    jQuery('.form-data').formAjax({
        success: function( data ){
            if( data.status ){
                window.location = data.redirect;
            }else{
                message(data.msg, 'error');
            }
        }
    });

</script>

{% endblock %}