{% extends "hazo/intra/index.twig" %}

{% block content %}

<style>
    span.excluir{
        color: red;
        cursor: pointer;
    }
    span.excluir:hover{
        text-decoration: underline;
    }
</style>

<h4>Dados Pessoais</h4>
<hr/>
<div class="well row">

    <div class="form-group col-xs-12 col-sm-12">
        <label>Nome / Razão Social</label>
        <input type="text" class="form-control" value="{{Pessoa.getRazao()}}" readonly/>
    </div>

    <div class="form-group col-xs-12 col-sm-8">
        <label>Fantasia / Apelido</label>
        <input type="text" class="form-control" value="{{Pessoa.getFantasia()}}" readonly/>
    </div>

    <div class="form-group col-xs-12 col-sm-4">
        <label>CPF/CNPJ</label>
        <input type="text" class="form-control" value="{{Pessoa.getCpf() ? Pessoa.getCpf() : Pessoa.getCnpj()}}" readonly/>
    </div>
</div>

<h4>Cliente</h4>
<hr/>
<div class="well">
    <div class="row">

        <div class="form-group col-xs-12 col-sm-4">
            <label>Status de Cliente</label>
            <input type="text" class="form-control" value="{{Cliente.getStatus() == 'A' ? 'Ativo' : 'Inativo'}}" readonly/>
        </div>

        <div class="form-group col-xs-12 col-sm-4">
            <label>Gerente padrão do cliente</label>
            <input type="text" class="form-control" value="{{Cliente.getGerenteUserObj().getName()}}" readonly/>
        </div>

    </div>
    <div class="row">

        <div class="col-xs-12 col-sm-12">
            <h5><b>Usuários do cliente</b></h5>
        </div>
        
        {% set cliUsuarios = Cliente.listaUsuarios() %}
        {% if cliUsuarios %}
        
            <table class="table-diplomas table table-form">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Nome</th>
                        <th>Login</th>
                        <th>Status</th>
                        <th>&nbsp;</th>
                    </tr>
                </thead>
                <tbody>
                    {% for CliUsuario in cliUsuarios %}
                    <tr>
                        <td>{{CliUsuario.getID()}}</td>
                        <td>{{CliUsuario.getUserObj().getName()}}</td>
                        <td>{{CliUsuario.getUserObj().getLogin()}}</td>
                        <td>{{CliUsuario.getUserObj().getStatus() == 'A' ? 'Ativo' : 'Inativo'}}</td>
                        <td><span class="excluir" onclick="excluir('{{CliUsuario.getID()}}')">Excluir</span></td>
                    </tr>

                    {% endfor %}
                </tbody>
            </table>
        
            <script>
        
                function excluir( id ){
                    if( confirm('Deseja realmente desanexar este usuário?') ){
                        jQuery.ajax({
                            url: "{{url_mode}}/cliente-usuario/excluir/"+id,
                            dataType: 'json',
                            type: 'post',
                            data: {},
                            success: function( data ){
                                if( data.status ){
                                    window.location = window.location;
                                }else{
                                    message(data.msg, 'error');
                                }
                            }
                        });
                    }
                }
        
            </script>
        {% else %}
            <center><i>Nenhum usuário cadastrado para este cliente</i></center>
        {% endif %}
        
        <div class="row">
            <a href="{{url_mode}}/cliente-usuario/novo/{{Cliente.getID()}}" class="">Adicionar novo usuário</a>
        </div>

    </div>
</div>

<div class="row">
    <div class="row form-inline col-xs-12 col-sm-12">
        <a href="{{url}}/u/clientes/edicao/{{Cliente.getID()}}" class="btn btn-primary">Alterar cadastro do cliente</a>
    </div>
</div>
    
{% endblock %}