{% extends "intra/simple.html" %}


{% block content %}

<style>

    .tbl-calendario{
        border: none;
        float: left;
        display: block;
    }
    .tbl-calendario a{
        text-decoration: none;
        color: #666;
    }
    .tbl-calendario .sel{
        background-color: #EEE;
        font-weight: bold;
    }
    .tbl-calendario .today div{
        -webkit-border-radius: 8px; /*Para Safari e Chrome */
        -moz-border-radius: 8px; /* Para Firefox */
        border-radius: 8px; /* Para Opera 10.5+*/
        border: 1px solid #CCC;
        width: 48px;
        height: 28px;
    }
    .tbl-calendario td{
        border: none;
        text-align: center;
        font-family: sans-serif;
        padding: 5px;
    }
    .tbl-calendario tbody td{
        padding-top: 10px;
        text-align: center;
    }
    .tbl-calendario tbody td > div{
        width: 50px;
        height: 30px;
        line-height: 30px;
        font-size: 13px;
        color: #666;
    }
    .tbl-calendario tbody td div:hover,
    .checked{
        -webkit-border-radius: 8px; /*Para Safari e Chrome */
        -moz-border-radius: 8px; /* Para Firefox */
        border-radius: 8px; /* Para Opera 10.5+*/
        background-color: #eeeeee;
        cursor: pointer;
    }
    .tbl-calendario thead td{
        height: 30px;
        background-color: #DDD;
        font-weight: bold;
        font-size: 12px;
        text-align: center;
    }
    .tbl-calendario thead td.titulo, 
    .tbl-calendario thead td.anterior, 
    .tbl-calendario thead td.proximo{
        border-bottom: 1px solid red;
    }
    .tbl-calendario thead td.anterior a, 
    .tbl-calendario thead td.proximo a{
        -webkit-border-radius: 4px; /*Para Safari e Chrome */
        -moz-border-radius: 4px; /* Para Firefox */
        border-radius: 4px; /* Para Opera 10.5+*/
        background-color: #EEE;
        padding: 5px 8px;
    }
    .tbl-calendario thead td.mes{
        font-size: 17px
    }
    #form-novo-evento{
        padding-left: 20px;
    }
    #cont-frm-n-evnt{
        margin-left: 20px;
        width: 310px;
        display: block;
        float: left;
        height: 300px;
    }
</style>


<center>
    <div style="width: 770px; text-align: center">
        <table align='center' border=0 cellspacing=0 cellpadding=0 class="tbl-calendario">
            <thead>
                <tr>
                    <td class="titulo anterior" colspan='2'>
                        <a href="{{url}}/index/calendario/$/{{cal_anterior}}">Anterior</a>
                    </td>
                    <td class="titulo mes" colspan='3'><center><b>{{mes2}} / {{ano}}</b></center></td>
            <td class="titulo anterior" colspan='2'>
                <a href="{{url}}/index/calendario/$/{{cal_proximo}}">Próximo</a>
            </td>
            </tr>
            <tr>
                <td>Domingo</td>
                <td>Segunda</td>
                <td>Terça</td>
                <td>Quarta</td>
                <td>Quinta</td>
                <td>Sexta</td>
                <td>Sábado</td>
            </tr>
            </thead>
            <tbody>
                {% set cont = 0 %}
                {% for linha in 0..5 %}
                <tr>
                    {% for coluna in 0..6 %}
                    {% set pos = cont - posicaoPrimeiroDia %}
                    {% if dias[pos] %}
                    <td class="{{ (dias[pos]|length == 1 ? '0' : '')~dias[pos]~'/'~mes~'/'~ano == date('d/m/Y') ? 'today' : '' }}">
                        <div data-dia="{{dias[pos]}}" class="chg">{{dias[pos]}}</div>
                    </td>
                    {% else %}
                    <td>&nbsp;</td>
                    {% endif %}
                    {% set cont = cont + 1 %}
                    {% endfor %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <div id="cont-frm-n-evnt">{% include "index/form-new-evento.html" %}</div>
    </div>
</center>


<div style='clear: both;'></div>

<center>
    <div id="chg-horario"></div>
</center>

<script>
    function loadHorarios(ano, mes, dia) {
        $("#chg-horario").html("Carregando...");
        $("#chg-horario").load("{{url}}/index/horarios/$/" + ano + "/" + mes + "/" + dia);
    }
    $(".chg").click(function() {
        $(".chg").removeClass("checked");
        $(this).addClass("checked");
        dia = $(this).attr('data-dia');
        mes = "{{mes}}";
        ano = "{{ano}}";
        loadHorarios(ano, mes, dia);
        $("#form-novo-evento").show();
    });
    $().ready(function(){
        loadHorarios("{{ano}}","{{mes}}","{{dia}}");
    });
</script>

{% endblock %}