<form method="post" id='form-novo-evento' class='hazo-form' style="display: block; max-width: 280px; padding: 20px 10px;text-align: left;">
    <div class='span100'>
        <div class='label'>Cliente</div>
        <div class='field'><input type='text' name="cliente"/></div>
    </div>
    <div class='span100'>
        <div class='label'>Serviço</div>
        <div class='field'><input type='text'/></div>
    </div>
    <div class='span100'>
        <div class='label'>Profissional</div>
        <div class='field'><input type='text'/></div>
    </div>
    <div class='span30'>
        <div class='label'>Início</div>
        <div class='field'><input type='text' name="inicio" placeholder=""/></div>
    </div>
    <div class='span30'>
        <div class='label'>Final</div>
        <div class='field'><input type='text' name="final" placeholder=""/></div>
    </div>
    <div class='span50'>
        <input type='submit' class='btn btn-small btn-bgreen' value="Salvar Evento"/>
    </div>
    <div class="clear"></div>
</form>

<script>
    $("input[name='cliente']").hazoSearch({url: "{{url}}/index/search-cliente"});
    $("input[name='inicio']").mask("99:99", {placeholder: ' '})
            .timepicker({
                hourText: "Hora",
                minuteText: "Minuto",
                closeText: "Confirmar",
                currentText: "Agora",
                timeText: "Tempo",
                timeOnlyTitle: "Alterar Hora Início"
            });
    $("input[name='final']").mask("99:99", {placeholder: ' '})
            .timepicker({
                hourText: "Hora",
                minuteText: "Minuto",
                closeText: "Confirmar",
                currentText: "Agora",
                timeText: "Tempo",
                timeOnlyTitle: "Alterar Hora Final"
            });
    $("#form-novo-evento").on("submit", function() {
        serialize = $(this).serialize();
        $.ajax({
            type: "POST",
            url: "{{url}}/index/form-new-evento",
            data: serialize,
            success: function(data){
                alert(data);
            }/*,
            dataType: json*/
        });
        return false;
    });
</script>