{% extends "intra/ajax.html" %}

{% block content %}

{% set base = url~"/media/bluewhale-admin/" %}

<script>
    $().ready(function(){
//        setTimeout(function(){ window.location = window.location; }, 1000);
    });
</script>

<style>
    .horario{
        background-color: #f6f5f5;
        border: 1px solid #e5e5e5;
        padding: 5px;
        margin-top: 5px;
        display: inline-block;
        width: 99%;
    }
    .horario .data{
        font-weight: bold;
        display: block;
        float: left;
        margin-right: 10px;
    }
    .horario .profissional{
        float: left;
        display: block;
        margin-right: 10px;
    }
    .horario .cliente{
        float: left;
        display: block;
        margin-right: 10px;
    }
    .horario .servico{
        font-style: italic;
        display: block;
        float: left;
        margin-right: 10px;
    }
    .clear{ clear: both; }
</style>

{% for i in 0..1 %}

    <div class='horario'>
        <div class='data'>14h40 / 15h35</div>
        <div class='profissional'> -&nbsp; Ana Paula Berlanda</div>
        <div class='cliente'>| &nbsp; Maria das Dores</div>
        <div class='servico'>(Limpeza de Pele)</div>
    </div>
    <div class='clear'></div>

    <div class='horario'>
        <div class='data'>15h45 / 17h00</div>
        <div class='profissional'> -&nbsp; Ana Paula Berlanda</div>
        <div class='cliente'>| &nbsp; Suzana Alvez Toledo de Melo</div>
        <div class='servico'>(Limpeza e hidratação de péle)</div>
    </div>

{% endfor %}
    
{% endblock %}