{% extends "mds/base-home.twig" %}

{% block content %}


<!-- slider -->
<div class="flexslider home-slider">
    <ul class="slides">
        <li>
            <img src="{{url}}/media/templates/mds/img/banners/banner01.png" alt="alt text" />
            {#<p class="flex-caption">Integração</p>#}
        </li>
        <li>
            <img src="{{url}}/media/templates/mds/img/banners/banner02.png" alt="alt text" />
            {#<img src="{{url}}/media/images/ex02.jpg" alt="alt text" />
            <p class="flex-caption">Personalização</p>#}
        </li>
        <li>
            <img src="{{url}}/media/templates/mds/img/banners/banner03.png" alt="alt text" />
            {#<img src="{{url}}/media/images/ex03.jpg" alt="alt text" />
            <p class="flex-caption">Resultados</p>#}
        </li>
        {#% for i in 1..20 %}
        <li>
            <img src="{{url}}/media/images/ex03.jpg" alt="alt text" />
            <p class="flex-caption">Resultados</p>
        </li>
        {% endfor %#}
    </ul>
</div>
<div class="shadow-slider"></div>
<!-- ENDS slider -->


<!-- Headline -->
<div class="headline">
    Desenvolvimento WEB
</div>
<!-- ENDS Headline -->


<!-- featured -->
<h1 class="home-block-heading">Serviços</h1>
<div class="featured">
    <figure>
        <a href="{{url}}/media/images/ex02.jpg" data-rel="prettyPhoto" class="thumb"><img src="{{url}}/media/images/ex02.jpg" alt="Alt text" /></a>
        <div>
            <a href="{{mds}}/single.html" class="heading">Websites</a>
            Desenvolvimento de websites personalizados (com auxílio de designers parceiros) e com sistema de cadastro e alteração de dados integrado.
        </div>
        <a class="link" href="{{mds}}/single.html"></a>
    </figure>

    <figure>
        <a href="{{url}}/media/images/ex02.jpg" data-rel="prettyPhoto" class="thumb"><img src="{{url}}/media/images/ex02.jpg" alt="Alt text" /></a>
        <div>
            <a href="{{mds}}/single.html" class="heading">Sistemas</a>
            Sistemas de gerenciamento diversos inteiramente online. Visite <a href="{{url}}/portfolio">portfolio</a> para conhecer trabalhos já realizados.
        </div>
        <a class="link" href="{{mds}}/single.html"></a>
    </figure>

    <figure>
        <a href="{{url}}/media/images/ex02.jpg" data-rel="prettyPhoto" class="thumb"><img src="{{url}}/media/images/ex02.jpg" alt="Alt text" /></a>
        <div>
            <a href="{{mds}}/single.html" class="heading">Páginas de contato</a>
            Páginas de rápido e simples acesso para seu cliente em potencial entrar em contato com você.
        </div>
        <a class="link" href="{{mds}}/single.html"></a>
    </figure>
{#
    <figure>
        <a href="{{mds}}/img/dummies/full-4.jpg" data-rel="prettyPhoto" class="thumb"><img src="{{mds}}/img/dummies/full-4.jpg" alt="Alt text" /></a>
        <div>
            <a href="{{mds}}/single.html" class="heading">Portfolio Pages</a>
            Need to showcase your work. No worries use the portfolio template and display your work on a professional way.
        </div>
        <a class="link" href="{{mds}}/single.html"></a>
    </figure>

    <figure>
        <a href="{{mds}}/img/dummies/full-5.jpg" data-rel="prettyPhoto" class="thumb"><img src="{{mds}}/img/dummies/full-5.jpg" alt="Alt text" /></a>
        <div>
            <a href="{{mds}}/single.html" class="heading">Blog Templates</a>
            Use the blog page templates to create a theme in wordpress, tumblr or a different blog plataform. 
        </div>
        <a class="link" href="{{mds}}/single.html"></a>
    </figure>


    <figure>
        <a href="{{mds}}/img/dummies/full-6.jpg" data-rel="prettyPhoto" class="thumb"><img src="{{mds}}/img/dummies/full-6.jpg" alt="Alt text" /></a>
        <div>
            <a href="{{mds}}/single.html" class="heading">WordPress Version</a>
            I'm working with a talented WordPress Developer to bring a theme out of this template  <a href="#" >stay tuned</a>.
        </div>
        <a class="link" href="{{mds}}/single.html"></a>
    </figure>
#}
    <div class="clearfix"></div>

</div>
<!-- ENDS featured -->

{#  ######## Oculto até ser liberado o modo de blog ########
<!-- text-posts -->
<h1 class="home-block-heading">From the blog</h1>
<ul class="text-posts">
    <li>
        <a href="{{mds}}/single.html" class="heading">Get more freebies!</a>
        visit <a href="http://www.luiszuno.com" >luiszuno.com</a> and get more free items to help you create awesome sites. 
    </li>

    <li>
        <a href="{{mds}}/single.html" class="heading">Buy Premium themes</a>
        Check my portfolio and buy outstanding WordPress Themes. Visit my <a href="http://www.luiszuno.com/blog/work" >Online Portfolio</a> to learn more.
    </li>

    <li>
        <a href="{{mds}}/single.html" class="heading">Themeforest Themes</a>
        Visit  <a href="http://themeforest.net/?ref=ansimuz" >themeforest</a> and grab great themes at a great price!
    </li>

    <li>
        <a href="{{mds}}/single.html" class="heading">Get more freebies!</a>
        visit <a href="http://www.luiszuno.com" >luiszuno.com</a> and get more free items to help you create awesome sites. 
    </li>

    <li>
        <a href="{{mds}}/single.html" class="heading">Buy Premium themes</a>
        Check my portfolio and buy outstanding WordPress Themes. Visit my <a href="http://www.luiszuno.com/blog/work" >Online Portfolio</a> to learn more.
    </li>

    <li>
        <a href="{{mds}}/single.html" class="heading">Themeforest Themes</a>
        Visit  <a href="http://themeforest.net/?ref=ansimuz" >themeforest</a> and grab great themes at a great price!
    </li>

</ul>
<!-- ENDS text-posts -->
#}


<!-- home-gallery -->
<h1 class="home-block-heading">Galeria</h1>
<ul class="home-gallery">
    <li><a href="{{url}}/media/images/ex01.jpg" data-rel="prettyPhoto" class="thumb"><img src="{{url}}/media/images/ex01.jpg" alt="Alt text" /></a></li>
    <li><a href="{{url}}/media/images/ex02.jpg" data-rel="prettyPhoto" class="thumb"><img src="{{url}}/media/images/ex02.jpg" alt="Alt text" /></a></li>
    {#
    <li><a href="{{mds}}/img/dummies/featured-3.jpg" data-rel="prettyPhoto" class="thumb"><img src="{{mds}}/img/dummies/featured-3.jpg" alt="Alt text" /></a></li>
    <li><a href="{{mds}}/img/dummies/featured-4.jpg" data-rel="prettyPhoto" class="thumb"><img src="{{mds}}/img/dummies/featured-4.jpg" alt="Alt text" /></a></li>
    <li><a href="{{mds}}/img/dummies/featured-4.jpg" data-rel="prettyPhoto" class="thumb"><img src="{{mds}}/img/dummies/featured-5.jpg" alt="Alt text" /></a></li>
    <li><a href="{{mds}}/img/dummies/featured-6.jpg" data-rel="prettyPhoto" class="thumb"><img src="{{mds}}/img/dummies/featured-6.jpg" alt="Alt text" /></a></li>	        		
    #}
</ul>
<div class="clearfix"></div>	
<!-- ENDS home-gallery -->

{% endblock %}