{% macro select(array, name, valueDefault = null, nullable = true, id) %}
{% spaceless %}
    <select name="{{name}}">
        {% if nullable %}
        <option value=""></option>
        {% endif %}
        {% for value, description in array %}
            <option value="{{value}}" {{value == valueDefault ? "selected='selected'" : ""}}>{{description}}</option>
        {% endfor %}
    </select>
{% endspaceless %}
{% endmacro %}

{% macro radio(array, name, valueDefault = null, id) %}
{% spaceless %}
    
    <div class="radio">

    {% for value, description in array %}

      <label>
        <input type="radio" name="{{name}}" id="{{id}}" value="{{value}}" {{valueDefault and value == valueDefault ? 'checked' : ''}}>
        &nbsp;{{description}}&nbsp;&nbsp;
      </label>
     
    {% endfor %}
    </div>

    {#% for value, description in array %}
        <label><input type="radio" name="{{name}}" value="{{value}}" {{valueDefault and value == valueDefault ? "checked='checked'" : ""}}/>&nbsp;{{description}}&nbsp;&nbsp;</label>
    {% endfor %#}
{% endspaceless %}
{% endmacro %}

{% macro check(description, value, name, valueDefault = null, id) %}
{% spaceless %}
    <label><input type="checkbox" name="{{name}}" value="{{value}}" {{valueDefault and value == valueDefault ? "checked='checked'" : ""}}/>&nbsp;{{description}}&nbsp;&nbsp;</label>
{% endspaceless %}
{% endmacro %}