{% spaceless %}

{% if success %}
    <script>
        $().ready(function(){
            {% for message in success %}
                noty({text: "{{message}}", type: 'success', timeout: 5000});
            {% endfor %}
        });
    </script>
{% endif %}
    
{% if errors %}
    <script>
        $().ready(function(){
            {% for message in errors %}
                noty({text: "{{message}}", type: 'error', timeout: 5000});
            {% endfor %}
        });
    </script>
{% endif %}
    
{% if alert %}
    <script>
        $().ready(function(){
            {% for message in alert %}
                noty({text: "{{message}}", type: 'alert', timeout: 5000});
            {% endfor %}
        });
    </script>
{% endif %}
    
{% endspaceless %}