{% spaceless %}<!DOCTYPE html>
<html>
    <head>
        <title>Hazo Project</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

        {# jQuery 
        <script type="text/javascript" src="{{url}}/media/jquery/jquery-1.9.1.min.js"></script>
        <link type="text/css" rel="stylesheet" href="{{url}}/media/jquery/css/custom-theme/jquery-ui-1.8.22.custom.css" />
        <script type="text/javascript" src="{{url}}/media/jquery/jquery-ui-1.10.3.custom.js"></script>
        #}
        
        <script> var hazoParam = { url: '{{url}}' }; </script>
        
        <script type="text/javascript" src="{{url}}/media/libs/jquery/jquery-1.9.1.min.js"></script>
        <script type="text/javascript" src="{{url}}/media/libs/jquery/jquery-ui-1.10.3.custom.min.js"></script>
        <link type="text/css" rel="stylesheet" href="{{url}}/media/libs/jquery/css/custom-theme/jquery-ui-1.8.22.custom.css" />
        <script type="text/javascript" src="{{url}}/media/libs/jquery/jquery.form.js"></script>
        {#
        <script type="text/javascript" src="{{url}}/media/libs/jquery/css/ui-lightness/jquery-ui-1.10.3.custom.min.css"></script>
       
        <link href="{{url}}/media/css/style.css" type="text/css" rel="stylesheet"/>
        #}

        <link href="{{url}}/media/hazo/intra/css/hazo.css" type="text/css" rel="stylesheet"/>
        <script src="{{url}}/media/hazo/intra/js/hazo.js" type="text/javascript"></script>
        {#
        <link href="{{url}}/media/css/hazo-form.css" type="text/css" rel="stylesheet"/>
        #}
        <link href="{{url}}/media/libs/hazoSearch/jquery.hazo-search-1.0.0.css" type="text/css" rel="stylesheet"/>
        <script src="{{url}}/media/libs/hazoSearch/jquery.hazo-search-1.0.0.js" type="text/javascript"></script>
        
        {# jQuery Bootstrap #}
        <script src="{{url}}/media/libs/bootstrap/js/bootstrap.min.js"></script>
        {#
        <script src="{{url}}/media/libs/bootstrap/js/lang/pt_BR/bootstrap-formhelpers-countries.pt_BR.js"></script>
        <script src="{{url}}/media/libs/bootstrap/js/bootstrap-formhelpers-datepicker.js"></script>
        #}
        <link rel="stylesheet" href="{{url}}/media/libs/bootstrap/css/bootstrap.css">
        <link rel="stylesheet" href="{{url}}/media/libs/bootstrap/css/bootstrap-theme.min.css">
        <link href="{{url}}/media/hazo/intra/css/bootstrap-custom.css" type="text/css" rel="stylesheet"/>
        
        {# jQuery NOTY # http://needim.github.io/noty/ #}
        <script type="text/javascript" src="{{url}}/media/noty-master/js/noty/jquery.noty.js"></script>
        <script type="text/javascript" src="{{url}}/media/noty-master/js/noty/layouts/top.js"></script>
        <script type="text/javascript" src="{{url}}/media/noty-master/js/noty/themes/default.js"></script>
        
        {# select2 # http://ivaynberg.github.io/select2/#ajax
        <script type="text/javascript" src="{{url}}/media/libs/bootstrap-select/select2.js"></script>
        <link rel="stylesheet" href="{{url}}/media/libs/bootstrap-select/select2.css">
        #}
        
        <script type="text/javascript" src="{{url}}/media/libs/jquery/jquery.maskedinput.min.js"></script>
        
        
        <script type="text/javascript" src="{{url}}/media/libs/fancyapps/source/jquery.fancybox.pack.js"></script>
        <link rel="stylesheet" href="{{url}}/media/libs/fancyapps/source/jquery.fancybox.css">
        
        
        {# BootM - Multilevel menu # http://www.egrappler.com/pure-css-based-multi-level-responsive-navigation-menu-bootm/ #}
        {#<link href="{{url}}/media/libs/BootM/css/custom.css" type="text/css" rel="stylesheet"/>#}
        
    </head>
    <body style="padding: 0px; margin: 0px;">
            {% include "hazo/intra/painel.twig" %}
            
            <div class="container content-all">

                <!--[if lte IE 7]>
                <div style="color:red;padding:10px;font-weight:bolder;">
                    Este sistema não dá suporte a versões anteriores ao internet explorer 8.<br/>
                    Alguns elementos do sistema podem não funcionar corretamente. Por favor, atualize seu navegador.
                </div>
                <![endif]-->
                
                {% if globals.view.breadcrumb %}
                <div id="breadcrumb">
                    <ul>
                    {% set cont_brdcr = 0 %}
                    {% for row in globals.view.breadcrumb %}
                            
                        <li>
                        {% if cont_brdcr > 0 %}<span>/</span>{% endif %}
                        {% if row.url %}
                            <a href="{{row.url}}">{{row.title}}</a>
                        {% else %}
                            <span class="active">{{row.title}}</span>
                        {% endif %}
                            
                        </li>
                            
                        {% set cont_brdcr = cont_brdcr+1 %}
                    {% endfor %}
                    </ul>
                </div>
                {% endif %}
                
                {% if nome_modulo %}
                <h3 class="titulo">{{nome_modulo}}</h3><hr/>
                {% endif %}
                <!-- Example row of columns -->
                <div class="row">
                    {% block content %}{% endblock %}
                    {#
                    <div class="col-lg-4">
                        <h2>Heading</h2>
                        <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
                        <p><a class="btn btn-default" href="#">View details &raquo;</a></p>
                    </div>
                    #}
                </div>

                <hr>

                <footer>
                    <p>&copy; Hazo 2013</p>
                </footer>
            </div> <!-- /container -->
        {% include "hazo/intra/html-bottom-messages.twig" %}
    </body>
</html>
{% endspaceless %}