{% spaceless %}
{% macro showMenu(parent) %}
{% set array = parent is empty ? _dashboardMenuArray() : parent %}

{% if array %}

{#<ul class="{% if parent is empty %}nav navbar-nav{% else %}dropdown-menu sub-menu{% endif %}">#}
<ul class="dropdown-menu sub-menu">
{% for Menu in array %}
        
    {% if Menu.getSubmodule() and Menu.getSubmodule()|lower != "index" %}
        {% set href = url~'/'~Menu.getMode()|lower~'/'~Menu.getModule()~'/'~Menu.getSubmodule() %}
    {% elseif Menu.getModule() and Menu.getModule()|lower != "index" %}
        {% set href = url~'/'~Menu.getMode()|lower~'/'~Menu.getModule() %}
    {% elseif Menu.getMode() and Menu.getMode()|lower != "f" %}
        {% set href = url~'/'~Menu.getMode()|lower %}
    {% else %}
        {% set href = '#' %}
    {% endif %}
    {% set chields = Menu.getChields() %}
        <li class="dropdown">
            <a href="{{href}}"{% if chields %} class="dropdown-toggle"{% endif %}{% if chields %} data-toggle="dropdown"{% endif %}>{{-Menu.getDescription()-}}
                {%- if chields -%}
                    <b class="caret"></b>
                {%- endif -%}
            </a>
            {% if chields %}
                {% import "hazo/intra/macro-menu-sup.twig" as function %}
                {{- function.showMenu(chields) -}}
            {% endif %}
        </li>
{% endfor %}
</ul>

{% endif %}

{% endmacro %}


{% macro row(content) %}
    {{ content|raw }}
{% endmacro %}
{% endspaceless %}