{% spaceless %}
{% if Online %}

{% set url_mode = url~'/'~Online.getGroupObj().getMode()|lower %}

<nav  class="nav navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Hazo</a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">MENU <b class="caret"></b></a>

                    {{ _twigSetSessionTransaction('html_menu', null) }}

                    {% if _twigGetSessionTransaction('html_menu') is empty %}

                    {% import "hazo/intra/macro-menu-sup.twig" as function %}

                    {% set menu_html %}

                    {{ function.showMenu() }}

                    {% endset %}

                    {{ _twigSetSessionTransaction('html_menu', menu_html.__toString()) }}

                    {% endif %}

                    {{_twigGetSessionTransaction('html_menu')|raw}}
                </li>
            </ul>
                
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="{{url_mode}}/meu-cadastro">Olá {{Online.getName()}}</a>{#,
                    você está logado como <b>{{Online.getTipoInfo('descricao')}}</b>#}
                </li>
                {#<li><a href="{{url}}/{{Online.getTipoInfo('module')}}/meu-cadastro">Meu Cadastro</a></li>#}
                <li><a href="{{url}}/session/logout">Sair</a></li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>

{% endif %}
{% endspaceless %}