{% extends "intra/index.html" %}

{% block content %}

{% if autor_id is empty %}
<a href="{{url}}/cadastros/autor">
    <input type="button" class="btn btn-navy btn-small" value="Voltar para autores"/>
</a>
{% else %}
<a href="{{url}}/cadastros/autor/visualizacao/{{autor_id}}">
    <input type="button" class="btn btn-navy btn-small" value="Voltar para visualização"/>
</a>
{% endif %}
<br/>
<br/>
<br/>

{% import 'container/private/macros/formulario.twig' as form %}
<form method="post" action="">

{% if autor_id is empty %}
    
    <div class="hazo-form">
        <div class="span70">
            <div class="label">Selecione o Usuário</div>
            <div class="field"><input type="text" name="usuario" class="usuario" value="{{post['usuario']}}"/></div>
        </div>
    </div>
    <div style='clear: both;'></div>

    <div class="hazo-form">
        <div class="span80">
            <div class="label">Selecione a Pessoa</div>
            <div class="field"><input type="text" name="pessoa" class="pessoa" value="{{post['pessoa']}}"/></div>
        </div>
    </div>
    <div style='clear: both;'></div>
    
{% else %}
    
    <div class="hazo-form">
        <div class="span70">
            <div class="label">Usuário</div>
            {% set det_usuario = Autor.getUserObj().getName()~' - '~Autor.getUserObj().getLogin()~' ('~Autor.getUserObj().getGroupObj().getName()~')' %}
            <div class="field"><input type="text" readonly="true" class="usuario" value="{{det_usuario}}"/></div>
        </div>
    </div>
    <div style='clear: both;'></div>

    <div class="hazo-form">
        <div class="span80">
            <div class="label">Pessoa</div>
            {% set det_pessoa = Autor.getPessoaObj().getRazao()~' - '~Autor.getPessoaObj().getSlug() %}
            <div class="field"><input type="text" readonly="true" class="pessoa" value="{{det_pessoa}}"/></div>
        </div>
    </div>
    <div style='clear: both;'></div>
    
{% endif %}
    
    <br/>
    
    <div class="hazo-form">
        <div class="span60">
            <div class="label">Status do Autor</div>
            <div class="field">
                {{ form.radio({ A: "Ativo", I: "Inativo" }, 'status', post['status'] ?: Autor.getStatus() ?: 'A') }}
            </div>
        </div>
    </div>
    <div style='clear: both;'></div>


    <br/><br/>
    <input type='submit' value='Salvar Alterações' class="btn btn-small btn-bgreen"/>
    
</form>
<div style='clear: both;'></div>

<script>
    jQuery().ready(function(){
        /* {% if autor_id is empty %} */
        jQuery(".usuario").hazoSearch({ url: "{{url}}/cadastros/autor/search-usuario", end: 10 });
        jQuery(".pessoa").hazoSearch({ url: "{{url}}/cadastros/autor/search-pessoa", end: 10 });
        /* {% endif %} */
    });
</script>

{% endblock %}