{% extends "intra/index.html" %}

{% block content %}

<style>
    .hazo-simple-table tbody tr td{ cursor: pointer; }
</style>

<a href="{{url}}/cadastros/autor/cadastro">
    <input type="button" class="btn btn-small btn-bgreen" value="Cadastrar novo Autor"/>
</a>
<hr/><br/><br/>

<br/>

{% if autores %}
    <table class='hazo-simple-table' style='width: 800px;'>
        <thead>
            <tr>
                <td>Autor</td>
                <td>Status</td>
            </tr>
        </thead>
        <tbody>
            {% for Autor in autores %}
            {% set title = 'Visualizar Autor' %}
            {% set link = url~'/cadastros/autor/visualizacao/'~Autor.getID() %}
            <tr>
                <td data-link="{{link}}" title="{{title}}">{{Autor.getPessoaObj().getRazao()}}</td>
                <td data-link="{{link}}" title="{{title}}">{{Autor.getStatus() == 'I' ? 'Inativo' : 'Ativo'}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <br/><br/><br/>
    {{paginate.gera(link_next, link_atual, max_links)}}
{% else %}

    <center>Nenhum Autor Cadastrado</center>
    <br/><br/><br/>

{% endif %}

<script>
    $().ready(function(){
        $('.hazo-simple-table').find('td').on('click', function(){
            window.location = $(this).attr('data-link');
        });
    });
</script>

{% endblock %}