{% extends "intra/index.html" %}

{% block content %}

<style>
    input[name='email[]'], input[name='telefone[]']{
        margin-bottom: 3px;
    }
</style>

<a href="{{url}}/cadastros/autor">
    <input type="button" class="btn btn-navy btn-small" value="Voltar para Autores"/>
</a>
&nbsp;&nbsp;&nbsp;
<a href="{{url}}/cadastros/autor/cadastro/{{Autor.getID()}}">
    <input type="button" class="btn btn-maroon btn-small" value="Alterar este Cadastro"/>
</a>
<br/>
<br/>
<br/>

{% import 'container/private/macros/formulario.twig' as form %}
<form method="post" action="">
    
    <div class="hazo-form">
        <div class="span70">
            <div class="label">Usuário</div>
            {% set det_usuario = Autor.getUserObj().getName()~' - '~Autor.getUserObj().getLogin()~' ('~Autor.getUserObj().getGroupObj().getName()~')' %}
            <div class="field"><input type="text" readonly="true" class="usuario" value="{{det_usuario}}"/></div>
        </div>
    </div>
    <div style='clear: both;'></div>

    <div class="hazo-form">
        <div class="span80">
            <div class="label">Pessoa</div>
            {% set det_pessoa = Autor.getPessoaObj().getRazao()~' - '~Autor.getPessoaObj().getSlug() %}
            <div class="field"><input type="text" readonly="true" class="pessoa" value="{{det_pessoa}}"/></div>
        </div>
    </div>
    <div style='clear: both;'></div>
    
    <br/>
    
    <div class="hazo-form">
        <div class="span30">
            <div class="label">Status do Autor</div>
            {% set det_status = Autor.getStatus() == 'I' ? 'Inativo' : 'Ativo' %}
            <div class="field"><input type="text" readonly="true" class="pessoa" value="{{det_status}}"/></div>
        </div>
    </div>
    <div style='clear: both;'></div>
    
</form>
<div style='clear: both;'></div>

{% endblock %}