#frmlg{
    display: none;
}
#frmlg form{
    max-width: 500px;
    padding: 20px;
}
#frmlg .btn-lgn{
    text-align: right;
}

#nav>li.current-menu-item>a,
#nav>li.current_page_item>a {
    color: #97b1cf;
}
#nav>li ul li a:hover { color: #222 !important; }
body a:hover{
    color: #587ca6 !important;
    /*color: #4582c8 !important*/
}
#contactForm input[type="submit"]:hover,
#commentform input[type="submit"]:hover,
#contactForm input[type="button"]:hover{
    background: #587ca6;
    /*background: #fe8300;*/
    /*color: #fff;*/
}
#masthead .breadcrumbs li{ color: #666; font-size: 110%; }

@media only screen and (max-width: 480px) {
    #frmlg .msg-occ{ display: none; }
}

.pager li a { width: auto; }

#posts-list .read-more:hover{
    background: #587ca6;
    color: #FFF !important;
}
.pager li.active a, .pager li:hover a {
    background: #587ca6;
    color: #FFF !important;
}
#sidebar a:hover, #sidebar a.active{ color: #587ca6 !important; }