{% extends "hazo/intra/index.twig" %}

{% block content %}

<div id="loader"></div>

<style>
    .btn-mais{
        color: #005580;
        font-weight: bolder;
        cursor: pointer;
        padding: 10px 0;
        display: block;
    }
    .anexos input{
        display: block;
        margin: 5px 0;
    }
</style>

<form method='post' action='{{url_module}}/cadastrar-mestre' class='mestre'>
    <b>Mestre</b><hr/>    

    <div class="row well form-inline">

        <div class="form-group col-xs-12 col-sm-12">
            <label>Usuário</label>
            <input type='text' name='usuario' class='search-usuario form-control' value="{{PersMestre.getUserID()}}"/>
        </div>

        <div class="form-group col-xs-12 col-sm-12">
            <label>Imagem</label>
            <input type="file" name="arquivo"/>
        </div>

        <input type="hidden" name="id" value="{{PersMestre.getID()}}"/>
        <input type='hidden' name='nome' value="MESTRE"/>
        <input type='hidden' name='sessao' value="{{Sessao.getID()}}"/>
        <input type="submit" value="Salvar Alterações" class="btn btn-primary loader-hide"/>
    </div>
</form>

<b>Personagens</b><hr/>    

{% for Personagem in personagens %}
<div class="row well form-inline">
    
    <label onclick="$('.frm_per_{{Personagem.getID()}}').toggle()" style="cursor:pointer;">{{Personagem.getNome()}}</label>
    <div class="row form-inline frm_per_{{Personagem.getID()}}" style="display: none;">
        <form method="post" action="{{url_module}}/cadastrar-personagem" class="personagem">
            <input type="hidden" name="id" value="{{Personagem.getID()}}"/>
            <input type='hidden' name='sessao' value="{{Sessao.getID()}}"/>

            <div class="form-group col-xs-12 col-sm-6">
                <label>Usuário</label>
                <input type='text' name='usuario' class='search-usuario form-control' value="{{Personagem.getUserID()}}"/>
            </div>

            <div class="form-group col-xs-12 col-sm-6">
                <label>Nome</label>
                <input type='text' name='nome' class='form-control' value="{{Personagem.getNome()}}"/>
            </div>

            <div class="form-group col-xs-12 col-sm-12">
                <label>Imagem</label>
                <input type="file" name="arquivo"/>
            </div>
            <input type="submit" value="Salvar Alterações" class="btn btn-primary loader-hide"/>

        </form>
    </div>
    
</div>
{% endfor %}


{% set action = Diploma.getID() ? url_module~"/alterar/"~Diploma.getID() : url_module~"/criar" %}


<script type="text/javascript" >
    
    $(document).ready(function(){
        
        $('.search-usuario').hazoSearch({
            url: "{{url_module}}/search-usuario"
        });
        
        
        $('.mestre').ajaxForm({
            dataType: 'json',
            success: function(data) {
                if( data.status ){
                    window.location = window.location;
                }else{
                    message(data.msg, 'error');
                }
            }	
        });
        
        $('.personagem').ajaxForm({
            dataType: 'json',
            success: function(data) {
                if( data.status ){
                    window.location = window.location;
                }else{
                    message(data.msg, 'error');
                }
            }	
        });
        
        
    });
</script>

{% endblock %}