{% extends "main.html" %}

{% block content %}
<br/><br/><br/>

<style>

    body, html{ background-color: #d9cbf2 }
    .dvlg{ width: 500px; }
    .dvlg input{
        border: 1px solid #695e7c;
        line-height: 15px;
        padding: 5px;
        font-size: 16px;
        color: #402e5f;
        -webkit-border-radius: 5px; /*Para Safari e Chrome */
           -moz-border-radius: 5px; /* Para Firefox */
                border-radius: 5px; /* Para Opera 10.5+*/
    }
    .dvlg h2{ font-size: 25px; text-align: center; }
    .dvlg input[type='text'],
    .dvlg input[type='password']{
        width: 100%;
    }
    .dvlg input[type='submit']{
        background-color: #402e5f;
        color: #FFF;
        padding: 8px 15px;
        cursor: pointer;
    }
    .dvlg input[type='submit']:hover{
        background-color: #d9cbf2;
        color: #402e5f;
    }
    .dvlg table{
        margin: 0px;
    }
    .dvlg table tr td{
        font-weight: bolder;
        padding-right: 10px;
    }
    .dvlg table{
        width: 500px;
        /*border: 1px solid black;*/
    }
    .err{
        /*border: 1px solid red;*/
        width: 500px;
        color: red;
        font-weight: bolder;
        font-size: 17px;
    }
    
</style>

<center>
    {% for error in errors %}
    <div class="err">{{error}}</div>
    {% endfor %}

    <div class="dvlg">
        <form method="post" action="" autocomplete="off">
            <input type="hidden" name="__hazo__login__" value="Y"/>
            <table border="0">
                <tr>
                    <td colspan="2"><h2>HazoFramework</h2></td>
                </tr>
                <tr>
                    <td style="text-align: right">Login:</td>
                    <td><input type="text" name="login"/></td>
                </tr>
                <tr>
                    <td style="text-align: right">Password:</td>
                    <td><input type="password" name="password"/></td>
                </tr>
                <tr>
                    <td colspan="2" style="text-align: right"><input type="submit" value="Enter"/></td>
                </tr>
            </table>
        </form>
    </div>
</center>


{% endblock %}