.toolbar{
    height: 30px;
    line-height: 30px;
    width: 100%;
    background-color: #585454;
    border-bottom: 1px solid black;
    color: #FFF;
    margin: 0;
    padding: 0px;
    display: none;
}

.toolbar .li{ text-align: right; padding: 0px 10px; display: inline; }
.toolbar .link{ cursor: pointer; }
.toolbar a{ text-decoration: none; color: #FFF; }
.toolbar .toolbar-li-criar-artigo{ display: none; }

.toolbar .container{
    max-width: 1000px;
    margin: 0;
    padding: 0;
    text-align: right;
    position: relative;
    margin: 0 auto;
}

form{
    margin: 0;
}

.botao-login{ display: none; }

.modal-login{
    width: 300px !important;
    height: 150px !important;
    background-color: #FFF;
}
.modal-login form{
    padding: 0px;
    margin: 0px;
}
.modal-login input{
    height: 30px;
    line-height: 30px;
    width: 100%;
}
.modal-login .error{
    text-align: center;
    color: red;
    font-weight: bold;
    display: inline;
}

.usuario-offline,
.usuario-online{
    display: none;
}

.header-login-comentario button{
    float: left;
    margin-right: 10px;
}

.dv-comment-cadastro input{
    width: 100%;
}

.dv-editar-pagina{
    display: none;
    font-weight: normal;
    font-style: italic;
    font-size: 14px;
}
