{% extends "main.html" %}

{% block content %}

<form id="dv-qtde">
    <input type="text" placeholder="Nome do jogador 1" name="nome[]" value="fernando"/>
    <input type="text" placeholder="Nome do jogador 2" name="nome[]"/>
    <input type="text" placeholder="Nome do jogador 3" name="nome[]"/>
    <input type="text" placeholder="Nome do jogador 4" name="nome[]"/>
    <input type="text" placeholder="Nome do jogador 5" name="nome[]"/>
    <br/>
    <input type="submit" value="Iniciar"  id="iniciar"/>
    <hr/>
</form>
<br/><br/>

<div id="tempo">0</div>

<br/>

<div id="quadros"></div>
<!--<div id="quadro" style="display: none;">-->
<div id="quadro" class="quadro">
    Jogador: <span class="nome"></span>
    <br/>
    Vida: <span class="vida">20</span>
</div>

<br/><br/>
<div style="clear:both"></div>
<br/>
<input type="button" onclick="iniciaContagem()" value="next"/>
<br/>
<input type="button" onclick="iniciaContagem()" value="next"/>

<script>
    
    function log( var1 ){
        console.log( var1 );
    }
    
    function criarQuadro( nome, order ){
        quadro = $("#quadro").clone().attr("id", "quadro_"+nome).show();
        $(quadro).attr('order', order);
        $(quadro).find(".nome").text(nome);
        $("#quadros").append(quadro);
    }
    
    function iniciaContagem( order ){
        clearInterval( $("#quadros").data("interval") );
        if( !order ){
            order = $("#quadros").data("order")+1;
            if( !$("div[order='"+order+"']").length ){
                order = 1;
            }
        }
        $("#quadros").data("order", order);
        elem = $("div[order='"+order+"']");
        $(".selected").removeClass("selected");
        $(elem).addClass("selected");
        
        $("#tempo").text(0);
        $("#quadros").data("interval", 
            setInterval(function(){
                
                vida = Number( $(elem).find('.vida').html() );

                tempo = Number($("#tempo").text())+1;

                $("#tempo").text( tempo );

                if( (tempo % 4) == 0 ){
                    $(elem).find('.vida').text( vida-1 );
                }

            }, 1000)
        );
    }
    
    $("#dv-qtde").submit(function(e){
        e.preventDefault();
        
        inputs = $(this).children("input[name='nome[]']");
        
        order = 0;
        for( i = 0; i < inputs.length; i++ ){
            input = inputs[i];
            if( $(input).val() ){
                order++;
                criarQuadro( $(input).val(), order );
            }
        }
        $("#quadros").data('order-atual', 1);
        
        iniciaContagem(1);
        
        $("#dv-qtde").remove();
        
    });
    
</script>

<style>
    .quadro{
        border: 2px solid #DDD;
        padding: 4px;
        width: 300px;
        margin: 5px;
        float: left;
        display: table;
    }
    .selected{
        border: 2px solid red;
    }
</style>

{% endblock %}