{% extends "main.html" %}


{% block content %}

<style>
    .t1{ font-weight: bold; border-right: 1px solid #AAA; }
    .t2{ text-align: right; border-right: 1px solid #AAA; }
    .tb tbody tr td, .tb thead tr th{ padding: 0px 5px; }
    .tb * td{ line-height: 20px; }
</style>

<table class="tb">
    <thead>
        <tr>
            <th>#</th>
            <th>Name</th>
            <th>Name PT</th>
            <th>Img</th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>

<script>
    
    $('body').data('cont-cards', '{{ind}}');
//    if( !$('body').data('cont-cards') ){
//    }
    
    getCard();
    
    function getCard(){
        jQuery.ajax({
            url: "{{url}}/magic/card-info-json/"+$('body').data('cont-cards'),
            data: {},
            type: "GET",
            contentType: "application/x-www-form-urlencoded;charset=UTF-8",
            dataType: 'json',
            success: function(data){
                if( data.content ){
                    content = $("<tr/>").append(data.content).hide();
                    $('.tb').find('tbody').prepend( $(content).fadeIn(2000) );
                    $('a').fancybox();
                }
                if( data.last ){
                    $('body').data('cont-cards', data.last);
                }else{
                    $('body').data('cont-cards', $('body').data('cont-cards')+1);
                }
                setTimeout(function(){ getCard(); }, 0);
            }
        });
    }
    
</script>


{% endblock %}