{% extends "main.html" %}

{% block content %}

<form method="post" action="">
    <input type="text" name="cons" value="{{post['cons']}}" style="width: 400px;"/>
    <input type="submit" value="Pesquisar"/>
</form>

{% if post %}

<style>
    .dv_card{ float: left; padding: 1px; margin: 10px; border: 2px solid #DDD; }
    .dv_card > a img{
        float: left;
        height: 150px;
        margin-right: 10px;
    }
    .dv_card div{
        padding: 0 0 10px 0;
        line-height: 15px;
        padding: 5px;
    }
</style>

    {% if cards %}
    
        <br/><br/>
        {% for Card in cards %}
        
        <div class="dv_card">
            <a href="{{url}}/magic/view-image/{{Card.ID}}?type=img.jpg"><img src="{{url}}/magic/view-image/{{Card.ID}}"/></a>
            <div>{{Card.name|raw}} / {{Card.namePt|raw}}</div>
            <div>{{Card.cost|raw}}</div>
            <div>{{Card.descrPt|raw}}</div>
            <div style="clear: both"></div>
        </div>
        
        {% endfor %}
    
        <script>$('a').fancybox();</script>
        
    {% else %}
        <center>Nenhum card encontrado com o texto pesquisado</center>
    {% endif %}

{% endif %}

{% endblock %}