{% extends "intra/index.html" %}

{% block content %}

<style>
    .hazo-simple-table tbody tr td{ cursor: pointer; }
    
</style>

{% if pagina_id %}
<a href="{{url}}/editor/pagina/visualizacao/{{pagina_id}}">
    <button class='btn btn-small btn-black'>Voltar para visualização</button>
</a>
{% else %}
<a href="{{url}}/editor/pagina">
    <button class='btn btn-small btn-black'>Voltar para páginas</button>
</a>
{% endif %}
<hr/>

{% import 'container/private/macros/formulario.twig' as form %}
<form method="post" action="{{url}}/editor/pagina/cadastro/{{editoria_id ?: '~'}}/{{parent_id ?: '~'}}/{{pagina_id ?: '~'}}">
    <div style="width: 600px; float: left;">
        {% if Pagina.getID() %}
        <div class="hazo-form">
            <div class="span20">
                <div class="label">ID da Página</div>
                <div class="field"><input type="text" readonly="true" value="{{Pagina.getID()}}"/></div>
            </div>
        </div>
        {% endif %}

        <div class="hazo-form">
            <div class="span30">
                <div class="label">Status da Página</div>
                <div class="field">{{ form.radio({A: 'Ativa', I: 'Inativa'}, 'status', Pagina.getStatus() ?: 'I' ) }}</div>
            </div>
        </div>
        <div style="clear: both;"></div>

        <div id="cad-conteudo" class="hazo-form" style="float:left;width: 600px;">

            <div class="span100">
                <div class="label">Título</div>
                <div class="field"><input type="text" name="titulo" value="{{Pagina.getTitulo()}}"/></div>
            </div>
            <div style="clear: both;"></div>

            {#
            <div class="span100">
                <div class="label">Slug</div>
                <div class="field"><input type="text" name="slug" value="{{Pagina.getSlug()}}"/></div>
            </div>
            <div style="clear: both;"></div>
            #}

            <div class="span30">
                <div class="label">Início da Publicação</div>
                <div class="field"><input type="text" name="dt_ini" value="{{Pagina.getPublicacaoDataInicio()}}"/></div>
            </div>

            <div class="span30">
                <div class="label">Término da Publicação</div>
                <div class="field"><input type="text" name="dt_fim" value="{{Pagina.getPublicacaoDataFinal()}}"/></div>
            </div>
        </div>
    
        <div class="multiselect" style="float:left;width: 600px;">
            <div style="padding: 5px; background-color: #444; color: #FFF;">Selecione o Template</div>
            <label for="ckx-tpl-0" style="font-weight: normal;">
                <input type="radio" name="template" class="input_check_template0" id="ckx-tpl-0" value="" {{Pagina.getTemplateID() is empty ? "checked='checked'" : ""}}/ />
                [Sem Template]
            </label>
                
            {% for Template in templates %}
                {% set i = Template.getID() %}
                <label for="ckx-tpl-{{i}}" style="font-weight: normal;">
                    <input type="radio" name="template" class="input_check_curso{{i}}" id="ckx-tpl-{{i}}" value="{{i}}" {{Pagina.getTemplateID() == Template.getID() ? "checked='checked'" : ""}}/>
                    {{Template.getTitulo()}}
                </label>
            {% endfor %}
        </div>
        <div style="clear: both;"><br/></div>
    
    </div>
    
    {% import 'pagina/macro-option-editorias.twig' as mcop %}
    <div class="multiselect">
        <center><div style="padding: 5px; background-color: #444; color: #FFF;">Selecione a Editoria</div></center>
        <label for="ckx-0" style="font-weight: normal;">
            <input type="radio" name="editoria" class="input_check_curso0" id="ckx-0" value="" {{Pagina.getEditoriaID() is empty ? "checked='checked'" : ""}}/ />
            [Sem Editoria]
        </label>
        {{ mcop.getOptions(editorias, Pagina.getEditoriaID(), 0, null) }}
    </div>
    
    <div style="clear: both;"></div>

    <br/><br/>
    <input type="submit" value="Salvar Alterações" class="btn btn-small btn-navy"/>

</form>
<div style="clear: both;"></div>


{# MULTISELECT #}
<style>
    .multiselect {
        width:200px;
        /*height:15em;*/
        border:solid 2px #444;
        overflow:auto;
        float: right;
        padding: 0px;
    }

    .multiselect label {
        display:block;
        line-height: 18px;
        vertical-align: middle !important;
        padding: 2px;
        font-size: 12px;
    }
    .multiselect label > input {
        border: none;
        height: 14px;
        margin-bottom: 0px;
        float: left;
    }
    .multiselect-on {
        color:#ffffff !important;
        background-color: #47708e !important;
        /*font-weight: bold !important;*/
    }
</style>


<script>
    jQuery.fn.multiselect = function() {
        $(this).each(function() {
            var checkboxes = $(this).find("input:radio");
            checkboxes.each(function() {
                if ($(this).attr("checked")){
                    $(this).parent().addClass("multiselect-on");
                }
                $(this).change(function() {
                    checkboxes.each(function() {
                        if( $(this).is(':checked') ){
                            $(this).parent().addClass("multiselect-on");
                        }else{
                            $(this).parent().removeClass("multiselect-on");
                        }
                    });
                });
            });
        });
    };
    $().ready(function() {
        $(".multiselect").multiselect();
    });
</script>
{# /MULTISELECT #}



<script>
    $().ready(function() {
        $(".tabs").tabs();
//        $("textarea[name='descricao']").ckeditor({
//            toolbar: 'page_small',
//            height: '200px',
//            enterMode : CKEDITOR.ENTER_P
//        });
    });
</script>

{% endblock %}