{% extends "intra/index.html" %}

{% block content %}

{% set Conteudo = Pagina.getConteudoArray() %}

<form method="post" action="">

<input type="submit" value="Salvar alterações" class="btn btn-small btn-bgreen"/>
&nbsp;&nbsp;
<a href="{{url}}/editor/pagina/visualizacao/{{Pagina.getID()}}">
    <input type="button" value="Voltar para página" class="btn btn-small btn-navy"/>
</a>
<hr/>
<br/><br/>

<style>
    .btn-sv-template{
        padding: 4px;
        width: 200px;
        background-color: #94a89c;
        border: 2px solid #2c3e33;
        color: #0d1d13;
        font-size: 16px;
        cursor: pointer;
    }
    .btn-sv-template:HOVER{
        background-color: #2c3e33;
        color: #94a89c;
    }
</style>

{% include template_path %}

<div style="clear: both"></div>

</form>
{#
{% for ind,value in Conteudo %}
<script>
    $("[data-editor-name='{{ind}}']").html("{%spaceless%}{{value|raw}}{%endspaceless%}");
</script>
{% endfor %}
#}
<script>
    $().ready(function() {
        $("form").hazoFormAjax({
            success: function( data ){
                noty({text: data.message, type: data.status, timeout: 5000});
            }
        });
    });
    
    $(".no-html-line").each(function(){
        elem = $(this);
        $(this).hazoTemplateEditor({
            name: $(elem).attr('data-editor-name'),
            mode: 'no-html-line',
            placeholder: $(elem).attr('data-editor-placeholder'),
            allowedContent: {},
            config: {},
        });
    });
    
    $(".simple").each(function(){
        elem = $(this);
        $(this).hazoTemplateEditor({
            name: $(elem).attr('data-editor-name'),
            mode: 'simple',
            placeholder: $(elem).attr('data-editor-placeholder')
//            allowedContent: {},
//            config: {},
        });
    });
    
    $(".editor").each(function(){
        elem = $(this);
        $(this).hazoTemplateEditor({
            name: $(elem).attr('data-editor-name'),
            mode: 'editor',
            placeholder: $(elem).attr('data-editor-placeholder')
//            allowedContent: {},
//            config: {},
        });
    });
    
</script>

{% endblock %}