{% extends "intra/index.html" %}

{% block content %}

<style>
    .hazo-simple-table tbody tr td{ cursor: pointer; }
    
</style>

<a href="{{url}}/editor/pagina">
    <button class='btn btn-small btn-black'>Voltar para páginas</button>
</a>
&nbsp;&nbsp;&nbsp;
<a href="{{url}}/editor/pagina/visualizacao/{{Pagina.getID()}}">
    <button class='btn btn-small btn-bgreen'>Voltar para visualização</button>
</a>

<hr/>

{% import 'container/private/macros/formulario.twig' as form %}
<div>

    <br/><br/><br/>
    <div style='font-size: 16px; padding: 10px;'>
        Deseja realmente excluir a página: <b>{{Pagina.getTitulo()}}</b>
        <br/><br/>
    
        <form method="post" action="">
            
            <a href="{{url}}/editor/pagina/visualizacao/{{Pagina.getID()}}">
                <input type="button" value="Não" class="btn btn-bgreen"/>
            </a>
            
            &nbsp;&nbsp;&nbsp;
            
            <input type="hidden" name="excluir" value="S"/>
            
            <input type="submit" class="btn btn-maroon" value="Sim"/>
            
        </form>
        
    </div>
    
    <br/><br/><br/>
    
</div>
<div style="clear: both;"></div>

<div id="dvTst" style="display:none">TESTE COM DISP</div>

<script>
    $().ready(function() {
        $(".tabs").tabs();
//        $("#chgtpl").fancybox({
//            href: '#dvTst',
//            onStart: function(){
//                $("#dvTst").show();
//            }
//        });
    });
</script>

{% endblock %}