{% extends "intra/index.html" %}

{% block content %}

<style>
    .hazo-simple-table tbody tr td{ cursor: pointer; }
</style>

<a href="{{url}}/editor/pagina/cadastro">
    <button class='btn btn-small btn-black'>Cadastrar nova página</button>
</a>
<hr/>
<br/>
<form method="get" action="">
    <div class="hazo-form">
        <div class="span80">
            <div class="label">Pesquise parte do título ou descrição da página</div>
            <div class="field"><input type="text" name="texto" value="{{get['texto']}}"/></div>
        </div>
    </div>

    <div class="hazo-form">
        <div class="span100">
            <br/>
            <input type="submit" class="btn btn-bgreen btn-small" value="Pesquisar Página"/>
        </div>
    </div>
    
    <input type="hidden" name="pg" value="1"/>
</form>
<div style="clear: both;"></div>
<br/>

{% if get %}
    {% if paginas %}
        <table class='hazo-simple-table' style='width: 800px;'>
            <thead>
                <tr>
                    <td>Página</td>
                    <td>Slug</td>
                </tr>
            </thead>
            <tbody>
                {% for Pagina in paginas %}
                {% set title = 'Cadastro da Página' %}
                {% set link = url~'/editor/pagina/visualizacao/'~Pagina.getID() %}
                <tr>
                    <td data-link="{{link}}" title="{{title}}">{{Pagina.getTitulo()}}</td>
                    <td data-link="{{link}}" title="{{title}}">{{Pagina.getSlug()}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <br/><br/><br/>
        {% import 'container/private/macros/paginate.twig' as paginate %}
        {{paginate.gera(link_next, link_atual, max_links)}}

    {% else %}

        <center>Nenhuma página cadastrada</center>
        <br/><br/><br/>

    {% endif %}

{% else %}

    <center>Pesquise a página desejada</center>
    <br/><br/><br/>

{% endif %}

<script>
    $().ready(function(){
        $('.hazo-simple-table').find('td').on('click', function(){
            window.location = $(this).attr('data-link');
        });
    });
</script>

{% endblock %}