{% macro addValuesTemplate(array, parent) %}
{#% spaceless %#}

    {% for ind,value in array %}

        {% set cont = 0 %}
        {% for ind2,value2 in value %}
            {% set cont = 1 %}  
        {% endfor %}

        {% if cont == 0 %}
            <script>
                {% if parent %}
                    $("[data-editor-name='{{parent}}[{{ind}}]']").html("{{value|raw}}");
                {% else %}
                    $("[data-editor-name='{{ind}}']").html("{{value|raw}}");
                {% endif %}
            </script>
        {% else %}
            {% import 'pagina/macro-load-fields.twig' as mcop %}
            {{ mcop.addValuesTemplate(value, parent ? parent~"["~ind~"]" : ind) }}
        {% endif %}

    {% endfor %}

{#% endspaceless %#}
{% endmacro %}