{% macro getOptions(editorias, valueDefault = null, nivel = 0, parent = null) %}
{#% spaceless %#}

    {% set nbsp = '' %}
    
    {% if nivel != 0 %}
        {% for i in 1..nivel %}
            {% set nbsp = nbsp~'&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;' %}
        {% endfor %}
    {% endif %}

    {% for Editoria in editorias %}

        {% if (parent == null and Editoria.getParentEditoriaID() is empty) or (parent and Editoria.getParentEditoriaID() == parent ) %}
            {% set i = Editoria.getID() %}
            <label for="ckx-{{i}}" style="font-weight: normal;">
                <span style=float:left;>{{nbsp|raw}}</span>
                <input type="radio" name="editoria" class="input_check_curso{{i}}" id="ckx-{{i}}" value="{{i}}" {{valueDefault == Editoria.getID() ? "checked='checked'" : ""}}/>
                {{Editoria.getNome()}}
            </label>
            
            {% import 'pagina/macro-option-editorias.twig' as mcop %}
            {{ mcop.getOptions(Editoria.getSubEditorias(), valueDefault, nivel+1, Editoria.getID()) }}

        {% endif %}

    {% endfor %}

{#% endspaceless %#}
{% endmacro %}