{% extends "intra/index.html" %}

{% block content %}

<style>
    .hazo-simple-table tbody tr td{ cursor: pointer; }
    
</style>

<a href="{{url}}/editor/pagina">
    <button class='btn btn-small btn-black'>Voltar para páginas</button>
</a>
&nbsp;&nbsp;&nbsp;
<a href="{{url}}/editor/pagina/cadastro/{{editoria_id ?: '~'}}/{{parent_id ?: '~'}}/{{pagina_id ?: '~'}}">
    <button class='btn btn-small btn-maroon'>Alterar esta página</button>
</a>

{% if Pagina.getTemplateID() %}
&nbsp;&nbsp;&nbsp;
<a href="{{url}}/editor/pagina/editar-template/{{pagina_id ?: '~'}}">
    <input id="chgtpl" type="button" class="btn btn-small btn-bgreen" value="Editar Conteúdo da Página"/>
</a>
{% endif %}

{% if pagina_id %}
&nbsp;&nbsp;&nbsp;
<a href="{{url}}/editor/pagina/excluir/{{pagina_id ?: '~'}}">
    <input id="chgtpl" type="button" class="btn btn-small btn-red" value="Excluir esta Página"/>
</a>
{% endif %}

<hr/>

{% import 'container/private/macros/formulario.twig' as form %}
<div>

    <div class="hazo-form">
        <div class="span20">
            <div class="label">ID da Página</div>
            <div class="field"><input type="text" readonly="true" value="{{Pagina.getID()}}"/></div>
        </div>
    </div>
    <div style="clear: both;"></div>
    
    <div class="hazo-form">
        <div class="span30">
            <div class="label">Status da Página</div>
            <div class="field"><input type="text" readonly="true" value="{{Pagina.getStatus() == 'A' ? 'Ativa' : 'Inativa'}}"/></div>
        </div>

        <div class="span60">
            <div class="label">Editoria</div>
            <div class="field"><input type="text" readonly="true" value="{{Pagina.getEditoriaObj().getNome()}}"/></div>
        </div>
    </div>
    <div style="clear: both;"></div>

    <div id="cad-conteudo" class="hazo-form">

        <div class="span90">
            <div class="label">Título</div>
            <div class="field"><input type="text" readonly="true" value="{{Pagina.getTitulo()}}"/></div>
        </div>
        <div style="clear: both;"></div>

        <div class="span90">
            <div class="label">Slug</div>
            <div class="field"><input type="text" readonly="true" value="{{Pagina.getSlug()}}"/></div>
        </div>
        <div style="clear: both;"></div>

        <div class="span20">
            <div class="label">Início da Publicação</div>
            <div class="field"><input type="text" readonly="true" class="data" value="{{Pagina.getPublicacaoDataInicio()}}"/></div>
        </div>

        <div class="span20">
            <div class="label">Término da Publicação</div>
            <div class="field"><input type="text" readonly="true" class="data" value="{{Pagina.getPublicacaoDataFinal()}}"/></div>
        </div>

    </div>
    <div style="clear: both;"></div>
    
</div>
<div style="clear: both;"></div>

<div id="dvTst" style="display:none">TESTE COM DISP</div>

<script>
    $().ready(function() {
        $(".tabs").tabs();
//        $("#chgtpl").fancybox({
//            href: '#dvTst',
//            onStart: function(){
//                $("#dvTst").show();
//            }
//        });
    });
</script>

{% endblock %}