<style>
    div.btnpann{
        margin-top: 20px;
        width: 800px;
        text-align: left;
    }
</style>

<center>
    <div style="width:600px;margin-top:30px;">
        SUPER ADMIN PANNEL ({{online.getName()}}) | <a href="{{url}}/logout" style="color:#AAA">logout</a>
    </div>
        
    <div class="btnpann">
        <center>
            <a href="{{url}}/s/modules" class="button">Modules</a>
            &nbsp;&nbsp;
            <a href="{{url}}/s/dao-references" class="button">DAO References</a>
            &nbsp;&nbsp;
            <a href="{{url}}/s/groups" class="button">Groups</a>
            &nbsp;&nbsp;
            <a href="{{url}}/s/users" class="button">Users</a>
            &nbsp;&nbsp;
            <a href="{{url}}/s/engines" class="button">Engines</a>
            {% if globals['config']['email']['send_to_file'] %}
            &nbsp;&nbsp;
            <a href="{{url}}/s/mail-log" class="button">Log Mail</a>
            {% endif %}
        </center>
    </div>
</center>
<hr/>
<div style="display:block;margin-top:20px;"></div>

{% if _getErrors() %}
{% for error in _getErrors() %}
<div style="color:red;padding:8px;border:1px solid red;margin:4px;">{{error}}</div>
{% endfor %}
{% endif %}