{% extends "mds/base-home.twig" %}

{% block content %}



<!-- masthead -->
<div id="masthead">
    <span class="head">Contato</span><span class="subhead"></span>
    <ul class="breadcrumbs">
        <li><a href="{{url}}">Início</a></li>
        <li>/ Contato</li>
    </ul>
</div>
<!-- ENDS masthead -->



<!-- page content -->
<div id="page-content">

{#
    <!-- Map -->
    <script type="text/javascript" src="https://maps.google.com/maps/api/js?sensor=true" /></script>
<script type="text/javascript">
    function initialize() {
        var latlng = new google.maps.LatLng(-34.397, 150.644);
        var myOptions = {
            zoom: 8,
            center: latlng,
            mapTypeId: google.maps.MapTypeId.ROADMAP
        };
        var map = new google.maps.Map(document.getElementById("map"),
                myOptions);
    }
    </script>

    <div id="map-holder">
        <div id="map"></div>

    </div>

    <!-- ENDS Map -->
#}

    <p>
        Se você chegou até aqui, é porque tem dúvidas ou quer saber mais sobre algum serviço.
        Fique a vontade para me contatar no formulário abaixo e terei o maior prazer em retornar.
    </p>

    <!-- form -->
    <script type="text/javascript" src="{{mds}}/js/form-validation.js"></script>
    <form id="contactForm" action="{{url}}/contato/enviar" method="post">
        <h3 class="heading">Contate-me usando este formulário</h3>
        {#
        <p> Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget.</p>
        #}
        <fieldset class="ctcshow">
            {% spaceless %}
            <div class="form-horizontal frmcontact">
                <div class="form-group">
                    <label>Nome</label>
                    <input name="name"  id="name" type="text" class="form-poshytip form-control" title="Preencha seu nome completo" />
                </div>

                <div class="form-group">
                    <label>E-mail</label>
                    <input name="email"  id="email" type="text" class="form-poshytip form-control" title="Preencha seu e-mail" />
                </div>

                <div class="form-group">
                    <label>Website</label>
                    <input name="web"  id="web" type="text" class="form-poshytip form-control" title="Preencha seu website" />
                </div>

                <div class="form-group">
                    <label>Mensagem</label>
                    <textarea  name="comments"  id="comments" rows="5" class="form-poshytip form-control" title="Escreva sua mensagem"></textarea>
                </div>
                    
            </div>
            {% endspaceless %}

            <!-- send mail configuration -->
            <input type="hidden" value="email@yourserver.com" name="to" id="to" />
            <input type="hidden" value="Enter the subject here" name="subject" id="subject" />
            <input type="hidden" value="send-mail.php" name="sendMailUrl" id="sendMailUrl" />
            <!-- ENDS send mail configuration -->


            <div class="row">
                <p class="sbtcontact"><input type="submit" value="Enviar" name="submit" id="submit" /> <span id="error" class="warning">Message</span></p>
            </div>

        </fieldset>
        
        <fieldset class="shwmsg">
            
            <div class='tt'>Mensagem enviada com sucesso</div>

            <p>
                Sua mensagem de contato foi enviada com sucesso. Aguarde o nosso retorno no e-mail informado.
            </p>
            
        </fieldset>

    </form>
    <style>
        .frmcontact input, .frmcontact textarea{ width: 100% !important; }
        .frmcontact input, .frmcontact textarea{ padding: 15px !important;  }
        .frmcontact .form-group{ margin: 0px; }
        .sbtcontact input{ font-size: 15px !important; padding: 8px 20px !important; }
        
        .shwmsg{ border: 3px solid #b8c3ce; padding: 10%; color: #687c93; display: none; }
        .shwmsg div.tt{
            text-align: center;
            font-size: 16px;
            margin: 10px 0;
            color: #343e4b;
        }
    </style>
    <script>
        $('#contactForm').ajaxForm({
            dataType: 'json',
            success: function( data ){
                if( data.status ){
                    $('.shwmsg').show();
                    $('.ctcshow').hide();
                }else{
                    alert(data.msg);
                }
            }
        });
        $().ready(function(){
        });
    </script>
    <!-- ENDS form -->


</div>
<!-- ENDS page content -->


<!-- sidebar -->
<aside id="sidebar">
    <div class="block">
        <h4>Endereço</h4>
        <p>Como o serviço que presto trata-se de frellance, não tenho endereço físico para atendimento, porém, entre em contato e podemos agendar uma visita ao seu endereço.</p>

        <ul class="address-block">
            <li class="address">Curitiba / Araucária</li>
            {#
            <li class="phone">+123 456 789</li>
            #}
            <li class="mobile">(41) 9646-9660</li>
            <li class="email"><a href="mailto:fernando@hazo.com.br">fernando@hazo.com.br</a></li>
        </ul>

    </div>	        	
</aside>
<div class="clearfix"></div>
<!-- ENDS sidebar -->





{% endblock %}