{% extends "mds/base-home.twig" %}

{% block content %}

<!-- masthead -->
<div id="masthead">
    <span class="head">Portfolio</span><span class="subhead">Confira trabalhos já concluídos pela minha equipe</span>
    <ul class="breadcrumbs">
        <li><a href="{{url}}">Início</a></li>
        <li>/ Portfolio</li>
    </ul>
</div>
<!-- ENDS masthead -->


<!-- portfolio list -->
<div class="featured portfolio-list">
    <figure>
        <a href="{{mds}}/img/dnw.png" data-rel="prettyPhoto" class="thumb"><img src="{{mds}}/img/dnw.png" alt="Alt text" /></a>
        <div>
            <a href="#" class="heading">Diploma na WEB</a>
            Site de diplomas online, onde as instituições de ensino cadastram os diplomas validados
        </div>
        {#<a class="link" href="project.html"></a>#}
    </figure>

    <figure>
        <a href="{{mds}}/img/revista.png" data-rel="prettyPhoto" class="thumb"><img src="{{mds}}/img/revista.png" alt="Alt text" /></a>
        <div>
            <a href="#" class="heading">Revista FACEAR</a>
            Revista eletrônica da Faculdade Educacional Araucária
        </div>
        {#<a class="link" href="project.html"></a>#}
    </figure>
{#
    <figure>
        <a href="{{mds}}/img/dummies/featured-2.jpg" data-rel="prettyPhoto" class="thumb"><img src="{{mds}}/img/dummies/featured-2.jpg" alt="Alt text" /></a>
        <div>
            <a href="project.html" class="heading">Pellentesque habitant morbi</a>
            tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. 
        </div>
        <a class="link" href="project.html"></a>
    </figure>

    <figure>
        <a href="{{mds}}/img/dummies/featured-3.jpg" data-rel="prettyPhoto" class="thumb"><img src="{{mds}}/img/dummies/featured-3.jpg" alt="Alt text" /></a>
        <div>
            <a href="project.html" class="heading">Pellentesque habitant morbi</a>
            tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante.
        </div>
        <a class="link" href="project.html"></a>
    </figure>

    <figure>
        <a href="{{mds}}/img/dummies/featured-4.jpg" data-rel="prettyPhoto" class="thumb"><img src="{{mds}}/img/dummies/featured-4.jpg" alt="Alt text" /></a>
        <div>
            <a href="project.html" class="heading">Pellentesque habitant morbi</a>
            tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. 
        </div>
        <a class="link" href="project.html"></a>
    </figure>

    <figure>
        <a href="{{mds}}/img/dummies/featured-5.jpg" data-rel="prettyPhoto" class="thumb"><img src="{{mds}}/img/dummies/featured-5.jpg" alt="Alt text" /></a>
        <div>
            <a href="project.html" class="heading">Pellentesque habitant morbi</a>
            tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. 
        </div>
        <a class="link" href="project.html"></a>
    </figure>
#}
    <div class="clearfix"></div>

</div>
<!-- ENDS featured -->

{#
<!-- pager -->
<ul class="pager">
    <li class="paged">Página 1 de 2</li>
    <li class="active"><a href="#">1</a></li>
    <li><a href="#">2</a></li>
    <li><a href="#">3</a></li>
</ul>
<div class="clearfix"></div>
<!-- ENDS pager -->


<aside class="retractil">
    <div id="sidebar-opener">Categorias</div>
    <div id="sidebar-closer"><img src="{{mds}}/img/close.png" alt="close"></div>
    <div id="sidebar-content">
        <ul>
            <li class="cat-item"><a href="#" title="View all posts">Film and video</a></li>
            <li class="cat-item"><a href="#" title="View all posts">Print</a></li>
            <li class="cat-item"><a href="#" title="View all posts">Photo and lomo</a></li>
            <li class="cat-item"><a href="#" title="View all posts">Habitant morbi</a></li>
            <li class="cat-item"><a href="#" title="View all posts">Film and video</a></li>
            <li class="cat-item"><a href="#" title="View all posts">Print</a></li>
            <li class="cat-item"><a href="#" title="View all posts">Photo and lomo</a></li>
            <li class="cat-item"><a href="#" title="View all posts">Habitant morbi</a></li>
        </ul>
    </div>
</aside>

#}

{% endblock %}