{% extends "mds/base-home.twig" %}

{% block content %}



<!-- masthead -->
<div id="masthead">
    <span class="head">Sobre mim</span>{#<span class="subhead">Os dados abaixo são reais, o que gera muita baboseira</span>#}
    <ul class="breadcrumbs">
        <li><a href="{{url}}">Início</a></li>
        <li>/ Sobre</li>
    </ul>
</div>
<!-- ENDS masthead -->



<!-- page content -->
<div id="page-content">

    {#
    <p>
        Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo. Quisque sit amet est et sapien ullamcorper pharetra. Vestibulum erat wisi.
    </p>
    #}

    {#
    <!-- 2 cols -->
    <div class="one-half">
        <h2 class="heading">One half columns</h2>
        Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo. Quisque sit amet est et sapien ullamcorper pharetra. Vestibulum erat wisi, condimentum sed, commodo vitae, ornare sit amet, wisi. Aenean fermentum, elit eget tincidunt condimentum, eros ipsum rutrum orci, sagittis tempus lacus enim ac dui. Donec non enim in turpis pulvinar facilisis. Ut felis. Praesent dapibus, neque id cursus faucibus, tortor neque egestas augue, eu vulputate magna eros eu erat. Aliquam erat volutpat. Nam dui mi, tincidunt quis, accumsan porttitor, facilisis luctus, metus
    </div>

    <div class="one-half last">
        <h2 class="heading">One half columns</h2>
        Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo. Quisque sit amet est et sapien ullamcorper pharetra. Vestibulum erat wisi, condimentum sed, commodo vitae, ornare sit amet, wisi. Aenean fermentum, elit eget tincidunt condimentum, eros ipsum rutrum orci, sagittis tempus lacus enim ac dui. Donec non enim in turpis pulvinar facilisis. Ut felis. Praesent dapibus, neque id cursus faucibus, tortor neque egestas augue, eu vulputate magna eros eu erat. Aliquam erat volutpat. Nam dui mi, tincidunt quis, accumsan porttitor, facilisis luctus, metus
    </div>
    <div class="clearfix"></div>
    <!-- ENDS 2 cols -->

    <!-- 3 cols -->
    <div class="one-third">
        <h2 class="heading">One third columns</h2>
        Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo. Quisque sit amet est et sapien ullamcorper pharetra. Vestibulum erat wisi, condimentum sed, commodo vitae, ornare sit amet, wisi. Aenean fermentum, elit eget tincidunt condimentum, eros ipsum rutrum orci, sagittis tempus lacus enim ac dui. Donec non enim in turpis pulvinar facilisis. Ut felis. Praesent dapibus, neque id cursus faucibus, tortor neque egestas augue, eu vulputate magna eros eu erat. Aliquam erat volutpat. Nam dui mi, tincidunt quis, accumsan porttitor, facilisis luctus, metus
    </div>

    <div class="one-third">
        <h2 class="heading">One third columns</h2>
        Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo. Quisque sit amet est et sapien ullamcorper pharetra. Vestibulum erat wisi, condimentum sed, commodo vitae, ornare sit amet, wisi. Aenean fermentum, elit eget tincidunt condimentum, eros ipsum rutrum orci, sagittis tempus lacus enim ac dui. Donec non enim in turpis pulvinar facilisis. Ut felis. Praesent dapibus, neque id cursus faucibus, tortor neque egestas augue, eu vulputate magna eros eu erat. Aliquam erat volutpat. Nam dui mi, tincidunt quis, accumsan porttitor, facilisis luctus, metus
    </div>
    <div class="one-third last">
        <h2 class="heading">One third columns</h2>
        Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo. Quisque sit amet est et sapien ullamcorper pharetra. Vestibulum erat wisi, condimentum sed, commodo vitae, ornare sit amet, wisi. Aenean fermentum, elit eget tincidunt condimentum, eros ipsum rutrum orci, sagittis tempus lacus enim ac dui. Donec non enim in turpis pulvinar facilisis. Ut felis. Praesent dapibus, neque id cursus faucibus, tortor neque egestas augue, eu vulputate magna eros eu erat. Aliquam erat volutpat. Nam dui mi, tincidunt quis, accumsan porttitor, facilisis luctus, metus
    </div>
    <!-- ENDS 3 cols -->
#}

    <div class="one-third">
        <h2 class="heading">Arte</h2>
        <p>Infelizmente não me dou bem no desenvolvimento de artes visuais, o que não fez meu papel como designer ser bem sucedido.</p>
        <p>Admiro arte em si, mas não tenho conhecimento sobre história e confesso que não me desperta o máximo de interesse.</p>
    </div>

    <div class="one-third">
        <h2 class="heading">Vídeo</h2>
        <p>Aficionado por filmes de todos os gêneros e épocas, inúmeras séries (principalmente as que envolvam ficção extremista) e animes (desenho japonês com idioma original).</p>
    </div>

    <div class="one-third last">
        <h2 class="heading">Música</h2>
        <p>Rock N' Roll baby! Bandas clássicas com Queen, Led Zeppelin, Black Sabbath entre outras, assim como quase todo estilo de música de 1984 a 1997.</p>
        <p><i>"Música boa é aquela que mesmo sem dizer coisa com coisa te faz fechar os olhos e balançar lentamente a cabeça"</i></p>
    </div>
    
    <div class="clearfix"></div>

    <div class="one-third">
        <h2 class="heading">Moto e Viagem</h2>
        <p>Pegar a estrada com uma moto é uma das sensações que não podem ser explicadas em palavras.</p>
        <p>Se hoje eu consigo trabalhar, estudar e conversar sociavelmente, é porque este (entre outros) ponto de fuga funcionam muito bem comigo.</p>
    </div>

    <div class="one-third">
        <h2 class="heading">Hobbies</h2>
        <p>Atividades que me fazem fugir do mundo real, geralmente jogos de RPG (rolling play games), cartas de magic, programar (sim, programar também serve pra você descansar de tanto programar) e outros jogos que envolvam amigos.</p>
    </div>

    <div class="one-third last">
        <h2 class="heading">T.O.C.</h2>
        <p>
            Apesar de sempre escrever algo errado, tenho problemas quando encontro erros graves de gramática.
            Na minha opinião, a gramática não está tendo a atenção que deveria, coisa vergonhosa que hoje em dia é muito comum até em jornais e revistas.
        </p>
        <p>Também não gosto de ver quadros tortos, deixar comida no prato, e quando invoco com alguma coisa, isso me incomoda até eu resolver o problema</p>
    </div>


    <div class="clearfix"></div>

</div>
<!-- ENDS page content -->

<!-- sidebar -->
<aside id="sidebar">
    <div class="block">
        <p><img src="{{mds}}/img/fernando01.jpg" alt="Alt text" style="width:100%;height:auto;"/></p>
        <h4>Fernando Gurkievicz</h4>
        <p>23 anos</p>
        <p>Residente em Araucária - PR<br/>Natural de Cascavel - PR</p>
        <p>Finalizando o curso de Análise de Sistemas na <a href="http://facear.edu.br" target="_blank">Faculdade Educacional Araucária</a></p>
        <p>Em um relacionamento sério com Ana Paula</p>
        <p><img src="{{mds}}/img/mono-icons/smile32.png" alt="Alt text" style="width:20px;height:auto;"/></p>
    </div>
</aside>
<div class="clearfix"></div>
<!-- ENDS sidebar -->


{% endblock %}