<!doctype html>
<html class="no-js">
    {% set mds = url~'/media/templates/mds' %}
    <head>
        {% include "mds/inc/header-incs.twig" %}
    </head>

    <body lang="pt-br">
        {% include "mds/inc/header-cabec.twig" %}

        <!-- MAIN -->
        <div id="main">

            {% include "mds/inc/body-social.twig" %}

            <!-- Content -->
            <div id="content">
                {% block content %}{% endblock %}
            </div>
            <!-- ENDS content -->

            <div class="clearfix"></div>
            <div class="shadow-main"></div>


        </div>
        <!-- ENDS MAIN -->

        <footer>
            {% include "mds/inc/footer.twig" %}
        </footer>

    </body>

</html>