<!doctype html>
<html class="no-js">

	<head>
		<meta charset="utf-8"/>
		<title>MODUS</title>
		<!--[if lt IE 9]>
			<script src="js/css3-mediaqueries.js"></script>
		<![endif]-->
		<link rel="stylesheet" media="all" href="css/style.css"/>
		<meta name="viewport" content="width=device-width, initial-scale=1"/>
		<!-- Adding "maximum-scale=1" fixes the Mobile Safari auto-zoom bug: http://filamentgroup.com/examples/iosScaleBug/ -->
		
		
		<!-- JS -->
		<script src="js/jquery-1.6.4.min.js"></script>
		
		<!--  <script src="js/less-grid-4.js"></script> -->
		<script src="js/custom.js"></script>
		<script src="js/tabs.js"></script>
		
		<!-- Masonry -->
		<script src="js/masonry.min.js" ></script>
		<script src="js/imagesloaded.js" ></script>
		<!-- ENDS Masonry -->
		
		<!-- Tweet -->
		<link rel="stylesheet" href="css/jquery.tweet.css" media="all"  /> 
		<script src="js/tweet/jquery.tweet.js" ></script> 
		<!-- ENDS Tweet -->
		
		<!-- superfish -->
		<link rel="stylesheet" media="screen" href="css/superfish.css" /> 
		<script  src="js/superfish-1.4.8/js/hoverIntent.js"></script>
		<script  src="js/superfish-1.4.8/js/superfish.js"></script>
		<script  src="js/superfish-1.4.8/js/supersubs.js"></script>
		<!-- ENDS superfish -->
		
		<!-- prettyPhoto -->
		<script  src="js/prettyPhoto/js/jquery.prettyPhoto.js"></script>
		<link rel="stylesheet" href="js/prettyPhoto/css/prettyPhoto.css"  media="screen" />
		<!-- ENDS prettyPhoto -->
		
		<!-- poshytip -->
		<link rel="stylesheet" href="js/poshytip-1.1/src/tip-twitter/tip-twitter.css"  />
		<link rel="stylesheet" href="js/poshytip-1.1/src/tip-yellowsimple/tip-yellowsimple.css"  />
		<script  src="js/poshytip-1.1/src/jquery.poshytip.min.js"></script>
		<!-- ENDS poshytip -->
		
		
		<!-- GOOGLE FONTS -->
		<link href='http://fonts.googleapis.com/css?family=Allan:700' rel='stylesheet' type='text/css'>
		
		<!-- Flex Slider -->
		<link rel="stylesheet" href="css/flexslider.css" >
		<script src="js/jquery.flexslider-min.js"></script>
		<!-- ENDS Flex Slider -->
		
		
		<!--[if IE 6]>
		<link rel="stylesheet" href="css/ie6-hacks.css" media="screen" />
		<script type="text/javascript" src="js/DD_belatedPNG.js"></script>
			<script>
          		/* EXAMPLE */
          		DD_belatedPNG.fix('*');
        	</script>
		<![endif]-->
		
		<!-- Lessgrid -->
		<link rel="stylesheet" media="all" href="css/lessgrid.css"/>
		
		<!-- modernizr -->
		<script src="js/modernizr.js"></script>
		

	</head>
	
	<body lang="en">
	

		<!-- mobile-nav -->
		<div id="mobile-nav-holder">
			<div class="wrapper">
				<ul id="mobile-nav">
					<li  class="current-menu-item"><a href="index.html">home</a></li>
					<li><a href="blog.html">blog</a></li>
					<li><a href="page.html">about</a>
						<ul>
							<li><a href="page-full.html">Fullwidth Page</a></li>
							<li><a href="page-features.html">Features</a></li>
							<li><a href="page-typography.html">Typography</a></li>
							<li><a href="page-icons.html">Icons</a></li>
						</ul>
					</li>
					<li><a href="portfolio.html">portfolio</a></li>
					<li><a href="contact.html">contact</a></li>
					<li><a href="http://luiszuno.com/blog/downloads/modus-html-template">Grab it!</a></li>
				</ul>
				<div id="nav-open"><a href="#">Menu</a></div>
			</div>
		</div>
		<!-- ENDS mobile-nav -->
			
		<header>
			
				
			<div class="wrapper">
					
				<a href="index.html" id="logo"><img  src="img/logo.png" alt="Tandem"></a>
				
				<nav>
					<ul id="nav" class="sf-menu">
						<li class="current-menu-item"><a href="index.html">home<span class="subheader">welcome</span></a></li>
						<li><a href="blog.html">blog<span class="subheader">read me</span></a></li>
						<li><a href="page.html">about<span class="subheader">great features</span></a>
							<ul>
								<li><a href="page-full.html">Fullwidth Page</a></li>
								<li><a href="page-features.html">Features</a></li>
								<li><a href="page-typography.html">Typography</a></li>
								<li><a href="page-icons.html">Icons</a></li>
							</ul>
						</li>
						<li><a href="portfolio.html">portfolio<span class="subheader">recent work</span></a></li>
						<li><a href="contact.html">contact<span class="subheader">get in touch</span></a></li>
						<li><a href="http://luiszuno.com/blog/downloads/modus-html-template">Grab it!<span class="subheader">Download it For Free</span></a></li>
						
					</ul>
				</nav>
				
				<div class="clearfix"></div>
				
			</div>
		</header>
	
	
	
	
		<!-- MAIN -->
		<div id="main">
				
			<!-- social -->
			<div id="social-bar">
				<ul>
					<li><a href="http://www.facebook.com"  title="Become a fan"><img src="img/social/facebook_32.png"  alt="Facebook" /></a></li>
					<li><a href="http://www.twitter.com" title="Follow my tweets"><img src="img/social/twitter_32.png"  alt="Facebook" /></a></li>
					<li><a href="http://www.google.com"  title="Add to the circle"><img src="img/social/google_plus_32.png" alt="Facebook" /></a></li>
				</ul>
			</div>
			<!-- ENDS social -->
			
			
			
			<!-- Content -->
			<div id="content">
			
				<!-- slider -->
		        <div class="flexslider home-slider">
				  <ul class="slides">
				    <li>
				      <img src="img/slides/01.jpg" alt="alt text" />
				      <p class="flex-caption">Placeholder images by thebeaststudio.com </p>
				    </li>
				    <li>
				      <img src="img/slides/02.jpg" alt="alt text" />
				      <p class="flex-caption">Visit luiszuno.com for more freebies!</p>
				    </li>
				    <li>
				      <img src="img/slides/03.jpg" alt="alt text" />
				    </li>
				  </ul>
				</div>
				<div class="shadow-slider"></div>
	        	<!-- ENDS slider -->
	        	
	        	
	        	<!-- Headline -->
	        	<div class="headline">
	        		Modus is a FREE HTML 5 Template!
	        	</div>
	        	<!-- ENDS Headline -->
	        	
	        	
	        	
	        	<!-- featured -->
	        	<h1 class="home-block-heading">Features</h1>
	        	<div class="featured">
	        		<figure>
	        			<a href="img/dummies/full-1.jpg" data-rel="prettyPhoto" class="thumb"><img src="img/dummies/full-1.jpg" alt="Alt text" /></a>
	        			<div>
	        				<a href="single.html" class="heading">Responsive Design</a>
		        			 It will fit your large desktop screen, all the way down to your iPhone and of  any Tablet or iPad. Try resizng your browser window if you don't believe.
		        		</div>
		        		<a class="link" href="single.html"></a>
	        		</figure>
	        		
	        		
	        		
	        		<figure>
	        			<a href="img/dummies/full-2.jpg" data-rel="prettyPhoto" class="thumb"><img src="img/dummies/full-2.jpg" alt="Alt text" /></a>
	        			<div>
	        				<a href="single.html" class="heading">Page layouts</a>
		        			Modus comes with a set of various page layouts to help you build a complete site.
		        		</div>
		        		<a class="link" href="single.html"></a>
	        		</figure>
	        		
	        		<figure>
	        			<a href="img/dummies/full-3.jpg" data-rel="prettyPhoto" class="thumb"><img src="img/dummies/full-3.jpg" alt="Alt text" /></a>
	        			<div>
	        				<a href="single.html" class="heading">Contact Form</a>
		        			Working contact form made in PHP and Ajax, pretty easy to configure. Just enter your subject and email address.
		        		</div>
		        		<a class="link" href="single.html"></a>
	        		</figure>
	        		
	        		<figure>
	        			<a href="img/dummies/full-4.jpg" data-rel="prettyPhoto" class="thumb"><img src="img/dummies/full-4.jpg" alt="Alt text" /></a>
	        			<div>
	        				<a href="single.html" class="heading">Portfolio Pages</a>
		        			Need to showcase your work. No worries use the portfolio template and display your work on a professional way.
		        		</div>
		        		<a class="link" href="single.html"></a>
	        		</figure>
	        		
	        		<figure>
	        			<a href="img/dummies/full-5.jpg" data-rel="prettyPhoto" class="thumb"><img src="img/dummies/full-5.jpg" alt="Alt text" /></a>
	        			<div>
	        				<a href="single.html" class="heading">Blog Templates</a>
		        			Use the blog page templates to create a theme in wordpress, tumblr or a different blog plataform. 
		        		</div>
		        		<a class="link" href="single.html"></a>
	        		</figure>
	        		
	        		
	        		<figure>
	        			<a href="img/dummies/full-6.jpg" data-rel="prettyPhoto" class="thumb"><img src="img/dummies/full-6.jpg" alt="Alt text" /></a>
	        			<div>
	        				<a href="single.html" class="heading">WordPress Version</a>
		        			I'm working with a talented WordPress Developer to bring a theme out of this template  <a href="http://www.luiszuno.com/blog/work" >stay tuned</a>.
		        		</div>
		        		<a class="link" href="single.html"></a>
	        		</figure>
	        		
	        		<div class="clearfix"></div>
					        		
	        	</div>
	        	<!-- ENDS featured -->
	        	
	        	
	        	<!-- text-posts -->
	        	<h1 class="home-block-heading">From the blog</h1>
	        	<ul class="text-posts">
	        		<li>
	        			<a href="single.html" class="heading">Get more freebies!</a>
	        			visit <a href="http://www.luiszuno.com" >luiszuno.com</a> and get more free items to help you create awesome sites. 
	        		</li>
	        		
	        		<li>
	        			<a href="single.html" class="heading">Buy Premium themes</a>
	        			Check my portfolio and buy outstanding WordPress Themes. Visit my <a href="http://www.luiszuno.com/blog/work" >Online Portfolio</a> to learn more.
	        		</li>
	        		
	        		<li>
	        			<a href="single.html" class="heading">Themeforest Themes</a>
	        			Visit  <a href="http://themeforest.net/?ref=ansimuz" >themeforest</a> and grab great themes at a great price!
	        		</li>
	        		
	        		<li>
	        			<a href="single.html" class="heading">Get more freebies!</a>
	        			visit <a href="http://www.luiszuno.com" >luiszuno.com</a> and get more free items to help you create awesome sites. 
	        		</li>
	        		
	        		<li>
	        			<a href="single.html" class="heading">Buy Premium themes</a>
	        			Check my portfolio and buy outstanding WordPress Themes. Visit my <a href="http://www.luiszuno.com/blog/work" >Online Portfolio</a> to learn more.
	        		</li>
	        		
	        		<li>
	        			<a href="single.html" class="heading">Themeforest Themes</a>
	        			Visit  <a href="http://themeforest.net/?ref=ansimuz" >themeforest</a> and grab great themes at a great price!
	        		</li>
	        		
	        	</ul>
	        	<!-- ENDS text-posts -->
	        	
	        	
	        	<!-- home-gallery -->
	        	<h1 class="home-block-heading">From the gallery</h1>
	        	<ul class="home-gallery">
	        		<li><a href="img/dummies/featured-1.jpg" data-rel="prettyPhoto" class="thumb"><img src="img/dummies/featured-1.jpg" alt="Alt text" /></a></li>
	        		<li><a href="img/dummies/featured-2.jpg" data-rel="prettyPhoto" class="thumb"><img src="img/dummies/featured-2.jpg" alt="Alt text" /></a></li>
	        		<li><a href="img/dummies/featured-3.jpg" data-rel="prettyPhoto" class="thumb"><img src="img/dummies/featured-3.jpg" alt="Alt text" /></a></li>
					<li><a href="img/dummies/featured-4.jpg" data-rel="prettyPhoto" class="thumb"><img src="img/dummies/featured-4.jpg" alt="Alt text" /></a></li>
					<li><a href="img/dummies/featured-4.jpg" data-rel="prettyPhoto" class="thumb"><img src="img/dummies/featured-5.jpg" alt="Alt text" /></a></li>
					<li><a href="img/dummies/featured-6.jpg" data-rel="prettyPhoto" class="thumb"><img src="img/dummies/featured-6.jpg" alt="Alt text" /></a></li>	        		
	        	</ul>
	        	<div class="clearfix"></div>	
	        	<!-- ENDS home-gallery -->
				
				
			
			</div>
			<!-- ENDS content -->
			
			<div class="clearfix"></div>
			<div class="shadow-main"></div>
			
			
		</div>
		<!-- ENDS MAIN -->
		
		<footer>
			<div class="wrapper">
			
				<ul id="footer-cols">
					
					<li class="first-col">
						
						<div class="widget-block">
							<h4>Recent posts</h4>
							<div class="recent-post">
								<a href="#" class="thumb"><img src="img/dummies/54x54.gif" alt="Post" /></a>
								<div class="post-head">
									<a href="#">Pellentesque habitant morbi senectus</a><span>March 12, 2011</span>
								</div>
							</div>
							<div class="recent-post">
								<a href="#" class="thumb"><img src="img/dummies/54x54.gif" alt="Post" /></a>
								<div class="post-head">
									<a href="#">Pellentesque habitant morbi senectus</a><span>March 12, 2011</span>
								</div>
							</div>
							<div class="recent-post">
								<a href="#" class="thumb"><img src="img/dummies/54x54.gif" alt="Post" /></a>
								<div class="post-head">
									<a href="#">Pellentesque habitant morbi senectus</a><span>March 12, 2011</span>
								</div>
							</div>
						</div>
					</li>
					
					<li class="second-col">
						
						<div class="widget-block">
							<h4>Dummy text</h4>
							<p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies ege. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.</p>
							<p>Pellentesque habitant morbi tristique senectus et netus et malesuada.</p>
						</div>
						
					</li>
					
					<li class="third-col">
						
						<div class="widget-block">
							<div id="tweets" class="footer-col tweet">
		         				<h4>Twitter widget</h4>
		         			</div>
		         		</div>
		         		
					</li>	
				</ul>				
				<div class="clearfix"></div>
				
				
			</div>
			
			<div id="to-top"></div>
		</footer>
		
	</body>
	
</html>