{% extends "intra/index.html" %}

{% block content %}

<style>
    .dv-anx{ background-color: #eee; border: 2px solid #ddd; margin-bottom: 4px; line-height: 30px; padding-left: 10px; }
    .dv-anx a img{ height: 20px; line-height: 30px; vertical-align: middle; border: 1px solid #ccc; margin-right: 5px; }
</style>

{% if demandaSlug %}

<a href="{{url}}/projetos/atividades/cadastro/$/{{Demanda.getSlug()}}" class="btn btn-small btn-bgreen">Criar Nova Atividade</a>
&nbsp;&nbsp;
<a href="{{url}}/projetos/demandas/visualizacao/$/{{Demanda.getSlug()}}" class="btn btn-small btn-navy">Voltar para Demanda</a>
&nbsp;&nbsp;

{% else %}

<a href="{{url}}/projetos/atividades/cadastro/$/0" class="btn btn-small btn-bgreen">Criar Nova Atividade</a>
&nbsp;&nbsp;
<a href="{{url}}/projetos/atividades/avulsas-lista" class="btn btn-small btn-navy">Voltar para Lista</a>
&nbsp;&nbsp;

{% endif %}

<hr/>

{% if Demanda and demandaSlug %}
<div style="clear: both;"></div>
<br/>
<h4>Detalhes da Demanda</h4>
<hr/>
<div id="demanda-data"></div>
<div style="clear: both;"></div>
<script>
    $(function(){
        $('#demanda-data').load("{{url}}/projetos/demandas/visualizacao/$/{{Demanda.getSlug()}}");
    });
</script>
{% endif %}

<style>
    .atv_res, .grp, .usr{ margin-bottom: 4px; display: block; }
    .dv-anx:hover{ border-color: black; }
</style>

<h4>Dados da Atividade</h4>
<hr/>
<form method="post" action="" class="hazo-form" style="max-width: 800px;" enctype="multipart/form-data">
    
    {#% if Atividade.getDemandaID() is empty and demandaSlug is empty %#}
    
    <div class="span50">
        <div class="label">Demanda</div>
        <div class="field"><input type="text" name="demanda" class="demanda" value="{{Atividade.getDemandaID() ?: Demanda.getID()}}"/></div>
    </div>
    
    {% if _isGranted('/projetos/demandas/search-cliente') %}
    <div class="span50">
        <div class="label">Cliente</div>
        <div class="field"><input type="text" name="cliente" class="cliente" value="{{Atividade.getClienteID()}}"/></div>
    </div>
    <div style="clear: both;"></div>
    {% endif %}
    
    {#% endif %#}
    
    <input type="hidden" value="" name="atividade_pai"/>
    {% if Atividade.getID() %}
    <div class="span20">
        <div class="label">Código da Atividade</div>
        <div class="field"><input type="text" readonly="true" value="{{Atividade.getID()}}"/></div>
    </div>
    {% endif %}
    <div class="span50">
        <div class="label">Etapa Atual da Atividade</div>
        <div class="field">
            {% if Atividade.getEtapaID() == 'I' %}
            <input type="text" readonly="true" value="{{Atividade.getEtapaObj().getDescricao()}}"/>
            {% else %}
            <input type="text" name="etapa" class="etapa" value="{{Atividade.getEtapaID() ? Atividade.getEtapaID() : padroes_content['etapa']}}"/>
            {% endif %}
        </div>
    </div>
    {% if Atividade.getEtapaID() != 'I' %}
    <div class="span20">
        <label>
            <div class="label">Definir Padrão</div>
            <div class="field">
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <input type="checkbox" name="padrao_etapa" value="S"/>
            </div>
        </label>
    </div>
    {% endif %}
    <div style="clear: both;"></div>
    
    <div class="span100">
        <div class="label">Título</div>
        <div class="field"><input type="text" name="titulo" value="{{Atividade.getTitulo()}}"/></div>
    </div>
    
    <div class="span100">
        <div class="label">Descrição</div>
        <div class="field"><textarea name="descricao" style="height: 80px; resize: both;">{{Atividade.getDescricao()}}</textarea></div>
    </div>
    
    <div style="clear: both;"></div>
    <div class="span100">
        <div class="label">Anexos</div>
        <div class="field" id="dvrwanx">
        </div>
        <div style="clear: both;"></div>
        <button class="btn btn-small btn-navy" onclick="addRowAnexo(); return false;">+</button>
    </div>
    <div style="clear: both;"></div>
    
    <div class="span20">
        <div class="label">Duração Estimada (Min)</div>
        <div class="field"><input type="text" name="duracao_estimada" value="{{Atividade.getDuracaoEstimada() ? Atividade.getDuracaoEstimada() : padroes_content['duracao_estimada']}}"/></div>
        
        <br/>
        <label>
            <div class="label">Definir Duração Estimada Padrão</div>
            <div class="field">
                <input type="checkbox" name="padrao_duracao" value="S"/>
            </div>
        </label>
        
    </div>
    
    <div class="span80">
        <div class="label">Atividades Requeridas</div>
        <div class="field">
            {% if Atividade.getAtividadesRequeridas() %}
                {% for AtividadeRequerida in Atividade.getAtividadesRequeridas() %}
                    <input type="text" name="atividades_requeridas[]" class="atv_res" value="{{AtividadeRequerida.getAtividadeRequeridaID()}}"/>
                {% endfor %}
            {% endif %}
            <input type="text" name="atividades_requeridas[]" class="atv_res" value=""/>
            <input type="text" name="atividades_requeridas[]" class="atv_res" value=""/>
            <input type="text" name="atividades_requeridas[]" class="atv_res" value=""/>
            <input type="text" name="atividades_requeridas[]" class="atv_res" value=""/>
        </div>
    </div>
    
    <div class="span50">
        <div class="label">Grupos de Desenvolvimento</div>
        <div class="field">
            {% if post %}
                {% for id in post['grupos_desenvolvimento'] %}
                    {% if id %}
                        <input value="{{id}}" type="text" name="grupos_desenvolvimento[]" class="grp"/>
                    {% endif %}
                {% endfor %}
            {% elseif Atividade.getGruposDesenvolvimento() %}
                {% for AtividadeGrupo in Atividade.getGruposDesenvolvimento() %}
                    {% if AtividadeGrupo.getGroupID() %}
                        <input value="{{AtividadeGrupo.getGroupObj().getID()}}" type="text" name="grupos_desenvolvimento[]" class="grp"/>
                    {% endif %}
                {% endfor %}
            {% elseif padroes_content['grupos_desenvolvimento'] and Atividade.getID() is empty %}
                {% for groupID in padroes_content['grupos_desenvolvimento'] %}
                    {% if groupID %}
                    <input value="{{groupID}}" type="text" name="grupos_desenvolvimento[]" class="grp"/>
                    {% endif %}
                {% endfor %}
            {% endif %}
            <input type="text" name="grupos_desenvolvimento[]" class="grp" value=""/>
            <input type="text" name="grupos_desenvolvimento[]" class="grp" value=""/>
            <input type="text" name="grupos_desenvolvimento[]" class="grp" value=""/>
            <input type="text" name="grupos_desenvolvimento[]" class="grp" value=""/>
            
            <label>
                <div class="label">Definir Grupos de Desenvlvimento Padrões</div>
                <div class="field">
                    <input type="checkbox" name="padrao_grupos_desenvolvimento" value="S"/>
                </div>
            </label>
        </div>
    </div>
    <div class="span50">
        <div class="label">Usuários de Desenvolvimento</div>
        <div class="field">
            {% if post %}
                {% for id in post['usuarios_desenvolvimento'] %}
                    {% if id %}
                        <input value="{{id}}" type="text" name="usuarios_desenvolvimento[]" class="usr"/>
                    {% endif %}
                {% endfor %}
            {% elseif Atividade.getGruposDesenvolvimento() %}
                {% for AtividadeGrupo in Atividade.getGruposDesenvolvimento() %}
                    {% if AtividadeGrupo.getUserID() %}
                        <input value="{{AtividadeGrupo.getUserID()}}" type="text" name="usuarios_desenvolvimento[]" class="usr"/>
                    {% endif %}
                {% endfor %}
            {% elseif padroes_content['usuarios_desenvolvimento'] and Atividade.getID() is empty %}
                {% for userID in padroes_content['usuarios_desenvolvimento'] %}
                    {% if userID %}
                    <input value="{{userID}}" type="text" name="usuarios_desenvolvimento[]" class="usr"/>
                    {% endif %}
                {% endfor %}
            {% endif %}
            <input type="text" name="usuarios_desenvolvimento[]" class="usr" value=""/>
            <input type="text" name="usuarios_desenvolvimento[]" class="usr" value=""/>
            <input type="text" name="usuarios_desenvolvimento[]" class="usr" value=""/>
            <input type="text" name="usuarios_desenvolvimento[]" class="usr" value=""/>
            
            <label>
                <div class="label">Definir Usuários de Desenvlvimento Padrões</div>
                <div class="field">
                    <input type="checkbox" name="padrao_usuarios_desenvolvimento" value="S"/>
                </div>
            </label>
        </div>
    </div>
    <div style="clear: both"></div>
    
    <div class="span50">
        <div class="label">Grupos de Homologação</div>
        <div class="field">
            {% if post %}
                {% for id in post['grupos_homologacao'] %}
                    {% if id %}
                        <input value="{{id}}" type="text" name="grupos_homologacao[]" class="grp"/>
                    {% endif %}
                {% endfor %}
            {% elseif Atividade.getGruposHomologacao() %}
                {% for AtividadeGrupo in Atividade.getGruposHomologacao() %}
                    {% if AtividadeGrupo.getGroupID() %}
                        <input value="{{AtividadeGrupo.getGroupID()}}" type="text" name="grupos_homologacao[]" class="grp"/>
                    {% endif %}
                {% endfor %}
            {% elseif padroes_content['grupos_homologacao'] and Atividade.getID() is empty %}
                {% for groupID in padroes_content['grupos_homologacao'] %}
                    {% if groupID %}
                    <input value="{{groupID}}" type="text" name="grupos_grupos_homologacao[]" class="grp"/>
                    {% endif %}
                {% endfor %}
            {% endif %}
            <input type="text" name="grupos_homologacao[]" class="grp" value=""/>
            <input type="text" name="grupos_homologacao[]" class="grp" value=""/>
            <input type="text" name="grupos_homologacao[]" class="grp" value=""/>
            <input type="text" name="grupos_homologacao[]" class="grp" value=""/>
            
            <label>
                <div class="label">Definir Grupos de Homologação Padrões</div>
                <div class="field">
                    <input type="checkbox" name="padrao_grupos_homologacao" value="S"/>
                </div>
            </label>
            
        </div>
    </div>
    <div class="span50">
        <div class="label">Usuários de Homologação</div>
        <div class="field">
            {% if post %}
                {% for id in post['usuarios_homologacao'] %}
                    {% if id %}
                        <input value="{{id}}" type="text" name="usuarios_homologacao[]" class="usr"/>
                    {% endif %}
                {% endfor %}
            {% elseif Atividade.getGruposHomologacao() %}
                {% for AtividadeGrupo in Atividade.getGruposHomologacao() %}
                    {% if AtividadeGrupo.getUserID() %}
                        <input value="{{AtividadeGrupo.getUserID()}}" type="text" name="usuarios_homologacao[]" class="usr"/>
                    {% endif %}
                {% endfor %}
            {% elseif padroes_content['usuarios_homologacao'] and Atividade.getID() is empty %}
                {% for userID in padroes_content['usuarios_homologacao'] %}
                    {% if userID %}
                    <input value="{{userID}}" type="text" name="usuarios_homologacao[]" class="usr"/>
                    {% endif %}
                {% endfor %}
            {% endif %}
            <input type="text" name="usuarios_homologacao[]" class="usr" value=""/>
            <input type="text" name="usuarios_homologacao[]" class="usr" value=""/>
            <input type="text" name="usuarios_homologacao[]" class="usr" value=""/>
            <input type="text" name="usuarios_homologacao[]" class="usr" value=""/>
            
            <label>
                <div class="label">Definir Usuários de Homologação Padrões</div>
                <div class="field">
                    <input type="checkbox" name="padrao_usuarios_homologacao" value="S"/>
                </div>
            </label>
            
        </div>
    </div>
    <div style="clear: both"></div>

    {% if operacoes %}
    <style>
        .data{ border: 1px solid #666; font-size: 10px; padding: 2px; width: 100px; }
    </style>
    <div class="span100" id="hazo-simple-table-historico">
        <br/>
        <h6>Operações Realizadas</h6>
        <hr/>
        <table class="hazo-simple-table">
            <thead>
                <tr>
                    <td>Usuário</td>
                    <td>Etapa</td>
                    <td>Data de Início</td>
                    <td>Data de Término</td>
                    <td>Descrição</td>
                    <td>Anexos</td>
                </tr>
            </thead>
            <tbody>
                {% for Operacao in operacoes %}
                <tr>
                    <td>{{Operacao.getUserObj().getName()}}</td>
                    <td>{{Operacao.getAtividadeEtapaObj().getDescricao()}}</td>
                    <td><input type="text" name="op_data_inicio[{{Operacao.getID()}}]" value="{{Operacao.getDataInicio|date('d/m/Y H:i:s')}}" class="data"/></td>
                    <td>
                        {% if Operacao.getDataFinal() %}
                            <input type="text" name="op_data_final[{{Operacao.getID()}}]" value="{{Operacao.getDataFinal|date('d/m/Y H:i:s')}}" class="data"/>
                        {% else %}
                            <span style='color:red'>Em Execução</span>
                        {% endif %}
                    </td>
                    <td>{{Operacao.getDescricao()}}</td>
                    <td>
                        {% if Operacao.getAnexos() %}
                            {% for Anexo in Operacao.getAnexos() %}
                                <div class="dv-anx dv-sh-{{Anexo.getID()}}">
                                    {% set x = Anexo.getFileExtension() %}
                                    {% if x == 'jpg' or x == 'jpeg' or x == 'png' or x == 'gif' %}
                                    <a href="{{url}}/projetos/anexos/visualizacao/{{Anexo.getSlug()}}?.{{Anexo.getFileExtension()}}" class="fancybox">
                                        <img src="{{url}}/projetos/anexos/visualizacao/{{Anexo.getSlug()}}?.{{Anexo.getFileExtension()}}"/>
                                    </a>
                                    {% endif %}
                                    <a href="{{url}}/projetos/anexos/visualizacao/{{Anexo.getSlug()}}?.{{Anexo.getFileExtension()}}">
                                        {{Anexo.getTitulo() ?: Anexo.getFileName()}}
                                    </a>
                                    <br/>
                                    <button class="btn btn-small btn-black" onclick="return excAnxOp('{{Anexo.getID()}}')">Excluir Anexo</button>
                                </div>
                            {% endfor %}
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% endif %}
    
    <hr/>
    
    <div class="span100">
        <input type="submit" class="button" name="salvar" value="Salvar Alterações"/>
        {% if _isGranted('/projetos/atividades/excluir') and Atividade.getID() %}
            &nbsp;&nbsp;&nbsp;&nbsp;
            <a href="{{url}}/projetos/atividades/excluir/$/{{Demanda.getSlug() ?: 0}}/{{Atividade.getID()}}" onclick="return confirm('Deseja realmene excluir a atividade e todos os registros dependentes?')">
                <input type="button" value="Excluir Atividade" class="btn btn-small btn-red" />
            </a>
        {% endif %}
    </div>
    
</form>
<div style="clear: both;"></div>

<script>
    function excAnxOp(id){
        if( confirm('Deseja realmente excluir o anexo desta operação?') ){
            $("<input/>").attr("type", "hidden")
                         .attr("name", "exc_op_anexo[]")
                         .val(id)
                         .appendTo(".hazo-form");
            $(".dv-sh-"+id).remove();
        }
        return false;
    }
    
    function addRowAnexo( url, id, slug, extension ){
        if( url ){
            div = $("<div/>").addClass("dv-anx");
            if( jQuery.inArray(extension, ['jpg','jpeg','png','gif']) !== -1 ){
                f =  $("<a/>").attr('href', url)
                              .html( $("<img/>").attr('src', url) )
                              .fancybox()
                              .appendTo( div );
            }
            a =  $("<a/>").attr('href', url)
                          .attr('name','anexo_upd['+id+']')
                          .attr('target','_blank')
                          .text(slug ? slug : url)
                          .appendTo( div );
            ex = $("<buton/>").addClass("btn btn-small btn-black")
                          .css("float", "right")
                          .css("height", "20px")
                          .text("Excluir Anexo")
                          .appendTo( div )
                          .click(function(){
                              if( confirm('Deseja realmente excluir este anexo?') ){
                                  $(this).parent().parent().append( $("<input/>").attr("type","hidden").attr("name", "anx_excl[]").val(id) );
                                  $(this).parent().remove();
                              }
                          });
            $(div).appendTo("#dvrwanx")
        }else{
            $("<input/>").attr('type','file')
                         .attr('name','anexo_add[]')
                         .appendTo( $("<div/>").addClass("dv-anx").appendTo("#dvrwanx") );
        }
    }
    
    /* {% if anexos %} */
        /* {% for Anexo in anexos %} */
        addRowAnexo('{{url}}/projetos/anexos/visualizacao/{{Anexo.getSlug()}}?.{{Anexo.getFileExtension()}}', '{{Anexo.getID()}}', '{{Anexo.getTitulo() ?: Anexo.getFileName()}}', '{{Anexo.getFileExtension()}}');
        /* {% endfor %} */
    /* {% endif %} */
    
    addRowAnexo();
    
    $(".atv_res").hazoSearch({ url: "{{url}}/projetos/atividades/search-atividade-demanda/$/{{Demanda.getSlug()}}", end: 12 });
    $(".grp").hazoSearch({ url: "{{url}}/projetos/atividades/search-group", end: 12 });
    $(".usr").hazoSearch({ url: "{{url}}/projetos/atividades/search-user", end: 12 });
    $(".etapa").hazoSearch({ url: "{{url}}/projetos/atividades/search-etapa", end: 12 });
    $(".demanda").hazoSearch({ url: "{{url}}/projetos/atividades/search-demanda", end: 12 });
    /* {% if _isGranted('/projetos/demandas/search-cliente') %} */
    $("input[name='cliente']").hazoSearch({ url: "{{url}}/projetos/demandas/search-cliente", end: 10 });
    /* {% endif %} */
    
    $(".demanda").on('blur', function(){
        if( $(this).val() ){
            $(".cliente").val(null);
            $("input[name='cliente']").val(null);
        }
    });
    
    $(".cliente").on('blur', function(){
        if( $(this).val() ){
            $(".demanda").val(null);
            $("input[name='demanda']").val(null);
        }
    });
    
</script>

<div style="clear: both;"></div>
{% endblock %}