{% extends "intra/ajax.html" %}

{% block content %}

<div method="post" action="" class="hazo-form" style="max-width: 800px;">
    
    <div class="span100">
        <div class="label">Título</div>
        <div class="field"><input type="text" readonly="true" value="{{Atividade.getTitulo()}}"/></div>
    </div>
    
    <div class="span100">
        <div class="label">Descricao</div>
        <div class="field"><textarea readonly="true" style="height:150px;">{{Atividade.getDescricao()}}</textarea></div>
    </div>
    
    <div class="span60">
        <div class="label">Etapa Atual</div>
        <div class="field"><input type="text" readonly="true" value="{{Atividade.getEtapaObj().getDescricao()}}"/></div>
    </div>
    
    <div class="span40">
        <div class="label">Duração Estimada</div>
        <div class="field"><input type="text" readonly="true" value="{{Atividade.getDuracaoEstimada()}} min"/></div>
    </div>
    
    <div style="clear: both;"></div>

    <hr/>
    <div class="span100">
        <div class="label">Anexos</div>
        <div class="field" id="shwdvanx2"><center><b>Carregando Anexos. Aguarde...</b></center></div>
    </div>
    
</div>
<div style="clear: both;"></div>
{#{url}}/projetos/anexos/lista/atividade/{{Atividade.getDemandaObj().getSlug()}}/{{Atividade.getID()}#}

<script>
    $().ready(function(){
        /* {% if _isGranted('/projetos/anexos/lista') %} */
        $("#shwdvanx2").load("{{url}}/projetos/anexos/lista/atividade/{{Atividade.getDemandaObj().getSlug()}}/{{Atividade.getID()}}");
        /* {% endif %} */
    });
</script>

{% endblock %}