{% extends "intra/ajax.html" %}

{% block content %}

{% if operacoes %}

<style>
    #hazo-simple-table-historico{
        /*padding: 15px 20px 15px 15px;*/
    }
</style>

<div id="hazo-simple-table-historico">
    <table class="hazo-simple-table">
        <thead>
            <tr>
                <td>Usuário</td>
                <td>Etapa</td>
                <td>Data de Início</td>
                <td>Data de Término</td>
                <td>Descrição</td>
                <td>Anexos</td>
            </tr>
        </thead>
        <tbody>
            {% for Operacao in operacoes %}
            <tr>
                <td>{{Operacao.getUserObj().getName()}}</td>
                <td>{{Operacao.getAtividadeEtapaObj().getDescricao()}}</td>
                <td>{{Operacao.getDataInicio|date('d/m/Y H:i:s')}}</td>
                <td>
                    {% if Operacao.getDataFinal() %}
                        {{Operacao.getDataFinal()|date('d/m/Y H:i:s')}}
                    {% else %}
                        <span style='color:red'>Em Execução</span>
                    {% endif %}
                </td>
                <td><span class="descr">{{Operacao.getDescricao()}}</span></td>
                <td>
                    {% if Operacao.getAnexos() %}
                        {% for Anexo in Operacao.getAnexos() %}
                            <div class="dv-anx">
                                {% set x = Anexo.getFileExtension() %}
                                {% if x == 'jpg' or x == 'jpeg' or x == 'png' or x == 'gif' %}
                                <a href="{{url}}/projetos/anexos/visualizacao/{{Anexo.getSlug()}}?.{{Anexo.getFileExtension()}}" class="fancybox">
                                    <img src="{{url}}/projetos/anexos/visualizacao/{{Anexo.getSlug()}}?.{{Anexo.getFileExtension()}}"/>
                                </a>
                                {% endif %}
                                <a href="{{url}}/projetos/anexos/visualizacao/{{Anexo.getSlug()}}?.{{Anexo.getFileExtension()}}">
                                    {{Anexo.getTitulo() ?: Anexo.getFileName()}}
                                </a>
                            </div>
                        {% endfor %}
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<script>
    $().ready(function(){
        $(".fancybox").fancybox();
    });
</script>

{% else %}
    <center>Nenhum registro de histórico cadastrado</center>
    <br/>
{% endif %}

{% endblock %}