{% extends "intra/index.html" %}

{% block content %}

<a href="{{url}}/projetos/atividades/cadastro/$/{{Demanda.getSlug()}}" class="btn btn-small btn-bgreen">Criar Nova Aividade</a>
&nbsp;&nbsp;
<a href="{{url}}/projetos/demandas/visualizacao/$/{{Demanda.getSlug()}}" class="btn btn-small btn-navy">Voltar para Visualização da Demanda</a>
&nbsp;&nbsp;
<hr/>
<div style="clear: both;"></div>

{% if atividades %}

<style>
    .duracao{ width: 85px; text-align: right; }
    .situacao{ max-width: 180px; }
    .change-etapa{ display: inline; }
    .prioridade{ width: 55px; }
    .dv-options-change{
        position: absolute;
        background-color: #DDD;
        border-width: 1px;
        border-color: red;
        border-style: none;
        display: none;
        padding: 7px 14px;
    }
    .dv-options-change hr{
        line-height: 1px;
        margin: 4px 0;
        border-color: #999;
    }
</style>

    <table class="hazo-simple-table" id="hazo-simple-table">
        <thead>
            <tr>
                <td class="prioridade">Prioridade</td>
                <td class="titulo">Título</td>
                <td class="duracao">Duração (min)</td>
                <td class="situacao">Etapa Atual</td>
                <td>&nbsp;</td>
            </tr>
        </thead>
        <tbody>
            {% set cont = 0 %}
            {% for Atividade in atividades %}
            {% set cont = cont+1 %}
            <tr data-atividade-id="{{Atividade.getID()}}">
                <td class="prioridade">{{cont}}</td>
                <td class="titulo">{{Atividade.getTitulo()}}</td>
                <td class="duracao">{{Atividade.getDuracaoEstimada()}}</td>
                <td class="situacao">{{Atividade.getEtapaObj().getDescricao()}}</td>
                <td data-atividade-id="{{Atividade.getID()}}">
                    <a href="{{url}}/projetos/atividades/cadastro/$/{{Demanda.getSlug()}}/{{Atividade.getID()}}">Editar</a>
                    &nbsp;&nbsp; | &nbsp;&nbsp;
                    <div class="change-etapa">
                        <div class="dv-options-change">
                            {% for Etapa in atividades_selecionaveis %}
                            <a href="#" data-atividade-id="{{Atividade.getID()}}" data-etapa-id="{{Etapa.getID()}}" class="change-etapa-action">{{Etapa.getDescricao()}}</a> <hr>
                            {% endfor %}
                            <div style="clear: both;"></div>
                        </div>
                        <a href="#">
                            <span>{{Atividade.getEtapaObj().getDescricao()}}</span>
                            <span style='color: #555; font-weight: normal;'>(Alterar)</span>
                        </a>
                    </div>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% if _isGranted('/projetos/atividades/alterar-ordenacao') %}
<p>* Arraste as atividades para alterar a prioridade</p>
{% endif %}
<script>
/* {% if _isGranted('/projetos/atividades/alterar-ordenacao') %} */
$("#hazo-simple-table tbody").sortable({
    tolerance: 'pointer',
    cursor: 'move',
    delay: 200,
    stop: function(){
        var json = {};
        $("#hazo-simple-table tbody tr").each(function(){
            index = $(this).attr("data-atividade-id");
            json[index] = $(this).index();
            $(this).find(".prioridade").html($(this).index()+1)
        });
        jQuery.ajax({
            url: "{{url}}/projetos/atividades/alterar-ordenacao/$/{{Demanda.getSlug()}}",
            data: json,
            type: "POST",
            dataType: 'json',
            success: function(data){
                if( data.mensagem ){
                    noty({text: data.mensagem, type: 'alert', timeout: 8000});
                }else{
                    noty({text: "Prioridade alterada com sucesso", type: 'success', timeout: 2000});
                }
                if( data.log ){
                    console.log(data.log);
                }
                if( data.eval ){
                    eval(data.eval);
                }
            },
            error: function(){
                noty({text: "Não foi possível aletar a prioridade da atividade", type: 'error', timeout: 8000});
                return false;
            }
        });
    }
});
/* {% endif %} */
    
$(".change-etapa").click(function(){
    $(this).find(".dv-options-change:first")
           .css("display", "inline")
           .mouseleave(function(){
               $(this).hide();
           });
});

$(".change-etapa-action").click(function(){
    elem = $(this).parent().parent().find("a");
    $(this).parent().hide();
    jQuery.ajax({
        url: "{{url}}/projetos/atividades/alterar-proxima-etapa/$/{{Demanda.getSlug()}}/"+$(this).attr("data-atividade-id")+"/"+$(this).attr("data-etapa-id"),
        data: {},
        type: "GET",
        dataType: 'json',
        success: function(data){	
            if( data.status ){
                elem.find("span:first").html(data.descricao);
                elem.parent().find(".dv-options-change").hide();
                elem.parent().parent().parent().find(".situacao").html(data.descricao);
                noty({text: data.mensagem, type: 'success', timeout: 2000});
            }else{
                noty({text: data.mensagem, type: 'error', timeout: 6000});
            }
        }
    });
});
</script>

{% else %}
    <center>Nenhuma atividade cadastrada</center>
    <br/>
{% endif %}

{% endblock %}