{% extends "core/pages/template/main.html" %}

{% block content %}

{% include "painel.html" %}

{% if post %}

<div style='border: 2px solid #fff; padding: 5px;'>
<pre>{{rows|raw}}</pre>
{% endif %}
<br/>
<form method="post">
    <textarea name="VAR" style="width: 99%; height: 200px; resize: none;">{{post['VAR']}}</textarea>
    <br/>
    <input type="submit" class="botao" />
</form>

{% endblock %}