
{% block content %}
{# CKEditor  #}
<script src="{{url}}/library/CKEditor/ckeditor.js"></script>
<script src="{{url}}/library/CKEditor/adapters/jquery.js"></script>
<script src="{{url}}/media/libs/hazo-template-editor.js"></script>

<style>
    .editoria, .titulo, .conteudo, .status{
        display: block;
        white-space: nowrap;
        font-weight: bold;
        vertical-align: middle;
        padding: 5px 0;
    }
    .status input,
    .status label{
        display: inline;
        vertical-align: middle;
        /*float: left;*/
    }
    .dv-cadart input{
        height: 14px;
        line-height: 14px;
        vertical-align: middle;
    }
    .dv-cadart .span{
        vertical-align: middle;
        font-size: 12px;
    }
    .submit{
        height: 40px !important;
    }
    .cad-msg{
        display: inline;
    }
</style>

{% import 'container/private/macros/formulario.twig' as form %}
<div class="dv-cadart">
    <form method="post" action="{{url}}/editor/modal-artigo/cadastro/{{Editoria.getID()}}/{{Pagina.getID()}}" class="hazo-form cad-artigo">
        <div class="editoria span">
            Editoria
            <input type="text" readonly="true" value="{{Editoria.getNome()}}"/>
        </div>
        
        <div class="titulo span">
            Título
            <input type="text" name="titulo" value="{{Pagina.getTitulo()}}"/>
        </div>
        
        <div class="status span">
            Status do artigo
            {{ form.radio({A: 'Ativo', I: 'Inativo'}, 'status', Pagina.getStatus() ?: 'A' ) }}
        </div>
        
        <div class="conteudo span">
            Conteúdo do Artigo  <i>Para definir o resumo, insira uma linha horizontal ({{'"<hr />"'|escape}})</i>
            <textarea style="height: 500px;" class="editor" name="conteudo" id="editor">{{Pagina.getConteudo('conteudo_completo')}}</textarea>
        </div>

        <div style="clear: both;"></div>


        <div class="span100">
            <input type="submit" value="Salvar Alterações" class="btn btn-small btn-navy submit"/>
            <div class="cad-msg"></div>
        </div>

    </form>
</div>

<script>
    $( 'textarea.editor' ).ckeditor({ width: 700 });
    
    jQuery(".cad-artigo").hazoFormAjax({
        dataType: 'json',
        success: function(data){
            if( data.status ){
                window.location = data.href;
            }else{
                jQuery(".cad-msg").html(data.msg).css('color', 'red');
            }
        },
        error: function(data){
            console.log('Error: ', data);
        }
    });
    
</script>


{% endblock %}