<!doctype html>
<html class="no-js">
<head>
{% set url_mode = url~"/"~globals['request']['mode']|lower %}
    <link rel="stylesheet" media="all" href="{{url}}/media/templates/mds/css/style.css"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <link rel="stylesheet" media="all" href="{{url}}/media/libs/jquery/jquery-ui-1.8.13.custom.css"/>
    <script src="{{url}}/media/libs/jquery/jquery-2.0.0.min.js"></script>
    <script src="{{url}}/media/libs/jquery/jquery-ui-1.10.3.custom.min.js"></script>
    <script src="{{url}}/media/libs/jquery/jquery.form.js"></script>
    
    <script>
        var hazoParam = {
            url: "{{url}}",
            url_mode: "{{url_mode}}"
        }
    </script>

    <link rel="stylesheet" media="all" href="{{url}}/media/public/desenvolvimento/rpg/cadastro/cadastro.css"/>
</head>

<body lang="pt-br">

    <div id="frmlg">
        
        <div class='logo'>
            <img src="{{url}}/media/images/rpg-free-logo.gif"/>
            <span>Olá mestre</span>
        </div>
        
        <p class="infos" style="text-align: center; font-size: 13px;">
            O cadastro da sua sala de RPG foi efetuado com sucesso.
            <br/><br/>
            Para acessar sua sala e convidar seus amigos, acesse o link enviado para o seu e-mail e divirta-se.
        </p>
        
    </div>

</body>

</html>