*{
    margin: 0;
    padding: 0;
    border: none;
    font-family: sans-serif;
}
.tools{
    background-color: #999;
    background: none;
    width: 100%;
    height: 120px;
    border-bottom: 2px solid #555;
    display: table;
}
.tools img.profile{
    height: 105px;
    width: auto;
    margin: 3px 0 0 0;
    border: 2px solid #e4dcdc;
    border: none;
    /*padding: 5px;*/
    float: left;
}
.tools ul.detail{
    display: inline-block;
    vertical-align: top;
    margin: 5px;
    
    width: 170px;
    white-space: nowrap;
}
.tools ul.detail li{
    padding: 0px;
    line-height: 20px;
    vertical-align: top;
    /*display: inline-block;*/
    color: #FFF;
    /*background-color: red;*/
}
.tools ul.detail li.name{
    font-size: 20px;
    line-height: 25px;
    font-weight: bold;
    
    text-overflow: ellipsis;
    overflow: hidden;
}
.tools ul.detail li.prof{
    font-size: 14px;
    line-height: 18px;
    font-weight: bold;
    
    text-overflow: ellipsis;
    overflow: hidden;
    /*text-align: right;*/
}
.tools ul.detail li.text{
    font-size: 11px;
    line-height: 22px;
    display: inline;
    
    text-overflow: ellipsis;
    overflow: hidden;
}

#box_novo_participante{
    min-width: 200px;
    font-family: sans-serif;
    font-size: 14px;
    /*padding: 10px;*/
}
#box_novo_participante .fieldconv label{
    font-weight: bold;
}
#box_novo_participante .fieldconv input{
    border: 1px solid #666;
    margin: 10px 0;
    width: 200px;
    padding: 4px;
    color: #888;
}
#box_novo_participante .btnsub{
    float: right;
    padding: 4px 8px;
    background-color: #4a4a71;
    -webkit-border-radius: 4px;
       -moz-border-radius: 4px;
            border-radius: 4px;
    color: #FFF;
    cursor: pointer;
}
#box_novo_participante .btnsub:hover{
    background-color: #7373cb;
}
.meu-p, .outros-p .profile{
    margin: 5px;
    padding: 5px 8px;
    background-color: #8192a4;
    -webkit-border-radius: 4px;
       -moz-border-radius: 4px;
            border-radius: 4px;
    color: #FFF;
}

.meu-p{
    height: 120px;
}
.meu-p img{
    height: 115px !important;
    -webkit-border-radius: 6px;
       -moz-border-radius: 6px;
            border-radius: 6px;
}
.outros-p{
    display: inline-block;
    display: inline;
    
    /*margin: 5px;*/
    /*border-left: 2px dotted #777;*/
}
.out-pers{
    /*margin: 0 20px 10px 20px;*/
    display: inline-block;
    float: left;
    height: 50px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.out-pers ul.detail{
    margin: 0px 5px;
    width: 100%;
}
.out-pers img.profile{
    max-height: 50px;
    width: auto;
    border: none;
    padding: 0;
    margin: 0;
    float: left;
}
.out-pers ul.detail li{
    width: 80%;
    text-overflow: ellipsis;
    overflow: hidden;
    
    width: 140px;
}
.out-pers ul.detail li.name{
    font-size: 14px !important;
    /*line-height: 0px;*/
    line-height: 17px;
}
.out-pers ul.detail li.prof{
    font-size: 10px !important;
    line-height: 12px;
    font-weight: normal;
}





.master-role{
    background: none;
    margin: 0;
    padding: 0;
    width: 50%;
    float: left;
    border-right: 2px solid #555;
}
.master-role .title{
    width: 100%;
    border: none;
    background-color: #555;
    color: #FFF;
    text-align: center;
    padding: 0;
    margin: 0;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 14px;
    vertical-align: middle;
    height: 30px;
    line-height: 30px;
}
.master-role .body{
    background-color: #FFF;
/*    
    -webkit-border-radius: 4px;
       -moz-border-radius: 4px;
            border-radius: 4px;*/
    /*width: 100%;*/
    padding: 0px;
    margin: 0;
    overflow: auto;
}
.master-role .inside{
    background-color: #BBB;
    height: 90px;
    padding: 0px;
    margin: 0;
    border: none;
    overflow: auto;
    padding: 5px;
}
.master-role .inside button{
    -webkit-border-radius: 4px;
       -moz-border-radius: 4px;
            border-radius: 4px;
    border: 2px solid #555;
    padding: 5px;
    font-size: 12px;
    color: #333;
    font-weight: bold;
    cursor: pointer;
}

.master-role ul{
    width: 100%;
}
.master-role ul li{
    border-bottom: 1px dotted red;
    border-bottom: 1px dotted #DDD;
    padding: 2px 3px;
    line-height: 30px;
    vertical-align: middle;
    font-weight: normal;
    font-size: 12px;
}
.master-role ul li img.anx{
    max-width: 98%;
    height: auto;
}


.char-chat{
    float: right;
    background-color: #FFF;
    width: 30%;
    border-left: 2px solid #555;
}
.char-chat .receive ul li img.profile{
    height: 32px;
    line-height: 35px;
    display: block;
    width: auto;
    border: none;
    float: left;
    margin: 2px 6px 2px 0;
    -webkit-border-radius: 6px;
       -moz-border-radius: 6px;
            border-radius: 6px;
}

.char-chat .receive{
    padding: 5px;
    display: block;
    overflow: auto;
    border-bottom: 2px solid #7b7171;
}
.char-chat .receive ul{
    width: 100%;
}
.char-chat .receive ul li{
    border-bottom: 1px dotted red;
    border-bottom: 1px dotted #DDD;
    padding: 2px 3px;
    line-height: 18px;
    min-height: 36px;
    vertical-align: middle;
    font-weight: normal;
    font-size: 12px;
}
.char-chat .receive ul li:last-child{
    border-bottom: 0;
}

.char-chat .call{
    /*background-color: #7b7171;*/
    display: block;
}
.char-chat .call textarea{
    resize: none;
    border: none;
    margin: 0px;
    overflow: hidden;
/*    -webkit-border-radius: 4px; Para Safari e Chrome 
       -moz-border-radius: 4px;  Para Firefox 
            border-radius: 4px;  Para Opera 10.5+*/
    height: 30px;
    padding: 4px;
    font-size: 12px;
    color: #555;
}
.chat .chat-name{
    color: #475d75;
    font-weight: bold;
}
.chat .chat-rol-dice{
    -webkit-border-radius: 4px;
       -moz-border-radius: 4px;
            border-radius: 4px;
    background-color: #556372;
    color: #FFF;
    padding: 2px 6px;
    font-size: 11px;
}

.rol{
    float: left;
    background-color: #999;
    /*line-height: 300px;*/
    text-align: center;
    border-bottom: 2px solid #555;
}
.rol input[type='button'], .rol .btn{
    display: inline-block;
    /*float: left;*/
    font-size: 16px;
    padding: 10px;
    -webkit-border-radius: 4px;
       -moz-border-radius: 4px;
            border-radius: 4px;
    background-color: #555;
    color: #FFF;
    font-weight: bold;
    text-transform: uppercase;
    margin: 2px;
    width: 75px;
    cursor: pointer;
    line-height: 25px;
}
.rol img{
    height: 25px;
    width: auto;
    float: left;
    margin-right: 7px;
}
.rol .field{
    line-height: 200px;
    color: #555;
    font-size: 72px;
    font-weight: bold;
}


#m_add_img{
    display:none;
}
#m_add_img input[type='submit'],
#m_add_txt input[type='submit']{
    right: 10px;
    bottom: 10px;
    position: absolute;
    -webkit-border-radius: 4px;
       -moz-border-radius: 4px;
            border-radius: 4px;
    border: 2px solid #555;
    padding: 5px;
    font-size: 12px;
    color: #333;
    font-weight: bold;
    cursor: pointer;
}
.ckeditor{
    margin-bottom: 50px;
}