<!-- social -->
<div id="social-bar">
    <ul>
        <li><a href="http://www.facebook.com/fergkz"  title="Fernando Gurkievicz" target="_blank"><img src="{{mds}}/img/social/facebook_32.png"  alt="Facebook" /></a></li>
        {#
        <li><a href="http://www.twitter.com" title="Follow my tweets"><img src="{{mds}}/img/social/twitter_32.png"  alt="Facebook" /></a></li>
        <li><a href="http://www.google.com"  title="Add to the circle"><img src="{{mds}}/img/social/google_plus_32.png" alt="Facebook" /></a></li>
        #}
    </ul>
</div>
<!-- ENDS social -->