<div class="wrapper">

    <ul id="footer-cols">

{#  ######## Oculto até ser liberado o modo de blog ########
        <li class="first-col">

            <div class="widget-block">
                <h4>Recent posts</h4>
                <div class="recent-post">
                    <a href="#" class="thumb"><img src="{{mds}}/img/dummies/54x54.gif" alt="Post" /></a>
                    <div class="post-head">
                        <a href="#">Pellentesque habitant morbi senectus</a><span>March 12, 2011</span>
                    </div>
                </div>
                <div class="recent-post">
                    <a href="#" class="thumb"><img src="{{mds}}/img/dummies/54x54.gif" alt="Post" /></a>
                    <div class="post-head">
                        <a href="#">Pellentesque habitant morbi senectus</a><span>March 12, 2011</span>
                    </div>
                </div>
                <div class="recent-post">
                    <a href="#" class="thumb"><img src="{{mds}}/img/dummies/54x54.gif" alt="Post" /></a>
                    <div class="post-head">
                        <a href="#">Pellentesque habitant morbi senectus</a><span>March 12, 2011</span>
                    </div>
                </div>
            </div>
        </li>
#}

        <li class="second-col">

            <div class="widget-block">
                <h4>Fernando Gurkievicz</h4>
                <p>Web developer em linguagem PHP e frontends</p>
                <p>Para saber mais sobre o meu trabalho, dê uma olhada no meu <a href="{{url}}/portfolio">porfolio</a> e entre em <a href="{{url}}/contato">contato</a> comigo.</p>
            </div>

        </li>
        
        {#
        <li class="third-col">

            <div class="widget-block">
                <div id="tweets" class="footer-col tweet">
                    <h4>Twitter widget</h4>
                </div>
            </div>

        </li>	
        #} 
   </ul>				
    <div class="clearfix"></div>


</div>

<div id="to-top"></div>