{#
<base href="{{mds}}/"/>
#}

<meta charset="utf-8"/>
<title>Fernando Gurkievicz</title>

{# Bootstrap #}
<link rel="stylesheet" href="{{url}}/media/libs/bootstrap/css/bootstrap.css">
<link rel="stylesheet" href="{{url}}/media/libs/bootstrap/css/bootstrap-theme.min.css">
<link href="{{url}}/media/hazo/intra/css/bootstrap-custom.css" type="text/css" rel="stylesheet"/>

<!--[if lt IE 9]>
    <script src="{{mds}}/js/css3-mediaqueries.js"></script>
<![endif]-->
<link rel="stylesheet" media="all" href="{{mds}}/css/style.css"/>
<meta name="viewport" content="width=device-width, initial-scale=1"/>
<!-- Adding "maximum-scale=1" fixes the Mobile Safari auto-zoom bug: http://filamentgroup.com/examples/iosScaleBug/ -->


<!-- JS -->
{#
<script type="text/javascript" src="{{url}}/media/libs/jquery/jquery-1.9.1.min.js"></script>
<script type="text/javascript" src="{{url}}/media/libs/jquery/jquery-ui-1.8.22.custom.min.js"></script>
<script type="text/javascript" src="{{url}}/core/pages/template/jquery/jquery.cookie.js"></script>
<script type="text/javascript" src="{{url}}/media/libs/jquery/jquery-2.0.0.min.js"></script>
<script type="text/javascript" src="{{url}}/media/libs/jquery/jquery-ui-1.10.3.custom.min.js"></script>
#}
<script src="{{mds}}/js/jquery-1.6.4.min.js"></script>


<!--  <script src="js/less-grid-4.js"></script> -->
<script src="{{mds}}/js/custom.js"></script>
<script src="{{mds}}/js/tabs.js"></script>
<script src="{{mds}}/js/moveform.js"></script>

<!-- Masonry -->
<script src="{{mds}}/js/masonry.min.js" ></script>
<script src="{{mds}}/js/imagesloaded.js" ></script>
<!-- ENDS Masonry -->

<!-- Tweet -->
<link rel="stylesheet" href="{{mds}}/css/jquery.tweet.css" media="all"  /> 
<script src="{{mds}}/js/tweet/jquery.tweet.js" ></script> 
<!-- ENDS Tweet -->

<!-- superfish -->
<link rel="stylesheet" media="screen" href="{{mds}}/css/superfish.css" /> 
<script  src="{{mds}}/js/superfish-1.4.8/js/hoverIntent.js"></script>
<script  src="{{mds}}/js/superfish-1.4.8/js/superfish.js"></script>
<script  src="{{mds}}/js/superfish-1.4.8/js/supersubs.js"></script>
<!-- ENDS superfish -->

<!-- prettyPhoto -->
<script  src="{{mds}}/js/prettyPhoto/js/jquery.prettyPhoto.js"></script>
<link rel="stylesheet" href="{{mds}}/js/prettyPhoto/css/prettyPhoto.css"  media="screen" />
<!-- ENDS prettyPhoto -->

<!-- poshytip -->
<link rel="stylesheet" href="{{mds}}/js/poshytip-1.1/src/tip-twitter/tip-twitter.css"  />
<link rel="stylesheet" href="{{mds}}/js/poshytip-1.1/src/tip-yellowsimple/tip-yellowsimple.css"  />
<script  src="{{mds}}/js/poshytip-1.1/src/jquery.poshytip.min.js"></script>
<!-- ENDS poshytip -->


<!-- GOOGLE FONTS -->
<link href='http://fonts.googleapis.com/css?family=Allan:700' rel='stylesheet' type='text/css'>

<!-- Flex Slider -->
<link rel="stylesheet" href="{{mds}}/css/flexslider.css" >
<script src="{{mds}}/js/jquery.flexslider-min.js"></script>
<!-- ENDS Flex Slider -->


<!--[if IE 6]>
    <link rel="stylesheet" href="{{mds}}/css/ie6-hacks.css" media="screen" />
    <script type="text/javascript" src="{{mds}}/js/DD_belatedPNG.js"></script>
        <script>
        /* EXAMPLE */
        DD_belatedPNG.fix('*');
    </script>
<![endif]-->

<!-- Lessgrid -->
<link rel="stylesheet" media="all" href="{{mds}}/css/lessgrid.css"/>

<!-- modernizr -->
<script src="{{mds}}/js/modernizr.js"></script>


{# Begin::Hazo #}


{# jQuery #}
<link type="text/css" rel="stylesheet" href="{{url}}/core/pages/template/jquery/css/custom-theme/jquery-ui-1.8.22.custom.css" />
<script type="text/javascript" src="{{url}}/media/libs/jquery/jquery-1.9.1.min.js"></script>
<script type="text/javascript" src="{{url}}/media/libs/jquery/jquery-ui-1.10.3.custom.min.js"></script>
<script type="text/javascript" src="{{url}}/media/libs/jquery/jquery.form.js"></script>

{# Fancybox #}
<link type="text/css" rel="stylesheet" href="{{url}}/media/libs/fancyapps/source/jquery.fancybox.css" />
<script type="text/javascript" src="{{url}}/media/libs/fancyapps/source/jquery.fancybox.js"></script>


<script src="{{mds}}/js/hazo-pannel.js"></script>
<link type="text/css" rel="stylesheet" href="{{mds}}/css/hazo-pannel.css" />
{# End::Hazo #}

<script type="text/javascript">
    var hazoParam = { url: "{{url}}" }
</script>