<!-- mobile-nav -->
<div id="mobile-nav-holder">
    <div class="wrapper">
        <ul id="mobile-nav">
            <li {{selected == 'index' ? clsselected|raw : ''}}><a href="{{url}}">Início</a></li>
            <li {{selected == 'blog' ? clsselected|raw : ''}}><a href="{{url}}/blog/artigos">Blog</a></li>
            <li {{selected == 'sobre' ? clsselected|raw : ''}}><a href="{{url}}/sobre">Sobre</a></li>
            {#
            <li><a href="{{mds}}/page.html">about</a>
                <ul>
                    <li><a href="{{mds}}/page-full.html">Fullwidth Page</a></li>
                    <li><a href="{{mds}}/page-features.html">Features</a></li>
                    <li><a href="{{mds}}/page-typography.html">Typography</a></li>
                    <li><a href="{{mds}}/page-icons.html">Icons</a></li>
                </ul>
            </li>
            #}
            <li {{selected == 'portfolio' ? clsselected|raw : ''}}><a href="{{url}}/portfolio">Portfolio</a></li>
            <li {{selected == 'contato' ? clsselected|raw : ''}}><a href="{{url}}/contato">Contato</a></li>
            {% set usu_name = Online.getName()|split(' ') %}
            <li style="{%if Online is empty%}display:none;{%endif%}" class="lg-on"><a href="#"><span class="name">{{usu_name[0]}}</span></a>
                <ul>
                    <li><a href="{{url}}/{{Online.getGroupObj().getMode()|lower}}" class="link_pannel">Painel</a></li>
                    <li><a href="#" class="logoff">Sair</a></li>
                </ul>
            </li>
            <li style="{%if Online%}display:none;{%endif%}" class="lg-off"><a href="#" class="btn-login">Login</a></li>
        </ul>
        <div id="nav-open"><a href="#">Menu</a></div>
    </div>
</div>
<!-- ENDS mobile-nav -->

<header>
    <div class="wrapper">

        {% spaceless %}
        <a href="{{url}}" id="logo">
            <img  src="{{url}}/media/images/hazo_logo.png" alt="Tandem" style="max-width: 200px;">
            <br/>
            <span style="color: #BBB">Fernando Gurkievicz</span>
        </a>
        {% endspaceless %}

        {% set clsselected = 'class="current-menu-item"' %}
        
        <nav>
            <ul id="nav" class="sf-menu">
                <li {{selected == 'index' ? clsselected|raw : ''}}><a href="{{url}}">Início<span class="subheader">Bem vindo</span></a></li>
                <li {{selected == 'blog' ? clsselected|raw : ''}}><a href="{{url}}/blog/artigos">Blog<span class="subheader">Artigos</span></a></li>
                <li {{selected == 'sobre' ? clsselected|raw : ''}}><a href="{{url}}/sobre">Sobre<span class="subheader">Quem sou</span></a></li>
                {#
                <li><a href="{{mds}}/page.html">about<span class="subheader">great features</span></a>
                    <ul>
                        <li><a href="{{mds}}/page-full.html">Fullwidth Page</a></li>
                        <li><a href="{{mds}}/page-features.html">Features</a></li>
                        <li><a href="{{mds}}/page-typography.html">Typography</a></li>
                        <li><a href="{{mds}}/page-icons.html">Icons</a></li>
                    </ul>
                </li>
                #}
                <li {{selected == 'portfolio' ? clsselected|raw : ''}}><a href="{{url}}/portfolio">Portfolio<span class="subheader">Meus trabalhos</span></a></li>
                <li {{selected == 'contato' ? clsselected|raw : ''}}><a href="{{url}}/contato">Contato<span class="subheader">Envie uma mensagem</span></a></li>
                {% set usu_name = Online.getName()|split(' ') %}
                <li style="{%if Online is empty%}display:none;{%endif%}" class="lg-on"><a href="#"><span class="name">{{usu_name[0]}}</span><span class="subheader">Acesso ao sistema</span></a>
                    <ul>
                        <li><a href="{{url}}/{{Online.getGroupObj().getMode()|lower}}" class="link_pannel">Painel</a></li>
                        <li><a href="#" class="logoff">Sair</a></li>
                    </ul>
                </li>
                <li style="{%if Online%}display:none;{%endif%}" class="lg-off"><a href="#" class="btn-login">Login<span class="subheader">Acesso ao sistema</span></a></li>

            </ul>
        </nav>

        <div class="clearfix"></div>

    </div>
        
    <div id="frmlg">
        <form method="post" action="{{url}}/session/entrar" class="form-horizontal">
            
            <div class="row small msg-occ">
                <center><p>Olá, seja bem vindo ao sistema HAZO.</p></center>
                <p>Para entrar no sistema e acessar seu painel, entre com o seu login e senha abaixo. Caso não seja cadastrado, entrem em <a href='{{url}}/contato'>contato</a> comigo e solicite.</p>
            </div>
            
            <center><p class="msg"><div></div></p></center>
            
            <div class="form-group">
                <label class="col-sm-2 control-label">Login</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" name="login"/>
                </div>
            </div>
    
            <div class="form-group">
                <label class="col-sm-2 control-label">Senha</label>
                <div class="col-sm-10">
                    <input type="password" class="form-control" name="senha"/>
                </div>
            </div>
            
            <div class="form-group row">
                <div class="col-sm-12 btn-lgn">
                    <input type="submit" value="Entrar" class="btn btn-primary btn-large"/>
                </div>
            </div>
            
        </form>
    </div>
        
</header>