{% macro gera( link, atual, quantidade) %}
{% spaceless %}

    {% if link and quantidade != 1%}

        {% set maxLinks = 8 %}
        {% set minPos = 0 %}
        {% set maxPos = quantidade %}

        {% for cont in quantidade..0 %}
            {% if cont > atual - (maxLinks/2) %}
                {% set minPos = cont %}
            {% endif %}
        {% endfor %}
        {% for cont in 0..quantidade %}
            {% if cont < atual + (maxLinks/2) %}
                {% set maxPos = cont %}
            {% endif %}
        {% endfor %}
            
        {% if atual < (maxLinks/2) %}
            {% set minPos = 0 %}
            {% set maxPos = maxLinks+1 %}
        {% elseif atual > quantidade-(maxLinks/2) %}
            {% set minPos = quantidade-maxLinks %}
            {% set maxPos = quantidade+1 %}
        {% else %}
            {% set minPos = atual-(maxLinks/2) %}
            {% set maxPos = atual+(maxLinks/2)+1 %}
        {% endif %}

        <ul class="pager">
            
        <li class="paged">Página {{atual}} de {{quantidade}}</li>
            
        {% if quantidade > maxLinks %}
            <li><a href="{{link}}1">Primeira</a></li>
            {#<a href='{{link}}1' class='btn btn-small btn-black'>Primeira</a> &nbsp;&nbsp;#}
        {% endif %}
        
        {% for i in 1..quantidade %}
            {% if ( i > minPos ) and ( i < maxPos ) %}
                <li class="{{atual==i ? 'active' : ''}}"><a href="{{link}}{{i}}">{{i}}</a></li>
                {#<a href='{{link}}{{i}}' class='btn btn-small btn-{{atual==i ? 'red' : 'black'}}'>{{i}}</a> &nbsp;&nbsp;#}
            {% endif %}
        {% endfor %}
            
        {% if quantidade > maxLinks %}
            <li><a href="{{link}}{{quantidade}}">Última</a></li>
            {#<a href='{{link}}{{quantidade}}' class='btn btn-small btn-black'>Última</a>#}
        {% endif %}
        </ul>

    {% endif %}

{% endspaceless %}
{% endmacro %}