{% extends "intra/index.html" %}

{% block content %}

<style>
    .hazo-simple-table tbody tr td{ cursor: pointer; }
    
</style>

{% if pagina_id %}
<a href="{{url}}/editor/artigo/visualizacao/{{pagina_id}}">
    <button class='btn btn-small btn-black'>Voltar para visualização</button>
</a>
{% else %}
<a href="{{url}}/editor/artigo">
    <button class='btn btn-small btn-black'>Voltar para artigos</button>
</a>
{% endif %}
<hr/>

{% import 'container/private/macros/formulario.twig' as form %}
<form method="post" action="" class="hazo-form">
            
    <div class="span100">
        <div class="label">Editoria</div>
        <div class="field"><input type="text" readonly="true" value="{{Editoria.getNome()}}"/></div>
    </div>
    <div class="span70">
        <div class="label">Título</div>
        <div class="field"><input type="text" name="titulo" value="{{Pagina.getTitulo()}}"/></div>
    </div>
    <div class="span30">
        <div class="label">Status do artigo</div>
        <div class="field">{{ form.radio({A: 'Ativo', I: 'Inativo'}, 'status', Pagina.getStatus() ?: 'A' ) }}</div>
    </div>
    
    <div class="span100">
        <div class="label">Conteúdo do Artigo 
            <span style="font-weight: normal;">
                &nbsp;&nbsp;&nbsp;
                <i>Para definir o resumo, insira uma linha horizontal ({{'"<hr />"'|escape}})</i>
            </span>
        </div>
        <div class="field">
            <textarea style="height: 500px;" class="editor" name="conteudo">{{Pagina.getConteudo('conteudo_completo')}}</textarea>
        </div>
    </div>
    
    <div style="clear: both;"></div>

    <br/><br/>
            
    <div class="span100">
        <input type="submit" value="Salvar Alterações" class="btn btn-small btn-navy"/>
    </div>

</form>
<div style="clear: both;"></div>

<script>
    $( 'textarea.editor' ).ckeditor({ height: '500' });
</script>


{% endblock %}