{% extends "intra/index.html" %}

{% block content %}

{% set status = {A: '<span style="color:green">Ativo</span>', I: '<span style="color:red">Inativo</span>'} %}

<style>
    .hazo-simple-table tbody tr td{ cursor: pointer; }
</style>

<a href="{{url}}/editor/artigo/selecionar-editoria">
    <button class='btn btn-small btn-black'>Cadastrar novo artigo</button>
</a>
<hr/>
<form method="get" action="">
    <div class="hazo-form">
        <div class="span80">
            <div class="label">Pesquise parte do título ou descrição do artigo</div>
            <div class="field"><input type="text" name="texto" value="{{get['texto']}}"/></div>
        </div>
    </div>

    <div class="hazo-form">
        <div class="span20">
            <br/>
            <input type="submit" class="btn btn-bgreen btn-small" value="Pesquisar Artigo"/>
        </div>
    </div>
    
    <input type="hidden" name="pg" value="1"/>
</form>
<div style="clear: both;"></div>
<br/>

{% if get %}
    {% if paginas %}
        <table class='hazo-simple-table' style=''>
            <thead>
                <tr>
                    <td>Editoria</td>
                    <td>Artigo</td>
                    <td>Slug</td>
                    <td>status</td>
                </tr>
            </thead>
            <tbody>
                {% for Pagina in paginas %}
                    {% set title = 'Cadastro da Página' %}
                    {% set link = url~'/editor/artigo/visualizacao/'~Pagina.getID() %}
                    <tr>
                        <td data-link="{{link}}" title="{{title}}">
                            {% set editorias = Pagina.getArrayEditorias() %}
                            {% set texto_editorias = '' %}
                            {% for Editoria in editorias %}
                                {% set texto_editorias = (texto_editorias ? texto_editorias~' > ' : '' )~Editoria.getNome() %}
                            {% endfor %}
                            {{texto_editorias}}
                        </td>
                        <td data-link="{{link}}" title="{{title}}">{{Pagina.getTitulo()}}</td>
                        <td data-link="{{link}}" title="{{title}}">{{Pagina.getSlug()}}</td>
                        <td data-link="{{link}}" title="{{title}}">{{status[Pagina.getStatus()]|raw}}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <br/><br/><br/>
        {% import 'container/private/macros/paginate.twig' as paginate %}
        {{paginate.gera(link_next, link_atual, max_links)}}

    {% else %}

        <center>Nenhum artigo cadastrado</center>
        <br/><br/><br/>

    {% endif %}

{% else %}

    <center>Pesquise o artigo desejado</center>
    <br/><br/><br/>

{% endif %}

<script>
    $().ready(function(){
        $('.hazo-simple-table').find('td').on('click', function(){
            window.location = $(this).attr('data-link');
        });
    });
</script>

{% endblock %}