{% extends "intra/index.html" %}

{% block content %}

<style>
    .hazo-simple-table tbody tr td{ cursor: pointer; }
</style>

<br/>

{% if editorias %}
<table class='hazo-simple-table' style='width: 800px;'>
    <thead>
        <tr>
            <td>Selecione a editoria para o novo artigo</td>
        </tr>
    </thead>
    <tbody>
        {% for Editoria in editorias %}
        {% set title = 'Cadastro da Página' %}
        {% set link = url~'/editor/artigo/cadastro/'~Editoria.getID() %}
        <tr>
            <td data-link="{{link}}" title="{{title}}">
                {% set texto_editorias = '' %}
                {% for Editoria2 in parent_editorias[Editoria.getID()] %}
                    {% set texto_editorias = (texto_editorias ? texto_editorias~' > ' : '' )~Editoria2.getNome() %}
                {% endfor %}

                {{(texto_editorias ? texto_editorias~' > ' : '' )~Editoria.getNome()}}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<br/><br/><br/>
{% import 'container/private/macros/paginate.twig' as paginate %}
{{paginate.gera(link_next, link_atual, max_links)}}

{% else %}

<center>Nenhuma editoria disponível para o seu usuário</center>
<br/><br/><br/>

{% endif %}

<script>
    $().ready(function() {
        $('.hazo-simple-table').find('td').on('click', function() {
            window.location = $(this).attr('data-link');
        });
    });
</script>

{% endblock %}