{% extends "intra/index.html" %}

{% block content %}

<style>
    .hazo-simple-table tbody tr td{ cursor: pointer; }
    
</style>

<a href="{{url}}/editor/artigo">
    <button class='btn btn-small btn-black'>Voltar para artigos</button>
</a>
&nbsp;&nbsp;&nbsp;
<a href="{{url}}/editor/artigo/cadastro/{{Pagina.getEditoriaObj().getID()}}/{{Pagina.getID()}}">
    <button class='btn btn-small btn-maroon'>Alterar Artigo</button>
</a>

<hr/>

<style>
    .conteudo{
        border: 1px solid #999;
        -webkit-border-radius: 4px; /*Para Safari e Chrome */
           -moz-border-radius: 4px; /* Para Firefox */
                border-radius: 4px; /* Para Opera 10.5+*/
        padding: 5px;
        font-weight: normal;
        white-space: normal;
        font-size: 14px;
    }
</style>

{% import 'container/private/macros/formulario.twig' as form %}
<div>
    
    <div class="hazo-form">
        <div class="span80">
            <div class="label">Editoria</div>
            <div class="field"><input type="text" readonly="true" value="{{Pagina.getEditoriaObj().getNome()}}"/></div>
        </div>
        <div class="span20">
            <div class="label">Status</div>
            <div class="field"><input type="text" readonly="true" value="{{Pagina.getStatus() == 'A' ? 'Ativo' : 'Inativo'}}"/></div>
        </div>
        <div class="span100">
            <div class="label">Título</div>
            <div class="field"><input type="text" readonly="true" value="{{Pagina.getTitulo()}}"/></div>
        </div>
        <div class="span100">
            <div class="label">Conteúdo</div>
            <div class="field">
                <div class="conteudo">
                    {{Pagina.getConteudo('conteudo')|raw}}
                </div>
            </div>
        </div>
    </div>
    <div style="clear: both;"></div>
    
</div>
<div style="clear: both;"></div>

{% endblock %}