
.hazo-simple-table{
    width: 100%;
}
.hazo-simple-table * td{
    padding: 3px 6px;
    border-bottom: 1px solid #bbb;
}
.hazo-simple-table tbody tr:hover td{
    background-color: #eee;
}
.hazo-simple-table thead tr td{
    font-weight: bold;
}