.form{
    padding: 5px !important;
}
.form > label, .form > .label{
    font-weight: bold;
    font-family: sans-serif;
    font-size: 11px;
    display: inline-block;
    margin-right: 10px !important;
    color: #555;
    vertical-align: top !important;
}
.form label input[type=text], .form .label input[type=text],
.form label input[type=password], .form .label input[type=password],
.form label select,  .form .label select,
.form label textarea, .form .label textarea{
    min-width: 100% !important;
    max-width: 100% !important;
    width: 100% !important;
}

.form label input[type=text], .form .label input[type=text],
.form label input[type=radio], .form .label input[type=radio],
.form label input[type=checkbox], .form .label input[type=checkbox],
.form label input[type=password], .form .label input[type=password],
.form label select,  .form .label select,
.form label textarea, .form .label textarea{
    border: 1px solid gray;
    color: #222;
    font-size: 11px;
    max-width: 100%;
    padding: 3px;
    resize: none;
}

.form label input[readonly=true],
.form label textarea[readonly=true],
.form label select[readonly=true],
.form label .input[readonly=true],
.form .label input[readonly=true],
.form .label textarea[readonly=true],
.form .label select[readonly=true],
.form .label .input[readonly=true]{
    background-color: #CCC;
}

.form label input[type=radio],
.form label input[type=checkbox],
.form label .input,
.form .label input[type=radio],
.form .label input[type=checkbox],
.form .label .input{ 
    display:inline; 
}

/* css for timepicker */
.ui-timepicker-div .ui-widget-header { margin-bottom: 8px; }
.ui-timepicker-div dl { text-align: left; }
.ui-timepicker-div dl dt { height: 25px; margin-bottom: -25px; }
.ui-timepicker-div dl dd { margin: 0 10px 10px 65px; }
.ui-timepicker-div td { font-size: 90%; }
.ui-tpicker-grid-label { background: none; border: none; margin: 0; padding: 0; }