{% extends "intra/index.html" %}

{% block content %}

<style>
    input[name='email[]'], input[name='telefone[]']{
        margin-bottom: 3px;
    }
</style>

{% if pessoa_slug %}
<a href="{{url}}/cadastros/pessoa/visualizacao/{{pessoa_slug}}">
    <input type="button" class="btn btn-navy btn-small" value="Voltar para visualização"/>
</a>
{% else %}
<a href="{{url}}/cadastros/pessoa">
    <input type="button" class="btn btn-navy btn-small" value="Voltar para pesquisa"/>
</a>
{% endif %}

<hr/>
<br/>
<form method="post" action="">
    
    <div class="hazo-form">
        <div class="span30">
            <div class="label">CPF</div>
            <div class="field"><input type="text" {{Pessoa.getID() ? 'readonly="true"' : 'name="cpf"'}} class="cpf" value="{{Pessoa.getCpf()}}"/></div>
        </div>
    </div>
    <div style='clear: both;'></div>
    <br/>
    <div class="hazo-form">
        <div class="span60">
            <div class="label">Nome da Pessoa</div>
            <div class="field"><input type="text" name="nome" value="{{Pessoa.getRazao()}}"/></div>
        </div>
        
        <div class="span20">
            <div class="label">Data de Nascimento</div>
            <div class="field"><input type="text" name="dt_nasc" value="{{Pessoa.getDataNascimento()}}"/></div>
        </div>
        
        <div class="span40">
            <div class="label">E-mail</div>
            <div class="field">
                {% if admin %}
                    {% for Email in emails %}
                    <input type="text" name="email[]" value="{{Email.getEmail()}}" class='mail'/>
                    {% endfor %}
                    <input type="text" name="email[]" value="" class='mail'/>
                    <input type="text" name="email[]" value="" class='mail'/>
                    <input type="text" name="email[]" value="" class='mail'/>
                {% else %}
                    {% for Email in Pessoa.getEmails() %}
                    <input type="text" name="email[]" value="{{Email.getEmail()}}" class='mail'/>
                    {% endfor %}
                    <input type="text" name="email[]" value="{{post['email'][0]}}" class='mail'/>
                    <input type="text" name="email[]" value="{{post['email'][1]}}" class='mail'/>
                    <input type="text" name="email[]" value="{{post['email'][2]}}" class='mail'/>
                {% endif %}
            </div>
        </div>
        
        <div class="span40">
            <div class="label">Telefone</div>
            <div class="field">
                {% if admin %}
                    {% for Telefone in telefones %}
                    <input type="text" name="telefone[]" value="{{Telefone.getTelefone()}}" class='tel'/>
                    {% endfor %}
                    <input type="text" name="telefone[]" value="" class='tel'/>
                    <input type="text" name="telefone[]" value="" class='tel'/>
                    <input type="text" name="telefone[]" value="" class='tel'/>
                {% else %}
                    {% for Telefone in Pessoa.getTelefones() %}
                    <input type="text" name="telefone[]" value="{{Telefone.getTelefone()}}" class='tel'/>
                    {% endfor %}
                    <input type="text" name="telefone[]" value="{{post['telefone'][0]}}" class='tel'/>
                    <input type="text" name="telefone[]" value="{{post['telefone'][1]}}" class='tel'/>
                    <input type="text" name="telefone[]" value="{{post['telefone'][2]}}" class='tel'/>
                {% endif %}
            </div>
        </div>
    </div>
    <div style='clear: both;'></div>
    <br/>

    <div class="hazo-form">
        <div class="span100">
            <br/><br/>
            <input type="submit" class="btn btn-bgreen btn-small" value="Salvar Alterações"/>
        </div>
    </div>
    
</form>
<div style='clear: both;'></div>

<script>
    $().ready(function(){
        $(".cpf").mask("999.999.999-99");
        $("input[name='dt_nasc']").datepicker({
            dateFormat: 'dd/mm/yy',
            dayNames: ['Domingo','Segunda','Terça','Quarta','Quinta','Sexta','Sábado'],
            dayNamesMin: ['D','S','T','Q','Q','S','S','D'],
            dayNamesShort: ['Dom','Seg','Ter','Qua','Qui','Sex','Sáb','Dom'],
            monthNames: ['Janeiro','Fevereiro','Março','Abril','Maio','Junho','Julho','Agosto','Setembro','Outubro','Novembro','Dezembro'],
            monthNamesShort: ['Jan','Fev','Mar','Abr','Mai','Jun','Jul','Ago','Set','Out','Nov','Dez'],
            nextText: 'Próximo',
            prevText: 'Anterior'
        }).mask("99/99/9999");
        $("input[name='telefone[]']").mask("(99) 9999-9999?9999", {placeholder: "_"});
    });
</script>

{% endblock %}