{% extends "intra/index.html" %}

{% block content %}

<style>
    .hazo-simple-table tbody tr td{ cursor: pointer; }
</style>


{% import 'container/private/macros/paginate.twig' as paginate %}
{% import 'container/private/macros/formulario.twig' as form %}
<form method="get" action="">
    <div class="hazo-form">
        <div class="span80">
            <div class="label">Nome ou CPF da Pessoa</div>
            <div class="field"><input type="text" name="texto" value="{{get['texto']}}"/></div>
        </div>
    </div>

    <div class="hazo-form">
        <div class="span100">
            <br/>
            <input type="submit" class="btn btn-bgreen btn-small" value="Pesquisar Pessoa"/>
        </div>
    </div>
    
    <input type="hidden" name="pg" value="1"/>
</form>
<div style="clear: both;"></div>

<br/>

{% if get %}

{% if pessoas %}
    <div>
        Encontrado{{link_cont != 1 ? 's' : ''}} {{link_cont}} Resultado{{link_cont != 1 ? 's' : ''}}
    </div>
    <br/>
    <table class='hazo-simple-table' style='width: 800px;'>
        <thead>
            <tr>
                <td>Pessoa</td>
                <td>CPF</td>
            </tr>
        </thead>
        <tbody>
            {% for Pessoa in pessoas %}
            {% set title = 'Visualizar Aluno' %}
            {% set link = url~'/cadastros/pessoa/visualizacao/'~Pessoa.getSlug() %}
            <tr>
                <td data-link="{{link}}" title="{{title}}">{{Pessoa.getRazao()}}</td>
                <td data-link="{{link}}" title="{{title}}">{{Pessoa.getCpf()}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <br/><br/><br/>
    {{paginate.gera(link_next, link_atual, max_links)}}
{% else %}

    <center>Nenhuma pessoa encontrada com o filtro informado</center>
    <br/><br/><br/>

{% endif %}

{% endif %}

<script>
    $().ready(function(){
        $('.hazo-simple-table').find('td').on('click', function(){
            window.location = $(this).attr('data-link');
        });
    });
</script>

{% endblock %}