{% extends "intra/index.html" %}

{% block content %}

<style>
    .mail, .tel{
        margin-bottom: 3px;
    }
</style>

<a href="{{url}}/cadastros/pessoa">
    <input type="button" class="btn btn-navy btn-small" value="Voltar para pesquisa"/>
</a>
&nbsp;&nbsp;&nbsp;
<a href="{{url}}/cadastros/pessoa/cadastro/{{Pessoa.getSlug()}}">
    <input type="button" class="btn btn-small btn-maroon" value="Editar este cadastro"/>
</a>

<hr/>
<br/>
<form method="post" action="">
    
    <div class="hazo-form">
        <div class="span40">
            <div class="label">CPF</div>
            <div class="field"><input type="text" readonly="true" class="cpf" value="{{Pessoa.getCpf()}}"/></div>
        </div>
    </div>
    <div style='clear: both;'></div>
    <br/>
    <div class="hazo-form">
        <div class="span60">
            <div class="label">Nome do Aluno</div>
            <div class="field"><input type="text" readonly="true" value="{{Pessoa.getRazao()}}"/></div>
        </div>
        
        <div class="span20">
            <div class="label">Data de Nascimento</div>
            <div class="field"><input type="text" readonly="true" value="{{Pessoa.getDataNascimento()}}"/></div>
        </div>
        
        <div class="span40">
            <div class="label">E-mail</div>
            <div class="field">
                {% if admin %}
                    {% for Email in emails %}
                    <input type="text" readonly="true" value="{{Email.getEmail()}}" class='mail'/>
                    {% endfor %}
                    <input type="text" readonly="true" value="" class='mail'/>
                    <input type="text" readonly="true" value="" class='mail'/>
                    <input type="text" readonly="true" value="" class='mail'/>
                {% else %}
                    {% for Email in Pessoa.getEmails() %}
                    <input type="text" readonly="true" value="{{Email.getEmail()}}" class='mail'/>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
        
        <div class="span40">
            <div class="label">Telefone</div>
            <div class="field">
                {% if admin %}
                    {% for Telefone in telefones %}
                    <input type="text" readonly="true" value="{{Telefone.getTelefone()}}" class='tel'/>
                    {% endfor %}
                    <input type="text" readonly="true" value="" class='tel'/>
                    <input type="text" readonly="true" value="" class='tel'/>
                    <input type="text" readonly="true" value="" class='tel'/>
                {% else %}
                    {% for Telefone in Pessoa.getTelefones() %}
                    <input type="text" readonly="true" value="{{Telefone.getTelefone()}}" class='tel'/>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>
    
</form>
<div style='clear: both;'></div>

<script>
    $().ready(function(){
        $(".cpf").mask("999.999.999-99");
        $(".tel").mask("(99) 9999-9999?9999", {placeholder: "_"});
    });
</script>

{% endblock %}